/** Remove default border, background and padding from <button> elements. */
@mixin reset-button {
  background: none;
  border: none;
  padding: 0;

  // See http://stackoverflow.com/questions/5517744
  &::-moz-focus-inner {
    padding: 0;
    border-width: 0;
  }
}
