@mixin reset-font {
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@mixin reset-box-model {
  margin: 0;
  padding: 0;
  border: 0;
}

/** Remove default border, background and padding from <button> elements. */
@mixin reset-button {
  background: none;
  border: none;
  padding: 0;

  // See http://stackoverflow.com/questions/5517744
  &::-moz-focus-inner {
    padding: 0;
    border-width: 0;
  }
}
