@mixin font-small {
  font-size: $small-font-size;
  line-height: $small-line-height;
  font-weight: 400;
  letter-spacing: 0.2px;
}

@mixin font-normal {
  font-size: $normal-font-size;
  line-height: $normal-line-height;
  font-weight: 400;
}
