@import "compass/utilities/general/clearfix";

// Mixins for working with grids. A grid consists of an outer grid container
// and internal columns. Each column has a gutter defined by $grid-gutter.
// The implementation is largely based on the grid system created by
// Harry Roberts <http://csswizardry.com/csswizardry-grids/>.
$grid-gutter: 20px;

// Sets up styles for the grid wrapper.
@mixin grid-row {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -$grid-gutter; // Remove the margin from the first column.
  @include pie-clearfix;
  @content;
}

// Defines a column, can be included in any selector, widths can be provided
// by passing a @content block.
//
// Example
//
// .my-awkward-item {
//   @include grid-column { width: 43%; }
// }
@mixin grid-column {
  float: left;
  padding-left: $grid-gutter;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  @content;
}

// Defines selectors for a class based grid system. Only includes a few common
// sizes at the moment, but can be expanded as necessary.
@mixin grid-setup($prefix: "") {
  .#{$prefix}one-whole { width: 100%; }
  .#{$prefix}one-half  { width: 50%; }
  .#{$prefix}one-third { width: 33.333%; }
  .#{$prefix}two-thirds { width: 66.666%; }
  .#{$prefix}one-quarter { width: 25%; }
  .#{$prefix}three-quarters { width: 75%; }
}
