// Annotation card
// ---------------
// Styles for the annotation card which is displayed in the
// results of activity queries.

.annotation-card {
  @include font-normal;
  border: 1px solid $grey-2;
  list-style: none;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  background: white;
}

.annotation-card:hover {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);

  .annotation-card__quote {
    border-left: $highlight 3px solid;
    color: $grey-5;
  }

  .annotation-card__timestamp {
    color: $grey-5;
  }
}

.annotation-card__header {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.annotation-card__username {
  color: #202020;
  font-weight: bold;
}

.annotation-card__timestamp {
  @include font-small;
  color: $grey-4;
}

.annotation-card__quote {
  padding: 0 10px;
  overflow-wrap: break-word;
  color: $grey-4;
  font-family: sans-serif;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0.1px;
  border-left: 3px solid #d3d3d3;
}
