// Color palette
// -------------

$white: white;
$black: black;

$grey-1: #f2f2f2;
$grey-2: #ececec;
$grey-3: #dbdbdb;
$grey-4: #a6a6a6;
$grey-5: #7a7a7a;
$grey-6: #3f3f3f;
$grey-7: #202020;

$brand: #d00032;
$highlight: #58cef4;

// Typography
// ----------

$sans-font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$mono-font-family: Open Sans Mono, Menlo, DejaVu Sans Mono, monospace !default;

$normal-font-size: 13px;
$normal-line-height: 15px;

$small-font-size: 11px;
$small-line-height: 12px;

$title-font-size: 19px;

$input-font-size: 15px;

// Z-index scale
$zindex-modal-backdrop: 5; // Backdrop of a modal dialog or form
$zindex-modal-content: 6;  // Content of a modal dialog or form
$zindex-dropdown-menu: 10;
$zindex-tooltip: 20;

// Mobile device size breakpoints
// ------------------------------
// See the CSS width/height values at http://mydevice.io/devices/

$max-phone-width: 500px;
$tablet-width: 768px;
$touch-target-size: 44px;

// Include all mixins, making them available to the stylesheet. N.B. Mixins
// should *never* output CSS, so this is safe.
@import 'mixins/all';
