// Form buttons
// ------------

.btn {
  @include font-normal;

  min-height: 30px;

  background-color: $grey-6;
  border: none;
  border-radius: 2px;
  color: $white;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
}

.btn.is-hidden {
  display: none;
}

.btn--cancel {
  background-color: $grey-4;
}

.btn:hover {
  background-color: $brand;
}

@include touch-input {
  .btn {
    min-height: $touch-target-size;
  }
}
