// Form buttons
// ------------

.btn {
  @include font-normal;

  min-height: 30px;

  background-color: $grey-6;
  border: none;
  border-radius: 2px;
  color: $white;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;

  &:hover {
    background-color: $brand;
  }
}

.btn.is-hidden {
  display: none;
}

.btn--cancel {
  color: $grey-6;
  background-color: white;

  &:hover {
    background-color: white;
    color: $brand;
  }
}

.btn--danger {
  background-color: $brand;
}

@include touch-input {
  .btn {
    min-height: $touch-target-size;
  }
}
