// Form buttons
// ------------

.btn {
  @include font-normal;

  min-height: 30px;

  background-color: $grey-6;
  border: none;
  border-radius: 2px;
  color: $white;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
}

.btn:hover {
  background-color: $brand;
}

// Touch accessibility. Note: Pointer media queries are only supported by recent
// versions of Chrome, Safari and Edge. We should provide a fallback for older
// browsers. See http://caniuse.com/#feat=css-media-interaction and
// http://stackoverflow.com/questions/11387805 In doing so, we should also
// extract this styling into a helper.
@media (pointer: coarse) {
  .btn {
    min-height: 44px;
  }
}
