// Basic standard styling for elements

a, a:active, a:focus, a:hover {
  text-decoration: none;
}

ol {
  list-style-type: decimal;
  padding-left: 3em;
}

svg {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

// Remove browser default styling for text input fields, such as the drop shadow
// inside the field on iOS.
// See http://stackoverflow.com/questions/23211656/remove-ios-input-shadow
input:not([type]),
input[type=email],
input[type=password],
input[type=text],
textarea {
  appearance: none;
}

// Hide contents of <template> elements in browsers that do not support
// this element natively (eg. IE).
template {
  display: none;
}
