// Form input fields
// -----------------
// Specs: https://goo.gl/pEV9E1

@at-root {
  $border-radius: 3px;

  // Padding between top border of input and input text. This includes space
  // for the field label
  $top-padding: 35px;
  // Padding between bottom border of input and input text.
  $bottom-padding: 15px;

  // Extra vertical padding added above input content for form fields displaying
  // inline hints
  $hint-height: 35px;

  // Horizontal padding between focus ring and input field / validation messages
  $h-padding: 10px;
  // Max width of validation error messages when shown to the right of the
  // input field
  $validation-message-width: 200px;

  .form-input {
    // Margin between input fields
    margin-bottom: 15px;
    position: relative;

    background-color: $white;
  }

  .form-input.is-editing {
    z-index: $zindex-modal-content;
  }

  .form-input.is-error {
    & > .form-input__label {
      color: $brand;
    }

    & > .form-input__input {
      color: $brand;
    }

    & > .form-input__error-list {
      display: initial;
    }
  }

  // Descriptive label above the input field
  .form-input__label {
    @include font-normal;

    position: absolute;
    top: 10px;
    left: $h-padding;

    color: $grey-5;

    display: flex;
    // The label is a sibling of the <input> field. Raise it above the <input>
    // so that the field's tooltip appears above the focus ring
    z-index: 1;
  }

  .form-input__character-counter {
    @include font-normal;

    // Show fallback "counter" if loading js times out.
    .env-js-timeout & {
      display: initial;
    }

    // Immediately hide counter if js capable - prevents momentary flash of
    // unenhanced fallback counter before js kicks in.
    .env-js-capable & {
      display: none;
    }

    // The js controller adds this class when it's ready - show the now
    // enhanced counter.
    &.is-ready {
      display: initial;
    }

    &.is-too-long {
      color: $brand;
      font-weight: bold;
    }

    position: absolute;
    bottom: 10px;
    right: $h-padding;

    color: $grey-5;
  }

  .form-input__required {
    color: $brand;
  }

  .form-input__hint-icon {
    display: none;
    margin-left: 6px;
    margin-top: 1px;
    position: relative;

    .env-js-capable & {
      display: block;
    }

    .env-js-timeout & {
      display: none;
    }
  }

  .form-input__hint {
    @include font-normal;

    color: $grey-5;
    margin-top: -10px;

    .env-js-capable & {
      display: none;
    }

    .env-js-timeout & {
      display: block;
    }
  }

  // The actual <input> element for the field
  .form-input__input {
    padding-top: $top-padding;
    padding-left: $h-padding;
    padding-right: $h-padding;
    padding-bottom: $bottom-padding;
    width: 100%;

    background: none;
    color: $grey-6;
    font-size: $input-font-size;
    outline: none;
    border: 1px solid $grey-3;
    border-radius: 3px;
  }

  .form-input__input.has-hint {
    .env-js-capable & {
      padding-top: $top-padding;
    }
  }

  .form-input__input:hover {
    border: 1px solid $grey-4;
  }

  // Thicker border used when input field has focus or has a validation error
  @mixin thick-border {
    // Adjust position of <input> to keep input field content at the same
    // position, given the thicker border. We adjust the position rather than
    // the padding because there are other states (eg. whether the form field
    // has a hint) that affect the amount of padding required and this avoids
    // doubling the number of those states.
    position: relative;
    left: -1px;
    top: -1px;
    padding-bottom: $bottom-padding - 2px;
    border-width: 2px;
  }

  .form-input__input:focus,
  .form-input.is-editing > .form-input__input {
    @include thick-border;
    border-color: $grey-6;
  }

  .form-input.is-error > .form-input__input {
    @include thick-border;
    border-color: $brand;
    padding-right: $validation-message-width + 10px;
  }

  .form-input__input:invalid {
    // Disable default glow for invalid input fields in Firefox.
    // See https://hyp.is/Z3bV7FV8EeaKSc_QAoTqRw
    box-shadow: none;
  }

  // Validation error messages
  .form-input__error-list {
    // The error list is only shown when the input is in an `error` state
    display: none;
  }

  .form-input__error-item {
    max-width: $validation-message-width;
    position: absolute;
    right: $h-padding;
    top: $h-padding;

    color: $brand;
  }

  // On narrow screens, display validation error messages underneath the
  // input field.
  @media screen and (max-width: $max-phone-width) {
    .form-input.is-error > .form-input__input {
      padding-bottom: $bottom-padding + 25px;
      padding-right: $h-padding - 1px;
    }

    .form-input__error-item {
      top: unset;
      bottom: 10px;
      left: $h-padding;
      right: $h-padding;
      max-width: unset;
    }
  }
}
