// Standard layout for forms
// -------------------------
// Specs: https://goo.gl/pEV9E1

.form {
  margin-left: auto;
  margin-right: auto;

  // Max width of form fields should be 500px. It is set to 530px here to
  // account for the padding
  max-width: 530px;

  // Account form padding is set to align left edge of form with left edge of
  // masthead
  padding-left: 15px;
  padding-right: 15px;
}

.form-header {
  margin-top: 55px;
  margin-bottom: 30px;

  color: $grey-6;
  font-weight: normal;
  font-size: $title-font-size;
}

.form-description {
  margin-bottom: 30px;

  color: $grey-5;
}

.form-footer {
  @include font-normal;

  margin-top: 80px;

  border-top: 1px solid $grey-3;
  color: $grey-5;
  padding-top: 15px;
}
