// Form footer
// -----------
// Styles for the bar at the bottom of forms defining the overall actions
// (eg. Save, Cancel) for the form and help messages (eg. "Forgot your password?"
// on a login form).

.form-actions {
  margin-top: 20px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form-actions__message {
  @include font-small;

  color: $grey-4;
  padding-left: 15px;
}

.form-actions__buttons {
  .env-js-capable & {
    display: none;
  }

  .env-js-capable &.is-visible,
  .env-js-timeout & {
    display: block;
    z-index: $zindex-modal-content;
    margin-top: 10px;
  }
}

.form-actions__buttons.is-saving  .form-actions__btn {
  opacity: .5;
}

