// Standard layout for forms
// -------------------------
// Specs: https://goo.gl/pEV9E1

.form-header {
  margin-top: 55px;
  margin-bottom: 30px;

  color: $grey-6;
  font-weight: normal;
  font-size: $title-font-size;
}

.form-description {
  margin-bottom: 30px;

  color: $grey-5;
}

.form-footer {
  @include font-normal;

  margin-top: 80px;

  border-top: 1px solid $grey-3;
  color: $grey-5;
  padding-top: 15px;
}

.form-help-text {
  color: $grey-5;
}
