// Standard layout for forms
// -------------------------
// Specs: https://goo.gl/pEV9E1

// Backdrop which appears behind forms during inline editing
.form__backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-modal-backdrop;

  background-color: $white;
  opacity: 0.5;
}

// Error message displayed if AJAX form submission fails for reasons other than
// a validation error. When there is a validation error, the response is updated
// markup for the form which replaces the original.
.form__submit-error {
  color: $brand;
  display: none;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;

  &.is-visible {
    display: block;
  }
}

.form.is-editing > .form__backdrop {
  display: block;
}

.form-header {
  margin-top: 55px;
  margin-bottom: 30px;

  color: $grey-6;
  font-weight: normal;
  font-size: $title-font-size;
}

.form-description {
  margin-bottom: 30px;

  color: $grey-5;
}

.form-footer {
  @include font-normal;

  margin-top: 80px;

  border-top: 1px solid $grey-3;
  color: $grey-5;
  padding-top: 15px;
}

.form-help-text {
  color: $grey-5;
}

.form-footer__required {
  display: flex;
  justify-content: flex-end;
}

.form-footer__symbol {
  color: $brand;
  margin-right: 3px;
}
