// Form footer
// -----------
// Styles for the bar at the bottom of forms defining the overall actions
// (eg. Save, Cancel) for the form and help messages (eg. "Forgot your password?"
// on a login form).

.form-actions {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  z-index: $zindex-modal-content;

  &.is-hidden {
    display: none;
  }
}

.form-actions.is-saving {
  opacity: .5;
}

.form-actions__message {
  @include font-small;

  color: $grey-4;
  padding-left: 15px;
}
