.lozenge {
  display: flex;
  background-color: $grey-3;
  color: $grey-6;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.lozenge__content {
  padding: 3px 5px 3px 5px;
  white-space: nowrap;
}

.lozenge__facet-value {
  font-weight: bold;
}

.lozenge__close {
  font-weight: bold;
  padding: 3px 5px 3px 5px;
  cursor: default;
  border-radius: 0 2px 2px 0;

  &:hover {
    background-color: $grey-4;
  }
}

.is-disabled {
  pointer-events: none;
}
