// Search page
// -----------
// Styles for the search page which displays the results
// of activity queries.

.search-result-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search-result-nav__title {
  color: $brand;
  margin: 0;
  line-height: 22px;
}

.search-result-nav__button {
  background-color: $grey-2;
  border: none;
  color: inherit;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

.search-result-container {
  display: flex;
  font-size: $normal-font-size;
  margin-top: 50px;
  color: $grey-6;

  // Align the left edge of the search result list with the left edge of the
  // navbar content.
  margin-left: 30px;
  margin-right: 30px;
}

.search-result-list {
  flex-basis: 950px;
  max-width: 950px;

  // Remove default padding from <ol>
  list-style: none;
  padding-left: 0;
  padding-right: 0;

  margin-right: 30px;
  margin-bottom: 40px;
}

.search-result__timeframe {
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey-2;
  margin-top: 30px;
}

.search-result__timeframe:first-child {
  margin-top: 0;
}

// A group of search results
.search-result-bucket {
  background-color: $grey-2;
  border-bottom: 1px solid $grey-3;

  .env-js-capable & {
    background-color: white;
    &:hover, &.is-expanded {
      background-color: $grey-2;
    }
  }
}

.search-result-bucket__header {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;

  cursor: pointer;
  user-select: none;
}

.search-result-bucket__domain {
  flex-grow: 0;
  flex-shrink: 0;
  width: 120px;
  color: $grey-4;
  margin-right: 10px;
  word-wrap: break-word;
}

.search-result-bucket__title-and-annotations-count {
  display: flex;
  flex-grow: 1;
  min-width: 0;  // Without this min-width document titles containing really
                 // long words won't be wrapped (overflow-wrap: break-word
                 // won't work), see https://github.com/hypothesis/h/pull/3932
}

.search-result-bucket__title {
  font-weight: bold;
  flex-grow: 1;
  margin-right: 5px;
  overflow-wrap: break-word;
  min-width: 0;  // Without this min-width document titles containing really
                 // long words won't be wrapped (overflow-wrap: break-word
                 // won't work), see https://github.com/hypothesis/h/pull/3932
}

.search-result-bucket__annotations-count {
  font-weight: bold;
  width: 75px;
}

.search-result-bucket__annotations-count-container {
  width: 30px;
  background-color: $grey-2;
  text-align: center;
  border-radius: 2px;
  float: right;
}

.search-result-bucket__domain,
.search-result-bucket__title,
.search-result-bucket__annotations-count-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-result-bucket__content {
  padding-left: 10px;
  padding-right: 10px;
}

.search-result-bucket__annotation-cards-container {
  padding-left: 130px;

  display: flex;
  .env-js-capable & {
    display: none;
    &.is-expanded {
      display: flex;
    }
  }
}

.search-result-bucket__annotation-cards {
  flex-grow: 1;
  max-width: 500px;
  flex-shrink: 0;
  padding-left: 0;
  padding-right: 0;
}

// Card displaying stats about a group of annotations in search results
.search-bucket-stats {
  @include font-normal;
  margin-left: 30px;
  word-wrap: break-word;
  min-width: 0;  // Without this min-width stats containing really
                 // long words won't be wrapped (word-wrap: break-word won't
                 // work).
}

.search-bucket-stats__key {
  color: $grey-4;
}

.search-bucket-stats__val {
  color: $grey-6;
  margin-bottom: 20px;
}

.search-bucket-stats__address,
.search-bucket-stats__username {
  word-break: break-all;
}

.search-result-tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin-top: 30px;
}

.search-result-tag {
  background-color: $grey-2;
  border-radius: 2px;
  display: flex;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.search-result-tag__name {
  margin-right: 10px;
  color: $grey-6;
  font-weight: bold;
}

.search-result-tag__count {
  color: $grey-4;
}

// On large tablets and below, display bucket titles beneath rather than
// alongside the domain name.
@media screen and (max-width: $tablet-width + 100px) {
    .search-result-bucket__header {
      flex-direction: column;

      // Make domain and title containers stretch to the full width of the
      // column
      align-items: stretch;
    }

    .search-result-bucket__domain {
      width: 100%;
    }

    .search-result-bucket__content {
      margin-top: 10px;
    }
}

// As the screen size gets smaller, just before it would have introduced a
// horizontal scrollbar move the sidebar below the search results.
@media screen and (max-width: $tablet-width + 250px) {
  .search-result-container {
    flex-direction: column;
    margin-top: 25px;
  }

  .search-result-nav {
    display: flex;
  }

  .search-result-hide-on-small-screens {
    display: none;
  }

  .search-result-list {
    margin-right: 0;
  }
}

// On large tablets and below left-align annotation cards in order to make more
// space for the stats to the right of the annotation card.
@media screen and (max-width: 1127px) {
  .search-result-bucket__annotation-cards-container {
    padding-left: 0;
  }
}

// On normal tablets and below, display annotation stats below annotation list
@media screen and (max-width: $tablet-width) {

  .search-result-bucket__annotation-cards-container {
    flex-direction: column;
  }

  .search-result-bucket__annotation-cards {
    width: 100%;
  }

  .search-bucket-stats {
    margin-left: 5px;
    margin-top: 10px;
  }

  .search-result-container {
    // Align the left edge of the search result list with the left edge of the
    // navbar content.
    margin-left: 10px;
    margin-right: 10px;
  }
}
