// Search page
// -----------
// Styles for the search page which displays the results
// of activity queries.

.search-result-container {
  font-size: $normal-font-size;
  margin-top: 20px;
  color: $grey-6;
}

.search-result-list {
  max-width: 950px;

  // Remove default padding from <ol>
  list-style: none;
  padding-left: 0;
  padding-right: 0;

  // These margins are set so that the left edge of the search result list
  // aligns with the left edge of the navbar content
  margin-left: 30px;
  margin-right: 30px;
}

.search-result__timeframe {
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey-2;
  margin-top: 30px;
}

// A group of search results
.search-result-bucket {
  background-color: $grey-2;
  border-bottom: 1px solid $grey-3;

  .env-js-capable & {
    background-color: white;
    &:hover, &.is-expanded {
      background-color: $grey-2;
    }
  }
}

.search-result-bucket__header {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;

  cursor: pointer;
  user-select: none;
}

.search-result-bucket__domain {
  flex-grow: 0;
  flex-shrink: 0;
  width: 120px;
  color: $grey-4;
  margin-right: 10px;
  word-wrap: break-word;
}

.search-result-bucket__title-and-annotations-count {
  display: flex;
  flex-grow: 1;
  min-width: 0;  // Without this min-width document titles containing really
                 // long words won't be wrapped (overflow-wrap: break-word
                 // won't work), see https://github.com/hypothesis/h/pull/3932
}

.search-result-bucket__title {
  font-weight: bold;
  flex-grow: 1;
  margin-right: 5px;
  overflow-wrap: break-word;
  min-width: 0;  // Without this min-width document titles containing really
                 // long words won't be wrapped (overflow-wrap: break-word
                 // won't work), see https://github.com/hypothesis/h/pull/3932
}

.search-result-bucket__annotations-count {
  font-weight: bold;
  width: 75px;
}

.search-result-bucket__annotations-count-container {
  width: 30px;
  background-color: $grey-2;
  text-align: center;
  border-radius: 2px;
  float: right;
}

.search-result-bucket__domain,
.search-result-bucket__title,
.search-result-bucket__annotations-count-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-result-bucket__content {
  padding-left: 10px;
  padding-right: 10px;
}

.search-result-bucket__annotation-cards-container {
  display: flex;
  padding-left: 130px;

  &.is-hidden {
    display: none;
  }
}

.search-result-bucket__annotation-cards {
  flex-grow: 1;
  max-width: 500px;
  padding-left: 0;
  padding-right: 0;
}

// Card displaying stats about a group of annotations in search results
.search-bucket-stats {
  @include font-normal;
  width: 210px;
  margin-left: 30px;
  word-wrap: break-word;
}

.search-bucket-stats__key {
  color: $grey-4;
}

.search-bucket-stats__val {
  color: $grey-6;
  margin-bottom: 20px;
}

// On large tablets and below, display bucket contents beneath rather than
// alongside the domain
@media screen and (max-width: $tablet-width + 100px) {
    .search-result-bucket__header {
      flex-direction: column;

      // Make domain and title containers stretch to the full width of the
      // column
      align-items: stretch;
    }

    .search-result-bucket__domain {
      width: 100%;
    }

    .search-result-bucket__content {
      margin-top: 10px;
    }
}

// On normal tablets and below, display annotation stats below annotation list
@media screen and (max-width: $tablet-width) {

  // Reduce margins on tablet and below to match navbar left/right margins
  // on these screen sizes
  .search-result-list {
    margin-left: 10px;
    margin-right: 10px;
  }

  .search-result-bucket__annotation-cards-container {
    flex-direction: column;
    padding-left: 0;
  }

  .search-bucket-stats {
    margin-left: 5px;
    margin-top: 10px;
  }
}
