@import 'compass';
@import 'compass/css3/transform';
@import 'compass/css3/user-interface';
@import "compass/reset/utilities";

$baseFontSize: 14;

@import 'common';



//ELEMENT STYLES////////////////////////////////
body {
  background-color: transparent;
  font-family: $sansFontFamily;
  height: 100%;
  position: fixed;
  width: 100%;
}

input { width: 100%; }
svg { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }



//ANNOTATOR STYLES////////////////////////////////
.annotator-hide {
  display: none;
  visibility: hidden;
}

.annotator-heatmap {
  background: hsla(0, 0, 0, .1);
  border: solid thin rgba($grayLighter, .4);
  left: 17px;
  height: 100%;
  position: fixed;
  top: 0;
  width: $heatmap-width;
}


.sliding-panels > li {
  @include smallshadow(-2px);
  @include transition(transform .4s);
  background: url('../images/noise_1.png');
  margin-left: 1em;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 1em;
  position: absolute;

  height: 100%;
  width: 100%;
  
  &:first-child {
    margin-left: 0;
    @include box-shadow(none);
  }

  &.collapsed {
    @include translateX(100%);
  }

  &.squished {
    padding-left: .5em;
  }
}

//SIDEBAR LAYOUT////////////////////////////////
#gutter {
  background: url('../images/noise_1.png');
  height: 100%;
  margin-left: $heatmap-width + 17px;
  padding-top: 2.5em;  // toolbar height + top margin
  position: relative;
}

#wrapper {
  background: url('../images/noise_1.png');
  height: 100%;
  position: relative;
}



//HEATMAP POINTERS////////////////////////////////
.heatmap-pointer {
  @include user-select(none);
  @include transition-property(left);
  @include transition-duration(.2s);
  margin-top: -1em; // TODO: Less janking v-align
  // color: rgb(238, 238, 238);
  color: #666;
  left: 0px;
  position: fixed;
  height: 20.1px;
  width: 40.1px;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: center;
  cursor: pointer;

  .svg {
    width: 100%;
    height: 100%;
    background-image: url("../images/side_tab.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .label {
    font-weight: bold;
    font-size: 13.1px;
    position: absolute;
    text-decoration: none;
    left: 10px;
    right: 2px;
    position: absolute;
    bottom: 1px;
  }

  &:hover {
    left: 2px;
  }

  &.lower, &.upper {
    @include single-transition(margin-top, .2s);
    left: 7px;
    width: 33.1px;
    height: 26.1px;
    .label {
      left: 0;
      right: 0;
    }

    &:hover {
      left: 7px;
    }
  }
  
  &.upper {
    .svg {
      background-image: url("../images/up_tab.svg");
    }
    .label {
      bottom: 1px;
    }
    &:hover {
      margin-top: -1.2em;
    }
  }

  &.lower {
    .svg {
      background-image: url("../images/down_tab.svg");
    }
    .label {
      top: 1px;
    }
    &:hover {
      margin-top: -.8em;
    }
  }
  &.flip {
    @include rotateY(180deg);
    .label {
      @include rotateY(180deg);
    }
  }
}



//SHEET////////////////////////////////
//This comes down from under things.
.sheet {
  @include box-shadow(5px 5px 40px hsla(0, 0%, 0%, .1));
  @include single-transition(all, .4s, ease-in-out);
  @include transform-origin(50%, 0);
  z-index: 4;
  background: url('../images/noise_1.png');
  padding: 1em;
  position: absolute;
  width: 100%;

  .close {
    position: absolute;
    right: .5em;
    top: .5em;
  }

  &.collapsed {
    @include rotateX(90deg);
    opacity: 0;
    pointer-events: none;
  }

  &.info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #98BED1;
  }
  &.good {
    color: #468847;
    background-color: #dff0d8;
    border-color: #8DC98E;
  }
  &.bad {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #F5A1A0;
  }

  footer > ul {
    margin-top: 1em;
    text-align: right;
  }
}



//TOOL BAR////////////////////////////////
#toolbar {
  @include smallshadow;
  background: white;
  border: 1px solid $grayLighter;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 2em;
  left: 7px;
  line-height: 1.4em;  // 2em (height) - .6em (padding)
  margin-top: .5em;
  padding: .3em;
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 5;

  & > div {
    display: inline-block;
    vertical-align: top;

    &:last-child {
      border-left: 1px solid $grayLighter;
    }
  }

  .tri {
    @include fonticon("\e00b", left);
    color: rgba( 200, 200, 200, 0.3);
    text-shadow:
      1px .8px 1.5px #fff,
      0 0 0 #000;
    float: left;
    line-height: $baseLineHeight * .9;
    font-size: $baseLineHeight * .9;
    &:before {
      vertical-align: 0;
    }
    &:hover {
      color: rgba( 235, 235, 230, 0.1);
    }
  }

  &.shown {
    .tri {
      @include fonticon("\e010", left);
      color: rgba( 200, 200, 200, 0.3);
      text-shadow:
        1px .8px 1.5px #fff,
        0 0 0 #000;
      float: left;
      line-height: $baseLineHeight * .9;
      font-size: $baseLineHeight * .9;
      cursor: ew-resize;
      &:before {
        vertical-align: 0;
      }
      &:hover {
        color: rgba( 235, 235, 230, 0.1);
      }
    }
  }
}

.tinyman {
  padding: 0 .3em;

  .avatar {
    border-radius: 2px;
  }

  .dropdown-toggle {
    @include fonticon("\002f", right, 0em);
    .provider {
      color: $grayLight;
      display: none;
    }
    &:hover {
      .provider {
        display: inline;
      }
    }
  }

  .dropdown.open .provider {
    display: inline;
  }
}

