@import 'compass';
@import 'compass/css3';
@import 'compass/css3/images';
@import 'compass/utilities/color';

@import 'common';


body {
  @extend .noise;
  font-family: $sansFontFamily;
  word-wrap: break-word;
}

#{nest("hgroup", "#{headings()}")} {
  margin: 0;
}

section {
  margin: 2em 0;
}

ol {
  list-style-type: decimal;
  padding-left: 3em;
  margin-left: -1.5em;

  li + li {
    margin-top: 1em;
  }
}

.auth {
  @extend .form-vertical;

  button[name^="forgot"] {
    @extend .btn-link;
    float: right;
  }

  input { width: 100%; }
}

.bookmarklet {
  @extend .btn;
  padding: .12em;
  border: 1px dashed $gray;
}

.content {
  margin: 0 auto;
  padding: .72em;

  @include respond-to(tablets desktops) {
    padding: .72em 4em 4em;
    margin: auto;
    max-width: $break-medium;
  }

  & > header {
    @include respond-to(handhelds) {
      text-align: center;
    }

    @include respond-to(wide-handhelds tablets desktops) {
      @include pie-clearfix;
      text-align: left;
      img { float: left; }
    }

    margin-bottom: 2em;

    hgroup h1 {
      margin-bottom: 0 !important;
    }
  }

  .domain {
    margin: 3px 0 4px;
  }

  .domain .favicon {
    margin: 0 8px;
  }

  .page {
    margin-bottom: 16px;

    a {
      font-weight: bold;
    }
  }
}


.sheet {
  @include smallshadow;
  font-family: $sansFontFamily;
  max-height: 480px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  .close {
    position: absolute;
    font-size: 14px;
    right: 7px;
    top: 7px;
  }

  &.collapsed {
    max-height: 0;
  }

  footer {
    font-size: .8em;
    font-family: $sansFontFamily;
    text-align: right;
  }

  input:not([type="submit"]) { width: 100%; }
}


.user {
  font-weight: bold;
  font-size: 1.1em;
  &:hover {
    color: $linkColorHover;
    cursor: pointer;
    text-decoration: underline;
  }
}


.user-picker {
  .avatar {
    border-radius: 2px;
  }

  .dropdown-toggle {
    .provider {
      color: $grayLight;
      display: none;
    }
    &:hover {
      .provider {
        display: inline;
      }
    }
  }

  .dropdown.open .provider {
    display: inline;
  }
}
