@import 'compass';
@import 'compass/css3/transform';
@import 'compass/css3/user-interface';
@import 'compass/layout/stretching';
@import 'compass/reset/utilities';

$baseFontSize: 14;

@import 'common';



//ELEMENT STYLES////////////////////////////////
body {
  background-color: transparent;
  font-family: $sansFontFamily;
  height: 100%;
  position: fixed;
  width: 100%;
}

svg { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }



//ANNOTATOR STYLES////////////////////////////////
.annotator-hide {
  display: none;
  visibility: hidden;
}



.sliding-panels > li {
  @include smallshadow(-2px);
  @include stretch-y;
  @include transition(transform .4s);
  @include translateX(100%);
  background: url('../images/noise_1.png');
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 1em;
  padding-top: 3.5em;
  left: 1em;
  right: 0;
  
  &:first-child {
    @include box-shadow(none);
    @include translateX(0);
    left: 0em;
  }

  &.show {
    @include translateX(0);
  }

  &.squished {
    padding-left: .5em;
  }
}

//SIDEBAR LAYOUT////////////////////////////////
#wrapper {
  background: url('../images/noise_1.png');
  height: 100%;
  margin-left: $heatmap-width + 17px;
  position: relative;
}



//HEATMAP STUFF////////////////////////////////
.annotator-heatmap {
  @include stretch-y;
 
  svg {
    @include stretch-y;
    background: hsla(0, 0, 0, .1);
    border: solid thin rgba($grayLighter, .4);
    left: 17px;
    width: $heatmap-width;
  }
}

.heatmap-pointer {
  @include user-select(none);
  @include transition-property(left);
  @include transition-duration(.2s);
  margin-top: -1em; // TODO: Less janking v-align
  // color: rgb(238, 238, 238);
  color: #666;
  left: 0px;
  position: absolute;
  height: 20.1px;
  width: 40.1px;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: center;
  cursor: pointer;

  .svg {
    width: 100%;
    height: 100%;
    background-image: url("../images/side_tab.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .label {
    font-weight: bold;
    font-size: 13.1px;
    position: absolute;
    text-decoration: none;
    left: 10px;
    right: 2px;
    position: absolute;
    bottom: 1px;
  }

  &:hover {
    left: 2px;
  }

  &.lower, &.upper {
    @include single-transition(margin-top, .2s);
    left: 7px;
    width: 33.1px;
    height: 26.1px;
    .label {
      left: 0;
      right: 0;
    }

    &:hover {
      left: 7px;
    }
  }
  
  &.upper {
    .svg {
      background-image: url("../images/up_tab.svg");
    }
    .label {
      bottom: 1px;
    }
    &:hover {
      margin-top: -1.2em;
    }
  }

  &.lower {
    .svg {
      background-image: url("../images/down_tab.svg");
    }
    .label {
      top: 1px;
    }
    &:hover {
      margin-top: -.8em;
    }
  }
  &.flip {
    @include rotateY(180deg);
    .label {
      @include rotateY(180deg);
    }
  }
}



//SHEET////////////////////////////////
//This comes down from under the toolbar
.sheet {
  @include transition(
    max-height .8s ease-in-out,
    opacity .4s ease-in-out
  );
  max-height: 30em;
  opacity: 1;

  position: absolute;
  text-align: left;

  left: .3em;
  right: 0;
  top: .3em;

  .close {
    position: absolute;
    right: 1em;
    top: .25em;
  }

  &.collapsed {
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    footer {
      opacity: 0;
    }
  }

  .nav-tabs {
    padding-left: 1.3em;
  }

  .tab-pane {
    @include box-shadow(5px 5px 3px hsla(0, 0%, 0%, .1));
  }

  footer {
    float: right;
    left: -1em;
    position: relative;
    text-align: right;
    top: -3.5em;
    a { @extend .small; }
  }

  input:not([type="submit"]) { width: 100%; }
}



//TOOL BAR////////////////////////////////
#toolbar {
  @include smallshadow;
  background: $bodyBackground;
  border: .1em solid $grayLighter;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 7px;
  min-height: 2.2em;
  position: absolute;
  right: -.1em;
  text-align: right;
  top: .5em;
  z-index: 5;

  .tinyman {
    border-left: 1px solid $grayLighter;
    display: inline-block;
    margin: .3em;
  }

  .tri {
    @include fonticon("\e00b", left);
    color: rgba( 200, 200, 200, 0.3);
    text-shadow:
      1px .8px 1.5px #fff,
      0 0 0 #000;
    position: absolute;
    z-index: 1;
    top: .3em;
    left: .3em;
    line-height: $baseLineHeight * .9;
    font-size: $baseLineHeight * .9;
    &:before {
      vertical-align: 0;
    }
    &:hover {
      color: rgba( 235, 235, 230, 0.1);
    }
  }

  &.shown {
    .tri {
      @include fonticon("\e010", left);
      cursor: ew-resize;
    }
  }
}

.tinyman {
  padding: 0 .5em;

  .avatar {
    border-radius: 2px;
  }

  .dropdown-toggle {
    .provider {
      color: $grayLight;
      display: none;
    }
    &:hover {
      .provider {
        display: inline;
      }
    }
  }

  .dropdown.open .provider {
    display: inline;
  }
}
