@import 'compass/css3';

$white: #fff !default;
$black: #000 !default;

// GRAYS
$gray: #777 !default;
$grayDark: darken($gray, 12%) !default;
$grayDarker: darken($gray, 36%) !default;
$grayLight: lighten($gray, 12%) !default;
$grayLighter: lighten($gray, 36%) !default;

//COLORS
$hypothered: #bd1c2b !default;
$hypothered-desat: #bd5862 !default;
$inputBorder: $grayLight !default;
$inputDisabledBackground: $grayLight !default;
$inputBackground: white !default;

// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $grayDark !default;

//LINKS
$linkColor:             $hypothered-desat !default;
$linkColorHover:        $hypothered !default;

// Typography
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          16px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        20px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    inherit !default;
$headingsFontWeight:    bold !default;
$headingsColor:         inherit !default;

//ICON FONT IMPORT
@font-face {
  font-family: 'icomoon';
  src:url('../images/icomoon.eot');
  src:url('../images/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../images/icomoon.svg#icomoon') format('svg'),
    url('../images/icomoon.woff') format('woff'),
    url('../images/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//STANCE COLORS
$positive: #3aab39;
$negative: #d11c2b;
$neutral: #0171ba;

//OTHER VARIABLES
$thread-padding: 1em;
$threadexp-width: 10px;
$score-width: 40px;
$score-height: $score-width;
$heatmap-width: 25px;
$input-border-radius: 2px;

// Grid
$gridColumns: 12 !default;
$gridColumnWidth: 48 !default;
$gridGutterWidth: 24 !default;
$em: 14 / 1em !default;

@function grid($cols:1) {
  @return (($cols * $gridColumnWidth) + (($cols - 1) * $gridGutterWidth)) / $em;
}

/* Shadow mixins */
@mixin smallshadow($a: 2px, $b: 2px, $c: .1) {
  @include box-shadow($a $b 3px hsla(0, 0%, 0%, $c));
}

@mixin plainform {
  color: $gray;
  background-color: #ffffff;
  border: 1px solid $grayLighter;
  border-radius: .2em;
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  font-size: 1em;
  padding: .33em .5em;
  &:focus {
    outline: 0;
    border: 1px solid $grayLight;
    @include box-shadow( inset 1px 1px 6px -1px $grayLighter);
  }
}

@mixin sweetbutton {
  @include background-image(
    linear-gradient(top, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 100%));
  @include border-radius(.15em);
  @include box-shadow(
    inset 0 .2em 0 rgba(255, 255, 255, .2),
    0 .05em .1em rgba(0, 0, 0, .08));
  @include plainform;
  cursor: pointer;
  display: inline-block;
  padding: .4em .9em .5em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(255, 255, 255, .9);
  color: $gray;

  &:hover {
    @include background-image(
      linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%));
    border-color: $grayLight $grayLight $gray;
    color: black;
    & > a {
      opacity: 1;
      color: black;
    }
  }

  &:active {
    @include background-image(
      linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%));
    @include box-shadow(
      inset 0 .15em .25em rgba(0, 0, 0, .15),
      0 .05em .1em rgba(0, 0, 0, .0));
    border-color: $grayLight $grayLight $gray;
    top: .1em;
  }
}

@mixin tabbox {
  @include box-shadow(2px -10px 13px -8px hsla(0, 0%, 0%, .1) inset);
  background: hsla(0, 0%, 99%, 1);
  border-top-right-radius: 2em 5em;
  border-top-left-radius: 2em 5em;
  color: #999;
  border: 1px solid $grayLighter;
  border-bottom: none;
  &:hover {
    background: white;
  }
  &:active {
    @include box-shadow( none );
  }
}



//ICON IMAGES////////////////////////////////
@mixin icon_resets {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@mixin icon($icon) {
  @include icon_resets;
  background-image: url("../images/#{$icon}");
}



//ANNOTATOR TEXT STYLES////////////////////////////////
@mixin primarytext {
  font-weight: bold;
  font-size: 1.3em;
}

@mixin secondarytext {
  font-size: 1.1em;
  font-weight: bold;
}

@mixin tertiarytext {
  font-size: .8em;
}



//FONTICON////////////////////////////////
@mixin fonticon($char, $iconside, $offset: 0) {
  text-decoration: none;
  cursor: pointer;
  color: $gray;
  &:hover {
    color: black;
    opacity: 1;
  }
  @if $iconside == left {
    &:before {
      content: $char;
      vertical-align: -.1em;
      font-family: 'icomoon';
      font-style: normal;
      margin-right: $offset;
      speak: none;
      font-weight: normal;
    }
    &:after {
      content: "";
    }
  }
  @if $iconside == right {
    &:before {
      content: "";
    }
    &:after {
      content: $char;
      vertical-align: -.1em;
      font-family: 'icomoon';
      font-style: normal;
      margin-left: $offset;
      speak: none;
      font-weight: normal;
    }
  }
}



//ICON CLASSES////////////////////////////////
.flag-icon {
  @include fonticon("\28", left);
}

.fave-icon {
  @include fonticon("\e006", left);
  &.checked:before {
    content: "\e005";
  }
}

.reply-icon {
  @include fonticon("\e004", left);
}

.share-icon {
  @include fonticon("\25", left);
}

.down-icon {
  @include fonticon("\e007", left);
}

.clipboard-icon {
  @include fonticon("\33", left);
}

.check-icon {
  @include fonticon("\35", left);
}

.x-icon {
  @include fonticon("\36", left);
}

.vis-icon {
  @include fonticon("\34", left);
}
