@import 'compass/typography/text/force-wrap';

@import 'reset';
@import 'base';

$white: hsl(0, 0, 99%);
$sansFontFamily: "Source Sans Pro", $sansFontFamily;
$serifFontFamily: "Merriweather", $serifFontFamily;
$headingsColor: $textColor;


//ELEMENT STYLES////////////////////////////////
a {
  color: $linkColor;
  &:hover { color: $linkColorHover; }
  text-decoration: none;
}

body {
  background-color: $bodyBackground;
  color: $textColor;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

p {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;

  & + p {
    margin: 2em 0 0;
  }
}

em { font-style: italic; }

html {
  font-size: $baseFontSize / 16px * 1em;
  line-height: $baseLineHeight / 16px * 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sansFontFamily;
  color: $headingsColor;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .75em 0;
}

h3 {
  font-size: 1.17em;
  margin: .83em 0;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}

input, textarea {
  @include plainform;
}

select {
  @include plainform;
  padding: 0;
  text-decoration: underline;
  border: 0;
  &:focus {
    border: 0;
  }
}

label {
  @extend .visuallyhidden;
}



//MCRANDOM////////////////////////////////
button, input[type=submit], .btn {
  @include sweetbutton;
}

.alert-block {
  span.errorMsgLbl { @extend .visuallyhidden; }
  span.errorMsg { @extend .visuallyhidden; }
}

.inline-block {
  display: inline-block
}

.small {
  font-size: .8em;
}

.icon-hidden {
  &:before {
    color: transparent;
  }
  &:after {
    color: transparent;
  }
}

//Candidate for cleanup
.btn-link {
  @include box-shadow(none);
  @include reset-box-model;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: $linkColor;
  position: static;
  &:hover { color: $linkColorHover; }
}

.red {
  color: $hypothered;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


//FLASH/TOAST/ALERTS///////////////////////////////
.toast, .annotator-notice {
  @include border-radius(.5em);
  @include smallshadow;
  @include single-transition(opacity, .2s);
  border: solid 1px;
  bottom: 18%;
  left: 50%;
  margin-left: -15%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  text-align: center;
  width: 30%;
  z-index: 2000;

  &.show, &.annotator-notice-show {
    opacity: .8;
    pointer-events: initial;
  }
}

.info, .annotator-notice-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #98BED1;
}

.success, .annotator-notice-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #8DC98E;
}

.error, .annotator-notice-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #F5A1A0;
}


//CLOSER////////////////////////////////
.close {
  @extend .x-icon;
  float: right;
  width: 1em;
  height: 1em;
  opacity: .2;

  &:hover {
    cursor: pointer;
    opacity: .4;
  }
}



//FORM RELATED////////////////////////////////
.form-horizontal {
  display: inline-block;
  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
  select, textarea, input, button {
    margin: .5em 0;
  }
}

.form-inline .control-group { margin-bottom: 0; }

.form-vertical {
  select, textarea, input, button {
    display: block;
    margin-top: .75em;
  }
}

.req {
  display: none;
}

.slow-validate {
  display: block;
  max-height: 0;
  overflow: hidden;

  &.slow-validate-show {
    @include transition(max-height .25s ease-in 2s);
    max-height: 10em;
  }
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}



//EXCERPT////////////////////////////////
.excerpt {
  position: relative;
  margin-bottom: 1em;
  blockquote {
    margin-bottom: 0;
  }
  .more, .less {
    font-size: .9em;
    font-family: $sansFontFamily;
    display: block;
    text-align: right;
  }
}

blockquote {
  color: $gray;
  font-family: $serifFontFamily;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0 1em;

  &:before {
    color: rgba(150, 150, 150, .5);
    content: "\23";
    font-family: "icomoon";
    font-size: 6em;
    position: absolute;
    top: -.2em;
    left: -.15em;
  }

  &:after {
    color: rgba(150, 150, 150, .5);
    content: "\24";
    font-family: "icomoon";
    font-size: 5em;
    position: absolute;
    right: -.15em;
    bottom: -.1em;
  }
}



//DROPDOWNS////////////////////////////////
.dropdown {
  position: relative;
  span {
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

.dropdown-toggle {
  @include fonticon("\002f", right, 0);
  cursor: pointer;
  padding: .5em;

  &:active {
    outline: 0;
  }
}

.dropdown-menu {
  @include rotateX(90deg);
  background: $white;
  border: solid .1em $grayLighter;
  margin-top: .625em;
  top: 100%;
  float: left;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;

  li {
    cursor: pointer;
    line-height: 1;
    text-align: left;
    padding: .5em;
    white-space: nowrap;

    &:hover {
      color: black;
    }

    &.selected {
      color: black;
      font-weight: 600;
      line-height: 1;
      &:before {
        font-size: .7em;
      }
    }
    &.inactive {
      font-weight: 400;
      color: $grayLighter;
      cursor: default;
      &:hover {
        color: $grayLighter;
      }
      & * {
        cursor: default;
      }
    }

    & + li {
      border-top: dotted 1px $grayLighter;
    }
  }

  a {
    color: inherit;
  }

  // These psuedo-elements add the speech bubble tail / triangle.
  &:before, &:after {
    @include rotateZ(360deg);
    border-color: transparent;
    border-style: solid;
    content: '';
    position: absolute;
    left: .35em;
    height: 0;
    width: 0;
  }

  &:before {
    border-bottom-color: $grayLighter;
    border-width: 0 .5em .5em .5em;
    top: -.5em;
  }

  &:after {
    border-bottom-color: $white;
    border-width: 0 .5em .5em .5em;
    top: -.45em;
    z-index: 3;
  }

  // Aligns the dropdown menu to right
  &.pull-right {
    right: 0;
    left: auto;
    text-align: right;

    // Align the tail
    &:before, &:after {
      left: auto;
      right: .35em;
    }
  }
}

.open {
  & > .dropdown-menu {
    @include smallshadow;
    @include rotateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}



//ICON CLASSES////////////////////////////////
.flag-icon {
  @include fonticon("\28", left);
}

.fave-icon {
  @include fonticon("\e006", left);
  &.checked:before {
    content: "\e005";
  }
}

.reply-icon {
  @include fonticon("\e004", left);
}

.share-icon {
  @include fonticon("\25", left);
}

.down-icon {
  @include fonticon("\e007", left);
}

.clipboard-icon {
  @include fonticon("\33", left);
}

.check-icon {
  @include fonticon("\35", left);
}

.x-icon {
  @include fonticon("\36", left);
}

.vis-icon {
  @include fonticon("\e001", left);
}



//VISIBILITY
.visibility {
  .dropdown-toggle {
    @include fonticon("\3c", right);
  }
  li {
    @include fonticon("\35", right);
    &:after {
      opacity: 0;
    }
    &.selected {
      &:after {
        opacity: 1;
      }
    }
  }
  .vis-public {
    border-bottom: 1px solid $grayLighter;
    margin: .4em 0 0;
    padding: 0 .5em 0;
  }
}


//TABS////////////////////////////////
.nav-tabs {
  @include pie-clearfix;
  margin: 0 .2em;

  a {
    font-family: $sansFontFamily;
    color: $grayDark;
  }

  & > li {
    @include box-shadow(inset 2px -10px 13px -8px hsla(0, 0%, 0%, .1));
    background: darken($white, 2%);
    border-top-right-radius: 2em 5em;
    border-top-left-radius: 2em 5em;
    border: .1em solid $grayLighter;
    border-bottom: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    margin-right: -.5em;
    padding: .25em 1em .5em;
    position: relative;

    &:hover {
      background: $white;
    }

    &.active, &:active {
      @include box-shadow(none);
      background: $white;
      color: #333;
    }

    &.active {
      z-index: 1;
    }
  }
}

.tab-content {
  @include border-radius(.1em);
  background: $white;
  border: solid .1em $grayLighter;
  margin-top: -.1em;
  padding: 1em;
  position: relative;

  .tab-pane {
    display: none;
    &.active {
      display: inherit !important;
    }
  }
}


//NOISE///////////
//Provides the noise background
.noise {
  background: url("../images/noise_1.png");
}


//KNOCKOUT///////////
//Provides a knockout background
.knockout {
  @include border-radius(.5em);
  @include pie-clearfix;
  @include box-shadow(inset 1px 1px 3px hsla(0, 0%, 0%, .1));
  padding: 1em;
}


//PAPER////////////////////////////////
//Provides the white background upon which items sit
.paper {
  @include border-radius(.2em);
  @include smallshadow;
  background: $white;
  padding: 1em;
}


//TOOL BAR////////////////////////////////
.topbar {
  @include smallshadow;
  background: $white;
  border: .1em solid $grayLighter;
  height: 2.1em;
  position: fixed;
  left: -.1em;
  right: -.1em;
  top: .5em;
  z-index: 5;

  .barbutton {
    &:hover {
      @include box-shadow(inset 0 1px 3px hsla(0, 0%, 0%, .1));
    }

    &:active {
      @include box-shadow(inset 0 2px 3px hsla(0, 0%, 0%, .1));
    }
  }

  .inner {
    max-width: grid(12);
    margin: 0 auto;
    & > * {
      padding: .3em;
    }
  }

  .tinyman {
    border-left: 1px solid $grayLighter;
    display: inline-block;
    font-family: $sansFontFamily;
  }
}


//MAIN CONTENT///////
.content {
  margin: 0 auto;
  padding: 1em;
  padding-top: 3.5em;

  .domain .favicon {
    margin: 0 .5em;
  }

  .page {
    margin-bottom: 1em;

    a {
      font-weight: bold;
    }
  }
}


//ANNOTATION////////////////////////////////
//This is for everything that is formatted as an annotation.
.annotation {
  @include pie-clearfix;
  font-family: $sansFontFamily;
  position: relative;

  .user {
    text-decoration: underline;
  }

  .body {
    div {
      clear: both;
      margin: .25em 0;
      #{elements-of-type(inline)}, #{headings()}, p, li {
        @include force-wrap;
      }

      ol, ul {
        padding-left: 1.25em;
      }

      ol {
        list-style-type: decimal;
      }

      ul {
        list-style-type: disc;
      }
    }

    textarea {
      min-height: 8em;
      width: 100%;
    }
  }

  .buttonbar {
    @include pie-clearfix;
    margin: .25em 0;

    .btn {
      margin-right: .5em;
    }
  }

  .tip {
    @extend .small;
    float: right;
  }
  
  .quote {
    font-style: italic
  }
}


//THREADING////////////////////////////////
//Threaded discussion specific
.thread {
  position: relative;

  & > ul {
    @include single-transition(max-height, .4s, cubic-bezier(1, 0, 1, 0));
    max-height: 65536px;
    #overflow: hidden;

    padding-left: $thread-padding;
    margin-left: -$thread-padding;

    &:hover {
      overflow: visible;
    }

    & > * {
      border-left: 1px dotted $grayLight;
      position: relative;

      &:first-child {
        margin-top: .5em;
      }
    }
  }

  .thread {
    height: 100%;
    padding-left: $thread-padding;
  }

  .threadexp {
    height: $threadexp-width;
    width: $threadexp-width;
    position: absolute;
    top: $threadexp-width / 2;
    left: -($threadexp-width / 2);
    outline: 1px dotted #aaa;
    @include icon("minus_1.png");
  }

  .annotation {
    &.squished {
      padding-left: 0;
    }
  }

  //These are all the changes needed to collapse thread objects.
  .collapsed {
    & > .annotation {
      .body * {
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 0;
      }

      .user {
        display: run-in;
        margin-right: .25em;
      }
    }

    & > ul {
      @include single-transition(max-height, .4s, cubic-bezier(0, 1, 0, 1));
      max-height: 0;
      display: none;
    }

    & > .threadexp {
      background-image: url("../images/plus_1.png");
    }
  }
}



//MAGICONTROLS////////////////////////////////
.magicontrols {
  & > * {
    display: inline-block;
    padding-right: .8em;
  }

  &.pull-right {
    text-align: right;

    & > * {
      padding-left: .8em;
      padding-right: 0;
    }
  }

  & > .show {
    @include transition(opacity);
    @include transition-delay(.15s);
    @include transition-duration(1.05s);
    opacity: 0;

    &.open, :hover > & {
      @include transition-duration(.15s);
      opacity: 1;
    }
  }
}

.share-dialog {
   display: none;
  .icon-input {
    position: relative;
    .share-text {
      width: 100%;
    }
  }
}

//SUMMARY////////////////////////////////
//This is specific to the summary view.
.summary {
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;

  &:hover {
    @include smallshadow(2px, 3px, .1);
    bottom: 1px;
  }

  &:active {
    @include smallshadow(2px, 1px, .1);
    bottom: 0;
  }

  // Things not shown in the summary view
  .magicontrols .show {
    display: none;
  }
}



/*
    Mobile layout
    240-479 px
    Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .content { padding: 3em 1em; }
}

/*
    Wide mobile layout
    480-767 px
    Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
}

/*
    Tablet layout
    600-911 px
    Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  .content { padding: 6em; }
}

/*
    Widescreen layout
    912-1887 px
    Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
  .content {
    max-width: grid(12);
    margin: auto;
  }
}

/*
    Huge-screen layout
    1888-2520 px
    Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
