@import 'compass/typography/text/force-wrap';

@import 'reset';
@import 'base';
@import 'responsive';
@import 'yui_grid';


$sansFontFamily: "Source Sans Pro", $sansFontFamily;
$serifFontFamily: "Merriweather", $serifFontFamily;
$headingsColor: $textColor;


//ELEMENT STYLES////////////////////////////////
a {
  color: $linkColor;
  &:hover { color: $linkColorHover; }
  text-decoration: none;
}

body {
  background-color: $bodyBackground;
  color: $textColor;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

p {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;

  & + p {
    margin: 2em 0 0;
  }
}

em { font-style: italic; }

html {
  font-size: $baseFontSize / 16px * 1em;
  line-height: $baseLineHeight / 16px * 1em;

  @include yui_grid();

  @include respond-to(handhelds) {
    @include yui_grid('h-');
  }

  @include respond-to(wide-handhelds) {
    @include yui_grid('wh-');
  }

  @include respond-to(tablets) {
    @include yui_grid('t-');
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sansFontFamily;
  color: $headingsColor;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .75em 0;
}

h3 {
  font-size: 1.17em;
  margin: .83em 0;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}

input, textarea {
  @include plainform;
}

select {
  @include plainform;
  padding: 0;
  text-decoration: underline;
  border: 0;
  &:focus {
    border: 0;
  }
}

label {
  @extend .visuallyhidden;
}



//MCRANDOM////////////////////////////////
button, input[type=submit], .btn {
  @include sweetbutton;
}

.alert-block {
  span.errorMsgLbl { @extend .visuallyhidden; }
  span.errorMsg { @extend .visuallyhidden; }
}

.inline-block {
  display: inline-block
}

.small {
  font-size: .8em;
}

.icon-hidden {
  &:before {
    color: transparent;
  }
  &:after {
    color: transparent;
  }
}

//Candidate for cleanup
.btn-link {
  @include box-shadow(none);
  @include reset-box-model;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: $linkColor;
  position: static;
  &:hover { color: $linkColorHover; }
}

.red {
  color: $hypothered;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


//FLASH/TOAST/ALERTS///////////////////////////////
.toast, .annotator-notice {
  @include border-radius(0.1em);
  @include smallshadow;
  @include single-transition(opacity, .2s);
  padding: 0.3em;
  font-family: $sansFontFamily;
  border: solid 1px;
  bottom: 18%;
  left: 50%;
  margin-left: -15%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  text-align: center;
  width: 30%;
  z-index: 2000;

  &.show, &.annotator-notice-show {
    opacity: .8;
    pointer-events: initial;
  }
}

.info, .annotator-notice-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #98BED1;
}

.success, .annotator-notice-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #8DC98E;
}

.error, .annotator-notice-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #F5A1A0;
}


//CLOSER////////////////////////////////
.close {
  @extend .x-icon;
  float: right;
  width: 1em;
  height: 1em;
  opacity: .2;

  &:hover {
    cursor: pointer;
    opacity: .4;
  }
}



//FORM RELATED////////////////////////////////
.form-horizontal {
  display: inline-block;
  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
  select, textarea, input, button {
    margin: .5em 0;
  }
}

.form-inline .control-group { margin-bottom: 0; }

.form-vertical {
  select, textarea, input, button {
    display: block;
    margin-top: .75em;
  }
}

.req {
  display: none;
}

.slow-validate {
  display: block;
  font-family: $sansFontFamily;
  max-height: 0;
  overflow: hidden;

  &.slow-validate-show {
    @include transition(max-height .25s ease-in 2s);
    max-height: 10em;
  }
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}



//EXCERPT////////////////////////////////
.excerpt {
  position: relative;
  blockquote {
    margin-bottom: 0;
  }
  .more, .less {
    font-size: .9em;
    font-family: $sansFontFamily;
    display: block;
    text-align: right;
  }
}

blockquote {
  color: $gray;
  font-family: $serifFontFamily;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0 1em;

  &:before, &:after {
    color: $grayLighter;
    font-family: "icomoon";
    position: absolute;
  }

  &:before {
    content: "\23";
    font-size: 6em;
    top: -.36em;
    left: -.31em;
  }

  &:after {
    content: "\24";
    font-size: 5em;
    right: -.31em;
    bottom: -.27em;
  }
}



//DROPDOWNS////////////////////////////////
.dropdown {
  position: relative;
  span {
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

.dropdown-toggle {
  @include fonticon("\002f", right, 0);
  cursor: pointer;
  padding: .5em;

  &:active {
    outline: 0;
  }
}

.dropdown-menu {
  @include rotateX(90deg);
  background: $white;
  border: solid 1px $grayLighter;
  margin-top: .8em;
  top: 100%;
  float: left;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;

  li {
    cursor: pointer;
    line-height: 1;
    text-align: left;
    padding: .5em;
    white-space: nowrap;

    &:hover {
      color: black;
    }

    &.selected {
      color: black;
      font-weight: 600;
      line-height: 1;
      &:before {
        font-size: .7em;
      }
    }
    &.inactive {
      font-weight: 400;
      color: $grayLighter;
      cursor: default;
      &:hover {
        color: $grayLighter;
      }
      & * {
        cursor: default;
      }
    }

    & + li {
      border-top: dotted 1px $grayLighter;
    }
  }

  a {
    color: inherit;
  }

  // These psuedo-elements add the speech bubble tail / triangle.
  &:before, &:after {
    // http://www.red-team-design.com/css-diagonal-borders-still-not-rendering-properly-on-firefox
    @include scale(.9999);
    border-color: rgba(0, 0, 0, 0);

    border-style: solid;
    border-width: 0 7px 6px 7px;
    content: '';
    position: absolute;
    height: 0;
    left: 5px;
    width: 0;
  }

  &:before {
    border-bottom-color: $grayLighter;
    top: -7px;
  }

  &:after {
    border-bottom-color: $white;
    top: -6px;
    z-index: 3;
  }

  // Aligns the dropdown menu to right
  &.pull-right {
    right: 0;
    left: auto;
    text-align: right;

    // Align the tail
    &:before, &:after {
      left: auto;
      right: 5px;
    }
  }
}

.open {
  & > .dropdown-menu {
    @include smallshadow;
    @include rotateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}



//ICON CLASSES////////////////////////////////
.flag-icon {
  @include fonticon("\28", left);
}

.fave-icon {
  @include fonticon("\e006", left);
  &.checked:before {
    content: "\e005";
  }
}

.reply-icon {
  @include fonticon("\e004", left);
}

.share-icon {
  @include fonticon("\25", left);
}

.down-icon {
  @include fonticon("\e007", left);
}

.clipboard-icon {
  @include fonticon("\33", left);
}

.check-icon {
  @include fonticon("\35", left);
}

.x-icon {
  @include fonticon("\36", left);
}

.vis-icon {
  @include fonticon("\e001", left);
}

.launch-icon {
  @include fonticon("\2a", left);
}



//VISIBILITY
.visibility {
  .dropdown-toggle {
    @include fonticon("\3c", right);
  }
  li {
    @include fonticon("\35", right);
    &:after {
      opacity: 0;
    }
    &.selected {
      &:after {
        opacity: 1;
      }
    }
  }
  .vis-public {
    border-bottom: 1px solid $grayLighter;
    margin: .4em 0 0;
    padding: 0 .5em 0;
  }
}


//TABS////////////////////////////////
.nav-tabs {
  @include pie-clearfix;
  margin: 0 .2em;

  a {
    font-family: $sansFontFamily;
    color: $grayDark;
  }

  & > li {
    @include box-shadow(inset 2px -10px 13px -8px hsla(0, 0%, 0%, .1));
    background: darken($white, 2%);
    border-top-right-radius: 2em 5em;
    border-top-left-radius: 2em 5em;
    border: .1em solid $grayLighter;
    border-bottom: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    margin-right: -.5em;
    padding: .25em 1em .5em;
    position: relative;

    &:hover {
      background: $white;
    }

    &.active, &:active {
      @include box-shadow(none);
      background: $white;
      color: #333;
    }

    &.active {
      z-index: 1;
    }
  }
}

.tab-content {
  @include border-radius(.1em);
  background: $white;
  border: solid .1em $grayLighter;
  margin-top: -.1em;
  padding: 1em;
  position: relative;

  .tab-pane {
    display: none;
    &.active {
      display: inherit !important;
    }
  }
}


//NOISE///////////
//Provides the noise background
.noise {
  background: url("../images/noise_1.png");
}


//KNOCKOUT///////////
//Provides a knockout background
.knockout {
  @include border-radius(.5em);
  @include pie-clearfix;
  @include box-shadow(inset 1px 1px 3px hsla(0, 0%, 0%, .1));
  padding: 1em;
}


//PAPER////////////////////////////////
//Provides the white background upon which items sit
.paper {
  @include border-radius(2px);
  @include smallshadow(0, 2px);
  background: $white;
  border: solid 1px $grayLighter;
  padding: 1em;
}


//TOOL BAR////////////////////////////////
.topbar {
  @include smallshadow;
  background: $white;
  border: solid 1px $grayLighter;
  height: 2em;
  position: fixed;
  left: -1px;
  right: -1px;
  top: .5em;
  z-index: 5;

  .barbutton {
    &:hover {
      @include box-shadow(inset 0 1px 3px hsla(0, 0%, 0%, .1));
    }

    &:active {
      @include box-shadow(inset 0 2px 3px hsla(0, 0%, 0%, .1));
    }
  }

  .inner > * {
    padding: .3em;

    &.pull-right {
      border-left: 1px solid $grayLighter;
      display: inline-block;
      font-family: $sansFontFamily;
    }
  }
}


//MAIN CONTENT///////
.content {
  margin: 0 auto;
  padding: 1em;
  padding-top: 3.5em;

  .domain .favicon {
    margin: 0 .5em;
  }

  .page {
    margin-bottom: 1em;

    a {
      font-weight: bold;
    }
  }
}


//ANNOTATION////////////////////////////////
//This is for everything that is formatted as an annotation.
.annotation {
  @include pie-clearfix;
  font-family: $sansFontFamily;
  position: relative;

  .user {
    font-weight: bold;
    font-size: 1.1em;
  }

  .body {
    div {
      clear: both;
      margin: .25em 0;
      #{elements-of-type(inline)}, #{headings()}, p, li {
        @include force-wrap;
      }

      ol, ul {
        padding-left: 1.25em;
      }

      ol {
        list-style-type: decimal;
      }

      ul {
        list-style-type: disc;
      }
    }

    textarea {
      min-height: 8em;
      width: 100%;
    }
  }

  .buttonbar {
    @include pie-clearfix;
    margin: .25em 0;

    .btn {
      margin-right: .5em;
    }
  }

  .tip {
    @extend .small;
    float: right;
  }
  
  .quote {
    font-style: italic
  }
}


//THREADING////////////////////////////////
//Threaded discussion specific
.thread {
  position: relative;

  & > ul {
    padding-left: $thread-padding;
    margin-left: -$thread-padding;

    & > * {
      border-left: 1px dotted $grayLight;
      position: relative;

      &:first-child {
        margin-top: .5em;
      }
    }
  }

  .thread {
    height: 100%;
    padding-left: $thread-padding;
  }

  .threadexp {
    height: $threadexp-width;
    width: $threadexp-width;
    position: absolute;
    top: $threadexp-width / 2;
    left: -($threadexp-width / 2);
    outline: 1px solid #aaa;
    @include icon("minus_1.png");
  }

  .annotation {
    &.squished {
      padding-left: 0;
    }
  }

  .search-collapsed {
    background-image: url("../images/plus_1.png");
  }

  //These are all the changes needed to collapse thread objects.
  .collapsed {
    display: block !important;

    & > ul {
      max-height: 0;
      overflow: hidden;
    }

    & > .annotation {
      .body * {
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 0.95em;
        opacity: 0.8;
      }

      .user {
        display: run-in;
        margin-right: .25em;
      }
    }

    & > .threadexp {
      background-image: url("../images/plus_1.png");
    }
  }

  &.collapse-hide-setup > ul {
    @include transition-timing-function(cubic-bezier(0, 1, 0, 1));
    max-height: 65536px;
    overflow: hidden;
  }

  &.collapse-hide-start > ul {
    max-height: 0;
  }

  &.collapse-show-setup > ul {
    @include transition-timing-function(cubic-bezier(1, 0, 1, 0));
    max-height: 0;
    overflow: hidden;
  }

  &.collapse-show-start > ul {
    max-height: 65536px;
  }
}



//MAGICONTROLS////////////////////////////////
.magicontrols {
  & > * {
    display: inline-block;
    padding-right: .8em;
  }

  &.pull-right {
    text-align: right;

    & > * {
      padding-left: .8em;
      padding-right: 0;
    }
  }

  & > .show {
    @include transition(opacity);
    @include transition-duration(.15s);
    opacity: 0;

    &.open, :hover > & {
      @include transition-duration(.15s);
      opacity: 1;
    }
  }
}

.share-dialog {
   display: none;
  .icon-input {
    position: relative;
    .go-icon {
      position: absolute;
      top: 0.33em;
    }
    .share-div {
      margin-left: 1.5em;
      .share-text {
        width: 100%;
      }
    }
  }
}

//SUMMARY////////////////////////////////
//This is specific to the summary view.
.summary {
  position: relative;
  cursor: pointer;

  &:hover {
    @include smallshadow(2px, 3px, .1);
    bottom: 1px;
  }

  &:active {
    @include smallshadow(2px, 1px, .1);
    bottom: 0;
  }
}

//STREAMER////////////////////////////////
//This is specific to the streamer page
.main-content {
  margin:0;
}

.knockout {
  .center {
    text-align: center;
  }
}

.button_controls {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.stream-list {
  margin-bottom: .75em; 
}


.filter-body {
 overflow: visible;
 padding-bottom: 1.5em;
}

.side-bar-right {
    width: 15em;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.side-bar-left {
    width: 30em;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

@mixin sidebar_animation {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  overflow-y:hidden;
}

.sidebar_anim_show_left-setup {
  @include sidebar_animation;
  opacity: 0;
  width: 0em;
}

.sidebar_anim_show_left-setup.sidebar_anim_show_left-start {
  opacity: 1;
  width: 30em;
}

.sidebar_anim_show_right-setup {
  @include sidebar_animation;
  opacity: 0;
  width: 0em;
}

.sidebar_anim_show_right-setup.sidebar_anim_show_right-start {
  opacity: 1;
  width: 15em;
}
.sidebar_anim_hide_right-setup {
  @include sidebar_animation;
  opacity: 1;
  width: 15em;
}

.sidebar_anim_hide_right-setup.sidebar_anim_hide_right-start {
  opacity: 0;
  width: 0em;
}

.sidebar_anim_hide_left-setup {
  @include sidebar_animation;
  opacity: 1;
  width: 30em;
}

.sidebar_anim_hide_left-setup.sidebar_anim_hide_left-start {
  opacity: 0;
  width: 0em;
}

.searchbar-border {
  height: auto;
  padding-bottom: 2em;
}

.searchbar-error {
  color: red;
}

.menu-width {
  width: 20em;
  white-space: pre-line;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.sidebar-content {
  padding-top: 4em;
  overflow-x:hidden;
  overflow-y:hidden;
}

.annotation-header-border {
  padding: 0.5em;
  overflow: hidden;
}

.annotation-header-width {
  padding: 0.2em;
  overflow: hidden;
}

.annotation-header-favicon {
  width: 1em;
  vertical-align: middle;
}

.searchbar {
  margin-top: 8em;
}

.searchinput {
  width: 79%;
}

.searchbutton {
  width: 19%
}

.searchfield {
  width: 100%
}

.small-padding {
  padding-top: 1em;
  padding-bottom: 1em;
}

//A grid of cards
.card-grid {
  position: relative;
  margin: 0 -1em;
  & > * {
    padding: 1em;
    margin: -1em 0;
  }
}

// Tags for the annotations
.tags {
  @include pie-clearfix;
  @include reset-box-model;
  @include reset-font;
  background: none;
  clear: both;
  margin-top: .2em;
  margin-bottom: .5em;

  .tagit-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px;
    line-height: 17px;
  }

  .text-icon { display: none; }

  input { float: left; }

  li {
    display: block;
    float: left;
    margin: .1em;
    padding: .1em 1.2em .1em .3em;
    position: relative;

    & + li { margin-left: .1em; }
  }

  &[readonly] {
    input, .tagit-close { display: none; }
    li { padding-right: .3em; }
  }
}

// Only show one line of tags in bucket view
.summary .tags {
  height: 2.0em;
  overflow: hidden;
}

// Specific rules for tags on the displayer page
.gray-tags .tags {
  // Make tags white (on gray bg)
  li { background: white; }

  // Don't show the stub of the editor
  li.tagit-new { display: none; }
}

h3.tagstream, h3.userstream {
  letter-spacing: normal;
  word-spacing: normal;
  margin-top: 0;
}

//Visual Search////////////////////////////////
//Imported their css here

.collapsed-container {
  height: 1em;
  visibility: hidden;
}

.small-inner {
  margin:0px 0.5em 0px 1em;
}

.search-container {
  width: auto;
  float: none;
  overflow: hidden;
}

.visual_container {
  margin-left: 3em;
}

.visual_search {
}

.magnify-glass {
  width: 2.25em;
}

.VS-search .VS-icon {
  background-repeat:no-repeat;
  background-position:center center;
  vertical-align:middle;
  width:16px;
  height:16px
}

.VS-search .VS-icon-cancel {
  width:11px;
  height:11px;
  background-position:center 0;
  background-image:url(../images/cancel_search.png?1311104738);
  cursor:pointer
}

.VS-search .VS-icon-cancel:hover {
  background-position:center -11px
}

.VS-search .VS-icon-search {
  width:12px;
  height:12px;
  background-image:url(../images/search_glyph.png?1311104738)
}

.VS-search div, .VS-search span, .VS-search a,.VS-search img,
.VS-search ul,.VS-search li,.VS-search form,.VS-search label,.VS-interface ul,
.VS-interface li,.VS-interface {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-weight:inherit;
  font-style:inherit;
  font-size:100%;
  font-family:inherit;
  vertical-align:baseline
}

.VS-search :focus {
  outline:0
}

.VS-search {
  line-height:1;
  color:black
}

.VS-search ol,.VS-search ul{
  list-style:none
}

.VS-search{
  font-family:Arial,sans-serif;
  color:#373737;
  font-size:12px
}

.VS-search input{
  display:block;
  border:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  outline:none;
  margin:0;
  padding:4px;
  background:transparent;
  font-size:16px;
  line-height:20px;
  width:100%
}

.VS-interface,.VS-search .dialog,.VS-search input{
  font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif!important;
  line-height:1.1em
}

.VS-search .VS-search-box {
  cursor:text;
  position:relative;
  background:transparent;
  border:2px solid #ccc;
  border-radius:16px;
  -webkit-border-radius:16px;
  -moz-border-radius:16px;
  background-color:#fafafa;
  -webkit-box-shadow:inset 0 0 3px #ccc;
  -moz-box-shadow:inset 0 0 3px #ccc;
  box-shadow:inset 0 0 3px #ccc;
  min-height:28px;
  height:1em;
  //height:auto;
}

.VS-search .VS-placeholder {
  position:absolute;
  top:7px;
  left:4px;
  margin:0 20px 0 22px;
  color:#808080;
  font-size:14px
}

.VS-search .VS-search-box.VS-focus .VS-placeholder,
.VS-search .VS-search-box .VS-placeholder.VS-hidden {
  display:none
}

.VS-search .VS-search-inner{
  position:relative;
  margin:0 20px 0 22px;
  overflow:hidden
}

.VS-search input{
  width:100px
}

.VS-search input,.VS-search .VS-input-width-tester {
  padding:6px 0;
  float:left;
  color:#808080;
  font:13px/17px Helvetica,Arial;
  box-sizing: content-box;
}

.VS-search.VS-focus input{
  color:#606060
}

.VS-search .VS-icon-search{
  position:absolute;
  left:9px;
  top:8px
}

.VS-search .VS-icon-cancel{
  position:absolute;
  right:9px;
  top:8px
}

.VS-search .search_facet {
  float:left;
  margin:0;
  padding:0 0 0 14px;
  position:relative;
  border:1px solid transparent;
  height:20px;margin:3px -3px 3px 0
}

.VS-search .search_facet.is_selected {
  margin-left:-3px;
  -webkit-border-radius:16px;
  -moz-border-radius:16px;
  border-radius:16px;
  background-color:#d2e6fd;
  background-image:-moz-linear-gradient(top,#d2e6fd,#b0d1f9);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#d2e6fd),to(#b0d1f9));
  background-image:linear-gradient(top,#d2e6fd,#b0d1f9);
  border:1px solid #6eadf5
}

.VS-search .search_facet .category{
  float:left;
  text-transform:uppercase;
  font-weight:bold;
  font-size:10px;
  color:#808080;
  padding:8px 0 5px;
  line-height:13px;
  cursor:pointer;
  padding:4px 0 0
}

.VS-search .search_facet.is_selected .category{
  margin-left:3px
}

.VS-search .search_facet .search_facet_input_container{
  float:left
}

.VS-search .search_facet input{
  margin:0;
  padding:0;
  color:#000;
  font-size:13px;
  line-height:16px;
  padding:5px 0 5px 4px;
  height:16px;
  width:auto;
  z-index:100;
  position:relative;
  padding-top:1px;
  padding-bottom:2px;
  padding-right:3px
}

.VS-search .search_facet.is_editing input,.VS-search .search_facet.is_selected input{
  color:#000
}

.VS-search .search_facet .search_facet_remove{
  position:absolute;
  left:0;
  top:4px
}

.VS-search .search_facet.is_selected .search_facet_remove{
  opacity:.4;
  left:3px;
  filter:alpha(opacity=40);
  background-position:center -11px
}

.VS-search .search_facet .search_facet_remove:hover{
  opacity:1
}

.VS-search .search_facet.is_editing .category,
.VS-search .search_facet.is_selected .category{
  color:#000
}

.VS-search .search_facet.search_facet_maybe_delete .category,
.VS-search .search_facet.search_facet_maybe_delete input{
  color:darkred
}

.VS-search .search_input{
  height:28px;
  float:left;
  margin-left:-1px
}

.VS-search .search_input input{
  padding:6px 3px 6px 2px;
  line-height:10px;
  height:22px;
  margin-top:-4px;
  width:10px;
  //width: 15em;
  z-index:100;
  min-width:4px;
  position:relative
}

.VS-search .search_input.is_editing input{
  color:#202020
}

.ui-helper-hidden-accessible{
  display:none
}

.VS-interface.ui-autocomplete{
  position:absolute;
  border:1px solid #c0c0c0;
  border-top:1px solid #d9d9d9;
  background-color:#f6f6f6;
  cursor:pointer;
  z-index:10000;
  padding:0;
  margin:0;
  width:auto;
  min-width:80px;
  max-width:220px;
  max-height:240px;
  overflow-y:auto;
  overflow-x:hidden;
  font-size:13px;
  top:5px;
  opacity:.97;
  box-shadow:3px 4px 5px -2px rgba(0,0,0,0.5);
  -webkit-box-shadow:3px 4px 5px -2px rgba(0,0,0,0.5);
  -moz-box-shadow:3px 4px 5px -2px rgba(0,0,0,0.5)
}

.VS-interface.ui-autocomplete .ui-autocomplete-category{
  text-transform:capitalize;
  font-size:11px;
  padding:4px 4px 4px;
  border-top:1px solid #a2a2a2;
  border-bottom:1px solid #a2a2a2;
  background-color:#b7b7b7;
  text-shadow:0 -1px 0 #999;
  font-weight:bold;
  color:white;
  cursor:default
}

.VS-interface.ui-autocomplete .ui-menu-item{
  float:none
}

.VS-interface.ui-autocomplete .ui-menu-item a{
  color:#000;
  outline:none;
  display:block;
  padding:3px 4px 5px;
  border-radius:none;
  line-height:1;
  background-color:#f8f8f8;
  background-image:-moz-linear-gradient(top,#f8f8f8,#f3f3f3);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f3f3f3));
  background-image:linear-gradient(top,#f8f8f8,#f3f3f3);
  border-top:1px solid #fafafa;
  border-bottom:1px solid #f0f0f0
}

.VS-interface.ui-autocomplete .ui-menu-item a:active{
  outline:none
}

.VS-interface.ui-autocomplete .ui-menu-item .ui-state-hover,
.VS-interface.ui-autocomplete .ui-menu-item .ui-state-focus{
  background-color:#6483f7;
  background-image:-moz-linear-gradient(top,#648bf5,#2465f3);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#648bf5),to(#2465f3));
  background-image:linear-gradient(top,#648bf5,#2465f3);
  border-top:1px solid #5b83ec;
  border-bottom:1px solid #1459e9;
  border-left:none;
  border-right:none;
  color:white;margin:0
}

.VS-interface.ui-autocomplete .ui-corner-all{
  border-radius:0
}

.VS-interface.ui-autocomplete li{
  list-style:none;
  width:auto
}

////////////datauri.css////////////////////

.VS-search .VS-search-box.VS-focus{
  border-color:#acf;
  -webkit-box-shadow:inset 0 0 3px #acf;
  -moz-box-shadow:inset 0 0 3px #acf;
  box-shadow:inset 0 0 3px #acf
}

.VS-search .VS-placeholder{
  position:absolute;
  top:7px;
  left:4px;
  margin:0 20px 0 22px;
  color:#808080;
  font-size:14px
}
