@import "compass/typography/text/force-wrap";

@import "reset";
@import 'base';

$sansFontFamily: "Source Sans Pro", $sansFontFamily;
$serifFontFamily: "Merriweather", $serifFontFamily;


//ELEMENT STYLES////////////////////////////////
a {
  color: $linkColor;
  &:hover { color: $linkColorHover; }
}

body {
  background-color: $bodyBackground;
  color: $textColor;
  font-smoothing: antialiased;
  line-height: 1.4;
}

p {
  margin: 0 0 2em 0;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;

  &:last-child {
    margin-bottom: 0;
  }
}

em { font-style: italic; }

html {
  font-size: $baseFontSize / 16 * 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sansFontFamily;
  margin: 0 0 .4em;
  padding: 0 0 .1em;
  color: $gray;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
  margin: 0;
}

h4 {
  font-size: 1.25em;
  margin: 0 0 .1em;
}

h5, h6 {
  font-size: 1em;
  margin: 0 0 .1em;
}

input, textarea {
  @include plainform;
}

select {
  @include plainform;
  padding: 0;
  text-decoration: underline;
  border: 0;
  &:focus {
    border: 0;
  }
}

label {
  @extend .visuallyhidden;
}



//MCRANDOM////////////////////////////////
button, input[type=submit], .btn {
  @include sweetbutton;
}

.alert-block {
  span.errorMsgLbl { @extend .visuallyhidden; }
  span.errorMsg { @extend .visuallyhidden; }
}

.inline-block {
  display: inline-block
}

.tertiarytext {
  @include tertiarytext;
}

//May very well be useless- checkit
.icon-hidden {
  &:before {
    color: transparent;
  }
  &:after {
    color: transparent;
  }
}

//Candidate for cleanup
.btn-link {
  @include box-shadow(none);
  @include reset-box-model;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: $linkColor;
  position: static;
  &:hover { color: $linkColorHover; }
}

.red {
  color: $hypothered;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


//FLASH/TOAST/ALERTS///////////////////////////////
.toast, .annotator-notice {
  @include border-radius(.5em);
  @include smallshadow;
  @include single-transition(opacity, .2s);
  border: solid thin;
  left: 50%;
  margin-left: -15%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  text-align: center;
  top: .25em;
  width: 30%;
  z-index: 2000;

  &.show, &.annotator-notice-show {
    opacity: .8;
    pointer-events: initial;
  }
}

.info, .annotator-notice-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #98BED1;
}

.success, .annotator-notice-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #8DC98E;
}

.error, .annotator-notice-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #F5A1A0;
}


//CLOSER////////////////////////////////
//Make sure this shouldn't have icon font- checkit
.close {
  float: right;
  @include icon("delete_1.png");
  width: 1em;
  height: 1em;
  opacity: .2;

  &:hover {
    cursor: pointer;
    opacity: .4;
  }
}



//FORM RELATED////////////////////////////////
.form-horizontal {
  display: inline-block;
  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
  select, textarea, input, button {
    margin: .5em 0;
  }
}

.form-inline .control-group { margin-bottom: 0; }

.form-vertical {
  select, textarea, input, button {
    display: block;
    margin-top: .75em;
  }
}

input.ng-invalid.ng-dirty {
  border-color: lighten($red, 35%);
}

.req {
  display: none;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}



//ICON CLASSES////////////////////////////////
.flag-icon {
  @include fonticon("\28", left);
}

.fave-icon {
  @include fonticon("\e006", left);
  &.checked:before {
    content: "\e005";
  }
}

.reply-icon {
  @include fonticon("\e004", left);
}

.share-icon {
  @include fonticon("\25", left);
}

.down-icon {
  @include fonticon("\e007", left);
}

.clipboard-icon {
  @include fonticon("\33", left);
}

.check-icon {
  @include fonticon("\35", left);
}

.x-icon {
  @include fonticon("\36", left);
}

.vis-icon {
  @include fonticon("\34", left);
}

//EXCERPT////////////////////////////////
.excerpt {
  position: relative;
  margin-bottom: 1em;
  blockquote {
    margin-bottom: 0;
  }
  .more, .less {
    font-size: .9em;
    font-family: $sansFontFamily;
    display: block;
    text-align: right;
  }
}

blockquote {
  color: $gray;
  font-family: "Merriweather";
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0 1em;

  &:before {
    color: rgba(150, 150, 150, .5);
    content: "\23";
    font-family: "icomoon";
    font-size: 6em;
    position: absolute;
    top: -.2em;
    left: -.15em;
  }

  &:after {
    color: rgba(150, 150, 150, .5);
    content: "\24";
    font-family: "icomoon";
    font-size: 5em;
    position: absolute;
    right: -.15em;
    bottom: -.1em;
  }
}



//DROPDOWNS////////////////////////////////
.dropdown {
  position: relative;
  span {
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

.dropdown-toggle {
  background-color: white;
  cursor: pointer;
  &:active {
    outline: 0;
  }
  &:hover {
    color: black;
  }
}

.dropdown-menu {
  @include rotateX(90deg);
  // @include smallshadow;
  background: $white;
  border: solid 1px $grayLighter;
  left: 0;
  top: 2em;
  float: left;
  opacity: 0;
  pointer-events: none;
  position: absolute;

  li {
    line-height: 1;
    margin: .4em .5em 0;
    padding-bottom: .1em;
    border-bottom: dotted 1px $grayLighter;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      color: black;
    }

    &.selected {
      color: black;
      font-weight: 600;
      line-height: 1;
      &:before {
        font-size: .7em;
        
      }
    }
    &.inactive {
      font-weight: 400;
      color: $grayLighter;
      cursor: default;
      &:hover {
        color: $grayLighter;
      }
      & * {
        cursor: default;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  // Aligns the dropdown menu to right
  &.pull-right {
    right: -1px;
    left: auto;
    text-align: right;
  }
}

.open {
  & > .dropdown-menu {
    @include rotateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}



//VISIBILITY
.visibility {
  .dropdown-toggle {
    @include fonticon("\3c", right);
  }
  li {
    @include fonticon("\35", right);
    &:after {
      opacity: 0;
    }
    &.selected {
      &:after {
        opacity: 1;
      }
    }
  }
  .vis-public {
    border-bottom: 1px solid $grayLighter;
    margin: .4em 0 0;
    padding: 0 .5em 0;
  }
}


//TABS////////////////////////////////
.nav-tabs {
  @include pie-clearfix;
  margin: 0 .5em;

  & > li > a {
    cursor: pointer;
    float: left;
    line-height: 1;
    padding: .5em 1em;
    padding-top: .25em;
    margin-right: -.5em;
    margin-bottom: 0px;
    position: relative;
    text-decoration: none;
    @include tabbox;
  }

  & > .active > a {
    @include box-shadow(none);
    color: #333;
    font-weight: bold;
    background: hsla(0, 0%, 100%, 1);
    z-index: 90;
  }
}

.tab-pane {
  background: $bodyBackground;
  border: solid thin $grayLighter;
  display: none;
  margin-top: -1px;  // Pull up and under tabs
  padding: 1em;
  position: relative;

  &.active {
    display: inherit !important;
  }

//What is this- checkit
  footer > ul {
    text-align: right;
  }
}




//PAPER////////////////////////////////
//Provides the white background upon which items sit
.paper {
  @include border-radius(.2em);
  @include smallshadow;
  background: #fff;
  padding: 1em;
}


//Really checkit
//ANNOTATION////////////////////////////////
//This is for everything that is formatted as an annotation.
.annotation {
  position: relative;

  div.body {
    @include force-wrap;
  }

  textarea.body {
    min-height: 8em;
    width: 100%;
  }

  .user {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: .25em;
  }

  .time {
    @include tertiarytext;
  }

  .bottombar {
    @include pie-clearfix;
    margin: .25em 0;

    .btn {
      margin-right: .5em;
    }
  }

  .tip {
    @include tertiarytext;
    float: right;
  }
}


//THREADING////////////////////////////////
//Threaded discussion specific
.thread {
  position: relative;

  & > ul {
    @include single-transition(max-height, .4s, cubic-bezier(1, 0, 1, 0));
    max-height: 65536px;
    overflow: hidden;

    padding-left: $thread-padding;
    margin-left: -$thread-padding;

    & > * {
      border-left: 1px dotted $grayLight;
      position: relative;
    }
  }

  .thread {
    height: 100%;
    padding-left: $thread-padding;
  }

  .threadexp {
    height: $threadexp-width;
    width: $threadexp-width;
    position: absolute;
    top: .8em;
    left: -($threadexp-width / 2);
    outline: 1px dotted #aaa;
    @include icon("minus_1.png");
  }

  .reply-count {
    @include tertiarytext;
  }

  .annotation {
    padding-top: .35em;
    &.squished {
      padding-left: 0;
    }
  }

  //These are all the changes needed to collapse thread objects.
  .collapsed {
    & > .annotation {
      .body {
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 0;
      }

      .user {
        display: run-in;
        margin-right: .25em;
      }
    }

    & > ul {
      @include single-transition(max-height, .4s, cubic-bezier(0, 1, 0, 1));
      max-height: 0;
    }

    & > .threadexp {
      background-image: url("../images/plus_1.png");
    }
  }
}



//MAGICONTROLS////////////////////////////////
.magicontrols {
  background-color: $bodyBackground;
  float: right;

  & > * {
    @include transition(
      opacity 0.1s ease-in-out .25s,
      font-size .1s ease-in-out .25s,
      margin .1s ease-in-out .25s,
      opacity .1s ease-in-out .25s
    );
    @include tertiarytext;
    float: left;
    margin-left: .5em;
  }

  .show {
    font-size: 0;
    opacity: 0;
  }

  .detail:hover & {
    & > * {
      font-size: 1em;
    }

    .show {
      opacity: 1;
    }

    .time {
      opacity: 0;
      text-size: 0;
    }
  }
}



//SUMMARY////////////////////////////////
//This is specific to the summary view.
.summary {
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;

  &:hover {
    @include smallshadow(2px, 3px, .1);
    bottom: 1px;
  }

  &:active {
    @include smallshadow(2px, 1px, .1);
    bottom: 0px;
  }

  // Things not shown in the summary view
  .annotator-controls, .magicontrols .show, .bottombar, {
    display: none;
  }
}
