@import "compass/typography/text/force-wrap";

@import "reset";
@import 'base';

$sansFontFamily: "Source Sans Pro", $sansFontFamily;
$serifFontFamily: "Merriweather", $serifFontFamily;


//ELEMENT STYLES////////////////////////////////
a {
  color: $linkColor;
  &:hover { color: $linkColorHover; }
}

body {
  background-color: $bodyBackground;
  color: $textColor;
  font-smoothing: antialiased;
  line-height: 1.4;
}

p {
  margin: 0 0 2em 0;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;

  &:last-child {
    margin-bottom: 0;
  }
}

em { font-style: italic; }

html {
  font-size: $baseFontSize / 16 * 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sansFontFamily;
  color: $gray;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .75em 0;
}

h3 {
  font-size: 1.17em;
  margin: .83em 0;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}

input, textarea {
  @include plainform;
}

select {
  @include plainform;
  padding: 0;
  text-decoration: underline;
  border: 0;
  &:focus {
    border: 0;
  }
}

label {
  @extend .visuallyhidden;
}



//MCRANDOM////////////////////////////////
button, input[type=submit], .btn {
  @include sweetbutton;
}

.alert-block {
  span.errorMsgLbl { @extend .visuallyhidden; }
  span.errorMsg { @extend .visuallyhidden; }
}

.inline-block {
  display: inline-block
}

.small {
  font-size: .8em;
}

.icon-hidden {
  &:before {
    color: transparent;
  }
  &:after {
    color: transparent;
  }
}

//Candidate for cleanup
.btn-link {
  @include box-shadow(none);
  @include reset-box-model;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: $linkColor;
  position: static;
  &:hover { color: $linkColorHover; }
}

.red {
  color: $hypothered;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


//FLASH/TOAST/ALERTS///////////////////////////////
.toast, .annotator-notice {
  @include border-radius(.5em);
  @include smallshadow;
  @include single-transition(opacity, .2s);
  border: solid 1px;
  bottom: 18%;
  left: 50%;
  margin-left: -15%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  text-align: center;
  width: 30%;
  z-index: 2000;

  &.show, &.annotator-notice-show {
    opacity: .8;
    pointer-events: initial;
  }
}

.info, .annotator-notice-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #98BED1;
}

.success, .annotator-notice-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #8DC98E;
}

.error, .annotator-notice-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #F5A1A0;
}


//CLOSER////////////////////////////////
.close {
  @extend .x-icon;
  float: right;
  width: 1em;
  height: 1em;
  opacity: .2;

  &:hover {
    cursor: pointer;
    opacity: .4;
  }
}



//FORM RELATED////////////////////////////////
.form-horizontal {
  display: inline-block;
  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
  select, textarea, input, button {
    margin: .5em 0;
  }
}

.form-inline .control-group { margin-bottom: 0; }

.form-vertical {
  select, textarea, input, button {
    display: block;
    margin-top: .75em;
  }
}

.req {
  display: none;
}

.slow-validate {
  display: block;
  max-height: 0;
  overflow: hidden;

  &.slow-validate-show {
    @include transition(max-height .25s ease-in 2s);
    max-height: 10em;
  }
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}



//EXCERPT////////////////////////////////
.excerpt {
  position: relative;
  margin-bottom: 1em;
  blockquote {
    margin-bottom: 0;
  }
  .more, .less {
    font-size: .9em;
    font-family: $sansFontFamily;
    display: block;
    text-align: right;
  }
}

blockquote {
  color: $gray;
  font-family: "Merriweather";
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0 1em;

  &:before {
    color: rgba(150, 150, 150, .5);
    content: "\23";
    font-family: "icomoon";
    font-size: 6em;
    position: absolute;
    top: -.2em;
    left: -.15em;
  }

  &:after {
    color: rgba(150, 150, 150, .5);
    content: "\24";
    font-family: "icomoon";
    font-size: 5em;
    position: absolute;
    right: -.15em;
    bottom: -.1em;
  }
}



//DROPDOWNS////////////////////////////////
.dropdown {
  position: relative;
  span {
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

.dropdown-toggle {
  @include fonticon("\002f", right, 0);
  cursor: pointer;

  &:active {
    outline: 0;
  }
}

.dropdown-menu {
  @include rotateX(90deg);
  background: $white;
  border: solid 1px $grayLighter;
  left: 0;
  top: 2em;
  float: left;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  //Adds transparent element to top of menu to stop parent losing hover.
  &:before {
    content: "";
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: .8em;
    top: -.8em;
    left: 0;
  }

  li {
    line-height: 1;
    text-align: left;
    margin: .4em .5em 0;
    padding-bottom: .5em;
    border-bottom: dotted 1px $grayLighter;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      color: black;
    }

    &.selected {
      color: black;
      font-weight: 600;
      line-height: 1;
      &:before {
        font-size: .7em;
      }
    }
    &.inactive {
      font-weight: 400;
      color: $grayLighter;
      cursor: default;
      &:hover {
        color: $grayLighter;
      }
      & * {
        cursor: default;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  // Aligns the dropdown menu to right
  &.pull-right {
    right: 0;
    left: auto;
    text-align: right;
  }
}

.open {
  & > .dropdown-menu {
    @include smallshadow;
    @include rotateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}



//ICON CLASSES////////////////////////////////
.flag-icon {
  @include fonticon("\28", left);
}

.fave-icon {
  @include fonticon("\e006", left);
  &.checked:before {
    content: "\e005";
  }
}

.reply-icon {
  @include fonticon("\e004", left);
}

.share-icon {
  @include fonticon("\25", left);
}

.down-icon {
  @include fonticon("\e007", left);
}

.clipboard-icon {
  @include fonticon("\33", left);
}

.check-icon {
  @include fonticon("\35", left);
}

.x-icon {
  @include fonticon("\36", left);
}

.vis-icon {
  @include fonticon("\e001", left);
}



//VISIBILITY
.visibility {
  .dropdown-toggle {
    @include fonticon("\3c", right);
  }
  li {
    @include fonticon("\35", right);
    &:after {
      opacity: 0;
    }
    &.selected {
      &:after {
        opacity: 1;
      }
    }
  }
  .vis-public {
    border-bottom: 1px solid $grayLighter;
    margin: .4em 0 0;
    padding: 0 .5em 0;
  }
}


//TABS////////////////////////////////
.nav-tabs {
  @include pie-clearfix;
  margin: 0 .5em;

  & > li > a {
    cursor: pointer;
    float: left;
    line-height: 1;
    padding: .5em 1em;
    padding-top: .25em;
    margin-right: -.5em;
    margin-bottom: 0;
    position: relative;
    text-decoration: none;
    @include tabbox;
  }

  & > .active > a {
    @include box-shadow(none);
    color: #333;
    font-weight: bold;
    background: hsla(0, 0%, 100%, 1);
    z-index: 90;
  }
}

.tab-pane {
  background: $bodyBackground;
  border: solid thin $grayLighter;
  display: none;
  margin-top: -1px;  // Pull up and under tabs
  padding: 1em;
  position: relative;

  &.active {
    display: inherit !important;
  }
}




//PAPER////////////////////////////////
//Provides the white background upon which items sit
.paper {
  @include border-radius(.2em);
  @include smallshadow;
  background: #fff;
  padding: 1em;
}


//ANNOTATION////////////////////////////////
//This is for everything that is formatted as an annotation.
.annotation {
  @include pie-clearfix;
  position: relative;

  .user {
    text-decoration: underline;
  }

  .body {
    div {
      @include force-wrap;
      clear: both;
      margin: .25em 0;
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }

    textarea {
      min-height: 8em;
      width: 100%;
    }
  }

  .buttonbar {
    @include pie-clearfix;
    margin: .25em 0;

    .btn {
      margin-right: .5em;
    }
  }

  .tip {
    @extend .small;
    float: right;
  }
  
  .quote {
    font-style: italic
  }
}


//THREADING////////////////////////////////
//Threaded discussion specific
.thread {
  position: relative;

  & > ul {
    @include single-transition(max-height, .4s, cubic-bezier(1, 0, 1, 0));
    max-height: 65536px;
    overflow: hidden;

    padding-left: $thread-padding;
    margin-left: -$thread-padding;

    &:hover {
      overflow: visible;
    }

    & > * {
      border-left: 1px dotted $grayLight;
      position: relative;

      &:first-child { margin-top: .5em; }
    }
  }

  .thread {
    height: 100%;
    padding-left: $thread-padding;
  }

  .threadexp {
    height: $threadexp-width;
    width: $threadexp-width;
    position: absolute;
    top: $threadexp-width / 2;
    left: -($threadexp-width / 2);
    outline: 1px dotted #aaa;
    @include icon("minus_1.png");
  }

  .annotation {
    &.squished {
      padding-left: 0;
    }
  }

  //These are all the changes needed to collapse thread objects.
  .collapsed {
    & > .annotation {
      .body * {
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 0;
      }

      .user {
        display: run-in;
        margin-right: .25em;
      }
    }

    & > ul {
      @include single-transition(max-height, .4s, cubic-bezier(0, 1, 0, 1));
      max-height: 0;
    }

    & > .threadexp {
      background-image: url("../images/plus_1.png");
    }
  }
}



//MAGICONTROLS////////////////////////////////
.magicontrols {
  & > * {
    display: inline-block;
    padding-right: .8em;
  }

  &.pull-right {
    text-align: right;

    & > * {
      padding-left: .8em;
      padding-right: 0;
    }
  }

  & > .show {
    @include transition(opacity);
    @include transition-delay(.15s);
    @include transition-duration(1.05s);
    opacity: 0;

    :hover > & {
      @include transition-duration(.15s);
      opacity: 1;
    }
  }
}


//SUMMARY////////////////////////////////
//This is specific to the summary view.
.summary {
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;

  &:hover {
    @include smallshadow(2px, 3px, .1);
    bottom: 1px;
  }

  &:active {
    @include smallshadow(2px, 1px, .1);
    bottom: 0;
  }

  // Things not shown in the summary view
  .magicontrols {
    display: none;
  }
}
