@import 'base';
@import 'compass/css3/user-interface';
@import 'compass/layout/stretching';
@import 'compass/reset/utilities';



//ADDER////////////////////////////////
.annotator-adder {
  $border: $gray;
  $hoverborder: $grayDark;
  @include box-sizing(border-box);
  height: 40px;
  margin-left: -20px;
  margin-top: -50px;
  padding: 0;
  position: absolute;
  border: 4px solid $border;
  border-radius: 7px;
  width: 40px;
  z-index: 999;

  &:before {
    @include rotate(45deg);
    background: #fdfdfd;
    bottom: -8px;
    border-bottom: 4px solid $border;
    border-right: 4px solid $border;
    content: "";
    display: block;
    height: 6px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 6px;
  }

  button {
    @include sweetbutton;
    background-image: url("../images/pen_1.png") !important;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 100%;
    text-indent: -999em;
    width: 100%;
    margin: 0;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &:hover {
    @include box-shadow(1px 1px 6px -2px $grayLight);
    border-color: $hoverborder;

    &:before {
      border-color: $hoverborder;
    }
  }
}


//HEATMAP STUFF////////////////////////////////
.annotator-heatmap {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  margin-top: 2px;
  position: absolute;
  z-index: 2;
  overflow: hidden;

  height: 100%;
  width: $heatmap-width + 17px;

  top: 2em;
  left: 0;

  & > * {
    margin-top: -2em;
  }

  svg {
    @include stretch-y;
    background: hsla(0, 0, 0, .1);
    border-left: solid 1px $grayLighter;
    height: 100%;
    left: 17px;
    width: $heatmap-width;
  }
}

.heatmap-pointer {
  @include transition-property(left);
  @include transition-duration(.2s);
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  margin-top: -3em; // TODO: Less janking v-align
  // color: rgb(238, 238, 238);
  color: #666;
  left: 0;
  position: absolute;
  height: 20.1px;
  width: 40.1px;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: center;
  cursor: pointer;

  .svg {
    width: 100%;
    height: 100%;
    background-image: url("../images/side_tab.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .label {
    font-weight: bold;
    font-family: $sansFontFamily;
    font-size: 13.1px;
    left: 5px;
    right: 2px;
    position: absolute;
    bottom: 1px;
  }

  &:hover {
    left: 2px;
  }

  &.lower, &.upper {
    @include single-transition(margin-top, .2s);
    left: 7px;
    width: 33.1px;
    height: 26.1px;
    .label {
      left: 0;
      right: 0;
    }

    &:hover {
      left: 7px;
    }
  }

  &.upper {
    .svg {
      background-image: url("../images/up_tab.svg");
    }
    .label {
      bottom: 1px;
    }
    &:hover {
      margin-top: -3.2em;
    }
  }

  &.lower {
    .svg {
      background-image: url("../images/down_tab.svg");
    }
    .label {
      top: 1px;
    }
    &:hover {
      margin-top: -2.8em;
    }
  }
  &.flip {
    @include rotateY(180deg);
    .label {
      @include rotateY(180deg);
    }
  }
  &.commenter {
    @include single-transition(margin-top, .2s);
    left: 3px;
    width: 37px;

    .svg {
      background-image: url("../images/comment_tab.svg");
    }
    .label {
      bottom: 1px;
    }
    &:hover {
      margin-top: -3.2em;
    }
  }
}


//HIGHLIGHTS////////////////////////////////
.annotator-highlights-always-on .annotator-hl,
.annotator-hl-active, .annotator-hl-temporary {
  background: $highlightColor;
  box-shadow:3px 3px 4px -1px #999999;
  &::-moz-selection {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
  &::-moz-selection, &::-moz-window-inactive, &::window-inactive {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
  &::selection, &::selection:window-inactive {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
}

.annotator-highlights-always-on .annotator-hl {
  background: $highlightModeColor;
}

.annotator-highlights-always-on .annotator-hl-active, {
  box-shadow:3px 3px 4px 3px #999999;
}

.annotator-notice {
  display: none;
}


// Sidebar
.annotator-frame {
  @include reset-box-model;
  @include user-select(none);
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 10000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.annotator-collapsed {
    margin-left: -$heatmap-width - 17px;
  }

  & > iframe {
    @include reset-box-model;
    height: 100%;
    width: 100%;
    position: absolute;
  }

}

.annotator-no-transition {
  @include transition(none !important);
}


//CONTROLBAR STUFF////////////////////////////////
.annotator-toolbar {
  @include single-transition(height, .25s, ease, .25s);
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  position: absolute;
  overflow: hidden;
  width: 40px;
  height: 100px;
  z-index: 1;
  left: 7px;
  top: 2em;
  z-index: 3;

  a, a:hover, a:active, a:visited {
    color: $grayLighter;
    text-decoration: none;
  }

  ul, li {
    @include box-sizing(border-box);
    @include reset-box-model;
    @include reset-list-style;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
  }
}

.annotator-toolbar.annotator-hide {
  height: 0px;

  &:hover {
    height: 100px;
  }
}

.annotator-toolbar li {
  position: relative;
  left: 1px;
  width: 25px;
  height: 25px;
  padding: 5px;
  margin-top: 5px;
  box-shadow: 1px 1px 1px 1px;
  background-color: white;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

  &:active {
    top:1px;
    box-shadow: 1px 1px 1px 0px;
  }

  a.pushed {
    color: $hypothered;
  }
}


// Toolbar Icons
.alwaysonhighlights-icon {
  @include fonticon("\e01b", left);
  color: rgb(211, 211, 211);
  font-size: 18px;
  bottom: 1px;
  left: 3px;
  position: absolute;
  // text-shadow: -0.1em -0.1em #999;
}

.highlighter-icon {
  @include fonticon("\e01a", left);
  color: rgb(211, 211, 211);
  font-size: 18px;
  bottom: 1px;
  left: 3px;
  position: absolute;
  // text-shadow: -0.1em -0.1em #999;
}

.commenter-icon {
  @include fonticon("\e01e", left);
  color: rgb(211, 211, 211);
  font-size: 18px;
  bottom: 1px;
  left: 3px;
  position: absolute;
  // text-shadow: -0.1em -0.1em #999;
}




/*
  Mobile layout
  240-479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .annotator-frame {
    width: 99%;
    margin-left: -99%;
  }
}

/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  .annotator-frame {
    width: 70%;
    margin-left: -70%;
  }
}

/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  .annotator-frame {
    @include single-transition(margin-left, .4s);
    width: 428px + $heatmap-width + 17px;
    margin-left: -428px - $heatmap-width - 17px;
  }
}

/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
}

/*
  Huge-screen layout
  1888-2520 px
  Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
