@import 'base';
@import 'compass/css3/user-interface';
@import 'compass/layout/stretching';
@import 'compass/reset/utilities';

$baseFontSize: 14px;

//ADDER////////////////////////////////
.annotator-adder {
  $border: $gray;
  $hoverborder: $grayDark;
  @include box-sizing(border-box);
  height: 40px;
  margin-left: -20px;
  margin-top: -50px;
  padding: 0;
  position: absolute;
  border: 4px solid $border;
  border-radius: 7px;
  width: 40px;
  z-index: 999;

  &:before {
    @include rotate(45deg);
    background: #fdfdfd;
    bottom: -8px;
    border-bottom: 4px solid $border;
    border-right: 4px solid $border;
    content: "";
    display: block;
    height: 6px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 6px;
  }

  button {
    @include sweetbutton;
    background-image: url("../images/pen_1.png") !important;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 100%;
    text-indent: -999em;
    width: 100%;
    margin: 0;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &:hover {
    @include box-shadow(1px 1px 6px -2px $grayLight);
    border-color: $hoverborder;

    &:before {
      border-color: $hoverborder;
    }
  }
}


//HEATMAP STUFF////////////////////////////////
.annotator-heatmap {
  cursor: ew-resize;
  position: absolute;
  overflow: hidden;

  height: 100%;
  width: $heatmap-width + 17px;

  left: -($heatmap-width + 17px);

  svg {
    @include stretch-y;
    background: hsla(0, 0, 0, .1);
    border-left: solid 1px $grayLighter;
    height: 100%;
    left: 17px;
    width: $heatmap-width;
  }
}

.heatmap-pointer {
  @include transition-property(left);
  @include transition-duration(.2s);
  color: #666;
  left: 0;
  position: absolute;
  height: 20px;
  width: 40px;
  margin-top: -10px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: center;
  cursor: pointer;

  .svg {
    width: 100%;
    height: 100%;
    background-image: url("../images/side_tab.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .label {
    background: none;
    font-weight: bold;
    font-family: $sansFontFamily;
    font-size: 13px;
    line-height: 17.5px;
    left: 5px;
    right: 2px;
    position: absolute;
    bottom: 1px;
  }

  &:hover {
    left: 2px;
  }

  &.lower, &.upper {
    @include single-transition(margin-top, .2s);
    left: 7px;
    width: 33.1px;
    height: 26.1px;
    .label {
      left: 0;
      right: 0;
    }

    &:hover {
      left: 7px;
    }
  }

  &.upper {
    .svg {
      background-image: url("../images/up_tab.svg");
    }
    .label {
      bottom: 1px;
    }
    &:hover {
      margin-top: -1.2em;
    }
    &.sticky1 {
      margin-top: 1.4em;
    }
    &.sticky2 {
      margin-top: 3.8em;
    }
  }

  &.lower {
    .svg {
      background-image: url("../images/down_tab.svg");
    }
    .label {
      top: 1px;
    }
    &:hover {
      margin-top: -.8em;
    }
  }
  &.flip {
    @include rotateY(180deg);
    .label {
      @include rotateY(180deg);
    }
  }
  &.commenter {
    @include single-transition(margin-top, .2s);
    left: 3px;
    width: 37px;

    .svg {
      background-image: url("../images/comment_tab.svg");
    }
    .label {
      bottom: 1px;
    }
    &:hover {
      margin-top: -1.2em;
    }
  }
}


//HIGHLIGHTS////////////////////////////////
.annotator-highlights-always-on .annotator-hl,
.annotator-hl-active, .annotator-hl-temporary {
  background: $highlightColor;
  box-shadow:3px 3px 4px -1px #999999;
  &::-moz-selection {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
  &::-moz-selection, &::-moz-window-inactive, &::window-inactive {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
  &::selection, &::selection:window-inactive {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
}

.annotator-highlights-always-on .annotator-hl {
  background: $highlightModeColor;
}

.annotator-highlights-always-on .annotator-hl-active, {
  box-shadow:3px 3px 4px 3px #999999;
}

.annotator-notice {
  display: none;
}


// Sidebar
.annotator-frame {
  @include reset-box-model;
  @include user-select(none);
  @extend .noise;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 10000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.annotator-collapsed {
    margin-left: 0;
  }

  * {
    font-size: 100%;
  }

  & > iframe {
    @include reset-box-model;
    height: 100%;
    width: 100%;
    z-index: 3;
    position: relative;
  }

}

.annotator-no-transition {
  @include transition(none !important);
}


//CONTROLBAR STUFF////////////////////////////////
.annotator-toolbar {
  @include single-transition(height, .25s, ease, .25s);
  position: absolute;
  overflow: hidden;
  height: 200px;
  left: -($heatmap-width + 17px - 7px);
  top: .5em;
  width: 2.5em;
  z-index: 2;

  a, a:hover, a:active, a:visited, a:link, a:link:hover {
    color: $grayLighter;
    text-decoration: none;

    &:before {
      color: inherit;
    }

    &.tri-icon {
      color: rgba(200, 200, 200, .3);
      text-shadow:
      1px .8px 1.5px $white,
      0 0 0 #000;

      &:hover {
        color: rgba(235, 235, 230, .1);
      }
    }
  }

  ul, li {
    @include box-sizing(border-box);
    @include reset-box-model;
    @include reset-list-style;
  }
}

.annotator-toolbar.annotator-hide {
  height: 2.2em;

  &:hover {
    height: 200px;
  }
}

.annotator-toolbar li {
  @include border-radius(4px);
  @include smallshadow(0);
  background: $white;
  border: solid 1px $grayLighter;
  position: relative;
  left: 2px;
  height: 2em;
  width: 2em;

  &:first-child {
    @include border-radius(4px 0 0 4px);
    border-right-style: none;
    left: 0;
    width: 2.3em;
  }

  & + li {
    margin-top: 5px;
  }

  a {
    font-size: $baseFontSize * 1.3;
    line-height: $baseLineHeight * 1.3;

    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    left: .2em;
  }

  a.pushed, a:hover.pushed {
    color: $hypothered;
  }
}

// Stickybuttons
.stickybuttons {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  position: absolute;
  overflow: hidden;
  height: 35px;
  left: -($heatmap-width + 17px - 7px);
  top: 2.5em;
  width: 2.5em;
  z-index: 0;

  &.stickybuttons2 {
    height: 70px;
  }
}

.stickybuttons li {
  @include border-radius(4px);
  @include smallshadow(0);
  background: $white;
  border: solid 1px $grayLighter;
  position: relative;
  left: 2px;
  height: 2em;
  width: 2em;
  margin-top: 5px;

  a {
    font-size: $baseFontSize * 1.3;
    line-height: $baseLineHeight * 1.3;

    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    left: .2em;
  }

  a.pushed {
    color: $hypothered;
  }
}

// Toolbar Icons
.alwaysonhighlights-icon {
  @include fonticon("\e01b", left);
}

.highlighter-icon {
  @include fonticon("\e01a", left);
}

.commenter-icon {
  @include fonticon("\e01e", left);
}

.tri-icon {
  @include fonticon("\e00b", left);
}


// Toolbar notification counter
.annotator-notification-counter {
  font-family: $sansFontFamily;
  pointer-events: none;
  position: absolute;
  margin-left: .7em;
  margin-top: .25em;
  z-index: 2;
  font-size: $baseFontSize * .86;
}


/*
  Mobile layout
  240-479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .annotator-frame {
    width: 90%;
    margin-left: -90%;
  }
}

/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  .annotator-frame {
    width: 70%;
    margin-left: -70%;
  }
}

/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  .annotator-frame {
    @include single-transition(margin-left, .4s);
    width: 428px;// + $heatmap-width + 17px;
    margin-left: -428px;// - $heatmap-width - 17px;
  }
}

/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
}

/*
  Huge-screen layout
  1888-2520 px
  Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
