@import 'base';
@import 'compass/reset/utilities';



//ADDER////////////////////////////////
.annotator-adder {
  $border: $gray;
  $hoverborder: $grayDark;
  @include box-sizing(border-box);
  height: 40px;
  margin-left: -20px;
  margin-top: -50px;
  padding: 0;
  position: absolute;
  border: 4px solid $border;
  border-radius: 7px;
  width: 40px;
  z-index: 999;

  &:before {
    @include rotate(45deg);
    background: #fdfdfd;
    bottom: -8px;
    border-bottom: 4px solid $border;
    border-right: 4px solid $border;
    content: "";
    display: block;
    height: 6px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 6px;
  }

  button {
    @include sweetbutton;
    background-image: url("../images/pen_1.png") !important;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 100%;
    opacity: .8;
    text-indent: -999em;
    width: 100%;
    margin: 0;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &:hover {
    @include box-shadow(1px 1px 6px -2px $grayLight);
    border-color: $hoverborder;

    &:before {
      border-color: $hoverborder;
    }

    button {
      opacity: 1;
    }
  }
}



//HIGHLIGHTS////////////////////////////////
.annotator-highlights-always-on .annotator-hl,
.annotator-hl-active, .annotator-hl-temporary {
  background: $highlightColor;
  box-shadow:3px 3px 4px -1px #999999;
  &::-moz-selection {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
  &::-moz-selection, &::-moz-window-inactive, &::window-inactive {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
  &::selection, &::selection:window-inactive {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
}

.annotator-highlights-always-on .annotator-hl {
  background: $highlightModeColor;
}

.annotator-highlights-always-on .annotator-hl-active, {
  box-shadow:3px 3px 4px 3px #999999;
}

.annotator-notice {
  display: none;
}

//IFRAME////////////////////////////////
.annotator-frame {
  @include reset-box-model;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 10000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.annotator-collapsed {
    margin-left: -$heatmap-width - 17px;
  }
}

.annotator-no-transition {
  @include transition(none !important);
}


/*
  Mobile layout
  240-479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .annotator-frame {
    width: 99%;
    margin-left: -99%;
  }
}

/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  .annotator-frame {
    width: 70%;
    margin-left: -70%;
  }
}

/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  .annotator-frame {
    @include single-transition(margin-left, .4s);
    width: 428px + $heatmap-width + 17px;
    margin-left: -428px - $heatmap-width - 17px;
  }
}

/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
}

/*
  Huge-screen layout
  1888-2520 px
  Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
