@import 'base';
@import 'compass/css3/user-interface';
@import 'compass/layout/stretching';
@import 'compass/reset/utilities';

$baseFontSize: 14px;

//ADDER////////////////////////////////
.annotator-adder {
  $border: $gray;
  $hoverborder: $grayDark;
  @include box-sizing(border-box);
  height: 40px;
  margin-left: -20px;
  margin-top: -50px;
  padding: 0;
  position: absolute;
  border: 4px solid $border;
  border-radius: 8px;
  width: 40px;
  z-index: 999;

  &:before {
    @include rotate(45deg);
    background: #fdfdfd;
    bottom: -8px;
    border-bottom: 4px solid $border;
    border-right: 4px solid $border;
    content: "";
    display: block;
    height: 6px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 6px;
  }

  button {
    @include sweetbutton;
    background-image: url("../images/pen_1.png") !important;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 100%;
    text-indent: -999em;
    width: 100%;
    margin: 0;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &:hover {
    @include box-shadow(1px 1px 6px -2px $grayLight);
    border-color: $hoverborder;

    &:before {
      border-color: $hoverborder;
    }
  }
}


//HEATMAP STUFF////////////////////////////////
.annotator-heatmap {
  cursor: ew-resize;
  position: absolute;
  overflow: hidden;

  height: 100%;
  width: $heatmap-width + 18px;
  left: -($heatmap-width + 18px);

  svg {
    @include stretch-y;
    background: hsla(0, 0, 0, .1);
    border-left: solid 1px $grayLighter;
    height: 100%;
    left: 18px;
    width: $heatmap-width;
  }
}

.heatmap-pointer {
  @include transition-property(left);
  @include transition-duration(.2s);
  color: #666;
  left: 0;
  position: absolute;
  height: 20px;
  width: $heatmap-width + 18px;
  margin-top: -10px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: center;
  cursor: pointer;

  .svg {
    width: 100%;
    height: 100%;
    background-image: url("../images/svg/side_tab.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .label {
    @include reset-box-model;
    @include reset-font;
    background: none;
    color: $textColor;
    font-weight: bold;
    font-family: $sansFontFamily;
    font-size: 11px;
    line-height: 20px;
    left: 5px;
    right: 2px;
    position: absolute;
  }

  &:hover {
    left: 2px;
  }

  &.lower, &.upper, &.commenter {
    left: 7px;
    width: 33px;

    &:hover {
      left: 7px;
    }

    .label {
      left: 0;
      right: 0;
    }
  }

  &.lower, &.upper {
    @include single-transition(margin-top, .2s);
    height: 30px;
  }

  &.upper {
    margin-top: -26px;

    .svg {
      background-image: url("../images/svg/up_tab.svg");
    }

    .label {
      bottom: 1px;
    }

    &:hover {
      margin-top: -20px;
    }
  }

  &.lower {
    margin-top: -20px;

    .svg {
      background-image: url("../images/svg/down_tab.svg");
    }

    .label {
      top: 1px;
    }

    &:hover {
      margin-top: -18px;
    }
  }

  &.flip {
    @include rotateY(180deg);

    .label {
      @include rotateY(180deg);
    }
  }

  &.commenter {
    @include single-transition(margin-top, .2s);
    margin-top: -18px;

    .svg {
      background-image: url("../images/svg/comment_tab.svg");
    }

    &:hover {
      margin-top: -18px;
    }
  }
}


//HIGHLIGHTS////////////////////////////////
.annotator-highlights-always-on .annotator-hl,
.annotator-hl-active, .annotator-hl-temporary {
  background: $highlightColor;
  box-shadow:3px 3px 4px -1px #999999;
  &::-moz-selection {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
  &::-moz-selection, &::-moz-window-inactive, &::window-inactive {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
  &::selection, &::selection:window-inactive {
    background: $highlightColor;
    box-shadow:3px 3px 4px #999999;
  }
}

.annotator-highlights-always-on .annotator-hl {
  background: $highlightModeColor;
}

.annotator-highlights-always-on .annotator-hl-active, {
  box-shadow:3px 3px 4px 3px #999999;
}

// Sidebar
.annotator-frame {
  @include reset-box-model;
  @include user-select(none);
  @extend .noise;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 10000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.annotator-collapsed {
    margin-left: 0;
  }

  * {
    font-size: 100%;
  }

  & > iframe {
    @include reset-box-model;
    height: 100%;
    width: 100%;
    z-index: 3;
    position: relative;
  }

}

.annotator-no-transition {
  @include transition(none !important);
}


//CONTROLBAR STUFF////////////////////////////////
.annotator-toolbar {
  @include transition(
    height .25s,
    min-height .25s,
    max-height .25s
  );
  position: absolute;
  overflow: hidden;
  height: 200px;
  left: -($heatmap-width + 18px - 7px);
  right: 0;
  z-index: 2;

  ul, li {
    @include box-sizing(border-box);
    @include reset-box-model;
    @include reset-list-style;
  }

  li {
    border-width: 1px;
    max-height: 30px;
    margin-bottom: 5px;
    min-height: 30px;
  }
}

.annotator-toolbar.annotator-hide {
  @include transition-delay(.25s);
  height: 32px;

  li {
    @include transition-delay(.2s, 0, 0);
    border-width: 0;
    margin-bottom: 0;
    max-height: 0;
    min-height: 0;

    &:first-child, &.pushed {
      border-width: 1px;
      max-height: 30px;
      margin-bottom: 5px;
    }
  }
}

.annotator-toolbar li {
  @include border-radius(4px);
  @include smallshadow(0);
  @include transition(max-height .25s);
  background: $white;
  border: solid 1px $grayLighter;
  overflow: hidden;
  position: relative;
  height: 30px;
  width: 30px;

  &:first-child {
    @include border-radius(4px 0 0 4px);
    border-right-style: none;
    left: 0;
    width: 36px;
  }

  a, a:hover, a:active, a:visited, a:link, a:link:hover {
    font-size: 1.3em;
    line-height: 28px;

    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    left: 5px;
    color: rgba(200, 200, 200, .3);

    text-decoration: none;

    &:before {
      color: inherit;
    }

    &.tri-icon {
      color: rgba(200, 200, 200, .3);
      text-shadow:
      1px .8px 1.5px $white,
      0 0 0 #000;

      &:hover {
        color: rgba(235, 235, 230, .1);
      }
    }

    &.alwaysonhighlights-icon, &.highlighter-icon, &.commenter-icon {
      text-shadow:
      1px .8px 1.5px $white,
      0 0 0 #000;

      &:hover {
        color: $linkColorHover;
        text-shadow: -1px .8px 1px #000;
      }
    }
  }
}

// Toolbar Icons
.alwaysonhighlights-icon {
  @include fonticon("\e602", left);
}

.highlighter-icon {
  @include fonticon("\e601", left);
}

.commenter-icon {
  @include fonticon("\e012", left);
}

.tri-icon {
  @include fonticon("\e00b", left);
}


// Toolbar notification counter
.annotator-notification-counter {
  font-family: $sansFontFamily;
  pointer-events: none;
  position: absolute;
  margin-left: 11px;
  margin-top: 4px;
  z-index: 2;
  font-size: .86em;
}


/*
  Mobile layout
  240-479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .annotator-frame {
    width: 90%;
    margin-left: -90%;
  }
}

/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  .annotator-frame {
    width: 70%;
    margin-left: -70%;
  }
}

/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  .annotator-frame {
    @include single-transition(margin-left, .4s);
    width: 428px;
    margin-left: -428px;
  }
}

/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
}

/*
  Huge-screen layout
  1888-2520 px
  Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
