@import 'compass';
@import 'compass/css3/transform';
@import 'compass/css3/user-interface';
@import 'compass/layout/stretching';
@import 'compass/reset/utilities';

$baseFontSize: 14px;

@import 'common';



//ELEMENT STYLES////////////////////////////////
body {
  background-color: transparent;
  height: 100%;
  position: fixed;
  width: 100%;
}

svg { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }



//ANNOTATOR STYLES////////////////////////////////
.annotator-hide {
  display: none;
  visibility: hidden;
}


.excerpt {
  margin-bottom: 1em;
}


.sliding-panels > li {
  @extend .content;
  @extend .noise;
  @include smallshadow(-2px);
  @include stretch-y;
  @include transition(transform .4s);
  @include translateX(100%);
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  left: 1em;
  right: 0;

  &:first-child {
    @include box-shadow(none);
    @include translateX(0);
    left: 0;
  }

  &.show {
    @include translateX(0);
  }

  &.squished {
    padding-left: -.5em;
  }
}

//SIDEBAR LAYOUT////////////////////////////////
#wrapper {
  @extend .noise;
  height: 100%;
  margin-left: $heatmap-width + 17px;
  position: relative;
}

.topbar {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 7px;
  top: .5em;

  .inner {
    margin: 0 .5em 0 3.1em;
  }


  .tri {
    @include fonticon("\e00b", left);
    color: rgba( 200, 200, 200, .3);
    text-shadow:
      1px .8px 1.5px $white,
      0 0 0 #000;
    position: absolute;
    z-index: 1;
    top: .3em;
    left: .3em;
    line-height: $baseLineHeight * .9;
    font-size: $baseLineHeight * .9;
    cursor: w-resize;
    &:before {
      vertical-align: 0;
    }
    &:hover {
      color: rgba( 235, 235, 230, .1);
    }
  }

  &.shown {
    .tri {
      @include fonticon("\e010", left);
      cursor: ew-resize;
    }
  }
}

//CONTROLBAR STUFF////////////////////////////////
.controlbar {
    position: absolute;
    overflow: hidden;
    width: 40px;
    height: 100px;
    z-index: 1;
    left: 1px;
    top: 1.8em;
    -moz-transition:height .25s, -moz-transform .25s;
    -webkit-transition:height .25s, -webkit-transform .25s;
    -o-transition:height .25s, -o-transform .25s;
    transition:height .25s, transform .25s;
    
}

.hiddencontrolbar {
    @extend .controlbar;
    height: 0px;
}

.controlbarbutton {
    position: relative;
    left: 1px;
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 1px 1px 1px 1px;
    color: gray;
    background-color: white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

}

//HEATMAP STUFF////////////////////////////////
.annotator-heatmap {
  @include stretch-y;
  height: 100%;

  svg {
    @include stretch-y;
    background: hsla(0, 0, 0, .1);
    border-left: solid 1px $grayLighter;
    height: 100%;
    left: 17px;
    width: $heatmap-width;
  }
}

.heatmap-pointer {
  @include user-select(none);
  @include transition-property(left);
  @include transition-duration(.2s);
  margin-top: -1em; // TODO: Less janking v-align
  // color: rgb(238, 238, 238);
  color: #666;
  left: 0;
  position: absolute;
  height: 20.1px;
  width: 40.1px;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: center;
  cursor: pointer;

  .svg {
    width: 100%;
    height: 100%;
    background-image: url("../images/side_tab.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .label {
    font-weight: bold;
    font-family: $sansFontFamily;
    font-size: 13.1px;
    left: 10px;
    right: 2px;
    position: absolute;
    bottom: 1px;
  }

  &:hover {
    left: 2px;
  }

  &.lower, &.upper {
    @include single-transition(margin-top, .2s);
    left: 7px;
    width: 33.1px;
    height: 26.1px;
    .label {
      left: 0;
      right: 0;
    }

    &:hover {
      left: 7px;
    }
  }

  &.upper {
    .svg {
      background-image: url("../images/up_tab.svg");
    }
    .label {
      bottom: 1px;
    }
    &:hover {
      margin-top: -1.2em;
    }
  }

  &.lower {
    .svg {
      background-image: url("../images/down_tab.svg");
    }
    .label {
      top: 1px;
    }
    &:hover {
      margin-top: -.8em;
    }
  }
  &.flip {
    @include rotateY(180deg);
    .label {
      @include rotateY(180deg);
    }
  }
}



//SHEET////////////////////////////////
//This comes down from under the toolbar
.sheet {
  @include smallshadow;
  font-family: $sansFontFamily;
  max-height: 30em;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 100%;

  left: 4px;
  right: 0;
  top: 2px;

  .close {
    position: absolute;
    right: 1em;
    top: .25em;
  }

  .nav-tabs {
    padding-left: 1.3em;
  }

  &.collapsed {
    max-height: 0;
  }

  footer {
    text-align: right;
    a { @extend .small; }
  }

  footer {
    font-family: $sansFontFamily;
    text-align: right;
    a { @extend .small; }
  }

  input:not([type="submit"]) { width: 100%; }
}


.user-picker {
  padding: 0 .5em;

  .avatar {
    border-radius: 2px;
  }

  .dropdown-toggle {
    .provider {
      color: $grayLight;
      display: none;
    }
    &:hover {
      .provider {
        display: inline;
      }
    }
  }

  .dropdown.open .provider {
    display: inline;
  }
}
