@import 'compass';
@import 'compass/css3';
@import 'compass/css3/images';
@import 'compass/utilities/color';

$baseFontSize: 18px;

@import 'common';

body {
  @extend .noise;
  font-family: $serifFontFamily;
}

section {
  margin: 2em 0;
}

ol {
  list-style-type: decimal;
  padding-left: 3em;
  margin-left: -1.5em;

  li + li {
    margin-top: 1em;
  }
}

.auth {
  @extend .form-vertical;

  button[name^="forgot"] {
    @extend .btn-link;
    float: right;
  }

  input { width: 100%; }
}

.bookmarklet {
  @extend .btn;
  padding: .12em;
  border: 1px dashed $gray;
}

#toolbar {
  font-size: .9em;
  position: absolute;
  text-align: center;
  width: 100%;

  & > div {
    margin: .5em 0;
    width: 100%;
  }
}

hgroup {
  h1 {
    margin-bottom: 0 !important;
  }
}

/*
    Mobile layout
    240-479 px
    Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .auth { width: 100%; }

  .content { padding: 3em 1em; }

  header {
    margin-bottom: 2em;
    text-align: center;
  }
}

/*
    Wide mobile layout
    480-767 px
    Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  .auth { width: grid(4); }

  header {
    @include pie-clearfix;
    text-align: left;
    img { float: left; }
  }
}

/*
    Tablet layout
    600-911 px
    Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  .content { padding: 6em; }
}

/*
    Widescreen layout
    912-1887 px
    Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
  .content {
    max-width: grid(12);
    margin: auto;
  }

  .topbar .inner {
    max-width: grid(12);
    margin: 0 auto;
  }
}

/*
    Huge-screen layout
    1888-2520 px
    Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
