@import 'compass';
@import 'compass/css3';
@import 'compass/css3/images';
@import 'compass/utilities/color';

$baseFontSize: 18px;

@import 'common';

body {
  @extend .noise;
  font-family: $sansFontFamily;
  word-wrap: break-word;
}

header {
  @include respond-to(handhelds) {
    text-align: center;
  }

  @include respond-to(wide-handhelds tablets) {
    @include pie-clearfix;
    text-align: left;
    img { float: left; }
  }

  margin-bottom: 2em;

  hgroup h1 {
    margin-bottom: 0 !important;
  }
}

section {
  margin: 2em 0;
}

ol {
  list-style-type: decimal;
  padding-left: 3em;
  margin-left: -1.5em;

  li + li {
    margin-top: 1em;
  }
}

.auth {
  @extend .form-vertical;

  button[name^="forgot"] {
    @extend .btn-link;
    float: right;
  }

  input { width: 100%; }
}

.bookmarklet {
  @extend .btn;
  padding: .12em;
  border: 1px dashed $gray;
}

.content {
  padding: 2.5em 1em;

  @include respond-to(tablets) {
    padding: 2.5em 4em 4em 4em;
    margin: auto;
    max-width: $break-large;
  }
}

.topbar {
  position: fixed;
  .inner {
    margin: 0 auto;
    max-width: $break-large;
    padding-left: 3.6em;
    padding-right: 3.6em;
    @include respond-to(tablets) {
      padding-left: 3.6em;
      padding-right: 3.6em;
      margin: 0 auto;
      max-width: $break-large;
    }
    @include respond-to(wide-handhelds handhelds) {
      padding-left: 0.9em;
      padding-right: 0.9em;
      margin: 0 auto;
      max-width: $break-large;
    }
  }
}

.user {
    font-weight: bold;
    font-size: 1.1em;
    &:hover {
      color: $linkColorHover;
      cursor: pointer;
      text-decoration: underline;
    }
  }
