{% extends "h:templates/layouts/base.html" %}

{% block content %}
  <div id="claim" class="content paper">
    {% include "h:templates/includes/header.html" %}
    <div class="form-vertical">
      <form class="form">
        <p class="form-description form-error">
        </p>

        <input type="hidden" name="code" value=""/>
        <div class="form-field">
          <label class="form-label" for="field-activate-password">
            New password:
            <span class="form-hint">(at least two characters)</span>
          </label>
          <input class="form-input" id="field-activate-password"
                 type="password" name="password" value=""
                 required autocapitalize="false" autocorrect="false" />
          <ul class="form-error-list">
            <li class="form-error"></li>
          </ul>
        </div>

        <div class="form-actions">
          <div class="form-actions-buttons">
            <button class="btn" type="submit" name="activate"
                    status-button="activate">Claim account</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
