Hello {{ user_display_name }},

{{ status_change_description }}

{{ (annotation.text or "")|striptags }}

View comment: {{ annotation_url }}

If you'd rather not receive these notifications you can unsubscribe: {{ unsubscribe_url }}
