{{ reply_user_display_name }} has replied to your annotation on "{{ document_title }}":

On {{ parent.created | human_timestamp }} {{ parent_user_display_name }} commented:

> {{ parent.text or "" }}

On {{ reply.created | human_timestamp }} {{ reply_user_display_name }} replied:

> {{ reply.text or "" }}

View the thread and respond: {{ reply_url }}

If you'd rather not receive these notifications you can unsubscribe: {{ unsubscribe_url }}
