<p>Hello {{ username }}!</p>

<p>
  Someone has requested to reset your password. If it was you, reset your
  password by using this reset code:
</p>

<pre><code>{{ reset_code }}</code></pre>

<p>Alternatively, you can reset your password by clicking on this link:</p>

{#
  mc:disable-tracking disables click-tracking in MailChimp, and is necessary to
  ensure that the reset link is not leaked (MailChimp click-tracking happens
  over HTTP, not HTTPS):

    https://mandrill.zendesk.com/hc/en-us/articles/205582927
#}
<p>&nbsp;&nbsp;<a href="{{ reset_link }}" mc:disable-tracking>{{ reset_link }}</a></p>

<p>
  Regards,
  The Hypothesis Team
</p>
