<p>Hello {{ username }}!</p>

<p>
  Someone has requested to reset your password. If it was you, reset your
  password by using this reset code:
</p>

<p>&nbsp;&nbsp;<code><pre>{{ reset_code }}</pre></code></p>

<p>Alternatively, you can reset your password by clicking on this link:</p>

<p>&nbsp;&nbsp;<a href="{{ reset_link }}">{{ reset_link }}</a></p>

<p>
  Regards,
  The Hypothesis Team
</p>
