Hello {{ username }}!

Someone has requested to reset your password. If it was you, reset your password
by using this reset code:

{{ reset_code }}

Alternatively, you can reset your password by clicking on this link:

{{ reset_link }}

Regards,
The Hypothesis Team
