<p>Please validate your email and activate your account by visiting:</p>

{#
  mc:disable-tracking disables click-tracking in MailChimp, and is necessary to
  ensure that the activate link is not leaked (MailChimp click-tracking happens
  over HTTP, not HTTPS):

    https://mandrill.zendesk.com/hc/en-us/articles/205582927
#}
<p>&nbsp;&nbsp;<a href="{{activate_link}}" mc:disable-tracking>{{activate_link}}</a></p>
