This is a Hypothesis test email. Is this thing on...?

    time:            {{ time }}
    hostname:        {{ hostname }}
    python_version:  {{ python_version }}
    version:         {{ version }}

Regards,
The Mail Robot
