<p>This is a Hypothesis test email. Is this thing on...?</p>

<pre><code>time:            {{ time }}
hostname:        {{ hostname }}
python_version:  {{ python_version }}
version:         {{ version }}
</code></pre>

<p>Regards,<br> The Mail Robot</p>
