{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
        "importSource": "preact"
      }
    ],
    [
      "@babel/preset-env",
      {
        "bugfixes": true
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-react",
          {
            "development": true,
            "runtime": "automatic",
            "importSource": "preact"
          }
        ]
      ]
    }
  }
}
