[run]
branch = True
parallel = True
source =
    h
    tests/unit
omit =
    h/debug.py
    h/migrations/*
    h/cli/*
    h/__main__.py
    h/pshell.py

[report]
show_missing = True
precision = 2
fail_under = 100
skip_covered = True
exclude_also =
    if TYPE_CHECKING:
