root = true

[*]
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{html,js,json,scss}]
indent_size = 2

[*.{js,json,py}]
charset = utf-8

[*.py]
indent_size = 4

[Makefile]
indent_style = tab

[{.travis.yml}]
indent_size = 2
