{
  "extends": "hypothesis",
  "rules": {
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "arrow-spacing": "error",
    "no-var": "error",
    "keyword-spacing": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", { "destructuring": "all" }],
    "space-before-blocks": "error"
  }
}
