[flake8]
ignore =
    # E121 - continuation line under-indented for hanging indent
    E121,
    # E123 - closing bracket does not match indentation of opening bracket's line
    E123,
    # E126 - continuation line over-indented for hanging indent
    E126,
    # E128 - continuation line under-indented for hanging indent
    E128,
    # E131 - continuation line unaligned for hanging indent
    E131,
    # E225 - missing whitespace around operator
    E225,
    # E226 - missing whitespace around arithmetic operator
    E226,
    # E241 - multiple spaces after ':'
    E241,
    # E302 - expected 2 blank lines, found 1
    E302,
    # E402 - module level import not at top of file
    E402,
    # F401 - '<symbol>' imported but unused
    F401,
    # N802 - function name should be lowercase
    N802,
    # N805 - first argument of a method should be named 'self'
    N805,
    # N806 - variable in function should be lower case
    N806,
    # N813 - camelcase imported as lowercase
    N813,
    # W391 - blank line at end of file
    W391,

