/*.db
/*.db-journal
/*.egg
/*.egg-info
/*.ini
/MANIFEST
/bin
/build
/dist
/docs/_build
/h/static/.sass-cache
/h/static/.webassets-cache
/h/static/debug
/include
/lib
/local
/man
/node_modules
/share
/src

*.pyc
*.pyo

*.log
