/*.db
/*.db-journal
/*.egg
/*.egg-info
/MANIFEST
/bin
/build
/dist
/docs/_build
/h/css
/h/js
/h/lib
/h/static/.sass-cache
/h/static/.webassets-cache
/include
/lib
/local
/man
/node_modules
/share
/src

# All minified javascript is built
*.min.js

*.pyc
*.pyo

*.log
