A. Frederick Dudley <a.frederick.dudley@gmail.com>
Alice Wyan <alice@finitud.org> Alice Wyan <finitud@users.noreply.github.com>
Alice Wyan <alice@finitud.org> keybase.io/wyan <wyan@keybase.io>
Aron Carroll <aron@hypothes.is> Aron Carroll <aron@users.noreply.github.com>
Aron Carroll <aron@hypothes.is> Aron Carroll <self@aroncarroll.com>
Benjamin Young <byoung@bigbluehat.com>
Christof Dorner <christof@chdorner.com>
Conor Delahunty <conordelahunty@hypothes.is>
Gerben <gerben@treora.com> Gerben <Treora@users.noreply.github.com>
Gergely Ujvari <ujvari@hypothes.is>
Gergely Ujvari <ujvari@hypothes.is> Ujvari Gergely <ujvari@cliqz.com>
Gergely Ujvari <ujvari@hypothes.is> ujvari <ujvari@Nibiru.Gaia>
Jake Hartnell <jakehartnell@hypothes.is>
Jake Hartnell <jakehartnell@hypothes.is> Jake Hartnell <Jake.Hartnell@berkeley.edu>
Jake Hartnell <jakehartnell@hypothes.is> Jake Hartnell <Jake.Hartnell@gmail.com>
Jake Hartnell <jakehartnell@hypothes.is> Jake Hartnell <JakeHartnell@hypothes.is>
Jake Hartnell <jakehartnell@hypothes.is> Jake Hartnell <RawKStar77@aol.com>
Jake Hartnell <jakehartnell@hypothes.is> RawKStar77 <RawKStar77@aol.com>
Jehan Tremback <jehan.tremback@gmail.com> Jehan <jehan.tremback@gmail.com>
José Padilla <jpadilla@webapplicate.com>
Kristof Csillag <csillag@hypothes.is> Kristof Csillag <csillag@nolmecolindor.com>
Kristof Csillag <csillag@hypothes.is> csillag <csillag@harmacolindor.com>
Lena Gunn <lenazun@gmail.com>
Randall Leeds <tilgovi@hypothes.is> Randall Leeds <randall.leeds@gmail.com>
Randall Leeds <tilgovi@hypothes.is> Randall Leeds <randall@bleeds.info>
Sean Hammond <git@seanh.cc> Sean Hammond <seanh@users.noreply.github.com>
