# use Travis container build infrastructure
sudo: false
addons:
  artifacts:
    paths:
      # Upload all built zipfiles (browser extensions)
      - $(ls build/*.zip | tr "\n" ":")
  postgresql: "9.4"
language:
  - python
python:
  - '2.7'
install:
  - pip install -U pip wheel
  - pip install coveralls pyramid_redis_sessions
  - npm install
  - make
before_script:
  - createdb htest
script:
  # Run all tests, with coverage if possible
  - make cover
  # Build browser extensions
  - make extensions
after_success:
  - coveralls
cache:
  directories:
    - node_modules
    - $HOME/.cache/pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
notifications:
  slack:
    rooms:
      - secure: SKPwtfoH32aDop6hLhQdgrUhl58gM6CMBUATMdq0KMmEwCxskPbIArqxGUKxeeiO3c3jBQ+Yuq3b4m8GbR2AJxxelO0DRLNyV1lAjfeJ/QzCc3Taxqo0yel4uAFNg/oCYWH50dv2oAgDP3CHk/tKXmsgDWOjcm6A6k35xst16xI=
    on_success: change
    on_failure: always
