language:
  - python
python:
  - '2.7'
install:
  - gem install sass
  - gem install compass
  - pip install coveralls
  - pip install prospector
  - make
services:
  - elasticsearch
env: BROWSERIFY_PIPE_BIN=bin/browserify-pipe
script:
  - make test
  - make cover
  - make lint
  - hypothesis-buildext conf/testext.ini chrome --base http://localhost
  - hypothesis-buildext conf/testext.ini firefox --base http://localhost
  - "hypothesis-buildext conf/production.ini chrome
    --base https://hypothes.is
    --assets chrome-extension://notarealkey/public"
  - "hypothesis-buildext conf/production.ini firefox
    --base https://hypothes.is
    --assets resource://notarealkey/hypothesis/data"
after_success:
  - coveralls
notifications:
  irc:
    channels:
       "chat.freenode.net#hypothes.is"
    on_success: "change"
    on_failure: "always"
