# use Travis container build infrastructure
sudo: false
addons:
  artifacts:
    paths:
      # Upload all built zipfiles (browser extensions)
      - $(ls build/*.zip | tr "\n" ":")
  postgresql: "9.4"
language: python
python:
  - '2.7'
before_install:
  - nvm install 4.3
  - node --version
  - pip install tox
  - npm install gulp-cli
install:
  - pip install --use-wheel -e .
  - npm install
before_script:
  - createdb htest
script:
  # Run python tests
  - tox
  # Check python package manifest
  - tox -e manifest
  # Run client (app) tests
  - gulp test-app
  # Run extension tests
  - gulp test-extension
  # Build browser extensions
  - make extensions
after_success:
  - tox -e coverage
  - tox -e codecov
cache:
  directories:
    - node_modules
    - $HOME/.cache/pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
notifications:
  slack:
    rooms:
      - secure: SKPwtfoH32aDop6hLhQdgrUhl58gM6CMBUATMdq0KMmEwCxskPbIArqxGUKxeeiO3c3jBQ+Yuq3b4m8GbR2AJxxelO0DRLNyV1lAjfeJ/QzCc3Taxqo0yel4uAFNg/oCYWH50dv2oAgDP3CHk/tKXmsgDWOjcm6A6k35xst16xI=
    on_success: change
    on_failure: always
