# use Travis container build infrastructure
sudo: false
matrix:
  include:
    # Python (backend) tests
    - env: ACTION=tox
      language: python
      python: '2.7'
      addons:
        postgresql: "9.4"
      install: pip install tox
      before_script:
        - createdb htest
        - docker run -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" docker.elastic.co/elasticsearch/elasticsearch:6.2.4
      script: tox
      after_success:
        tox -e coverage
        tox -e codecov

    - env: ACTION=tox-py3
      language: python
      python: '3.6'
      addons:
        postgresql: '9.4'
      install: pip install tox
      before_script:
        - createdb htest
        - docker run -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" docker.elastic.co/elasticsearch/elasticsearch:6.2.4
      script:
        make test-py3

    # Test web application frontend
    - env: ACTION=gulp
      language: node_js
      # We currently build production against Alpine v3.4:
      #
      #   https://pkgs.alpinelinux.org/packages?name=nodejs&branch=v3.4
      node_js: '6.7'
      before_install: npm install gulp-cli
      script: gulp test

    # Lint frontend code
    - env: ACTION=frontend-lint
      language: node_js
      node_js: '6.7'
      script:
        gulp lint

    # Lint backend code
    - env: ACTION=backend-lint
      language: python
      python: '2.7'
      script:
        make lint


cache:
  directories:
    - node_modules
    - $HOME/.cache/pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
notifications:
  slack:
    rooms:
      - secure: SKPwtfoH32aDop6hLhQdgrUhl58gM6CMBUATMdq0KMmEwCxskPbIArqxGUKxeeiO3c3jBQ+Yuq3b4m8GbR2AJxxelO0DRLNyV1lAjfeJ/QzCc3Taxqo0yel4uAFNg/oCYWH50dv2oAgDP3CHk/tKXmsgDWOjcm6A6k35xst16xI=
    on_success: change
    on_failure: always
