include Makefile AUTHORS CHANGES CODE_OF_CONDUCT LICENSE NOTICE
include *.rst
include Dockerfile
include gulpfile.js
include gunicorn.conf.py
include package.json
include requirements.txt
exclude Jenkinsfile
graft conf
graft docs
prune docs/_build
include h/accounts/blacklist
include h/assets.ini
graft h/migrations
graft h/static
graft h/templates
graft scripts
prune tests
graft vendor
global-exclude __pycache__
global-exclude *.py[co]
