# Hypothesis packages
h_pyramid_sentry
h_matchers
h-api
pyramid-sanity

# 3rd-party packages
PyJWT
SQLAlchemy >= 1.1.4
alembic
bcrypt
bleach
celery >= 4.3
certifi  # Required to connect to Elasticsearch over SSL.
cffi
click
deform
elasticsearch==6.8.1
elasticsearch-dsl==6.3.1
gevent >= 1.4.0
gunicorn >= 19.9.0
hkdf
itsdangerous
jsonpointer == 2.0
jsonschema
kombu >= 4.2.1
mistune
newrelic
oauthlib
passlib
psycogreen
psycopg2
pyparsing >= 2.1.5
pyramid
pyramid_authsanity >= 1.0.0  # 1.0.0 fixes an IE bug: https://git.io/vH3mi
pyramid_exclog
pyramid_layout
pyramid-jinja2
pyramid-services
pyramid_mailer
pyramid_retry
pyramid_tm
python-dateutil
python-slugify < 4.1.0
supervisor >= 4.0.0
transaction
venusian
wsaccel
ws4py >= 0.4.0
zope.interface
zope.sqlalchemy >= 1.0
