-e .
PyYAML
elasticsearch>=0.4,<0.5,
gunicorn
-e git+https://github.com/sontek/pyramid_webassets.git@243dcef8c5bca5aed828d56eee433120abc4ac62#egg=pyramid_webassets-master
pytest>=2.5
selenium==2.40.0
