PyJWT
SQLAlchemy >= 1.1.4
alembic
backports.functools_lru_cache
bcrypt
bleach >= 2.0
celery == 3.1.25  # Pin to latest 3.1.x to ensure forwards-compat with 4.x
certifi
cffi
click
cryptography
deform < 1.0
deform-jinja2
elasticsearch < 2.0.0
enum34
gevent
gunicorn
itsdangerous
jsonpointer == 1.0
jsonschema
kombu <3.1 # Pinned because of celery pin
mistune
newrelic
passlib
psycogreen
psycopg2
pyparsing >= 2.1.5
pyramid
# Pin pyramid_authsanity to latest master until our bugfix
# (https://github.com/usingnamespace/pyramid_authsanity/pull/7) is released.
git+https://github.com/usingnamespace/pyramid_authsanity.git@7d0b70582cd693052a62b4683e521c1f4e2b4aa8#egg=pyramid_authsanity
pyramid_layout
pyramid-jinja2
pyramid-services
pyramid_mailer
pyramid_tm
python-dateutil
python-slugify < 1.2.0
raven
requests-aws4auth >= 0.9
statsd
transaction
unicodecsv
venusian
wsaccel
ws4py
zope.interface
zope.sqlalchemy
