{% import "flash_template.jinja2" as flash with context -%}
{% do request.need('hypothesis.resources:site_styles') %}
{% do request.need('js.annotator:annotator') %}
{% do request.need('js.annotator:selector') %}
{% do request.need('js.annotator:kitchen_sink') %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.1//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-2.dtd">
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  <title>{{title}}</title>
  <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab" />
  <link href="http://fonts.googleapis.com/css?family=Cardo:400,700,400italic" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="flash-msg">{{ flash.apex_flash() }}</div>
  <div id="header">{% block nav %}{% endblock %}</div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">{% block footer %}{% endblock %}</div>
  <script>
    var elem = document.getElementById('content');
    (function ($) {
    {% if request.user is not none %}
      var annotator = new Annotator(elem)
        .addPlugin('Auth', {
          tokenUrl: '{{ request.route_url("token") }}'
        })
    {% else %}
      var annotator = new Annotator(elem, {readOnly: true})
    {% endif %}
        .addPlugin('Unsupported')
        .addPlugin('Store', {
          prefix: '{{ request.route_url("api", subpath="") }}',
          loadFromSearch: {
            uri: document.location.href
          },
          annotationData: {
            uri: document.location.href
          }
        })
        .addPlugin('Selector', {})
        .addPlugin('Heatmap', {
          d3: "http://cdnjs.cloudflare.com/ajax/libs/d3/2.8.1/d3.v2.min.js"
        })
    })(jQuery);
  </script>
</body>
</html>
