<div class="hyp-reply">
  <a class="hyp-threadexp" href="#collapse"></a>
  <div class="hyp-meta">
    <div class="annotator-controls">
       <a href="#reply" class="hyp-write">Reply</a>
    </div>
    <div class="hyp-time">{{fuzzyTime created}}</div>
    {{#splitUser user}}
    <div class="hyp-user">{{name}}</div>
    {{/splitUser}}
  </div>
  <div class="hyp-body">
    <div class="hyp-content">{{text}}</div>
  </div>
  <div class="hyp-bottombar">
    <div class="hyp-repliesbadge"></div>
    <div class="hyp-right"></div>
  </div>
  <ul class="annotator-listing"></ul>
</div>
