<div class="hyp-meta">
  <div class="annotator-controls">
    <a href="#save" class="annotator-save">Save</a>
    <a href="#cancel" class="annotator-cancel">Cancel</a>
  </div>
  {{#splitUser user}}
  <div class="hyp-user">{{name}}</div>
  {{/splitUser}}
</div>
<div class="hyp-body">
  <div class="hyp-scorecontrol hyp-neutral"></div>
  <textarea class="hyp-content" placeholder="Thoughts…">{{text}}</textarea>
</div>
<div class="hyp-bottombar">
  <div class="hyp-right"></div>
</div>
