<ul class="annotator-listing">
  <li class="hyp-widget hyp-writer">
    <div class="hyp-innerwrap">
      <div class="hyp-nothread">
        <div class="hyp-meta">
          {{#splitUser user}}
            <div class="hyp-user">
              {{name}}
            </div>
          {{/splitUser}}
        </div>
        <div class="hyp-body">
          <div class="hyp-scorecontrol hyp-neutral">
          </div>
          <textarea class="hyp-content" placeholder="Thoughts…"
                    value="{{text}}"></textarea>
        </div>
        <div class="hyp-bottombar">
          <div class="hyp-right">
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>