.annotator-adder {
  box-sizing: border-box;
  direction: ltr;
  position: absolute;
  background: $white;
  border: 1px solid rgba(0,0,0,0.20);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
  z-index: 999;
}

@mixin adder-arrow($rotation) {
  transform: rotate($rotation);
  background: $white;
  border-bottom: 1px solid rgba(0,0,0,0.20);
  border-right: 1px solid rgba(0,0,0,0.20);
  content: "";
  display: block;
  height: 6px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 6px;
}

.annotator-adder--arrow-down:before {
  @include adder-arrow(45deg);
  bottom: -5px;
}

.annotator-adder--arrow-up:before {
  @include adder-arrow(225deg);
  top: -5px;
}

.annotator-adder-actions {
  display: flex;
  flex-direction: row;
}

.annotator-adder-actions:hover .annotator-adder-actions__button {
  color: $gray-light !important;
}

.annotator-adder-actions__button {
  @include box-shadow(none);
  font-family: h;
  font-size: 18px;
  background: transparent !important;
  color: $gray-dark !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  cursor: pointer;

  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.annotator-adder-actions .annotator-adder-actions__button:hover {
  color: $gray-dark !important;

  .annotator-adder-actions__label {
    color: $gray-dark !important;
  }
}

.annotator-adder-actions__label {
  font-size: 11px;
  margin: 2px 0px;
  font-family: sans-serif;
  color: $gray-light !important;
}
