@import '../base';
@import '../mixins/icons';

$base-font-size: 14px;

//ADDER////////////////////////////////
.annotator-adder {
  box-sizing: border-box;
  direction: ltr;
  margin-top: -60px;
  margin-left: -65px;
  position: absolute;
  background: $white;
  border: 1px solid rgba(0,0,0,0.20);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
  z-index: 999;
}

.annotator-adder:before {
  @include rotate(45deg);
  background: $white;
  bottom: -5px;
  border-bottom: 1px solid rgba(0,0,0,0.20);
  border-right: 1px solid rgba(0,0,0,0.20);
  content: "";
  display: block;
  height: 6px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 6px;
}

.annotator-adder-actions {
  display: flex;
  flex-direction: row;
}

.annotator-adder-actions:hover .annotator-adder-actions__button {
  color: $gray-light !important;
}

.annotator-adder-actions__button {
  @include box-shadow(none);
  font-family: h;
  font-size: 18px;
  background: transparent !important;
  color: $gray-dark !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  cursor: pointer;

  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.annotator-adder-actions .annotator-adder-actions__button:hover {
  color: $gray-dark !important;

  .annotator-adder-actions__label {
    color: $gray-dark !important;
  }
}

.annotator-adder-actions__label {
  font-size: 11px;
  margin: 2px 0px;
  font-family: sans-serif;
  color: $gray-light !important;
}


//HIGHLIGHTS////////////////////////////////
.annotator-highlights-always-on {
  .annotator-hl {
    background-color: $highlight-color;
  }

  .annotator-hl .annotator-hl {
    background-color: $highlight-color-second;
  }

  .annotator-hl .annotator-hl .annotator-hl {
    background-color: $highlight-color-third;
  }
}

.annotator-hl.annotator-hl-focused {
  background-color: $highlight-color-focus !important;

  .annotator-hl {
    background-color: transparent !important;
  }
}

// Sidebar
.annotator-frame {
  // a CSS reset which attempts to prevent the host page's styles
  // from affecting the styles of the sidebar.
  //
  // FIXME - This component and other annotator components which currently
  // live on the page could be isolated from the host page's CSS/JS via
  // transparent same-origin iframes
  @import '../reset';
  @include nested-reset;
  @include reset-box-model;

  // frame styles
  @import './bucket-bar';
  @include user-select(none);
  @include noise-background;
  direction: ltr;
  background: none;
  font-size: $base-font-size;
  line-height: $base-line-height;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 2147483647;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.annotator-collapsed {
    margin-left: 0;
  }

  * {
    background: none;
    font-size: 100%;
    text-indent: 0;
    height: initial;
    width: initial;
  }

  & > iframe {
    height: 100%;
    width: 100%;
    z-index: 3;
    position: relative;
  }

  @include icons {
    font-family: 'h';
  }

  // the vertical toolbar at the left-edge of the sidebar
  // which provides controls for toggling the sidebar,
  // toggling highlights etc.

  // note: These components CSS classes are nested inside
  // .annotator-frame to avoid being overridden by the
  // CSS reset styles applied to .annotator-frame, which would otherwise
  // have higher specificity
  .annotator-toolbar {
    position: absolute;
    left: -($bucket-bar-width + 18px - 7px);
    width: 37px;
    z-index: 2;

    ul {
      height: 100%;
    }

    ul, li {
      box-sizing: border-box;
      @include reset-box-model;
      @include reset-list-style;
    }
  }

  .annotator-frame-button {
    transition: background-color .25s .25s;
    @include smallshadow;
    background: $white;
    border: solid 1px $gray-lighter;
    border-radius: 4px;
    color: $gray-light;
    text-decoration: none;
    height: 30px;
    width: 30px;
    padding: 0;
    font-size: 18px;
    margin-bottom: 5px;

    &:active {
      transition: background-color .25s;
      background-color: $gray-light;
    }

    &:focus, &:hover {
      outline: 0;
      color: $text-color;
    }
  }

  .annotator-frame-button--sidebar_toggle {
    @include box-shadow(none);
    border-radius: 0px;
    border-style: none none solid solid;
    padding-right: 6px;
    width: 36px;
    margin-bottom: 10px;

    // the height of the sidebar toggle is set
    // to match the height of the top bar
    height: 40px;
  }
}

.annotator-placeholder {
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: -1;
}

// this disables the width transition for the sidebar when
// it is manually resized by dragging
.annotator-no-transition {
  transition: none !important;
}

/*
  Mobile layout
  240-479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .annotator-frame {
    width: 90%;
    margin-left: -90%;
  }
}

/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  .annotator-frame {
    width: 70%;
    margin-left: -70%;
  }
}

/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  .annotator-frame {
    transition: margin-left .15s cubic-bezier(.55, 0, .2, .8);
    width: 428px;
    margin-left: -428px;
  }
}

/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
}

/*
  Huge-screen layout
  1888-2520 px
  Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
