// Core: Color
// ============================================================================

// Variables
// ----------------------------------------------------------------------------

$white: white;
$black: black;

$grey-1: #f2f2f2;
$grey-2: #ececec;
$grey-3: #dbdbdb;
$grey-4: #a6a6a6;
$grey-5: #7a7a7a;
$grey-6: #3f3f3f;
$grey-7: #202020;

$brand: #d00032;
$highlight: #58cef4;
$group-organization-color: #6d676d;

// Functions
// ----------------------------------------------------------------------------

// Tint/shade functions from https://css-tricks.com/snippets/sass/tint-shade-functions
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

@function shade($color, $percent){
  @return mix(black, $color, $percent);
}
