// Core: Typography
// ============================================================================

// Variables
// ----------------------------------------------------------------------------

$sans-font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$mono-font-family: Open Sans Mono, Menlo, DejaVu Sans Mono, monospace !default;

// Standard font sizes
$normal-font-size: 13px;
$normal-line-height: 15px;

$small-font-size: 11px;
$small-line-height: 12px;

$title-font-size: 19px;
$subtitle-font-size: 15px;

// Font sizes for specific categories of control
$input-font-size: 15px;

// Minimum font size for <input> fields on iOS. If the font size is smaller than
// this, iOS will zoom into the field when focused.
$touch-input-font-size: 16px;

// Mixins
// ----------------------------------------------------------------------------

@mixin font-small {
  font-size: $small-font-size;
  line-height: $small-line-height;
  font-weight: 400;
  letter-spacing: 0.2px;
}

@mixin font-normal {
  font-size: $normal-font-size;
  line-height: $normal-line-height;
  font-weight: 400;
}

// Rules
// ----------------------------------------------------------------------------

body {
  @include font-normal;
  font-family: $sans-font-family;
}

// Explanatory text paragraphs
.text {
  color: $grey-6;
}

// Prompt used in the OAuth "Authorize access?" screen.
.text--auth-prompt {
  color: $grey-5;
  margin-bottom: 50px;
}
