<div class="about-this-version">
  <i class="close h-icon-close"
    role="button"
    title="Close"
    ng-click="vm.onClose()"></i>

  <header class="about-this-version-title">
    Help
  </header>
  
    <feedback-link
      version="vm.version"
      user-agent="vm.userAgent"
      url="vm.url"
      document-fingerprint="vm.documentFingerprint"
      auth="vm.auth"
      date-time="vm.dateTime">
    </feedback-link>

  <header class="about-this-version-title">
    About this version
  </header>
  <dl class="about-this-version-content">
    <dt class="about-this-version-content__key">Version: </dt>
    <dd class="about-this-version-content__val">{{ vm.version }}</dd>
    <dt class="about-this-version-content__key">User agent: </dt>
    <dd class="about-this-version-content__val">{{ vm.userAgent }}</dd>
    <dt class="about-this-version-content__key">URL: </dt>
    <dd class="about-this-version-content__val">{{ vm.url }}</dd>
    <div ng-if="vm.documentFingerprint">
      <dt class="about-this-version-content__key">PDF fingerprint: </dt>
      <dd class="about-this-version-content__val">{{ vm.documentFingerprint }}</dd>
    </div>
    <div ng-if="vm.auth.userid">
      <dt class="about-this-version-content__key">Username: </dt>
      <dd class="about-this-version-content__val">{{ vm.auth.username }}</dd>
    </div>
    <dt class="about-this-version-content__key">Date: </dt>
    <dd class="about-this-version-content__val">{{ vm.dateTime | date:'dd MMM yyyy HH:mm:ss Z' }}</dd>
  </div>
</div>
