<div ng-class="vm.threadClasses()">
  <div class="annotation-thread__thread-edge" ng-if="!vm.isTopLevelThread()">
    <a href=""
       ng-class="vm.threadToggleClasses()"
       title="{{vm.thread.collapsed && 'Expand' || 'Collapse'}}"
       ng-click="vm.toggleCollapsed()">
       <span ng-class="{'h-icon-arrow-right': vm.thread.collapsed,
                        'h-icon-arrow-drop-down': !vm.thread.collapsed}"></span>
    </a>
    <div class="annotation-thread__thread-line"></div>
  </div>
  <div class="annotation-thread__content">
    <annotation ng-class="vm.annotationClasses()"
             annotation="vm.thread.annotation"
             is-collapsed="vm.thread.collapsed"
             is-last-reply="$last"
             is-sidebar="::vm.isSidebar"
             name="annotation"
             ng-mouseenter="vm.annotationHovered = true"
             ng-mouseleave="vm.annotationHovered = false"
             ng-if="vm.thread.annotation"
             ng-show="vm.thread.visible"
             show-document-info="vm.showDocumentInfo"
             on-reply-count-click="vm.toggleCollapsed()"
             reply-count="vm.thread.replyCount">
    </annotation>

    <div ng-if="!vm.thread.annotation" class="thread-deleted">
      <p><em>Message not available.</em></p>
    </div>

    <div ng-if="vm.hiddenCount() > 0">
      <a class="small"
         href=""
         ng-click="vm.showThreadAndReplies()"
         ng-pluralize
         count="vm.hiddenCount()"
         when="{'0': '',
               one: 'View one more in conversation',
               other: 'View {} more in conversation'}"
         ></a>
    </div>

    <!-- Replies -->
    <ul ng-show="!vm.thread.collapsed">
      <li ng-repeat="child in vm.thread.children track by child.id"
          ng-show="vm.shouldShowReply(child)">
        <annotation-thread
          show-document-info="false"
          thread="child"
          on-change-collapsed="vm.onChangeCollapsed({id:id, collapsed:collapsed})"
          on-force-visible="vm.onForceVisible({thread:thread})">
        </annotation-thread>
      </li>
    </ul>
  </div>
</div>
