<header class="annotation-header" ng-if="!vm.user()">
  <strong>You must be signed in to create annotations.</strong>
</header>

<div ng-if="vm.user()">
  <header class="annotation-header">
    <!-- User -->
    <span ng-if="vm.user()">
      <span>
        <a class="annotation-user"
           target="_blank"
           ng-href="{{vm.baseURI}}u/{{vm.user()}}"
           >{{vm.user() | persona}}</a>
      </span>

      <span class="annotation-collapsed-replies">
        <a class="reply-count small" href=""
          ng-click="replyCountClick()"
          ng-pluralize count="replyCount"
          when="{'0': '', 'one': '1 reply', 'other': '{} replies'}"></a>
      </span>

      <br>
      <span class="annotation-header__share-info">
        <a class="annotation-header__group"
           target="_blank" ng-if="vm.group() && vm.group().url" href="{{vm.group().url}}">
          <i class="h-icon-group"></i><span class="annotation-header__group-name">{{vm.group().name}}</span>
        </a>
        <span ng-show="vm.isPrivate()"
              title="This annotation is visible only to you.">
          <i class="h-icon-lock"></i><span class="annotation-header__group-name" ng-show="!vm.group().url">Only me</span>
        </span>
        <i class="h-icon-border-color" ng-show="vm.isHighlight() && !vm.editing()" title="This is a highlight. Click 'edit' to add a note or tag."></i>
        <span class="annotation-citation"
              ng-bind-html="vm.document | documentTitle"
              ng-if="!vm.isSidebar">
        </span>
        <span class="annotation-citation-domain"
              ng-bind-html="vm.document | documentDomain"
              ng-if="!vm.isSidebar">
        </span>
      </span>
    </span>

    <span class="u-flex-spacer"></span>

    <!-- Timestamp -->
    <a class="annotation-timestamp"
       target="_blank"
       title="{{vm.updated() | moment:'LLLL'}}"
       ng-if="!vm.editing() && vm.updated()"
       ng-href="{{vm.baseURI}}a/{{vm.id()}}"
       >{{vm.timestamp}}</a>
  </header>

  <!-- Excerpts -->
  <section class="annotation-quote-list"
           ng-repeat="target in vm.target() track by $index"
           ng-if="vm.hasQuotes()">
    <excerpt enabled="vm.feature('truncate_annotations')">
      <blockquote class="annotation-quote"
                  ng-bind-html="selector.exact"
                  ng-repeat="selector in target.selector
                             | filter : {'type': 'TextQuoteSelector'}
                             track by $index"></blockquote>
    </excerpt>
  </section>

  <!-- / Excerpts -- >

  <!-- Body -->
  <section name="text" class="annotation-body">
    <excerpt enabled="vm.feature('truncate_annotations') && !vm.editing()">
      <markdown ng-model="vm.annotation.text"
           read-only="!vm.editing()"
           ></markdown>
    </excerpt>
  </section>
  <!-- / Body -->

  <!-- Tags -->
  <div class="annotation-body form-field" ng-if="vm.editing()">
    <tags-input ng-model="vm.annotation.tags"
                name="tags"
                class="tags"
                placeholder="Add tags…"
                min-length="1"
                replace-spaces-with-dashes="false"
                enable-editing-last-tag="true">
        <auto-complete source="vm.tagsAutoComplete($query)"
                       min-length="1"
                       max-results-to-show="10"></auto-complete>
    </tags-input>
  </div>

  <div class="annotation-body tags tags-read-only"
       ng-if="vm.annotation.tags.length && !vm.editing()">
    <ul class="tag-list">
      <li class="tag-item" ng-repeat="tag in vm.annotation.tags">
        <a href="/stream?q=tag:'{{tag.text|urlencode}}'" target="_blank">{{tag.text}}</a>
      </li>
    </ul>
  </div>
  <!-- / Tags -->

  <footer class="annotation-footer">
    <div class="annotation-form-actions" ng-if="vm.editing()" ng-switch="vm.action">
      <button ng-switch-when="delete"
              ng-click="vm.save()"
              class="dropdown-menu-btn"><i class="h-icon-check btn-icon"></i> Delete</button>
      <publish-annotation-btn
        class="publish-annotation-btn"
        group="vm.group()"
        can-post="vm.hasContent()"
        is-shared="vm.isShared()"
        on-cancel="vm.revert()"
        on-save="vm.save()"
        on-set-privacy="vm.setPrivacy(level)"></publish-annotation-btn>
    </div>

    <div class="annotation-section annotation-license"
         ng-show="vm.isShared() && vm.editing()">
      <a href="http://creativecommons.org/publicdomain/zero/1.0/"
         title="View more information about the Creative Commons Public Domain license"
         target="_blank">
        <i class="h-icon-cc-logo"></i><i class="h-icon-cc-zero"></i>
        Annotations can be freely reused by anyone for any purpose.
      </a>
    </div>

    <div class="annotation-replies" ng-if="replyCount > 0">
      <a class="reply-count small" href=""
         ng-click="replyCountClick()"
         ng-pluralize count="replyCount"
         when="{'0': '', 'one': '1 reply', 'other': '{} replies'}"></a>
    </div>

    <div class="annotation-actions" ng-if="!vm.editing() && vm.id()">
      <button class="small btn btn-clean"
              ng-click="vm.reply()"
              ><i class="h-icon-reply btn-icon"></i> Reply</button>
      <span class="share-dialog-wrapper">
        <button class="small btn btn-clean"
                ng-click="vm.share($event)"
                ><i class="h-icon-link btn-icon"></i> Link</button>
        <span class="share-dialog" ng-click="$event.stopPropagation()">
          <a target="_blank"
             class="h-icon-link"
             ng-href="{{vm.annotationURI}}"
             title="Open in new tab"></a>
          <input type="text" value="{{vm.annotationURI}}" readonly>
        </span>
      </span>
      <button class="small btn btn-clean"
              ng-show="vm.authorize('update')"
              ng-click="vm.edit()"
              ><i class="h-icon-edit btn-icon"></i> Edit</button>
      <button class="small btn btn-clean"
              ng-show="vm.authorize('delete')"
              ng-click="vm.delete()"
              ><i class="h-icon-delete btn-icon"></i> Delete…</button>
    </div>
  </footer>
</div>
