<div class="annotation-share-dialog" ng-class="{'is-open': vm.isOpen}">
  <div class="annotation-share-dialog-target">
    <span class="annotation-share-dialog-target__label">Share:</span>
    <a href="https://twitter.com/intent/tweet?url={{vm.uri | urlEncode}}&hashtags=annotated"
      target="_blank"
      title="Tweet link"
      class="annotation-share-dialog-target__icon h-icon-twitter"></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{vm.uri | urlEncode}}"
      target="_blank"
      title="Share on Facebook"
      class="annotation-share-dialog-target__icon h-icon-facebook"></a>
    <a href="https://plus.google.com/share?url={{vm.uri | urlEncode}}"
      target="_blank"
      title="Post on Google Plus"
      class="annotation-share-dialog-target__icon h-icon-google-plus"></a>
    <a href="mailto:?subject=Let's%20Annotate&amp;body={{vm.uri}}"
      title="Share via email"
      class="annotation-share-dialog-target__icon h-icon-mail"></a>
  </div>
  <div class="annotation-share-dialog-link" type="text">
    <input class="annotation-share-dialog-link__text"
      value="{{vm.uri}}" readonly>
    <span class="annotation-share-dialog-link__feedback" ng-if="vm.copyToClipboardMessage">
      {{vm.copyToClipboardMessage}}
    </span>
    <button class="btn btn-clean annotation-share-dialog-link__btn"
      ng-click="vm.copyToClipboard($event)">
      <i class="h-icon-clipboard btn-icon"></i>
    </button>
  </div>
  <div class="annotation-share-dialog-msg" ng-if="vm.group && !vm.group.public && !vm.isPrivate">
    <span class="annotation-share-dialog-msg__audience">
      Group.
    </span>
    Only group members will be able to view this annotation.
  </div>
  <div class="annotation-share-dialog-msg" ng-if="vm.isPrivate">
    <span class="annotation-share-dialog-msg__audience">
      Only me.
    </span>
    No one else will be able to view this annotation.
  </div>
</div>
