<div class="form-vertical"
     ng-controller="AuthController as vm"
     ng-form="form"
     ng-submit="vm.submit(form['login'])">
  <ul class="nav nav-tabs">
    <li class="active"><a href="">Sign in</a></li>
    <li><a href="/register" target="_blank">Create an account</a></li>
  </ul>
  <div class="tab-content">
    <form data-value="login"
          class="form"
          name="login"
          form-validate
          novalidate>

      <p class="form-description form-error"
         ng-show="login.responseErrorMessage">
        {{login.responseErrorMessage}}
      </p>

      <div class="form-field">
        <label class="form-label" for="field-login-username">Username or email address:</label>
        <input class="form-input" type="text" id="field-login-username"
               name="username" value=""
               ng-model="model.username"
               required autocapitalize="false" />
        <ul class="form-error-list">
          <li class="form-error"
              ng-show="login.username.$error.required"
              >Please enter your username or email address.</li>
          <li class="form-error"
              ng-show="login.username.$error.response"
              >{{login.username.responseErrorMessage}}</li>
        </ul>
      </div>

      <div class="form-field">
        <label class="form-label" for="field-login-password">Password:</label>
        <input class="form-input" id="field-login-password"
               type="password" name="password" value=""
               ng-model="model.password"
               required autocapitalize="false" autocorrect="false" />
        <ul class="form-error-list">
          <li class="form-error"
              ng-show="login.password.$error.required"
              >Please enter your password.</li>
          <li class="form-error"
              ng-show="login.password.$error.response"
              >{{login.password.responseErrorMessage}}</li>
        </ul>
      </div>

      <div class="form-actions">
        <div class="form-actions-message">
          <a href="/forgot_password" target="_blank">Forgot your password?</a>
        </div>
        <div class="form-actions-buttons">
          <button class="btn btn-primary" type="submit" name="login"
                  status-button="login">Sign in</button>
        </div>
      </div>
    </form>
  </div><!-- /.tab-content -->
</div>
