<span ng-if="auth.status === 'signed-out'"
      ng-switch on="groups.focused().public">
  <i class="group-list-label__icon h-icon-public" ng-switch-when="true"></i><!-- nospace
  !--><i class="group-list-label__icon h-icon-group" ng-switch-default></i>
  <span class="group-list-label__label">{{groups.focused().name}}</span>
</span>

<div class="pull-right"
     ng-if="auth.status === 'signed-in'"
     dropdown
     keyboard-nav>
  <span class="dropdown-toggle"
        dropdown-toggle
        data-toggle="dropdown"
        role="button"
        ng-switch on="groups.focused().public"
        title="Change the selected group">
    <i class="group-list-label__icon h-icon-public" ng-switch-when="true"></i><!-- nospace
    !--><i class="group-list-label__icon h-icon-group" ng-switch-default></i>
    <span class="group-list-label__label">{{groups.focused().name}}</span><!-- nospace
    !--><i class="h-icon-arrow-drop-down"></i>
  </span>
  <div class="dropdown-menu__top-arrow"></div>
  <ul class="dropdown-menu pull-none" role="menu">
    <li class="dropdown-menu__row dropdown-menu__row--unpadded "
        ng-repeat="group in groups.all()">
      <div ng-class="{'group-item': true, selected: group.id == groups.focused().id}"
           ng-click="focusGroup(group.id)">
        <!-- the group icon !-->
        <div class="group-icon-container" ng-switch on="group.public">
          <i class="h-icon-public" ng-switch-when="true"></i>
          <i class="h-icon-group" ng-switch-default></i>
        </div>
        <!-- the group name and share link !-->
        <div class="group-details">
          <div class="group-name-container">
            <a class="group-name-link"
               href=""
               title="{{ group.public ? 'Show public annotations' : 'Show and create annotations in ' + group.name }}">
               {{group.name}}
            </a>
          </div>
          <div class="share-link-container" ng-click="$event.stopPropagation()" ng-if="!group.public">
            <a class="share-link" href="{{group.url}}" target="_blank">
              View group activity and invite others
            </a>
          </div>
        </div>
        <!-- the 'Leave group' icon !-->
        <div class="group-cancel-icon-container" ng-click="$event.stopPropagation()">
          <i class="h-icon-cancel-outline btn--cancel"
             ng-if="!group.public"
             ng-click="leaveGroup(group.id)"
             title="Leave '{{group.name}}'"></i>
        </div>
      </div>
    </li>
    <li class="dropdown-menu__row dropdown-menu__row--unpadded new-group-btn">
      <div class="group-item" ng-click="createNewGroup()">
        <div class="group-icon-container"><i class="h-icon-add"></i></div>
        <div class="group-details">
          <a href="" class="group-name-link" title="Create a new group to share annotations">
            New group
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
