<div class="help-panel">
  <i class="close h-icon-close"
    role="button"
    title="Close"
    ng-click="vm.onClose()"></i>

  <header class="help-panel-title">
    Help
  </header>
  <div class="help-panel-content">
    <help-link
      version="vm.version"
      user-agent="vm.userAgent"
      url="vm.url"
      document-fingerprint="vm.documentFingerprint"
      auth="vm.auth"
      date-time="vm.dateTime">
    </help-link>
    if you have any questions or want to give us feedback.
    You can also visit our <a class="help-panel-content__link" href="{{vm.serviceUrl}}docs/help" target="_blank"> help documents</a>.
  </div>
  <header class="help-panel-title">
    About this version
  </header>
  <dl class="help-panel-content">
    <dt class="help-panel-content__key">Version: </dt>
    <dd class="help-panel-content__val">{{ vm.version }}</dd>
    <dt class="help-panel-content__key">User agent: </dt>
    <dd class="help-panel-content__val">{{ vm.userAgent }}</dd>
    <div ng-if="vm.url">
      <dt class="help-panel-content__key">URL: </dt>
      <dd class="help-panel-content__val">{{ vm.url }}</dd>
    </div>
    <div ng-if="vm.documentFingerprint">
      <dt class="help-panel-content__key">PDF fingerprint: </dt>
      <dd class="help-panel-content__val">{{ vm.documentFingerprint }}</dd>
    </div>
    <div ng-if="vm.auth.userid">
      <dt class="help-panel-content__key">Username: </dt>
      <dd class="help-panel-content__val">{{ vm.auth.username }}</dd>
    </div>
    <dt class="help-panel-content__key">Date: </dt>
    <dd class="help-panel-content__val">{{ vm.dateTime | date:'dd MMM yyyy HH:mm:ss Z' }}</dd>
  </div>
</div>
