<!-- message to display to loggedout users when they visit direct linked annotations -->
<li class="loggedout-message">
  <span>
    This is a public annotation created with Hypothesis.
    <br>
    To reply or make your own annotations on this document,
    <a class="loggedout-message__link" href="{{vm.serviceUrl}}register" target="_blank">create a free account</a>
    or
    <a class="loggedout-message__link" href="" ng-click="vm.onLogin()">sign in</a>.
  </span>
  <span class="loggedout-message-logo">
    <a href="https://hypothes.is">
      <i class="h-icon-hypothesis-logo loggedout-message-logo__icon"></i>
    </a>
  </span>
</li>
