<div ng-hide="readOnly" class="markdown-tools" ng-class="preview && 'disable'">
  <span class="markdown-preview-toggle">
    <a class="markdown-tools-badge h-icon-markdown" href="https://help.github.com/articles/markdown-basics" title="Parsed as Markdown" target="_blank"></a>
    <a href="" class="markdown-tools-toggle" ng-click="togglePreview()" ng-show="!preview">Preview</a>
    <a href="" class="markdown-tools-toggle" ng-click="togglePreview()" ng-show="preview">Write</a>
  </span>
  <i class="h-icon-format-bold markdown-tools-button" ng-click="insertBold()" title="Embolden text"></i>
  <i class="h-icon-format-italic markdown-tools-button" ng-click="insertItalic()" title="Italicize text"></i>
  <i class="h-icon-format-quote markdown-tools-button" ng-click="insertQuote()" title="Quote text"></i>
  <i class="h-icon-insert-link markdown-tools-button" ng-click="insertLink()" title="Insert link"></i>
  <i class="h-icon-insert-photo markdown-tools-button" ng-click="insertIMG()" title="Insert image"></i>
  <i class="h-icon-functions markdown-tools-button" ng-click="insertMath()" title="Insert mathematical notation (LaTex is supported)"></i>
  <i class="h-icon-format-list-numbered markdown-tools-button" ng-click="insertNumList()" title="Insert numbered list"></i>
  <i class="h-icon-format-list-bulleted markdown-tools-button" ng-click="insertList()" title="Insert list"></i>
</div>
<textarea class="form-input form-textarea js-markdown-input"
          ng-hide="readOnly || preview"
          ng-click="$event.stopPropagation()"
          ng-required="required"></textarea>
<div class="styled-text js-markdown-preview" ng-class="preview && 'markdown-preview'" ng-dblclick="togglePreview()" ng-show="readOnly || preview"></div>
