<!--
  Uses a <div> rather than a <button> so that hover states for child elements work
  in Firefox. See https://bugzilla.mozilla.org/show_bug.cgi?id=843003
!-->
<div aria-role="button" class="primary-action-btn">
  <div class="primary-action-btn__label" ng-bind="label"></div>
  <div
    class="primary-action-btn__dropdown-arrow"
    title="{{dropdownMenuLabel}}"
    ng-click="vm.toggleDropdown($event)">
    <div class="primary-action-btn__dropdown-arrow-separator"></div>
    <div class="primary-action-btn__dropdown-arrow-indicator">
      <div>▼</div>
    </div>
  </div>
</div>
