<div class="dropdown">
  <span name="privacy"
        role="button"
        class="dropdown-toggle"
        data-toggle="dropdown">
        <i class="small"
           ng-class="{'h-icon-public': level.isPublic,
                      'h-icon-group': !level.isPrivate && !level.isPublic,
                      'h-icon-lock': level.isPrivate}"></i>
        <span ng-bind="level.text"></span>
        <i class="h-icon-arrow-drop-down"></i>
  </span>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="level in levels" ng-click="setLevel(level)">
      <a href="">
        <i class="small"
           ng-class="{'h-icon-public': level.isPublic,
                      'h-icon-group': !level.isPrivate && !level.isPublic,
                      'h-icon-lock': level.isPrivate}"></i>
        <span ng-bind="level.text"></span>
      </a>
    </li>
  </ul>
</div>
