<div class="content sheet">
  <i class="close h-icon-close"
     role="button"
     title="Close"
     ng-click="shareDialog.visible = false"></i>
  <div class="form-vertical tabbable">
  <div class="form tab-pane" data-title="Share">
    <p>Share the link below to show anyone these annotations and invite them to contribute their own.</p>
    <p><input id="via"
        class="form-input"
        type="text"
        ng-value="viaPageLink"
        readonly /></p>
    <p class="share-links">
    <a href="//twitter.com/intent/tweet?url={{viaPageLink}}"
       target="_blank"
       title="Tweet link"
       class="h-icon-twitter"></a>
    <a href="//www.facebook.com/sharer/sharer.php?u={{viaPageLink}}"
       target="_blank"
       title="Share on Facebook"
       class="h-icon-facebook"></a>
    <a href="//plus.google.com/share?url={{viaPageLink}}"
       target="_blank"
       title="Post on Google Plus"
       class="h-icon-google-plus"></a>
    <a href="mailto:?subject=Let's%20Annotate&amp;body={{viaPageLink}}"
       title="Share via email"
       class="h-icon-mail"></a>
    </p>
  </div>
  </div>
</div>
