<div class="sheet" ng-if="vm.showSidebarTutorial()">
  <i class="close h-icon-close" role="button" title="Close"
     ng-click="vm.dismiss()"></i>
  <h1 class="sidebar-tutorial__header">How to get started</h1>
  <ol class="sidebar-tutorial__list">
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create an annotation, select text and click the
        <i class="h-icon-annotate"></i>&nbsp;button.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To add a note to the page you are viewing, click the
        <i class="h-icon-note"></i>&nbsp;button.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create a highlight, select text and click the
        <i class="h-icon-highlight"></i>&nbsp;button.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To reply to an annotation, click the
        <i class="h-icon-annotation-reply"></i>&nbsp;<strong>Reply</strong>&nbsp;link.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To share an annotated page, click the
        <i class="h-icon-annotation-share"></i>&nbsp;button at the top.
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create a private group, select <strong>Public</strong>,
        open the dropdown, click&nbsp;<strong>+&nbsp;New&nbsp;group</strong>.
      </p>
    </li>
  </ol>
</div>
