<div class="sheet" ng-if="vm.showSidebarTutorial()">
  <i class="close h-icon-close" role="button" title="Close"
     ng-click="vm.dismiss()"></i>
  <h1>How to get started</h1>
  <ol>
    <li>
      To create an annotation, select text and click the
      <i class="h-icon-insert-comment"></i> button.
    </li>
    <li>
      To create a highlight, select text and click the
      <i class="h-icon-border-color"></i> button.
    </li>
    <li>
      To reply to an annotation, click the
      <i class="h-icon-reply"></i> <strong>Reply</strong> link.
    </li>
    <li>
      To share an annotated page, click the
      <i class="h-icon-share"></i> button at the top.
    </li>
    <li>
      To create a private group, select <strong>Public</strong>,
      open the dropdown, click <strong>+ New group</strong>.
    </li>
  </ol>
</div>
