<span class="ng-cloak" dropdown keyboard-nav>
  <span role="button"
        data-toggle="dropdown"
        dropdown-toggle
        ng-if="!showAsIcon">
    Sorted by {{sortBy | lowercase}}
    <i class="h-icon-arrow-drop-down"></i>
  </span>
  <button
    type="button"
    class="top-bar__btn"
    ng-if="showAsIcon"
    dropdown-toggle
    title="Sort by {{sortBy}}">
    <i class="h-icon-search"></i>
  </button>
  <ul class="dropdown-menu pull-right" role="menu">
    <li ng-repeat="sortOption in sortOptions"
        ng-click="onChangeSortBy({sortBy: sortOption})"
        ><span ng-class="sortOption === sortBy ? 'dropdown-menu__radio-btn--selected' : ''"
        ></span><a class="dropdown-menu__link" href="">{{sortOption}}</a></li>
  </ul>
</span>
