<span class="ng-cloak" dropdown keyboard-nav>
  <button
    type="button"
    class="top-bar__btn"
    dropdown-toggle
    title="Sort by {{sortKey}}">
    <i class="h-icon-sort"></i>
  </button>
  <div class="dropdown-menu__top-arrow"></div>
  <ul class="dropdown-menu pull-right" role="menu">
    <li class="dropdown-menu__row"
        ng-repeat="key in sortKeysAvailable"
        ng-click="onChangeSortKey({sortKey: key})"
        ><span class="dropdown-menu-radio"
               ng-class="{'is-selected' : sortKey === key}"
        ></span><a class="dropdown-menu__link" href="">{{key}}</a></li>
  </ul>
</span>
