<a href=""
   class="threadexp"
   title="{{vm.collapsed && 'Expand' || 'Collapse'}}">
   <span ng-class="{'h-icon-expand-more': !!vm.collapsed,
                    'h-icon-expand-less': !vm.collapsed}"></span>
</a>

<!-- Annotation -->
<div ng-if="vm.container && !vm.container.message" class="thread-deleted">
  <p><em>Message not available.</em></p>
</div>

<article class="annotation thread-message"
         name="annotation"
         annotation="vm.container.message"
         annotation-embedded="{{isEmbedded}}"
         annotation-show-reply-count="{{vm.shouldShowNumReplies()}}"
         annotation-reply-count="{{vm.numReplies()}}"
         annotation-reply-count-click="vm.toggleCollapsed()"
         ng-if="vm.container.message"
         ng-show="vm.matchesFilter()">
</article>

<div class="thread-load-more" ng-show="vm.shouldShowLoadMore()">
  <a class="load-more small"
     href=""
     ng-click="vm.loadMore()"
     ng-pluralize
     count="vm.numLoadMore()"
     when="{'0': '',
           one: 'View one more in conversation',
           other: 'View {} more in conversation'}"
     ></a>
</div>

<!-- Replies -->
<ul class="thread-replies">
  <li class="thread"
      deep-count="count"
      thread="child" thread-filter
      ng-include="'thread.html'"
      ng-repeat="child in vm.container.children
                 | orderBy : 'message.updated' : true"
      ng-show="vm.shouldShowAsReply()">
  </li>
</ul>
