<a href="" class="threadexp"
   title="{{vm.collapsed && 'Expand' || 'Collapse'}}"
   ><span ng-class="{'h-icon-plus': !!vm.collapsed,
                     'h-icon-minus': !vm.collapsed}"></span></a>

<!-- Annotation -->
<div ng-if="vm.container && !vm.container.message" class="thread-deleted">
  <p><em>Message not available.</em></p>
</div>

<article class="annotation thread-message"
         name="annotation"
         annotation="vm.container.message"
         annotation-embedded="{{isEmbedded}}"
         ng-if="vm.container.message"
         ng-show="threadFilter.check(vm.container)">
</article>

<!-- Reply count -->
<div class="thread-reply" ng-show="vm.shouldShowReply(count, threadFilter.active())">
  <a class="reply-count small"
     href=""
     ng-pluralize count="count('message') - 1"
     when="{'0': '', one: '1 reply', other: '{} replies'}"></a>
</div>

<div class="thread-load-more" ng-show="vm.container.message.id && threadFilter.active()">
  <a class="load-more small"
     href=""
     ng-click="threadFilter.active(false)"
     ng-pluralize count="count('message') - count('match')"
     when="{'0': '',
           one: 'View one more in conversation',
           other: 'View {} more in conversation'}"
     ></a>
</div>

<!-- Replies -->
<ul class="thread-replies" ng-hide="vm.collapsed">
  <li class="thread"
      deep-count="count"
      thread="child" thread-filter
      ng-include="'thread.html'"
      ng-init="child.message.id || threadFilter.active(false)"
      ng-repeat="child in vm.container.children
                 | orderBy : 'message.updated' : true"
      ng-show="count('edit') || count('match') || !threadFilter.active()">
  </li>
</ul>
