<a href=""
   class="threadexp"
   title="{{vm.collapsed && 'Expand' || 'Collapse'}}"
   ng-click="vm.toggleCollapsed()">
   <span ng-class="{'h-icon-arrow-right': !!vm.collapsed,
                    'h-icon-arrow-drop-down': !vm.collapsed}"></span>
</a>

<!-- Annotation -->
<div ng-if="vm.container && !vm.container.message" class="thread-deleted">
  <p><em>Message not available.</em></p>
</div>

<article class="annotation thread-message {{vm.collapsed && 'collapsed'}}"
         name="annotation"
         annotation="vm.container.message"
         annotation-embedded="{{isEmbedded}}"
         annotation-reply-count="{{vm.numReplies()}}"
         annotation-reply-count-click="vm.toggleCollapsed()"
         ng-if="vm.container.message">
</article>

<!-- Replies -->
<ul class="thread-replies">
  <li class="thread"
      deep-count="count"
      thread="child"
      ng-include="'thread.html'"
      ng-repeat="child in vm.container.children
                 | orderBy : 'message.updated' : true"
      ng-show="vm.shouldShowAsReply()">
  </li>
</ul>
