<div id="dialog" class="sheet content">
	<i class="close h-icon-close"
   	   role="button"
       title="Close"
       ng-click="viaLinkVisible = false"></i>
    <div class="form-vertical tabbable">
	    <div class="form tab-pane" data-title="Share this page">
	  		<input id="via" 
	        	   class="form-input" 
	       	   	   type="text"
	       	   	   ng-value="viaPageLink" 
	        	   name="search"></input>
	        <p style="margin-top: 1em;">To share this page, copy the link above. Anyone who clicks on the link will be taken to the page with hypothes.is loaded.</p>
		</div>
	</div>
</div>
