<!-- Thread view -->
<ul class="stream-list"
    deep-count="count"
    thread-filter="search.query"
    window-scroll="loadMore(20)">
  <li ng-show="threadFilter.active()"
      ><span ng-pluralize
             count="count('match')"
             when="{'0': 'No results for “{{search.query}}”.',
                    'one': 'Found one result.',
                    'other': 'Found {} results.'}"></span>
      <a href="" ng-click="clearSelection()">Clear search</a>.</li>
  <li ng-show="!threadFilter.active() && selectedAnnotations"
      ><span ng-pluralize
             count="selectedAnnotationsCount"
             when="{'0': 'No annotations selected.',
                    'one': 'Showing 1 selected annotation.',
                    'other': 'Showing {} selected annotations.'}"></span>
      <a href="" ng-click="clearSelection()">Clear selection</a>.</li>
  <li ng-show="isStream">
    <span class="ng-cloak" dropdown>
      <span role="button"
            data-toggle="dropdown"
            dropdown-toggle>
        Sorted by {{sort.name | lowercase}}
        <i class="h-icon-arrow-drop-down"></i>
      </span>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ng-click="sort.name = option"
            ng-hide="option == 'Location' && !isEmbedded"
            ng-repeat="option in ['Newest', 'Oldest', 'Location']"
            ><a href="">{{option}}</a></li>
      </ul>
    </span>
  </li>
  <li id="{{vm.id}}"
      class="paper thread"
      ng-class="{'js-hover': hasFocus(child.message)}"
      deep-count="count"
      thread="child" thread-filter
      ng-if="child.message"
      ng-include="'thread.html'"
      ng-mouseenter="focus(child.message)"
      ng-click="scrollTo(child.message)"
      ng-mouseleave="focus()"
      ng-repeat="child in threadRoot.children | orderBy : sort.predicate"
      ng-show="shouldShowThread(child) && (count('edit') || count('match') || !threadFilter.active()) || vm.isNew()">
  </li>
</ul>
<!-- / Thread view -->
