<!-- Thread view -->
<ul class="stream-list"
    deep-count="count"
    thread-filter="search.query"
    window-scroll="loadMore(20)">
  <search-status-bar
    filter-active="threadFilter.active()"
    filter-match-count="count('match')"
    search-query="search ? search.query : ''"
    selection-count="selectedAnnotationsCount"
    on-clear-selection="clearSelection()">
  </search-status-bar>
  <li ng-if="!feature('groups') && isStream">
    <sort-dropdown
      sort-by="sort.name"
      sort-options="sortOptions"
      on-change-sort-by="sort.name = sortBy">
    </sort-dropdown>
  </li>
  <li id="{{vm.id}}"
      class="paper thread"
      ng-class="{'js-hover': hasFocus(child.message)}"
      deep-count="count"
      thread="child" thread-filter
      ng-if="child.message"
      ng-include="'thread.html'"
      ng-mouseenter="focus(child.message)"
      ng-click="scrollTo(child.message)"
      ng-mouseleave="focus()"
      ng-repeat="child in threadRoot.children | orderBy : sort.predicate"
      ng-show="vm.shouldShow()">
  </li>
</ul>
<!-- / Thread view -->
