<!-- Annotation thread view

(See gh2642 for rationale for 'ng-show="true"')
 -->
<ul class="stream-list ng-hide"
    ng-show="true"
    window-scroll="loadMore(20)">
  <search-status-bar
    ng-show="!isLoading()"
    ng-if="!isStream"
    filter-active="search.query"
    filter-match-count="visibleCount()"
    on-clear-selection="clearSelection()"
    search-query="search ? search.query : ''"
    selection-count="selectedAnnotationCount()"
    total-count="topLevelThreadCount()"
    >
  </search-status-bar>
  <li ng-if="isStream">
    <sort-dropdown
      sort-by="sort.name"
      sort-options="sortOptions"
      on-change-sort-by="sort.name = sortBy">
    </sort-dropdown>
  </li>
  <li class="annotation-unavailable-message"
      ng-if="selectedAnnotationUnavailable()">
    <div class="annotation-unavailable-message__icon"></div>
    <p class="annotation-unavailable-message__label">
      You do not have permission to see this annotation
    </p>
  </li>
  <li ng-style="{height: virtualThreadList.offscreenUpperHeight}"></li>
  <li id="{{child.id}}"
      class="annotation-card thread"
      ng-class="{'js-hover': hasFocus(child.annotation)}"
      ng-mouseenter="focus(child.annotation)"
      ng-click="scrollTo(child.annotation)"
      ng-mouseleave="focus()"
      ng-repeat="child in virtualThreadList.visibleThreads track by child.id">
      <annotation-thread
        thread="child"
        show-document-info="::!isSidebar"
        on-change-collapsed="setCollapsed(id, collapsed)"
        on-force-visible="forceVisible(thread)">
      </annotation-thread>
  </li>
  <li ng-style="{height: virtualThreadList.offscreenLowerHeight}"></li>
  <loggedout-message ng-if="isSidebar && shouldShowLoggedOutMessage()"
    on-login="login()" ng-cloak>
  </loggedout-message>
</ul>
<!-- / Thread view -->
