@font-face {
	font-family: 'h';
	src:url('fonts/h.eot?-cd3sth');
	src:url('fonts/h.eot?#iefix-cd3sth') format('embedded-opentype'),
		url('fonts/h.woff?-cd3sth') format('woff'),
		url('fonts/h.ttf?-cd3sth') format('truetype'),
		url('fonts/h.svg?-cd3sth#h') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="h-icon-"], [class*=" h-icon-"] {
	font-family: 'h';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.h-icon-move:before {
	content: "\e61e";
}
.h-icon-quote:before {
	content: "\e610";
}
.h-icon-numlist:before {
	content: "\e611";
}
.h-icon-ulist:before {
	content: "\e612";
}
.h-icon-code:before {
	content: "\e613";
}
.h-icon-markdown:before {
	content: "\e614";
}
.h-icon-minus:before {
	content: "\e615";
}
.h-icon-users:before {
	content: "\e616";
}
.h-icon-user:before {
	content: "\e617";
}
.h-icon-earth:before {
	content: "\e618";
}
.h-icon-link:before {
	content: "\e619";
}
.h-icon-search:before {
	content: "\e61a";
}
.h-icon-math:before {
	content: "\e600";
}
.h-icon-triangle:before {
	content: "\e601";
}
.h-icon-copy:before {
	content: "\e602";
}
.h-icon-x:before {
	content: "\e603";
}
.h-icon-cancel:before {
	content: "\e604";
}
.h-icon-locked:before {
	content: "\e605";
}
.h-icon-comment:before {
	content: "\e606";
}
.h-icon-settings:before {
	content: "\e607";
}
.h-icon-plus:before {
	content: "\e608";
}
.h-icon-pen:before {
	content: "\e609";
}
.h-icon-flag:before {
	content: "\e60a";
}
.h-icon-export:before {
	content: "\e60b";
}
.h-icon-visible:before {
	content: "\e60c";
}
.h-icon-reply:before {
	content: "\e60d";
}
.h-icon-checkmark:before {
	content: "\e60e";
}
.h-icon-highlighter:before {
	content: "\e60f";
}
.h-icon-bold:before {
	content: "\e61b";
}
.h-icon-italic:before {
	content: "\e61c";
}
.h-icon-image:before {
	content: "\e61d";
}
