{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'badge' %}
{% set page_title = 'Chrome extension badge' %}

{% block content %}
  <p>
    This page lets you edit the list of URIs on which the Chrome extension will
    never show a number on its browser button badge.
  </p>

  <p>
    The URIs that you enter here are
    <a href="http://www.postgresql.org/docs/9.4/static/functions-matching.html">
    PostgreSQL <code>LIKE</code> patterns</a>. For example to block all pages
    on <code>http://example.com/</code> use <code>%//example.com%</code>.
    If a URI that you want to block contains one of the <code>LIKE</code>
    special characters (<code>%</code> or <code>_</code>), say <code>_</code>,
    you can backslash-escape it in your pattern: <code>\_</code>.
  </p>

  <section class="card admin-form">
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
      <header class="card__header container">
        <h2 class="heading--medium">Block a URI</h2>
      </header>
      <div class="card__body container">
        <p class="form-input">
          <label class="form-input__label" for="uri_to_block">URI</label>
          <input class="form-input__input has-label" id="uri_to_block" type="text" name="add">
        </p>
        <p class="form-input">
          <input type="submit" class="button" value="Block">
        </p>
      </div>
    </form>
  </section>

  <section class="admin-form">
      <h2 class="heading--medium">Currently blocked URIs</h2>
    </header>
    {% if uris %}
      <form method="POST" action="{{ request.route_url('admin.badge') }}">
        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
        <ul class="list--striped">
          {% for uri in uris %}
            <li class="list__item blocked-uri">
              <span class="heading--small">{{ uri }}</span>
              <button class="button button--outline button--tight" type="submit" name="remove" value="{{ uri }}">Unblock</button>
            </li>
          {% endfor %}
        </ul>
      </form>
    {% else %}
      <p><em>No URIs are currently blocked.</em></p>
    {% endif %}
  </section>

{% endblock %}
