{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'groups_create' %}
{% set page_title = 'Create Group' %}

{% block content %}
  <p>
    On this page you will ultimately be able to create a new group.
    {{ foo }}
  </p>
{% endblock %}
