{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'index' %}
{% set page_title = 'Administration pages' %}

{% block content %}
  <p>Welcome to the Hypothesis administration console!</p>
  <dl class="definition-list">
    {% for key, value in release_info|dictsort %}
      <dt class="definition-list__term">{{ key }}</dt>
      <dd class="definition-list__definition">{% if value|trim %}{{ value }}{% else %}<em>Unknown</em>{% endif %}</dd>
    {% endfor %}
  </dl>
  <section class="grid-container">
    <ul class="cards">
      <li class="card">
      </li>
    </ul>
  </section>
{% endblock %}
