{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'index' %}
{% set page_title = 'Administration pages' %}

{% block content %}
  <p>Welcome to the Hypothesis administration console!</p>
  <dl class='dl-horizontal'>
    {% for key, value in release_info|dictsort %}
      <dt>{{ key }}</dt>
      <dd>{% if value|trim %}{{ value }}{% else %}<em>Unknown</em>{% endif %}</dd>
    {% endfor %}
  </dl>
{% endblock %}
