{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'index' %}
{% set page_title = 'Administration pages' %}

{% block content %}
  <p>
    This is the Hypothesis administration console. You can't do a whole lot
    here just yet. See the navbar at the top!
  </p>
{% endblock %}
