{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'mailer' %}
{% set page_title = 'Mailer' %}

{% block content %}

{% if taskid %}
  <div class="alert alert-info alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>Task submitted with ID: <code>{{ taskid }}</code></p>
  </div>
{% endif %}

<section class="card admin-form">
  <form method="POST" action="{{ request.route_path('admin.mailer_test') }}">
    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
    <header class="card__header container">
      <h2 class="heading--medium">Send a test email</h2>
    </header>
    <div class="card__body container">
      <p class="form-input">
        <label class="form-input__label" for="recipient">Recipient</label>
        <input class="form-input__input has-label" id="recipient" type="text" name="recipient">
      </p>
      <p class="form-input">
        <input type="submit" class="button" value="Send">
      </p>
    </div>
  </form>
</section>

{% endblock %}
