{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'nipsa' %}
{% set page_title = '"Not in public site areas"' %}

{% block content %}
  <p>
    On this page you can apply (and remove) the "not in public site areas" flag
    from users. Flagging a user as NIPSA means that while they will continue to see
    all their annotations as normal, their annotations will not show up in the
    public stream or in default public searches.
  </p>

  <section class="card admin-form">
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
      <header class="card__header container">
        <h2 class="heading--medium">Flag a user</h2>
      </header>
      <div class="card__body container">
        <p class="form-input">
          <label class="form-input__label" for="username">Username</label>
          <input class="form-input__input has-label" id="username" type="text" name="add">
        </p>
        <p class="form-input">
          <label class="form-input__label" for="authority">Authority</label>
          <input class="form-input__input has-label" id="authority" type="text" name="authority" value="{{ default_authority }}">
        </p>
        <p class="form-input">
          <input type="submit" class="button" value="Add">
        </p>
      </div>
    </form>
  </section>

  <section class="admin-form">
    <h2 class="heading--medium">Unflag a user</h2>
    {% if userids %}
      <form method="POST" action="{{ request.route_url('admin.nipsa') }}">
        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
        <ul class="list--striped">
          {% for userid in userids %}
            <li class="list-item list-item--flex">
              <span class="heading--small">{{ userid }}</span>
              <button class="list-item__action button button--outline button--tight" type="submit" name="remove" value="{{ userid }}">Unflag</button>
            </li>
          {% endfor %}
        </ul>
      </form>
    {% else %}
      <p><em>No users are currently flagged.</em></p>
    {% endif %}
  </section>

{% endblock %}
