{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'oauth' %}
{% set page_title = 'OAuth clients' %}

{% block content %}
  <p>
    OAuth clients are web or native applications that users can authorize
    to access their private Hypothesis data.
  </p>

  <p>
    <a class="button" href="{{ request.route_url('admin.oauthclients_create') }}">
      Register a new OAuth client
    </a>
  </p>

  <section>
    <h2 class="heading--medium">Current OAuth Clients</h2>
    <ul class="list list--bulleted">
      <li class="list-item">
        Clients can only access user data for accounts associated with their authority.
      </li>
      <li class="list-item">
        Trusted clients do not require explicit user approval to access their data.
      </li>
    </ul>
    {% if clients %}
      <ul class="list--striped">
        {% for client in clients %}
          <li class="list-item list-item--grid client">
            <div class="client__meta client__identifiers">
              <span class="heading--sup">Name</span><br>
              <h2 class="group__name heading--small">
                {{ client.name }}
                {% set edit_url = request.route_url('admin.oauthclients_edit', id=client.id) %}
                <a class="button button--inline" href="{{ edit_url }}">Edit</a>
              </h2>
              <span class="heading--sub">{{ client.id }}</span>
            </div>
            <div class="client__meta client__authority">
              <span class="heading--sup">Authority</span><br>
              {{ client.authority }}
            </div>
            <div class="client__meta client__trusted">
              <span class="heading--sup">Trusted</span><br>
              {{ client.trusted }}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p><em>No OAuth clients found.</em></p>
    {% endif %}
  </section>

{% endblock %}
