{% extends "h:templates/layouts/admin.html.jinja2" %}

{% from '../includes/search_form.html.jinja2' import search_form %}

{% set page_id = 'organizations' %}
{% set page_title = 'Organizations' %}

{% block content %}

  {{ search_form('Search by organziation name', request.params.get('q')) }}

  <section class="admin-form">
    {% if results %}
      <ul class="list--striped">
        {% for org in results %}
          <li class="list-item list-item--flex">
            <span class="heading--small">{{ org.name }}</span>
            {% set edit_url = request.route_url('admin.organizations_edit', pubid=org.pubid) %}
            <a class="list-item__action button button--outline button--tight" href="{{ edit_url }}">Edit</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p><em>No organizations found.</em></p>
    {% endif %}
  </section>

  {% include "h:templates/includes/paginator.html.jinja2" %}
{% endblock %}
