{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'staff' %}
{% set page_title = 'Staff' %}

{% block content %}
  <p>
    On this page you can give users staff privileges! For example some features
    may be enabled for staff only.
  </p>

  <section class="card admin-form">
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
      <header class="card__header container">
        <h2 class="heading--medium">Add a user to staff</h2>
      </header>
      <div class="card__body container">
        <p class="form-input">
          <label class="form-input__label" for="username">Username</label>
          <input class="form-input__input has-label" id="username" type="text" name="add">
        </p>
        <p class="form-input">
          <label class="form-input__label" for="authority">Authority</label>
          <input class="form-input__input has-label" id="authority" type="text" name="authority" value="{{ default_authority }}">
        </p>
        <p class="form-input">
          <input type="submit" class="button" value="Add">
        </p>
      </div>
    </form>
  </section>

  <section class="admin-form">
    <h2 class="heading--medium">Current Staff</h2>
    {% if staff %}
      <form method="POST" action="{{ request.route_url('admin.staff') }}">
        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
        <ul class="list--striped">
          {% for user in staff %}
          <li class="list-item">
            <span class="heading--small">{{ user }}</span>
            <button class="list-item__action button button--outline button--tight" type="submit" name="remove" value="{{ user }}">Remove</button>
          </li>
          {% endfor %}
        </ul>
      </form>
    {% else %}
      <p><em>There are no users currently on staff.</em></p>
    {% endif %}
  </section>

{% endblock %}
