// Component: Admin Navbar
// ============================================================================
// The dark navbar shown at the top of `/admin` pages.

// Rules
// ----------------------------------------------------------------------------

.admin-navbar {
  @include container-inset;

  align-items: center;
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.admin-navbar__logo-link {
  display: inline-block;
}

.admin-navbar__logo {
  color: $brand;
  vertical-align: middle;
}

.admin-navbar__menu {
  display: none;
  flex: 100%;

  &.is-open {
    display: block;
  }
}

.admin-navbar__menu-link {
  @include container-squish;

  color: $white;
  display: block;
  font-size: 1.15em;
  text-align: center;
  width: 100%;
}

.admin-navbar__dropdown-menu {
  display: none;

  &.is-open {
    display: block;
  }
}

@media (min-width: $break-desktop) {
  .admin-navbar {
    flex-direction: column;
    flex-wrap: inherit;
  }

  .admin-navbar__logo-link {
    @include container-squish;

    text-align: center;
    width: 100%;
  }

  .admin-navbar__menu-toggle {
    display: none;
  }

  .admin-navbar__menu {
    display: block;
  }
}
