// Component: Admin Navbar
// ============================================================================
// The dark navbar shown at the top of `/admin` pages.

.admin-navbar {
  @include container-inset;

  align-items: center;
  background-color: $black;
  display: flex;
  justify-content: space-between;
}

.admin-navbar__logo-link {
  display: inline-block;
}

.admin-navbar__logo {
  color: $brand;
  vertical-align: middle;
}

.admin-navbar__menu {
  display: none;

  &.is-open {
    display: block;
  }
}
