// Component: Alert
// ============================================================================

// Rules
// ----------------------------------------------------------------------------

.alert {
  @include container-inset;
  @include content-stack;

  border: 1px solid transparent;
  border-radius: 0.25em;
  position: relative;
}

.alert-info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
}

.alert-success {
  background-color: #dbefdc;
  color: #285b2a;
}

.alert__close-button {
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 3em;
}

.alert__close-icon {
  fill: #285b2a;
  height: 1.5em;
  overflow: hidden;
  vertical-align: middle;
  width: 1.5em;
}
