// Component: Alert
// ============================================================================

// Rules
// ----------------------------------------------------------------------------

.alert {
  @include container-inset;
  @include content-stack;

  border: 1px solid transparent;
  border-radius: 0.25em;
  position: relative;
}

.alert-info {
  background-color: #e2e3e5;
  border-color: #d6d8db;
  color: #383d41;
}

.alert--error,
.alert--danger,
.alert--negative {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;

  .alert__close-icon {
    fill: #721c24;
  }
}

.alert--success,
.alert--positive {
  background-color: #d4edda;
  border-color: #c3e5cb;
  color: #155724;

  .alert__close-icon {
    fill: #155724;
  }
}

.alert--warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;

  .alert__close-icon {
    fill: #856404;
  }
}

.alert__close-button {
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 3em;
}

.alert__close-icon {
  fill: #383d41;
  height: 1.5em;
  overflow: hidden;
  vertical-align: middle;
  width: 1.5em;
}
