// Component: Button
// ============================================================================

.button {
  @include container-squish;

  background-color: $black;
  border-color: $black;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 0.15em;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.button--inline {
  border: 0;
  font-size: 0.8em;
  padding: 0.1em 0.25em;
}

.button--reverse {
  background-color: $white;
  border-color: $white;
  color: $black;
}

.button--outline {
  background-color: transparent;
  border-color: $black;
  color: $black;

  &.button--reverse {
    background-color: transparent;
    border-color: $white;
    color: $white;
  }
}

.button--text {
  background-color: transparent;
  color: $black;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  text-decoration: underline;
}

.button--tight {
  @include container-squish--tight;
}
