@use "../core/color";
@use "../core/typography";

.form-checkbox {
  @include typography.font-normal;
  border: 1px solid color.$grey-3;
  border-radius: 3px;
  color: color.$grey-6;

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.form-checkbox--inline {
  color: color.$grey-4;
  border: none;
  display: flex;
}

.form-checkbox__input {
  margin-right: 15px;
}

.form-checkbox__label {
  min-height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;

  cursor: pointer;
}
