// Component: Lists
// ============================================================================

// Rules
// ----------------------------------------------------------------------------

.definition-list__term {
  font-weight: 600;
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }
}

.definition-list__definition {
  margin-left: 0;
}

.list {
  @include content-stack;
}

.list--bulleted {
  list-style-type: disc;
  margin-left: 1.125em;

  li {
    list-style-type: disc;
  }
}

.list--striped {
  .list-item:nth-child(odd) {
    background-color: $grey-1;
  }
}

.list-item--flex {
  @include container-inset--tight;

  align-items: center;
  display: flex;
  justify-content: space-between;
}

.list-item--grid {
  @include container-inset;

  align-items: stretch;
  display: grid;
}
