// Component: Lists
// ============================================================================

// Rules
// ----------------------------------------------------------------------------

.definition-list__term {
  font-weight: 600;
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }
}

.definition-list__definition {
  margin-left: 0;
}

.list--striped {
  .list-item:nth-child(odd) {
    background-color: $grey-1;
  }
}

.list-item {
  @include container-inset--tight;

  align-items: center;
  display: flex;
  justify-content: space-between;
}

.list-item__action {
}
