// Component: Table
// ============================================================================

// Rules
// ----------------------------------------------------------------------------

.table__row {
  background-color: $white;
}

.table__row:nth-child(even) {
  background-color: $grey-1;
}

.table__row--header {
  background-color: $grey-3;
}

.table__cell {
  @include container-inset--tight;
}
