.search-result-sidebar {
  width: $search-result-sidebar-width;
  flex-shrink: 0;
  margin-bottom: 40px;
  margin-left: 20px;
}

.search-result-sidebar__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.search-result-sidebar__subtitle {
  margin-bottom: 9px;
  font-size: $search-results-subtitle-font-size;
}

.search-result-sidebar__title,
.search-result-sidebar__subtitle {
  color: $brand;
}

.search-result-sidebar__subtitle-count {
  font-size: $normal-font-size;
  font-weight: normal;
}

.search-result-sidebar__section {
  margin-bottom: 26px;
  @include pie-clearfix;
}

.search-result-sidebar__share-link {
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 2px;
}

.search-result-sidebar__subsection {
  margin-top: 17px;
}

.search-result-sidebar__subsection-p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.search-result-sidebar__subsection-key {
  color: $grey-6;
  font-weight: bold;
}

.search-result-sidebar__subsection-val {
  color: $grey-6;
}

.search-result-sidebar__annotations-count {
  color: $grey-4;
}

.search-result-sidebar__creator {
  color: $grey-5;
}

.search-result-sidebar-tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
}

.search-result-sidebar__tag {
  @include reset-button;
  background-color: $grey-2;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-right: 7px;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px 3px;
  font-weight: bold;
}

.search-result-sidebar__tag-container {
  display: flex;
  color: $grey-6;
  align-items: center;
}

.search-result-sidebar__tag-count {
  color: $grey-4;
  margin-left: 5px;
  font-weight: normal;
}

.search-result-sidebar__username {
  @include reset-button;
  font-weight: bold;
  margin-right: 3px;
  margin-bottom: 7px;
  color: $grey-6;
}

.search-result-sidebar__logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  font-weight: bold;
  color: $group-organization-color;
}

.search-result-sidebar__group-logo {
  height: 17px;
  width: 17px; 
  margin-right: 5px;
}

@media screen and (max-width: $tablet-width + 250px) {
  // On tablet-sized screens and below the "sidebar" is displayed in the center
  // of the screen instead of on the side (this is achieved by media queries
  // on the sidebar's parent element), so make it full the whole width of the
  // screen.
  .search-result-sidebar {
    width: 100%;
  }
}
