{% extends "h:templates/layouts/account.html.jinja2" %}

{% set page_route = 'account' %}
{% set page_title = 'Account' %}

{% block page_content %}
  <div class="form-vertical">
    {{ email_form }}
    {{ password_form }}

    <footer class="form-footer">
      {% trans %}
        If you would like to delete your account, please email us at
        <a class="link--footer" href="mailto:support@hypothes.is">support@hypothes.is</a> from your
        registered email address, and we'll take it from there.
      {% endtrans %}
    </footer>
  </div>
{% endblock page_content %}
