{% extends "h:templates/layouts/account.html.jinja2" %}

{% set page_route = 'account' %}
{% set page_title = 'Account' %}

{% block page_content %}
  <div class="form-vertical">
    {{ email_form }}
    {{ password_form }}

    <footer class="form-footer">
      <a
        href="{{ request.route_url('account_delete') }}"
        class="link" style="float:right;">
          Delete your account
      </a>
    </footer>
  </div>
{% endblock page_content %}
