{% extends "h:templates/layouts/account.html.jinja2" %}

{% set page_route = 'account' %}
{% set page_title = 'Account' %}

{% block page_content %}
  <div class="form-vertical">
    {% if not feature('activity_pages') -%}
    <h2 class="form-heading">
      <span>{% trans %}Change your email address{% endtrans %}</span>
    </h2>
    <legend>
      {% trans %}Your current email address is:{% endtrans %}
      <strong>{{ email }}</strong>.
    </legend>
    {%- endif %}
    {{ email_form }}

    <h2 class="form-heading">
    {% if not feature('activity_pages') -%}
      <span>{% trans %}Change your password{% endtrans %}</span>
    {%- endif %}
    </h2>
    {{ password_form }}

    {% if not feature('activity_pages') -%}
    <h2 class="form-heading">
      <span>{% trans %}Delete account{% endtrans %}</span>
    </h2>
    {%- endif %}
    {% if feature('activity_pages') -%}
    <footer class="form-footer">
    {% else %}
    <legend>
    {%- endif %}
      {% trans %}
        If you would like to delete your account, please email us at
        <a href="mailto:support@hypothes.is">support@hypothes.is</a> from your
        registered email address, and we'll take it from there.
      {% endtrans %}
    {% if feature('activity_pages') -%}
    </footer>
    {% else %}
    </legend>
    {%- endif %}
  </div>
{% endblock page_content %}
