{% extends "h:templates/layouts/base.html.jinja2" %}

{% block header %}
  {% include "h:templates/includes/logo-header.html.jinja2" %}
{% endblock %}

{% block content %}
  <div class="form-container content">
    {% include "h:templates/includes/flash-messages.html.jinja2" %}

    <h1 class="form-header">
      {% block page_title %}{% endblock %}
    </h1>

    <div class="form-description">
      {% block form_message %}{% endblock %}
    </div>

    {% if form %}<p>{{ form }}</p>{% endif %}

    <footer class="form-footer">
      {% block form_footer %}{% endblock %}
      {% if signup_message %}
        {{ signup_message }}
        <a class="link--footer" href="{{ request.route_path('signup') }}">Sign up</a>
      {% endif %}
      {% if login_message %}
        {{ login_message }}
        <a class="link--footer" href="{{ request.route_path('login') }}">Log in</a>
      {% endif %}
    </footer>
  </div>
{% endblock content %}
