{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}Claim account{% endblock page_title %}

{% block styles %}
{% for url in asset_client_urls("app_css") %}
<link rel="stylesheet" href="{{ url }}">
{% endfor %}
{% endblock %}

{% block content %}
  <div id="claim" class="content paper">
    {% include "h:templates/includes/logo-header.html.jinja2" %}
    <p>
      Sorry, your claim link has expired. If you still wish to claim a username
      you reserved, please contact us at
      <a href="mailto:support@hypothes.is?Subject=Claim%20my%20username">
        support@hypothes.is</a>.
  </div>
{% endblock content %}

