{% extends "h:templates/accounts/base.html.jinja2" %}

{% block page_title %}{% trans %}Account deleted{% endtrans %}{% endblock %}

{% set form_message %}{% trans %}Your account has been deleted.{% endtrans %}{% endset %}
{% set signup_message = "Don't have a Hypothesis account?" %}
