{% extends "h:templates/layouts/base.html.jinja2" %}

{% if not feature('activity_pages') %}
{% set uses_legacy_styles = True %}
{% endif %}

{% block page_title %}
{% if feature('activity_pages') %}
Reset your password
{% else %}
Password reset
{% endif %}
{% endblock %}

{% block content %}
{%if feature('activity_pages') %}
  {% include "h:templates/includes/logo-header.html.jinja2" %}
  <div class="form content">
    <h1 class="form-header">Reset your password</h1>
    {{ form }}
    <footer class="form-footer">
      Already know your password?
      <a class="link" href="{{ request.route_path('login') }}">Log in</a>
    </footer>
  </div>
{% else %}
  <div class="content paper">
    {% include "h:templates/includes/logo-header.html.jinja2" %}
    <div class="form-vertical">
      <ul class="nav nav-tabs">
        <li><a href="{{ request.route_path('login') }}">Log in</a></li>{#
        #}<li><a href="{{ request.route_path('signup') }}">Create an account</a></li>{#
        #}<li class="active"><a href="{{ request.route_path('forgot_password') }}">Password reset</a></li>
      </ul>
      {{ form }}
    </div>
  </div>
{% endif %}
{% endblock content %}
