{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}Log in{% endblock %}

{% block header %}
  {% include "h:templates/includes/logo-header.html.jinja2" %}
{% endblock %}

{% block styles %}
  {{ super() }}

  {% for url in asset_urls('forms_css') %}
    <link rel="stylesheet" href={{ url }} as="style"/>
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="form-container">
    <script type="application/json" class="js-config">{{ js_config|tojson }}</script>

    <h1 class="form-header">Log in</h1>
    <div id="login-form"></div>
    <footer class="form-footer">
      <span style="font-size: 0.875rem">
        Don't have a Hypothesis account?
        <a class="link--footer" href="{{ request.route_path('signup') }}">Sign up</a>
      </span>
    </footer>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  {% for url in asset_urls('login_forms_js') %}
    <script type="module" src="{{ url }}"></script>
  {% endfor %}
{% endblock %}
