{% extends "h:templates/layouts/base.html.jinja2" %}

{% block header %}
  {% include "h:templates/includes/logo-header.html.jinja2" %}
{% endblock %}

{% block page_title %}Log in{% endblock %}

{% block content %}
  <div class="form-container content">
    <h1 class="form-header">Log in</h1>

    {{ form }}

    <footer class="form-footer">
      Don't have a Hypothesis account?
      <a class="link--footer" href="{{ request.route_path('signup') }}">Sign up</a>
    </footer>
  </div>
{% endblock content %}
