{% extends "h:templates/layouts/base.html.jinja2" %}
{% from "h:templates/includes/js_app.html.jinja2" import css_bundle, js_app_container, js_bundle %}

{% block page_title %}Log in{% endblock %}

{% block header %}
  {% include "h:templates/includes/logo-header.html.jinja2" %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {{ css_bundle('forms_css') }}
{% endblock %}

{% block content %}
  <div class="form-container">
    {{ js_app_container(js_config) }}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ js_bundle('login_forms_js') }}
{% endblock %}
