{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}Log in{% endblock %}

{% block content %}
  <div class="form-container form-container--popup content">
    <h1 class="form-header form-header--center">
      Log in with Hypothesis {{ svg_icon('logo', 'form-header__logo') }}
    </h1>

    {{ form }}
  </div>
  {# In the context of OAuth, the login screen is often shown in a popup.
       Use a more compact footer and make the Sign Up link open in a
       new window where there is more space and so the user can continue the
       OAuth flow after they sign up. #}
  <footer class="form-footer--popup">
    <span>
      Don't have a Hypothesis account?
      <a class="link--footer"
         href="{{ request.route_path('signup') }}"
         target="blank">Sign up</a>
    </span>
  </footer>
{% endblock content %}
