{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}Log in{% endblock %}

{% block styles %}
  {{ super() }}

  {% for url in asset_urls('forms_css') %}
    <link rel="stylesheet" href="{{ url }}">
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="form-container form-container--popup content">
    <script type="application/json" class="js-config">{{ js_config|tojson }}</script>

    <h1 class="form-header form-header--center" style="margin-bottom: 25px;">
       {{ svg_icon('logo', 'form-header__logo') }}Log in with Hypothesis
    </h1>
    <div id="login-form"></div>
  </div>
  {# In the context of OAuth, the login screen is often shown in a popup.
       Use a more compact footer and make the Sign Up link open in a
       new window where there is more space and so the user can continue the
       OAuth flow after they sign up. #}
  <footer class="form-footer--popup">
    <span>
      Don't have a Hypothesis account?
      <a class="link--footer"
         href="{{ request.route_path('signup') }}"
         target="blank">Sign up</a>
    </span>
  </footer>
{% endblock content %}

{% block scripts %}
  {{ super() }}

  {% for url in asset_urls('login_forms_js') %}
    <script type="module" src="{{ url }}"></script>
  {% endfor %}
{% endblock %}
