{% extends "h:templates/layouts/account.html.jinja2" %}

{% set page_route = 'account_notifications' %}
{% set page_title = 'Notifications' %}

{% block styles %}
  {{ super() }}

  {% for url in asset_urls('forms_css') %}
    <link rel="stylesheet" href="{{ url }}">
  {% endfor %}
{% endblock %}

{% block page_content %}
  <script type="application/json" class="js-config">{{ js_config|tojson }}</script>
  <div id="login-form"></div>
{% endblock page_content %}

{% block scripts %}
  {{ super() }}

  {% for url in asset_urls('login_forms_js') %}
    <script type="module" src="{{ url }}"></script>
  {% endfor %}
{% endblock %}
