{% extends "h:templates/layouts/account.html.jinja2" %}

{% set page_route = 'account_notifications' %}
{% set page_title = 'Notifications' %}

{% block page_content %}
  {% if user_has_email_address %}
    {{ form }}
  {% else %}
    Want notifications? We'll need your email address for that. You can add an email address in your
    <a href="{{ request.route_path('account') }}">Account Settings</a>.
  {% endif %}
{% endblock page_content %}
