{% extends "h:templates/layouts/profile.html.jinja2" %}

{% set page_route = 'profile_notifications' %}
{% set page_title = 'Notifications' %}

{% block page_content %}
  <div class="form-vertical">
    <h2 class="form-heading">
      <span>{% trans %}Update your notification settings{% endtrans %}</span>
    </h2>
    {{ form | safe }}
  </div>
{% endblock page_content %}
