{% extends "h:templates/layouts/account.html.jinja2" %}

{% set page_route = 'account_profile' %}
{% set page_title = 'Edit profile' %}

{% block page_content %}
  {{ form }}
{% endblock page_content %}
