{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}Password reset{% endblock %}

{% block styles %}
  {% assets "app_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles  %}

{% block content %}
  <div class="content paper">
    {% include "h:templates/includes/header.html.jinja2" %}
    <div class="form-vertical">
      <ul class="nav nav-tabs">
        <li><a href="{{ request.route_path('login') }}">Sign in</a></li>{#
        #}<li><a href="{{ request.route_path('register') }}">Create an account</a></li>{#
        #}<li class="active"><a href="">New password</a></li>
      </ul>
      {% if not has_code %}
      <legend>
        {% trans %}
        When you reset your password, we will send you an email containing a
        code you can use to complete the process. Please check your email and
        retrieve the code in order to set your new password.
        {% endtrans %}
      </legend>
      {% endif %}
      {{ form | safe }}
    </div>
  </div>
{% endblock content %}
