{% extends "h:templates/layouts/base.html.jinja2" %}

{% block header %}
  {% include "h:templates/includes/logo-header.html.jinja2" %}
{% endblock %}

{% block page_title %}
Sign up for Hypothesis
{% endblock %}

{% block content %}
<div class="form-container content">
  {% if form %}
    <h1 class="form-header">Sign up for Hypothesis</h1>
    {{ form }}
    <footer class="form-footer">
      Already have an account?
      <a class="link--footer" href="{{ request.route_path('login') }}">Log in</a>
    </footer>
  {% else %}
    <h1 class="form-header"> {{ heading }} </h1>
    {% if message %}
      <p> {{ message }} </p>
    {% endif %}
    <p>Please check your email and open the link to activate your account. If you don't receive your activation link within a few minutes, send an email to <a href="mailto:support@hypothes.is">support@hypothes.is</a></p>
  {% endif %}

</div>
{% endblock content %}
