@import 'compass';
@import 'compass/css3/transform';
@import 'compass/css3/user-interface';
@import "compass/reset/utilities";

$baseFontSize: 16;

@import 'common';

body {
  background-color: transparent;
  font-family: $sansFontFamily;
  height: 100%;
  width: 100%;
}

input { width: 100%; }
svg { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

/* Annotator styles */

.annotator-hide {
  display: none;
  visibility: hidden;
}

.annotator-heatmap {
  background: hsla(0, 0, 0, .1);
  border: solid thin rgba($grayLighter, .4);
  left: 10px;
  height: 100%;
  position: fixed;
  top: 0;
  width: $heatmap-width;
  cursor: pointer;
}

//HEATMAP TABS
.hyp-heatmap-tab {
  @include user-select(none);
  background-image: url("../images/side_tab.svg");
  background-position: center 1.025em;
  background-repeat: no-repeat;
  background-size: 100% 1.4em;
  color: rgb(238, 238, 238);
  cursor: pointer;
  font-weight: bold;
  font-size: .8em;
  left: 2px;
  margin-top: (1.4 + 2) / 2 * -1em; // TODO: Less janking v-align
  padding: 1em 0;
  position: fixed;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(51, 51, 51);
  width: $heatmap-width + 8px;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &:hover { left: 0; }

  &.lower, &.upper {
    background-size: 100% 2em;
    margin-top: -1em;
    &:hover { left: 2px; }
  }

  &.lower {
    background-image: url("../images/down_tab.svg");
    background-position: center .955em; // 1em + .45em in svg (TODO: crop)
  }

  &.upper {
    background-image: url("../images/up_tab.svg");
    background-position: center .455em; // 1em - .545em in svg (TODO: crop)
  }
}



// .hyp-heatmap-tab {
//   @include user-select(none);
//   color: rgb(238, 238, 238);
//   cursor: pointer;
//   left: 0px;
//   position: fixed;
//   text-align: center;
//   text-decoration: none;
//   text-shadow: 1px 1px 1px rgb(51, 51, 51);
//   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
//   .svg {
//     width: 100%;
//     height: 100%;
//   }
//   .tab {
//     fill: #666;
//     stroke: black;
//   }

//   .insert {
//     fill: #FFEA00;
//     stroke: black;
//   }

//   .label {
//     font-weight: bold;
//     font-size: 13.1px;
//     position: absolute;
//   }

//   &.emphasis {
//     .insert {
//       visibility: visible;
//     }
//   }

//   &.lower, &.upper {
//     width: 33.1px;
//     height: 26.1px;
//     .label {
//       width: 100%;
//     }
//   }

//   &.upper {
//     .label {
//       bottom: 1px;
//     }
//   }

//   &.side {
//     @include transition-property(transform, left);
//     @include transition-duration(.5s, .2s);
//     @include perspective(100px);
//     left: -7px;
//     height: 20.1px;
//     width: 40.1px;
//     .label {
//       @include single-transition(transform, .5s);
//       left: 10px;
//       right: 2px;
//       position: absolute;
//       bottom: 1px;
//     }
//     &.flip {
//       @include rotateY(180deg);
//       .label {
//         @include rotateY(180deg);
//       }
//       &:hover {
//         @include rotateY(180deg);
//         .label {
//           @include rotateY(180deg);
//         }
//       }
//     }
//     &:hover {
//       left: -5px;
//     }
//   }
// }

// Hidden tabs
.nav a[data-target="#password-tab"],
.nav a[data-target="#reset-tab"] {
  display: none;
}

.nav .active a[data-target="#password-tab"],
.nav .active a[data-target="#reset-tab"] {
  display: initial;
}

.sheet {
  background: url('../images/noise_1.png');
  background-attachment: fixed;
  margin-top: 2em;
  padding-top: 1em;
  position: absolute;
  width: 100%;
}

.sheet, .dropdown-menu {
  @include box-shadow(5px 5px 40px hsla(0, 0%, 0%, .1));
  @include single-transition(all, .4s, ease-in-out);
  @include transform-origin(50%, 0);
  z-index: 4;

  &.hyp-collapsed {
    @include rotateX(90deg);
    opacity: 0;
    pointer-events: none;
  }

  &.info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #98BED1;
  }
  &.good {
    color: #468847;
    background-color: #dff0d8;
    border-color: #8DC98E;
  }
  &.bad {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #F5A1A0;
  }
}

#gutter {
  background: url('../images/noise_1.png');
  background-attachment: fixed;
  height: 100%;
  margin-left: $heatmap-width + 10px;
  position: relative;
}

#auth-tab > footer > ul,
#register-tab > footer > ul {
  text-align: right;
}

//H BAR
#toolbar {
  @include smallshadow;
  background: white;
  border: 1px solid $grayLighter;
  border-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  line-height: 1.2;
  margin-top: .5em;
  padding: .3em;
  padding-right: 1em;
  position: absolute;
  width: 100%;
  z-index: 5;

  & > * {
    display: inline-block;
    vertical-align: bottom;
  }

  .tri {
    @include icon("tri-left.png");
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
  }

  &.shown {
    .tri {
      @include icon("tri-right.png");
    }
  }

  .pull-right {
    border-left: thin solid $grayLighter;
    padding-left: .3em;
  }

  #persona {
    span {
      @extend .btn-link;
    }
  }
}

#wrapper {
  height: 100%;
  overflow: auto;
  padding: 3em 1em 1em 1em;
  -webkit-overflow-scrolling: touch;
}
