@import 'compass';
@import 'compass/css3/user-interface';

@import 'reset';
@import 'base';
@import 'common';

$font-size: 13;
$em: $font-size / 1em;

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 100%;
}

html {
  font-size: $font-size / 16 * 1em;
}

input { width: 100%; }
img { vertical-align: top; }

section {
  margin-top: 2em;
  &:first-child { margin-top: 0; }
}

.right {
  left: 50%;
  margin-top: -2em;
  max-width: 50%;
  position: relative;
  text-align: right;
  span { font-size: .9em; }
}

svg { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

/* Annotator styles */

.annotator-hide {
  display: none;
  visibility: hidden;
}

.annotator-heatmap {
  background: hsla(0, 0, 0, .1);
  left: 10px;
  height: 100%;
  position: fixed;
  top: 0;
  width: $heatmap-width;
  cursor: pointer;
}

.annotator-outer {
  padding: 0 1em;
  margin-top: 5em;
}

//HEATMAP TABS
.hyp-heatmap-tab {
  @include user-select(none);
  background-image: url("../images/side_tab.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 1.43em; // (30% smaller than 2em)
  color: rgb(238, 238, 238);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: .8em;
  margin-top: -1.6em; // v-align half of 1.2em (line-height) + 2em of padding
  padding: 1em 0;
  position: fixed;
  left: 2px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(51, 51, 51);
  width: $heatmap-width + 8px;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &:hover { left: 0; }

  &.lower, &.upper {
    background-size: 100% 2em;
    margin-top: -1em;
    &:hover { left: 2px; }
  }

  &.lower {
    background-image: url("../images/down_tab.svg");
    background-position-y: .955em; // 1em + .45em in svg (TODO: crop)
  }

  &.upper {
    background-image: url("../images/up_tab.svg");
    background-position-y: .355em; // 1em - .645em in svg (TODO: crop)
  }
}

//H BAR
#toolbar {
  @include smallshadow;
  background: white;
  border: 1px solid $gray-lighter;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: table;
  left: 1px;
  margin-top: 1em;
  padding-right: 1em;
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 2;

  & > * {
    display: table-cell;
    vertical-align: middle;
  }

  img {
    @include clearfix;
    float: left;
    padding: .5em;
    cursor: pointer;
  }
}

#wrapper {
  background: url('../images/noise_1.png');
  background-attachment: fixed;
  height: 100%;
  margin-left: 10px + $heatmap-width;
  overflow: auto;
}
