@import 'compass';
@import 'compass/css3/transform';
@import 'compass/css3/user-interface';
@import "compass/reset/utilities";

$baseFontSize: 16;

@import 'common';

body {
  background-color: transparent;
  font-family: $sansFontFamily;
  height: 100%;
  position: fixed;
  width: 100%;
}

header {
  @include border-radius(.5em);
  @include box-shadow(5px 5px 40px hsla(0, 0%, 0%, .1));
  @include single-transition(all, .4s, 'ease-in-out');
  @include transform-origin(50%, 0);
  background: white;
  margin-top: 2.5em;
  padding: 2.5em 2em 1em;
  position: absolute;
  width: 100%;
  z-index: 4;

  &.hyp-collapsed {
    @include rotateX(90deg);
    opacity: 0;
  }

  a.close {
    line-height: 0;
    padding: .4em;
    position: absolute;
    top: 1.5em;

    &:hover {
      outline: solid thin $grayLighter;
    }

    img {
      height: .6em;
      width: .6em;
    }
  }

  #auth {
    @extend .form-vertical;
  }
}

input { width: 100%; }
svg { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

/* Annotator styles */

.annotator-hide {
  display: none;
  visibility: hidden;
}

.annotator-heatmap {
  background: hsla(0, 0, 0, .1);
  left: 10px;
  height: 100%;
  position: fixed;
  top: 0;
  width: $heatmap-width;
  cursor: pointer;
}

//HEATMAP TABS
.hyp-heatmap-tab {
  @include user-select(none);
  background-image: url("../images/side_tab.svg");
  background-position: center 1.025em;
  background-repeat: no-repeat;
  background-size: 100% 1.4em;
  color: rgb(238, 238, 238);
  cursor: pointer;
  font-weight: bold;
  font-size: .8em;
  left: 2px;
  margin-top: (1.4 + 2) / 2 * -1em;
  padding: 1em 0;
  position: fixed;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(51, 51, 51);
  width: $heatmap-width + 8px;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &:hover { left: 0; }

  &.lower, &.upper {
    background-size: 100% 2em;
    margin-top: -1em;
    &:hover { left: 2px; }
  }

  &.lower {
    background-image: url("../images/down_tab.svg");
    background-position: center .955em; // 1em + .45em in svg (TODO: crop)
  }

  &.upper {
    background-image: url("../images/up_tab.svg");
    background-position: center .455em; // 1em - .545em in svg (TODO: crop)
  }
}

#gutter {
  background: url('../images/noise_1.png');
  background-attachment: fixed;
  height: 100%;
  margin-left: $heatmap-width + 10px;
  position: relative;
}

#persona {
  select {
    cursor: pointer;
  }
}

//H BAR
#toolbar {
  @include clearfix;
  @include smallshadow;
  background: white;
  border: 1px solid $grayLighter;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: table;
  left: 1px;
  margin-top: .5em;
  padding-right: 1em;
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 5;

  & > * {
    display: table-cell;
    vertical-align: middle;
  }

  &.shown {
    img {
      @include rotate(180deg);
    }
  }

  img {
    float: left;
    width: 2.2em;
    height: 2.2em;
    padding: .4em;
    padding-bottom: .5em;
    cursor: pointer;
  }
}

#wrapper {
  height: 100%;
  overflow: auto;
  padding: 3em 1em 1em 1em;
  -webkit-overflow-scrolling: touch;
}
