@import 'compass';
@import 'compass/css3/transform';
@import 'compass/css3/user-interface';
@import "compass/reset/utilities";

$baseFontSize: 14;

@import 'common';



//ELEMENT STYLES////////////////////////////////
body {
  background-color: transparent;
  font-family: $sansFontFamily;
  height: 100%;
  position: fixed;
  width: 100%;
  outline: 1px solid black;
}

input { width: 100%; }
svg { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }



//HIDDEN TABS////////////////////////////////
.nav a[data-target="#password-tab"],
.nav a[data-target="#reset-tab"] {
  display: none;
}

.nav .active a[data-target="#password-tab"],
.nav .active a[data-target="#reset-tab"] {
  display: initial;
}



//ANNOTATOR STYLES////////////////////////////////
.annotator-hide {
  display: none;
  visibility: hidden;
}

.annotator-heatmap {
  background: hsla(0, 0, 0, .1);
  border: solid thin rgba($grayLighter, .4);
  left: 17px;
  height: 100%;
  position: fixed;
  top: 0;
  width: $heatmap-width;
}



//SIDEBAR LAYOUT////////////////////////////////
#gutter {
  background: url('../images/noise_1.png');
  background-attachment: fixed;
  height: 100%;
  margin-left: $heatmap-width + 17px;
  position: relative;
}

#wrapper {
  height: 100%;
  overflow: auto;
  padding: 3.75em 1em 1em 1em;
  -webkit-overflow-scrolling: touch;
}



//HEATMAP POINTERS////////////////////////////////
.heatmap-pointer {
  @include user-select(none);
  @include transition-property(transform, left);
  @include transition-duration(1s, .2s);
  @include perspective(100px);
  margin-top: -1em; // TODO: Less janking v-align
  // color: rgb(238, 238, 238);
  color: #666;
  left: 0px;
  position: fixed;
  height: 20.1px;
  width: 40.1px;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: center;
  cursor: pointer;

  .svg {
    width: 100%;
    height: 100%;
    background-image: url("../images/side_tab.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .label {
    font-weight: bold;
    font-size: 13.1px;
    position: absolute;
    text-decoration: none;
    @include single-transition(transform, 1s);
    left: 10px;
    right: 2px;
    position: absolute;
    bottom: 1px;
  }

  &:hover {
    left: 2px;
  }

  &.lower, &.upper {
    @include single-transition(margin-top, .2s);
    left: 7px;
    width: 33.1px;
    height: 26.1px;
    .label {
      left: 0;
      right: 0;
    }

    &:hover {
      left: 7px;
    }
  }
  
  &.upper {
    .svg {
      background-image: url("../images/up_tab.svg");
    }
    .label {
      bottom: 1px;
    }
    &:hover {
      margin-top: -1.2em;
    }
  }

  &.lower {
    .svg {
      background-image: url("../images/down_tab.svg");
    }
    .label {
      top: 1px;
    }
    &:hover {
      margin-top: -.8em;
    }
  }
  &.flip {
    @include rotateY(180deg);
    .label {
      @include rotateY(180deg);
    }
  }
}



//SHEET////////////////////////////////
//This comes down from under things.
.sheet {
  @include box-shadow(5px 5px 40px hsla(0, 0%, 0%, .1));
  @include single-transition(all, .4s, ease-in-out);
  @include transform-origin(50%, 0);
  z-index: 4;
  background: url('../images/noise_1.png');
  background-attachment: fixed;
  margin-top: 2.5em;
  padding-top: 1em;
  position: absolute;
  width: 100%;

  &.collapsed {
    @include rotateX(90deg);
    opacity: 0;
    pointer-events: none;
  }

  &.info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #98BED1;
  }
  &.good {
    color: #468847;
    background-color: #dff0d8;
    border-color: #8DC98E;
  }
  &.bad {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #F5A1A0;
  }
}



//TOOL BAR////////////////////////////////
#toolbar {
  @include smallshadow;
  background: white;
  border: 1px solid $grayLighter;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  line-height: $baseLineHeight;
  margin-top: .5em;
  padding: .3em;
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 5;
  left: 7px;

  & > div {
    display: inline-block;
    vertical-align: top;

    &:last-child {
      border-left: 1px solid $grayLighter;
    }
  }

  .tri {
    @include icon("tri-left.png");
    float: left;
    width: $baseLineHeight;
    height: $baseLineHeight;
    cursor: pointer;
  }

  &.shown {
    .tri {
      @include icon("tri-right.png");
      margin-right: .7em;
    }
  }
}

.tinyman {
  padding: 0 .3em;

  .avatar {
    border-radius: 2px;
  }

  .dropdown-toggle {
    @include linkbutton_right;
    background-image: url("../images/dropdown_1.png");
    .provider {
      color: $grayLight;
      display: none;
    }
    &:hover {
      .provider {
        display: inline;
      }
    }
  }

  &.open .provider {
    display: inline;
  }
}

