@import 'compass';
@import 'compass/css3/transform';
@import 'compass/css3/user-interface';
@import "compass/reset/utilities";

@import 'reset';
@import 'base';
@import 'common';

$font-size: 16;
$em: $font-size / 1em;

body {
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  height: 100%;
  position: fixed;
  width: 100%;
}

header {
  @include border-radius(.5em);
  @include single-transition(all, .4s, 'ease-in-out');
  @include smallshadow;
  @include transform-origin(50%, 0);
  background: white;
  left: 0;
  margin-top: 2.5em;
  padding: 2.5em 2em 1em;
  position: absolute;
  width: 100%;
  z-index: 4;

  a {
    cursor: pointer;
    font-size: .9em;
    text-decoration: underline;
  }

  a.close {
    color: $gray;
    position: absolute;
    left: 1em;
    top: 1.5em;

    img {
      height: .9em;
      width: .9em;
      margin-right: .3em;
    }
  }

  form {
    button[name^="forgot"] {
      @include box-shadow(none);
      @include reset-box-model;
      float: right;
      font-size: .9em;
      color: $link-color;
      text-decoration: underline;
      text-shadow: none;

      &:hover {
        background: none;
        color: $link-color-hover;
      }
    }
  }

  section {
    clear: both;
    & > div {
      display: inline-block;
      width: 50%;
    }
    & > form { width: 100%; }
  }

  .right {
    float: right;
    text-align: right;
  }

  &.hyp-collapsed {
    @include rotateX(90deg);
    opacity: 0;
  }
}

html {
  font-size: $font-size / 16 * 1em;
}

input { width: 100%; }
svg { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

/* Annotator styles */

.annotator-hide {
  display: none;
  visibility: hidden;
}

.annotator-heatmap {
  background: hsla(0, 0, 0, .1);
  left: 10px;
  height: 100%;
  position: fixed;
  top: 0;
  width: $heatmap-width;
  cursor: pointer;
}

//HEATMAP TABS
.hyp-heatmap-tab {
  @include user-select(none);
  background-image: url("../images/side_tab.svg");
  background-position: center .9em;
  background-repeat: no-repeat;
  background-size: 100% 1.4em;
  color: rgb(238, 238, 238);
  cursor: pointer;
  font-weight: bold;
  font-size: .8em;
  left: 2px;
  margin-top: (1.4 + 2) / 2 * -1em;
  padding: 1em 0;
  position: fixed;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(51, 51, 51);
  width: $heatmap-width + 8px;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &:hover { left: 0; }

  &.lower, &.upper {
    background-size: 100% 2em;
    margin-top: -1em;
    &:hover { left: 2px; }
  }

  &.lower {
    background-image: url("../images/down_tab.svg");
    background-position-y: .955em; // 1em + .45em in svg (TODO: crop)
  }

  &.upper {
    background-image: url("../images/up_tab.svg");
    background-position-y: .355em; // 1em - .645em in svg (TODO: crop)
  }
}

#gutter {
  background: url('../images/noise_1.png');
  background-attachment: fixed;
  height: 100%;
  margin-left: $heatmap-width + 10px;
  position: relative;
}

#persona {
  select {
    cursor: pointer;
  }
}

//H BAR
#toolbar {
  @include clearfix;
  @include smallshadow;
  background: white;
  border: 1px solid $gray-lighter;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: table;
  left: 1px;
  margin-top: .5em;
  padding-right: 1em;
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 5;

  & > * {
    display: table-cell;
    vertical-align: middle;
  }

  img {
    float: left;
    padding: .5em;
    cursor: pointer;
  }
}

#wrapper {
  height: 100%;
  overflow: auto;
  padding: 3em 1em 1em 1em;
}
