@import 'compass/css3';

// GRAYS
$gray: #777;
$gray-light: lighten($gray, 12%);
$gray-lighter: lighten($gray, 24%);

//COLORS
$hypothered: #bd1c2b;
$hypothered-desat: #bd5862;

//LINKS
$link-color:            $hypothered-desat;
$link-color-hover:      $hypothered;

//STANCE COLORS
$positive: #3aab39;
$negative: #d11c2b;
$neutral: #0171ba;

//OTHER VARIABLES
$thread-padding: 1em;
$threadexp-width: 1em;
$score-width: 40px;
$score-height: $score-width;
$heatmap-width: 30px;

// Columns
$column: 48;
$gutter: 24;

@function grid($cols:1) {
  @return (($cols * $column) + (($cols - 1) * $gutter)) / $em;
}

/* Shadow mixins */
@mixin smallshadow($a: 2px, $b: 2px, $c: .1) {
  @include box-shadow($a $b 1em hsla(0, 0%, 0%, $c));
}

@mixin plainform {
  @include single-transition("box-shadow", .6s, ease);
  @include single-transition("-moz-box-shadow", .6s, ease);
  @include single-transition("-webkit-box-shadow", .6s, ease);
  color: $gray;
  background-color: #ffffff !important;
  border: 1px solid $gray-lighter;
  border-radius: .2em;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  padding: .33em .5em;
  &:focus {
    outline: 0;
    border: 1px solid $gray-light;
    @include box-shadow( inset 1px 1px 6px -2px $gray-lighter);
    }
  }

@mixin sweetbutton {
  @include background-image(
    linear-gradient(top, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 100%));
  @include border-radius(.15em);
  @include box-shadow(
    inset 0 .2em 0 rgba(255, 255, 255, .2),
    0 .05em .1em rgba(0, 0, 0, .08));
  @include plainform;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: .4em .9em .5em;
  text-shadow: 0 1px 2px rgba(255, 255, 255, .9);

  &:hover {
    @include background-image(
      linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%));
    border-color: rgba(0, 0, 0, .25) rgba(0, 0, 0, .25) rgba(0, 0, 0, .45);
  }

  &:active {
    @include background-image(
      linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%));
    @include box-shadow(
      inset 0 .15em .25em rgba(0, 0, 0, .15),
      0 .05em .1em rgba(0, 0, 0, .0));
    border-color: rgba(0, 0, 0, .25) rgba(0, 0, 0, .25) rgba(0, 0, 0, .25);
    top: .1em;
  }
}
