a {
  color: $link-color;
  &:hover { color: $link-color-hover; }
}

body {
  color: $gray;
  font-smoothing: antialiased;
  line-height: 1.25;
}

p {
  margin: 1em 0;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

em { font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  margin: 0 0 .4em;
  padding: 0 0 .1em;
  color: $gray;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
  margin: 0;
}

h4 {
  font-size: 1.25em;
  margin: 0 0 .1em;
}

h5, h6 {
  font-size: 1em;
  margin: 0 0 .1em;
}

input, textarea {
  @include plainform;
}

select {
  @include plainform;
  padding: 0;
  text-decoration: underline;
  border: 0;
  &:focus {
    border: 0;
  }
}

label {
  @extend .visuallyhidden;
}

span.error, p.errorMsg {
  font-size: .9em;
  color: red;
  text-shadow: white -.05em .05em .01em;
}

span.errorMsg {
  font-size: .9em;
}

.btn {
  @include sweetbutton;
}

.alert-block {
  span.errorMsgLbl { @extend .visuallyhidden; }
  span.errorMsg { @extend .visuallyhidden; }
}

.btn-link {
	background: none !important;
	background-color: transparent;
	text-decoration: underline;
	border: none;
	cursor: pointer;
	cursor: hand;
  color: $link-color;
  &:hover { color: $link-color-hover; }
}

.btn-twitter {
  background: url('../images/sign-in-with-twitter-l.png');
  display: inline-block;
}

.red {
  color: $hypothered;
}

.form-horizontal {
  display: inline-block;

  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
}

.form-vertical {
  .alert-message {
    padding: .25em 0;
  }

  .controls {
    margin: .25em 0;
  }

  .control-group {
    margin: 1em 0;
  }

  .control-group:first-of-type {
    margin-top: 0;
  }

  .form-actions {
    margin: 1em 0
  }
}

.req {
  display: none;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


//CONTROLS OBJECT
.annotator-controls {
  @include box-shadow(-1em 0 1em 0 #fff);
  background: #fff;

  & > * {
    margin-right: .5em;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    padding-left: 1.3em;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: left center;
    color: $gray;
    text-align: right;

    &.hyp-write {
      background-image: url("../images/pen_1.png");
    }

    &.hyp-fave {
      background-image: url("../images/fave_1.png");
    }

    &.hyp-flag {
      background-image: url("../images/flag_1.png");
    }

    &.annotator-save {
      background-image: url("../images/submit_1.png");
    }

    &.annotator-cancel {
      background-image: url("../images/delete_1.png");
    }
  }
}

//BODY
.hyp-content { white-space: pre-wrap; }

//Provides the white background upon which items sit
.hyp-paper {
  @include border-radius(.2em);
  @include smallshadow;
  background: #fff;
  margin-bottom: 1em;
  padding: 1em;
}

//THREAD INDENTATION
.hyp-thread {
  margin: 0 -1em -1em (-$thread-padding / 2);
  padding-left: $thread-padding / 2;

  & > .annotator-listing {
    border-left: 1px dotted $gray-light;
    margin-left: $threadexp-width / 2;

    & > * {
      padding: .5em 1em 1em $thread-padding;
    }

    & .hyp-detail {
      font-size: 1em;
    }
  }
}

//THREADEXP OBJECT
.hyp-threadexp {
  height: $threadexp-width;
  width: $threadexp-width;
  position: absolute;
  top: .9em;
  left: -($threadexp-width / 2);
  outline: 1px dotted #aaa;
  background-image: url("../images/minus_1.png");
  background-size: 100% 100%;
  background-position: center;

  .hyp-collapsed > & {
    background-image: url("../images/plus_1.png");
  }
}

//EXCERPT
.hyp-excerpt {
  @include box-shadow(1px 3px 8px rgba(0, 0, 0, .2));
  position: relative;

  blockquote {
    color: $gray;
    font-family: "Merriweather";
    font-size: 1.1em;
    margin: 0;
    padding: 0 1em;
  }

  &:before {
    color: rgba(150, 150, 150, .5);
    content: "“";
    font-family: "PT Serif";
    font-size: 6em;
    position: absolute;
    top: -.1em;
    left: -.15em;
  }

  &:after {
    color: rgba(150, 150, 150, .5);
    content: "„";
    font-family: "PT Serif";
    font-size: 5em;
    position: absolute;
    right: -.15em;
    bottom: -.05em;
  }
}

//TOPBAR
//At the top of annotations mostly provides some clearfixng
.topbar {
  @include pie-clearfix;
  margin-bottom: .25em;
  .hyp-user {
    float: left;
    font-weight: bold;
    text-decoration: underline;
  }
  .hyp-time {
    float: right;
    display: inline-block;
    @include tertiarytext;
  }
}


//COMMON CLASSES (TODO: put into a class common to all annotations)
.hyp-content {
  margin-bottom: .5em
}
.bottombar {
  @include pie-clearfix;
}

//ANNOTATION DETAIL
.hyp-detail {
  position: relative;
  & > .topbar > .annotator-controls {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  & > .topbar > .annotator-controls {
    @include single-transition(opacity, .25s, ease-in-out);
    opacity: 0;
  }

  &.hyp-hover {
    @include smallshadow(2px, 2px, .2);
    z-index: 10;
    & > .topbar > .annotator-controls {
      opacity: 1;
    }
  }


  &.hyp-collapsed {
    .hyp-content {
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      font-style: italic;
      margin-top: 0;
    }
    & > .hyp-thread { overflow: hidden; }
  }

}

// Remove the expander from the top level annotation
.hyp-paper > .hyp-threadexp {
  display: none;
}

//EDITOR
.hyp-writer {
  @include smallshadow(0, 2px, .2);
  position: relative;
  z-index: 20;

  textarea {
    width: 100%;
    min-height: 8em;
  }
  .annotator-controls {
     float: left;
  }
}

//BUCKET VIEW REPLY SUMMARIES
.hyp-summary {
  @include smallshadow(2px, 3px, .2);
  position: relative;
  cursor: pointer;

  &:hover {
    @include smallshadow(2px, 4px, .2);
    bottom: 1px;
  }

  &:active {
    @include smallshadow(2px, 1px, .2);
    bottom: -2px;
  }
}
