@import "reset";
@import 'base';

$sansFontFamily: "Source Sans Pro", $sansFontFamily;
$serifFontFamily: "Merriweather", $serifFontFamily;

a {
  color: $linkColor;
  &:hover { color: $linkColorHover; }
}

body {
  background-color: $bodyBackground;
  color: $textColor;
  font-smoothing: antialiased;
  line-height: 1.4;
}

p {
  margin: 1em 0;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

em { font-style: italic; }

html {
  font-size: $baseFontSize / 16 * 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sansFontFamily;
  margin: 0 0 .4em;
  padding: 0 0 .1em;
  color: $gray;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
  margin: 0;
}

h4 {
  font-size: 1.25em;
  margin: 0 0 .1em;
}

h5, h6 {
  font-size: 1em;
  margin: 0 0 .1em;
}

input, textarea {
  @include plainform;
}

select {
  @include plainform;
  padding: 0;
  text-decoration: underline;
  border: 0;
  &:focus {
    border: 0;
  }
}

label {
  @extend .visuallyhidden;
}

.btn {
  @include sweetbutton;
}

.alert-block {
  span.errorMsgLbl { @extend .visuallyhidden; }
  span.errorMsg { @extend .visuallyhidden; }
}

.btn-link {
  @include box-shadow(none);
  @include reset-box-model;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: $linkColor;
  position: static;
  &:hover { color: $linkColorHover; }
}

.close {
  float: right;
  font-size: 1.2em;
  font-weight: bold;
  color: $black;
  margin: 0 .5em;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  opacity: .2;

  &:hover {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.tab-pane {
  background: $bodyBackground;
  border: solid thin $grayLighter;
  display: none;
  margin-top: -1px;  // Pull up and under tabs
  padding: 1em;
  position: relative;

  &.active {
    display: inherit !important;
  }
}

.red {
  color: $hypothered;
}

.form-horizontal {
  display: inline-block;
  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
  select, textarea, input, button {
    margin: .5em 0;
  }
}

.form-inline .control-group { margin-bottom: 0; }

.form-vertical {
  select, textarea, input, button {
    margin-top: .75em;
  }
}

.req {
  display: none;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


//CONTROLS OBJECT
.annotator-controls {
  @include box-shadow(-1em 0 1em 0 #fff);
  background: #fff;

  & > * {
    margin-right: .5em;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    padding-left: 1.3em;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: left center;
    color: $gray;
    text-align: right;

    &.hyp-write {
      background-image: url("../images/pen_1.png");
    }

    &.hyp-fave {
      background-image: url("../images/fave_1.png");
    }

    &.hyp-flag {
      background-image: url("../images/flag_1.png");
    }

    &.annotator-save {
      background-image: url("../images/submit_1.png");
    }

    &.annotator-cancel {
      background-image: url("../images/delete_1.png");
    }
  }
}

//BODY
.hyp-content { white-space: pre-wrap; }

//Provides the white background upon which items sit
.hyp-paper {
  @include border-radius(.2em);
  @include smallshadow;
  background: #fff;
  padding: 1em;
}

//THREAD INDENTATION
.hyp-thread {
  margin: 0 -1em -1em (-$thread-padding / 2);
  padding-left: $thread-padding / 2;

  & > .annotator-listing {
    border-left: 1px dotted $grayLight;

    & > * {
      padding: .5em 1em 1em $thread-padding;
    }

    & .hyp-detail {
      font-size: 1em;
    }
  }
}

//THREADEXP OBJECT
.hyp-threadexp {
  height: $threadexp-width;
  width: $threadexp-width;
  position: absolute;
  top: .8em;
  left: -($threadexp-width / 2);
  outline: 1px dotted #aaa;
  @include icon("minus_1.png");

  .hyp-collapsed > & {
    background-image: url("../images/plus_1.png");
  }
}

//EXCERPT
.hyp-excerpt {
  position: relative;
  margin-bottom: 1em;
  blockquote {
    margin-bottom: 0;
  }
  .more, .less {
    font-size: .9em;
    font-family: $sansFontFamily;
    display: block;
    text-align: right;
  }
}

blockquote {
  color: $gray;
  font-family: "Merriweather";
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0 1em;

  &:before {
    color: rgba(150, 150, 150, .5);
    content: "\201C";
    font-family: "PT Serif";
    font-size: 6em;
    position: absolute;
    top: -.2em;
    left: -.15em;
  }

  &:after {
    color: rgba(150, 150, 150, .5);
    content: "\201E";
    font-family: "PT Serif";
    font-size: 5em;
    position: absolute;
    right: -.15em;
    bottom: -.1em;
  }
}


//DROPDOWNS
.dropdown {
  position: relative;
}

.dropdown-menu {
  @include border-radius(0 0 .5em .5em);
  @include rotateX(90deg);
  @include smallshadow;
  background: $white;
  border: solid 1px $grayLighter;
  border-top: 0;
  left: 0;
  float: left;
  list-style: none;
  min-width: 0;
  opacity: 0;
  padding: .5em;
  pointer-events: none;
  position: absolute;
  top: 100%;

  // Aligns the dropdown menu to right
  &.pull-right {
    right: 0;
    left: auto;
  }
}

.open {
  & > .dropdown-menu {
    @include rotateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}

//TABS
//This applies to tab bars
.nav-tabs {
  @include pie-clearfix;
  margin: 0 .5em;

  & > li > a {
    cursor: pointer;
    float: left;
    line-height: 1;
    padding: .5em 1em;
    padding-top: .25em;
    margin-right: -.5em;
    margin-bottom: 0px;
    position: relative;
    text-decoration: none;
    @include tabbox;
  }

  & > .active > a {
    @include box-shadow(none);
    color: #333;
    font-weight: bold;
    background: hsla(0, 0%, 100%, 1);
    z-index: 90;
  }
}

//TIMESTAMP
.hyp-time {
  float: right;
  display: inline-block;
  line-height: 2em;
  @include tertiarytext;
}

//COMMON CLASSES (TODO: put into a class common to all annotations)
.hyp-content {
  margin-bottom: .5em
}

.bottombar {
  @include pie-clearfix;
}

//ANNOTATION DETAIL
.hyp-detail {
  position: relative;
  & > .annotator-controls {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  & > .annotator-controls {
    @include single-transition(opacity, .25s, ease-in-out);
    opacity: 0;
  }

  &.hyp-hover {
    & > .annotator-controls {
      opacity: 1;
    }
  }

  &.hyp-collapsed {
    & > .hyp-content {
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      font-style: italic;
      margin-top: 0;
    }
    & > .hyp-thread { overflow: hidden; }
    & > .hyp-user {
      display: run-in;
      margin-right: .25em;
    }
  }
}

// Remove the expander from the top level annotation
.hyp-paper > .hyp-threadexp {
  display: none;
}

.hyp-user {
  margin-bottom: .25em;
  font-weight: bold;
  text-decoration: underline;
}

//EDITOR
.hyp-writer {
  @include smallshadow(0, 2px, .2);
  position: relative;

  textarea {
    width: 100%;
    min-height: 8em;
  }
  .annotator-controls {
     float: left;
  }
}

//BUCKET VIEW REPLY SUMMARIES
.hyp-summary {
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;

  &:hover {
    @include smallshadow(2px, 3px, .1);
    bottom: 1px;
  }

  &:active {
    @include smallshadow(2px, 1px, .1);
    bottom: 0px;
  }
}


.login.twitter {
  @extend .btn-link;
  background: url('../images/sign-in-with-twitter_0.png');
  background-size: 100% 100%;
  display: inline-block;
  height: 36px;
  font-size: 0;
  margin: -4px;
  width: 225px;
}
