a {
  color: $link-color;
  &:hover { color: $link-color-hover; }
}

body {
  color: $gray;
  font-smoothing: antialiased;
  line-height: 1.25;
}

p {
  margin: 1em 0;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

em { font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  margin: 0 0 .4em;
  padding: 0 0 .1em;
  color: $gray;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
  margin: 0;
}

h4 {
  font-size: 1.25em;
  margin: 0 0 .1em;
}

h5, h6 {
  font-size: 1em;
  margin: 0 0 .1em;
}

input, textarea {
  @include plainform;
}

select {
  @include plainform;
  padding: 0;
  text-decoration: underline;
  border: 0;
  &:focus {
    border: 0;
  }
}

label {
  @extend .visuallyhidden;
}

span.error, p.errorMsg {
  font-size: .9em;
  color: red;
  text-shadow: white -.05em .05em .01em;
}

span.errorMsg {
  font-size: .9em;
}

.btn {
  @include sweetbutton;
}

.alert-block {
  span.errorMsgLbl { @extend .visuallyhidden; }
  span.errorMsg { @extend .visuallyhidden; }
}

.btn-link {
	background: none !important;
	background-color: transparent;
	text-decoration: underline;
	border: none;
	cursor: pointer;
	cursor: hand;
  color: $link-color;
  &:hover { color: $link-color-hover; }
}

.btn-twitter {
  background: url('../images/sign-in-with-twitter-l.png');
  display: inline-block;
}

.red {
  color: $hypothered;
}

.form-horizontal {
  display: inline-block;

  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
}

.form-vertical {
  .alert-message {
    padding: .25em 0;
  }

  .controls {
    margin: .25em 0;
  }

  .control-group {
    margin: 1em 0;
  }

  .control-group:first-of-type {
    margin-top: 0;
  }

  .form-actions {
    margin: 1em 0
  }
}

.req {
  display: none;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
