@import 'base';
@import 'compass/reset/utilities';

/* Annotator styles */

.annotator-adder {
  background-image: url(../images/annotator-icon-sprite.png);
  background-repeat: no-repeat;
  margin-top: -48px;
  margin-left: -24px;
  width: 48px;
  height: 48px;
  background-position: left top;
  position: absolute;
  z-index: 999;
}

.annotator-adder:hover {
  background-position: center top;
}

.annotator-adder:active {
  background-position: center right;
}

.annotator-adder button {
  display: block;
  width: 36px;
  height: 41px;
  margin: 0 auto;
  border: none;
  background: none !important;
  text-indent: -999em;
  cursor: pointer;
  &:active { background: none; }
  &:hover { background: none; }
}

.annotator-hl-active, .annotator-hl-temporary {
  background: #c9d7f1;
  color: black;
  &::selection {
    background: #c9d7f1;
    color: black;
  }
  &::-moz-selection {
    background: #c9d7f1;
    color: black;
  }
}

.annotator-notice {
  display: none;
}

/* iframe styles */

.annotator-frame {
  @include single-transition('margin-left', .2s, ease-in-out);
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 500;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.annotator-collapsed { margin-left: -$heatmap-width - 10px; }
}


/*
  Mobile layout
  240–479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .annotator-frame {
    width: 90%;
    margin-left: -90%;
  }
}

/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  .annotator-frame {
    width: 70%;
    margin-left: -70%;
  }
}

/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  .annotator-frame {
    width: 428px + $heatmap-width + 10px;
    margin-left: -428px - $heatmap-width - 10px;
  }
}

/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
}

/*
  Huge-screen layout
  1888-2520 px
  Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
