@import "compass/css3";
@import "compass/css3/images";
@import "compass/utilities/color";

@import "reset";
@import "base";
@import "common";

@import "home";

$font-size: 17;
$em: $font-size / 1em;

article {
  padding: 1em;
}

body {
  background-image: url('../images/noise_1.png');
  font-family: "Merriweather", "Georgia", serif;
}

html {
  font-size: $font-size / 16 * 1em;
}

section {
  margin: 2em 0;
}

#header {
  padding: 1em;
  position: relative;
  z-index: 2;
}

#toolbar {
  font-size: .9em;
  position: absolute;
  text-align: center;
  width: 100%;

  & > div {
    margin: .5em 0;
    width: 100%;
  }

  .bookmarklet {
    @extend .hyp-button;
    border: 1px dashed $gray;
  }
}

#wrapper {
  border: $gray-light solid 1px;
  background-color: $gray-lighter;
}

/*
    Mobile layout
    240–479 px
    Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  article { padding: 2em 1em; }

  .title { text-align: center; }

  #auth {
    input {
      width: 100%;
    }
  }
}

/*
    Wide mobile layout
    480-767 px
    Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  article { padding: 4em 2em; }
  section { margin: 4em 0em; }

  .title {
      text-align: left;
      img {
        position: relative;
        top: -1em;
        left: -1em;
        margin-bottom: -2em;
      }
  }

  #auth {
    .controls, .control-group, .form-actions, fieldset, input {
      width: auto;
    }
  }

  #header {
    font-size: .9em;
    float: right;
    text-align: left;
    top: inherit;
    margin-top: .25em;
  }
}

/*
    Tablet layout
    600-911 px
    Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  article { padding: 5em; }
  h1, h2 { text-align: left; }
  .title img {
    float: left;
    position: relative;
    top: -2em;
    left: -2em;
    margin-right: -2em;
  }
  #header { margin-top: 1.5em; }
}

/*
    Widescreen layout
    912-1887 px
    Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
  #header {
    margin-right: 2.5em;
    margin-top: 3.25em;
  }

  #wrapper {
    width: grid(12);
    margin: auto;
  }
}

/*
    Huge-screen layout
    1888-2520 px
    Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
