<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <title>Server Error</title>
      <style>
        body {
          font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
          font-weight: 300;
          color: #585858;
          background: #fff url({{ asset_url('images/noise_1.png') }});
        }

        h1 {
          font-size: 1.991em;
          padding: 0.5em 0 0;
          font-weight: 400;
          text-align: center;
        }

        p {
          line-height: 1.5;
          margin: .618em 0;
          text-align: center;
        }

        a {
          text-decoration: underline;
          color: #bd5862;
          text-decoration: none;
        }

        main {
          margin-left: auto;
          margin-right: auto;
          background: #fff;
          border: 1px solid #d3d3d3;
          border-radius: 2px;
          padding: 2em 2em 3em;
        }

        @media only screen and (max-width: 1024px) and (min-width: 767px) {
          main {
            padding: 2em 4em 3em;
            margin: auto;
            max-width: 768px;
          }
        }

        #graphic {
          display: block;
          width: 200px;
          margin: auto;
        }
      </style>
  </head>
  <body>
  <main class="content paper styled-text page">
    <img id="graphic" src="{{ asset_url('images/sad-annotation.svg') }}" />
    <h1>Uh-oh, something went wrong!</h1>
    <p>We&rsquo;re very sorry, our application wasn&rsquo;t able to load this page. The
       team has been notified and we&rsquo;ll&nbsp;fix&nbsp;it&nbsp;shortly.</p>
    <p>If the problem persists or you'd like more information please contact&nbsp;<a href="mailto:support@hypothes.is?subject=Internal%20Server%20Error%20on%20Hypothes.is">support@hypothes.is</a>.</p>
  </main>
  </body>
</html>
