<form class="form" name="edit_profile" ng-show="activePanel.name == 'Account'" ng-submit="submit(edit_profile)" novalidate form-validate data-form-validate-error-class="form-field-error">
  <h2 class="form-heading"><span>Change Your Email</span></h2>

  <div class="form-field" data-target="email">
    <label class="form-label" for="field-current-email">New Email: <em class="form-hint">User's Email to go here.</em></label>
    <input id="field-current-email" class="form-input" type="email" name="email" ng-model="model.email" required autocapitalize="false" />

    <ul class="form-error-list">
      <li class="form-error" ng-show="edit_profile.email.$error.email">Is this an email address?</li>
      <li class="form-error" ng-show="edit_profile.email.$error.required">Please choose a new email address.</li>
    </ul>
  </div>

  <div class="form-field" data-target="confirmemail">
    <label class="form-label" for="field-confirm-email">Confirm Email:</label>
    <input id="field-confirm-email" class="form-input" type="email" name="confirmemail" ng-model="model.confirmemail" required autocapitalize="false">

    <ul class="form-error-list">
      <li class="form-error" ng-show="edit_profile.confirmemail.$error.match">New and confirmation emails do not match.</li>
      <li class="form-error" ng-show="edit_profile.confirmemail.$error.email">Is this an email address?</li>
      <li class="form-error" ng-show="edit_profile.confirmemail.$error.required">Please confirm your new email address.</li>
    </ul>
  </div>

  <div class="form-field" data-target="password">
    <label class="form-label" for="field-confirm-password">Password:</label>
    <input id="field-confirm-password" class="form-input" type="password" name="password" ng-model="model.password" required autocapitalize="false" >

    <ul class="form-error-list">
      <li class="form-error" ng-show="edit_profile.password.$error.email">This password is not valid for this account.</li>
      <li class="form-error" ng-show="edit_profile.password.$error.required">Please enter your password to confirm this change.</li>
    </ul>
  </div>

  <div class="form-actions">
    <div class="form-actions-buttons">
      <button class="btn" type="submit">Update</button>
    </div>
  </div>
</form>

<form name="changepassword"
    ng-show="activePanel.name == 'Account' && !confirmDelete"
    novalidate>

    <h2>Change Password</h2>

    <input class="fullwidth" type="password" name="oldpassword" required placeholder="Old password" ng-model="model.oldpassword">
    <span slow-validate="oldpassword">
      <span ng-show="changepassword.oldpassword.$error.required"
            >Please enter your current password.</span>
      <span ng-show="changepassword.oldpassword.$error.minlength"
            >Your password does not match the one we have on record.</span>
    </span>

    <input type="password" name="newpassword" class="fullwidth" placeholder="New Password" required autocapitalize="false" autocorrect="false" ng-minlength="2" ng-model="model.newpassword" />
    <span slow-validate="newpassword">
      <span ng-show="changepassword.newpassword.$error.required"
            >Please enter a password.</span>
      <span ng-show="changepassword.newpassword.$error.minlength"
            >Passwords must be at least 2 characters.</span>
    </span>

    <input class="fullwidth" name="confirmpassword" ng-model="model.confirmpassword" type="password" placeholder="Confirm new password" match="confirmpassword" required>
    <span slow-validate="confirmpassword">
      <span ng-show="changepassword.confirmpassword.$error.required"
            >Please confirm your new password.</span>
      <span ng-show="changepassword.confirmpassword.$error.minlength"
            >Passwords must be at least 2 characters.</span>
      <span ng-show="changepassword.confirmpassword.$error.match"
            >Passwords do not match.</span>
    </span>

    <button class="btn icon-checkmark2" ng-click="submit(changepassword)" ng-disabled="!changepassword.$valid">Save</button>
</form>

<form name="deleteaccount"
      ng-show="activePanel.name == 'Account'"
      novalidate>
      <h2>Delete Account</h2>
      <p>This will delete your user account. If you would like to delete your annotations, do so before continuing or email us at <a href="mailto:support@hypothes.is">support@hypothes.is</a>.</p>
      <input class="fullwidth" type="password" name="deleteaccountpassword" ng-model="model.deleteaccountpassword" placeholder="Please enter your password to proceed" required autocapitalize="false" >
      <span slow-validate="deleteaccountpassword">
        <span ng-show="deleteaccount.deleteaccountpassword.$error.minlength"
              >Your password does not match the one we have on record.</span>
      </span>
      <button class="btn danger" ng-click="deleteAccount()" ng-disabled="!deleteaccount.$valid">Delete account</button>
</form>
