<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin Users</title>
  </head>
  <body>

  {% for message in request.session.pop_flash('error') %}
    {{ message }}
  {% endfor %}

  <form method="POST">
    <input type="text" name="add"></input>
    <input type="submit" value="Add"></input>

    <ul>
      {% for user in admin_users %}
        <li>
          {{ user }}
          {% if admin_users|length > 1 %}
            <button type="submit" name="remove" value="{{ user }}"
                    formaction="{{ request.route_url('admin_user_delete') }}">
              remove
            </button>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </form>

  </body>
</html>
