<form name="form">
  <div class="magicontrols small pull-right" ng-hide="editing">
    <!-- Timestamp -->
    <span>{{model.$viewValue.updated | fuzzyTime | date:'mediumDate'}}</span>

    <!-- More actions -->
    <div class="dropdown">
      <span class="dropdown-toggle" role="button" title="More actions"></span>
      <ul class="dropdown-menu pull-right" role="menu">
        <li class="reply-icon"
            ng-click="reply()">Reply</li>
        <li class="clipboard-icon"
            ng-show="authorize('update')"
            ng-click="edit()">Edit</li>
        <li class="x-icon"
            ng-show="authorize('delete')"
            ng-click="delete()">Delete…</li>
        <li class="flag-icon"
            ng-hide="authorize('delete')"
            ng-click="flag()">Flag…</li>
      </ul>
    </div>
  </div>

  <!-- Privacy -->
  <privacy ng-model="$parent.model.$modelValue.permissions"
           ng-show="editing && action != 'delete'"
           class="dropdown privacy pull-right"
           name="privacy" />

  <!-- Deletion notice -->
  <span ng-show="!editing && model.$viewValue.deleted"
        >Annotation deleted.</span>

  <!-- Privacy icon -->
  <span class="vis-icon small"
        ng-show="form.privacy.$viewValue != 'Public'" />

  <!-- Preface -->
  <header ng-switch="editing && action">
    <strong ng-switch-when="delete"
            >You may explain.</strong>
    <strong ng-switch-when="edit"
            >You are editing this annotation.</strong>
    <strong class="user" ng-switch-default
            >{{model.$viewValue.user | userName}}</strong>
  </header>

  <!-- Prompt -->
  <!-- TODO: replace with placeholder on markdown elements? -->
  <div ng-show="model.$viewValue.deleted && !editing">
    <ng-switch on="model.$viewValue.text.length">
      <div ng-switch-when="0">(no reason given)</div>
      <div ng-switch-default>Reason:</div>
    </ng-switch>
  </div>

  <!-- Body -->
  <markdown ng-model="$parent.model.$modelValue.text"
            ng-readonly="!$parent.editing"
            class="body"
            name="text"
            required="" />

  <!-- Bottom controls -->
  <div class="buttonbar" ng-show="editing">
    <div class="annotator-controls">
      <ng-switch on="action">
        <button ng-switch-when="edit"
                ng-click="save()"
                class="btn check-icon">Edit</button>
        <button ng-switch-when="delete"
                ng-click="save()"
                class="btn check-icon">Delete</button>
        <button ng-switch-default
                ng-click="save()"
                class="btn check-icon">Save</button>
      </ng-switch>
      <span role="button" ng-click="cancel()" class="x-icon">Cancel</span>
    </div>
  </div>

  <!-- Editing preview -->
  <div ng-show="previewText" class="preview">
    <h4>Preview</h4>
    <div ng-bind-html="previewText" class="body" />
  </div>

  <!-- Bottom control strip -->
  <div class="magicontrols small" ng-hide="editing">
    <span class="reply-count"
          ng-pluralize=""
          ng-show="thread.children.length"
          count="thread.flattenChildren().length"
          when="{one: '1 reply', other: '{} replies'}" />
    <a class="reply-icon show" href="" title="Reply" ng-click="reply()">Reply</a>
    <!-- <span class="fave-icon" title="Favorite"
          ng-click="favorite()" /> -->
    <a class="share-icon show" href="" title="Share" ng-click="share()">Share</a>

    <!-- More actions -->
    <div class="dropdown show">
      <a href="" class="down-icon dropdown-toggle"
         role="button"
         title="More actions">More</a>
      <ul class="dropdown-menu" role="menu">
        <li class="reply-icon"
            ng-click="reply()">Reply</li>
        <li class="clipboard-icon"
            ng-show="authorize('update')" ng-click="edit()">Edit</li>
        <li class="x-icon"
            ng-show="authorize('delete')"
            ng-click="delete()">Delete…</li>
        <li class="flag-icon"
            ng-hide="authorize('delete')"
            ng-click="flag()">Flag…</li>
      </ul>
    </div>
  </div>
</form>
