<div data-ng-class="{ 'collapsed': collapsed
                    , 'writer': editable
                    }"
     class="annotation">
  <a data-ng-click="collapsed = !collapsed" class="threadexp" />
  <div class="time" data-ng-bind="created" />
  <h3 class="user" data-ng-bind="user" />
  <ng:switch on="editable == true">
    <textarea data-ng-model="text" data-ng-switch-when="true" />
    <div data-ng-bind-html="text" data-ng-switch-default="" class="body" />
  </ng:switch>
  <div data-ng-class="bottombar">
    <span data-ng-show="id"
          data-ng-pluralize=""
          count="replyCount"
          when="{ '0': 'No replies'
                , 'one': '1 reply'
                , 'other': '{} replies'
                }"
          class="replycount" />
    <div class="annotator-controls">
      <button data-ng-click="save()" class="btn">
        <a class="annotator-save">Save</a>
      </button>
      <a data-ng-click="cancel()" class="annotator-cancel">Cancel</a>
      <a data-ng-click="reply()" data-ng-show="id" class="write">Reply</a>
    </div>
  </div>
  <div class="thread">
    <ul class="annotator-listing">
      <li data-ng-include="'annotation.html'"
          data-ng-repeat="annotation in replies" />
    </ul>
  </div>
</div>
