<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hypothesis</title>
    {# the <base> tag is required by Angular JS when HTML 5 history is
     enabled. We shouldn't really need this because a given instance of the app
     only ever displays a single route.
     #}
    <base target="_top" href="/" />
    {% for url in app_css_urls %}
    <link rel="stylesheet" href="{{ url }}">
    {% endfor %}
    {% for attrs in meta_attrs -%}
      <meta {% for key, value in attrs.items() %}{{ key }}="{{ value }}" {% endfor %}/>
    {% endfor -%}
    {% if link_tags %}
      {% for link in link_tags %}
        <link rel="{{ link.rel }}" type="{{ link.type }}"
              href="{{ link.href }}"/>
      {% endfor %}
    {% endif %}
  </head>
  <body ng-app="h" ng-strict-di ng-controller="AppController" ng-csp="">
    <top-bar
      auth="auth"
      on-login="login()"
      on-logout="logout()"
      account-dialog="accountDialog"
      share-dialog="shareDialog"
      is-sidebar="::isSidebar"
      search-controller="search"
      sort-by="sort.name"
      sort-options="sort.options"
      on-change-sort-by="sort.name = sortBy">
    </top-bar>

    <div class="create-account-banner" ng-if="isSidebar && auth.status === 'signed-out'" ng-cloak>
      To annotate this document
      <a href="{{ register_url }}" target="_blank">
        create a free account
      </a>
      or <a href="" ng-click="login()">sign in</a>
    </div>

    <div class="content" ng-cloak>
      <login-form ng-if="accountDialog.visible"
                on-close="accountDialog.visible=false"></login-form>
      <sidebar-tutorial ng-if="isSidebar"></sidebar-tutorial>
      <share-dialog ng-show="shareDialog.visible"></share-dialog>
      <main ng-view=""></main>
    </div>

    <!-- Templates for Angular components !-->
    {% for template in angular_templates -%}
      <script type="text/ng-template" id="{{template.name}}">
        {{ template.content | safe }}
      </script>
    {% endfor -%}

    <!-- App Configuration !-->
    <script class="js-hypothesis-settings" type="application/json">
      {{ app_config | safe }}
    </script>

    <!-- Scripts !-->
    {% for url in app_js_urls %}
    <script src="{{ url }}"></script>
    {% endfor %}

    <!-- Analytics !-->
    {% if ga_tracking_id %}
      <!-- Google Analytics -->
      <script async src='//www.google-analytics.com/analytics.js'></script>
      <script>
       window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
       ga('create', 'UA-{{ga_tracking_id}}', '{{ga_cookie_domain}}');

       {# No pageview event is sent here because that is handled by the
          Angular GA integration in the client app after it boots.
        #}
      </script>
      <!-- End Google Analytics -->
    {% endif %}
  </body>
</html>
