<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hypothesis</title>
    {% for attrs in meta_attrs -%}
      <meta {% for key, value in attrs.items() %}{{ key }}="{{ value }}" {% endfor %}/>
    {% endfor -%}
    {% if link_tags %}
      {% for link in link_tags %}
        <link rel="{{ link.rel }}" type="{{ link.type }}"
              href="{{ link.href }}"/>
      {% endfor %}
    {% endif %}

    <!-- Prefetch non-authenticated API routes which client will need. !-->
    <link rel="preload" as="fetch" href="{{ request.route_url("api.index") }}" crossorigin="anonymous">
    <link rel="preload" as="fetch" href="{{ request.route_url("api.links") }}" crossorigin="anonymous">
  </head>
  <body>
    <hypothesis-app></hypothesis-app>

    <!-- App Configuration !-->
    <script class="js-hypothesis-config" type="application/json">
      {{ app_config | safe }}
    </script>

    <!-- Client boot script !-->
    <script src="{{ embed_url }}"></script>

  </body>
</html>
