{% extends "layouts/base.html.jinja2" %}

{% block styles %}
  {% assets "app_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block body_tag %}
{# ng-strict-di is a (harmless) noop until we upgrade to Angular 1.3 #}
<body ng-app="h" ng-strict-di ng-controller="AppController" ng-csp="">
{% endblock %}

{% block content %}
  <!-- Toolbar -->
  <div class="topbar" ng-class="frame.visible && 'shown'" ng-cloak>
    <div class="inner content">
      <button class="btn btn-clean"
              ng-click="shareDialog.visible = !shareDialog.visible"
              ng-if="isEmbedded"
              title="Share this page">
        <i class="h-icon-share btn-icon"></i>
      </button>

      <!-- Searchbar -->
      <div class="simple-search"
           query="search.query"
           on-search="search.update(query)"
           on-clear="search.clear()"></div>
      <!-- / Searchbar -->

      <group-list class="group-list" ng-if="auth.user && feature('groups')">
      </group-list>

      <div ng-switch="auth.user">
        <span ng-switch-when="undefined">⋯</span>
        <a href="" ng-click="login()" ng-switch-when="null">Sign in</a>
        <div class="pull-right user-picker" dropdown>
          <span role="button"
                data-toggle="dropdown" dropdown-toggle>{% raw %}{{ auth.user|persona }}{% endraw %}<!--
            --><span class="provider" ng-show="auth.user">/{% raw %}{{ auth.user|persona:'provider' }}{% endraw %}</span><!--
            --><i class="h-icon-arrow-drop-down"></i></span>
          <ul class="dropdown-menu pull-right" role="menu">
            <li ng-show="auth.user"><a href="" ng-click="accountDialog.visible='true'">Account</a></li>
            <li><a href="mailto:support@hypothes.is">Feedback</a></li>
            <li><a href="/docs/help" target="_blank">Help</a></li>
            <li ng-show="auth.user"><a href="/stream?q=user:{% raw %}{{ auth.user|persona }}{% endraw %}"
                                       target="_blank">My Annotations</a></li>
            <li ng-show="auth.user"><a href="" ng-click="logout()">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- / Toolbar -->

  <div class="content" ng-cloak>
    <!-- Account Dialog -->
    <div class="sheet" ng-if="accountDialog.visible">
      <i class="close h-icon-close"
         role="button"
         title="Close"
         ng-click="accountDialog.visible = false"></i>
      <div ng-if="auth.user">
        {% block settings %}
        <div class="tabbable"
             ng-controller="AccountController"
             ng-model="tab">
          {{ include_raw("h:templates/client/settings/account.html") }}
          {{ include_raw("h:templates/client/settings/notifications.html") }}
        </div>
        {% endblock %}
      </div>
      <div ng-if="!auth.user">
        {% block auth %}
        {{ include_raw("h:templates/client/auth.html") }}
        {% endblock %}
      </div>
    </div>
    <!-- / Account Dialog -->

    <!-- Share View Dialog -->
    <div share-dialog="" ng-show="shareDialog.visible"></div>
    <!-- / Share View Dialog -->

    <!-- Angular view -->
    <main ng-view=""></main>
    <!-- / Angular view -->
  </div>
{% endblock %}

{% block templates %}
  <script type="text/ng-template" id="annotation.html">
    {{ include_raw("h:templates/client/annotation.html") }}
  </script>
  <script type="text/ng-template" id="group_list.html">
    {{ include_raw("h:templates/client/group_list.html") }}
  </script>
  <script type="text/ng-template" id="markdown.html">
    {{ include_raw("h:templates/client/markdown.html") }}
  </script>
  <script type="text/ng-template" id="privacy.html">
    {{ include_raw("h:templates/client/privacy.html") }}
  </script>
  <script type="text/ng-template" id="share_dialog.html">
    {{ include_raw("h:templates/client/share_dialog.html") }}
  </script>
  <script type="text/ng-template" id="viewer.html">
    {{ include_raw("h:templates/client/viewer.html") }}
  </script>
  <script type="text/ng-template" id="thread.html">
    {{ include_raw("h:templates/client/thread.html") }}
  </script>
  <script type="text/ng-template" id="dropdown_menu_btn.html">
    {{ include_raw("h:templates/client/dropdown_menu_btn.html") }}
  </script>
  <script type="text/ng-template" id="publish_annotation_btn.html">
    {{ include_raw("h:templates/client/publish_annotation_btn.html") }}
  </script>
{% endblock %}

{# Override ga_pageview block to prevent a 'pageview' event from being sent to
   Google Analytics #}
{% block ga_pageview %}{% endblock %}

{% block scripts %}
  {% assets "app_js", "account_js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
