{% extends "layouts/base.html" %}

{% block body_tag %}
<body ng-app="{{ layout.app }}" ng-controller="{{ layout.controller }}"{% if layout.csp %} ng-csp="{{ layout.csp }}"{% endif %}>
{% endblock %}

{% block content %}
  <!-- Toolbar -->
  <div class="ng-cloak topbar" ng-class="frame.visible && 'shown'">
    <div class="inner content">
      <div class="pull-left">
        <button class="btn btn-clean"
              ng-click="shareDialog.visible = !shareDialog.visible"
              ng-show="showShareButton"
              ><i href="" title="Share this page" class="h-icon-share btn-icon"></i></button>
      </div>

      <div class="pull-right" ng-switch="auth.user">
        <span ng-switch-when="undefined">⋯</span>
        <a href="" ng-click="login()" ng-switch-when="null">Sign in</a>
        <div class="dropdown pull-right user-picker">
          <span role="button"
                class="dropdown-toggle"
                data-toggle="dropdown">{% raw %}{{ auth.user|persona }}{% endraw %}<!--
            --><span class="provider" ng-show="auth.user">/{% raw %}{{ auth.user|persona:'provider' }}{% endraw %}</span><!--
            --><i class="h-icon-arrow-drop-down"></i></span>
          <ul class="dropdown-menu pull-right" role="menu">
            <li ng-show="auth.user"><a href="" ng-click="accountDialog.visible='true'">Account</a></li>
            <li><a href="mailto:support@hypothes.is">Feedback</a></li>
            <li><a href="/docs/help" target="_blank">Help</a></li>
            <li ng-show="auth.user"><a href="/stream?q=user:{% raw %}{{ auth.user|persona }}{% endraw %}"
                                       target="_blank">My Annotations</a></li>
            <li ng-show="auth.user"><a href="" ng-click="logout()">Sign out</a></li>
          </ul>
        </div>
      </div>

      <!-- Searchbar -->
      <div class="simple-search"
           query="search.query"
           on-search="search.update(query)"
           on-clear="search.clear()"></div>
      <!-- / Searchbar -->
    </div>
  </div>
  <!-- / Toolbar -->

  <!-- Wrapper -->
  <div id="wrapper" whenscrolled="loadMore(10)">
    <!-- Account Dialog -->
    <div class="content ng-cloak" ng-if="accountDialog.visible">
      <div id="dialog" class="sheet">
        <i class="close h-icon-close"
           role="button"
           title="Close"
           ng-click="accountDialog.visible = false"></i>
        <div ng-if="auth.user">
          {% block settings %}
            <div class="tabbable"
                 ng-controller="AccountController"
                 ng-model="tab">
              {{ include_raw("h:templates/client/settings/account.html") }}
              {% if feature('notification') %}
                {{ include_raw("h:templates/client/settings/notifications.html") }}
              {% endif %}
            </div>
          {% endblock %}
        </div>
        <div ng-if="!auth.user">
          {% block auth %}
            {{ include_raw("h:templates/client/auth.html") }}
          {% endblock %}
        </div>
      </div>
    </div>
    <!-- / Account Dialog -->

    <!-- Share View Dialog -->
    <div share-dialog="" ng-show="shareDialog.visible"></div>
    <!-- / Share View Dialog -->

    <!-- Angular view -->
    <main class="content" ng-view=""></main>
  </div>
  <!-- / Wrapper -->
{% endblock %}

{% block templates %}
  <script type="text/ng-template" id="annotation.html">
    {{ include_raw("h:templates/client/annotation.html") }}
  </script>
  <script type="text/ng-template" id="markdown.html">
    {{ include_raw("h:templates/client/markdown.html") }}
  </script>
  <script type="text/ng-template" id="privacy.html">
    {{ include_raw("h:templates/client/privacy.html") }}
  </script>
  <script type="text/ng-template" id="share_dialog.html">
    {{ include_raw("h:templates/client/share_dialog.html") }}
  </script>
  <script type="text/ng-template" id="viewer.html">
    {{ include_raw("h:templates/client/viewer.html") }}
  </script>
  <script type="text/ng-template" id="thread.html">
    {{ include_raw("h:templates/client/thread.html") }}
  </script>
{% endblock %}

{% block scripts %}
  {% for src in layout.js_links %}
    <script src="{{src}}"></script>
  {% endfor %}
{% endblock %}
