<a class="threadexp" href="#collapse"></a>
<div class="time">{{fuzzyTime created}}</div>
<div class="annotator-controls">
 <a href="#reply" class="write">Reply</a>
</div>
{{#splitUser user}}
<h3 class="user">{{name}}</h3>
{{/splitUser}}
<div class="body">{{text}}</div>
<div class="bottombar">
  <span class="replycount">{{replyCount}}</span>
</div>
<div class="thread">
  <ul class="annotator-listing"></ul>
</div>
