<div class="paper thread">
  <div class="excerpt" ng-repeat="target in annotation.target">
    <blockquote class="annotation-quote" ng-bind="target.quote" ng-hide="target.showDiff" />
    <blockquote class="annotation-quote" ng-bind-html="target.trustedDiffHTML" ng-show="target.showDiff" />
    <div class="small pull-right" ng-show="target.diffHTML">
      <input type="checkbox" ng-model="target.showDiff" ng-click="$event.stopPropagation()"> Show differences</input>
    </div>
  </div>
  <div class="annotation"
       annotation-embedded="true"
       ng-if="annotation"
       ng-model="annotation" />
</div>
