<div class="topbar">
  {{#splitUser user}}
  <div class="user">{{name}}</div>
  {{/splitUser}}
</div>
<textarea class="body" placeholder="Add your thoughts…">{{text}}</textarea>
<div class="bottombar">
  <div class="annotator-controls">
    <span class="btn">
      <a href="#save" class="annotator-save">Save</a>
    </span>
    <span>
      <a href="#cancel" class="annotator-cancel">Cancel</a>
    </span>
  </div>
</div>
