<div class="hyp-meta">
  {{#splitUser user}}
  <div class="hyp-user">{{name}}</div>
  {{/splitUser}}
</div>
<div class="hyp-body">
  <textarea class="hyp-content" placeholder="Add your thoughts…">{{text}}</textarea>
</div>
<div class="hyp-bottombar">
  <div class="annotator-controls">
    <span class="hyp-button">
      <a href="#save" class="annotator-save">Save</a>
    </span>
    <span class="hyp-button">
      <a href="#cancel" class="annotator-cancel">Cancel</a>
    </span>
  </div>
</div>
