(function () {
var appLinkEl = document.querySelector('link[type="application/annotator+html"]');
if (appLinkEl) {
  return {
    installedURL: appLinkEl.href,
  };
}

function injectStylesheet(href) {
  var link = document.createElement('link');
  link.rel = 'stylesheet';
  link.type = 'text/css';
  link.href = href;
  document.head.appendChild(link);
};

function injectScript(src) {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = src;
  script.async = false;
  document.head.appendChild(script);
};

function install() {
  var resources = [];
  if (typeof window.Annotator === 'undefined') {
    {%- for url in inject_resource_urls %}
    resources.push('{{ url | safe }}');
    {%- endfor %}
  }

  resources.forEach(function (url) {
    if (url.match(/\.css/)) {
      injectStylesheet(url);
    } else {
      injectScript(url);
    }
  });

}

var baseUrl = document.createElement('link');
baseUrl.rel = 'sidebar';
baseUrl.href = '{{ app_html_url }}';
baseUrl.type = 'application/annotator+html';
document.head.appendChild(baseUrl);

install();

return {installedURL: baseUrl.href};
})();

