(function () {
// Detect presence of Hypothesis in the page
var appLinkEl = document.querySelector('link[type="application/annotator+html"]');
if (appLinkEl) {
  return {
    installedURL: appLinkEl.href,
  };
}

function injectStylesheet(href) {
  var link = document.createElement('link');
  link.rel = 'stylesheet';
  link.type = 'text/css';
  link.href = href;
  document.head.appendChild(link);
};

function injectScript(src) {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = src;

  // Set 'async' to false to maintain execution order of scripts.
  // See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script
  script.async = false;
  document.head.appendChild(script);
};

/** Fetch the resources for the Hypothesis client. */
function install() {
  var resources = [];
  if (typeof window.Annotator === 'undefined') {
    {%- for url in inject_resource_urls %}
    resources.push('{{ url | safe }}');
    {%- endfor %}
  }

  resources.forEach(function (url) {
    if (url.match(/\.css/)) {
      injectStylesheet(url);
    } else {
      injectScript(url);
    }
  });
}

// Register the URL of the sidebar app which the Hypothesis client should load.
// The <link> tag is also used by browser extensions etc. to detect the
// presence of the Hypothesis client on the page.
var baseUrl = document.createElement('link');
baseUrl.rel = 'sidebar';
baseUrl.href = '{{ app_html_url }}';
baseUrl.type = 'application/annotator+html';
document.head.appendChild(baseUrl);

install();

return {installedURL: baseUrl.href};
})();
