{% extends "layouts/base.html" %}

{% block meta %}
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  <!-- Override app body stylings for just this page -->
  <style type="text/css">
    body {background: #FFF !important;}
  </style>
  {{ super() }}
  {% if is_onboarding %}
    <meta name="hypothesis-intent" content="first-run" />
  {% endif %}
  {% if not is_onboarding %}
    <script>
      function hypothesisConfig() { return {firstRun: true} }
    </script>
    <script async defer>
      {% include "embed.js" %}
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="help-page">
    <div class="help-page-content masthead-small">
      {% include "includes/header.html" %}
    </div>
    <article class="help-page-content">
      {% if is_help %}
        <section class="help-page-section">
          <h2 id="installation" class="help-page-heading">Installation</h2>
          <p class="help-page-lede">There are a couple of installations of Hypothesis to choose from:</p>
          <div class="numbered-list grid">
            <div class="column-desktop-1-2"><div class="numbered-list-item">If you want to annotate and comment on documents then install our browser extension.</div></div>
            <div class="column-desktop-1-2"><div class="numbered-list-item">If you wish to install Hypothesis on your own site then head over to GitHub.</div></div>
          </div>
        </section>
      {% endif %}
      {% if is_onboarding %}
        <section class="help-page-section">
          <h2 id="getting-started" class="help-page-heading">Getting started</h2>
          <p class="help-page-lede">Now you have the extension up and running. It's time to
            start annotating some documents.</p>
          <div class="numbered-list grid">
            <div class="column-desktop-1-2"><div class="numbered-list-item">Create an account using the sidebar on the right of the screen.</div></div>
            <div class="column-desktop-1-2"><div class="numbered-list-item">Go forth and annotate! Enable the sidebar via the button in the location bar.</div></div>
          </div>
        </section>
      {% endif %}
      {% if is_index %}
        <section class="help-page-section">
          <h2 id="getting-started" class="help-page-heading">Getting started</h2>
          <p class="help-page-lede">Great, you've got the server up and running, you're now ready to start kicking the tires.</p>
          <div class="numbered-list grid">
            <div class="column-desktop-1-2"><div class="numbered-list-item">Create an account using the sidebar on the right of the screen.</div></div>
            <div class="column-desktop-1-2"><div class="numbered-list-item">Annotate this page or use this bookmarklet: {% include "includes/bookmarklet.html" %}</div></div>
          </div>
        </section>
      {% endif %}
      <section class="help-page-section">
        <h2 id="key-features" class="help-page-heading">Annotation Types</h2>
        <p class="help-page-lede">There are a few types of annotations that can be created
          with the application:</p>
        <div class="feature-content">
          <section class="feature">
            <h3 class="feature-heading"><i class="feature-icon h-icon-insert-comment"></i> Notes</h3>
            <div class="feature-content styled-text">
              <p>Create a <em>note</em> by selecting some text and clicking the <i class="help-icon h-icon-insert-comment"></i> button</p>
            </div>
          </section>
          <section class="feature">
            <h3 class="feature-heading"><i class="feature-icon h-icon-border-color"></i> Highlights</h3>
            <div class="feature-content">
              <p><em>Highlights</em> can be created by clicking the <i class="help-icon h-icon-border-color"></i> button.
              Try it on this sentence.</p>
            </div>
          </section>
          <section class="feature">
            <h3 class="feature-heading"><i class="feature-icon h-icon-reply"></i> Replies</h3>
            <div class="feature-content">
              <p>You can  <em>reply</em> to any annotation by using the <i class="help-icon h-icon-reply"></i> reply action
                on every card.</p>
            </div>
          </section>
        </div>
      </section>
      <section class="help-page-section">
        <h2 id="key-features" class="help-page-heading">Privacy</h2>
        <p class="help-page-lede">Annotations are either public and viewable by everyone
          or private and visible only to you.</p>
        <div class="grid feature-content">
          <section class="feature column-desktop-1-2">
            <h3 class="feature-heading"><i class="feature-icon h-icon-public"></i> Public</h3>
            <div class="feature-content styled-text">
              <p>These annotations are visible to everyone both in the
                document itself and our <a
                href="{{request.resource_url(context, 'stream')}}">public stream</a>.</p>
            </div>
          </section>
          <section class="feature column-desktop-1-2">
            <h3 class="feature-heading"><i class="feature-icon h-icon-lock"></i> Private</h3>
            <div class="feature-content">
              <p>Private annotations are visible only to you when logged in.</p>
            </div>
          </section>
        </div>
      </section>
      <section class="help-page-section">
        <h3 class="feature-heading"><i class="feature-icon h-icon-visibility"></i>Show/Hide Highlights</h3>
        <p class="feature-content">Use the <i class="help-icon h-icon-visibility"></i> button to toggle highlight visibility on a page.</p>
      </section>
      <section class="help-page-section">
        <h2 class="help-page-heading">Resources</h2>
        <div class="styled-text">
          <ul>
            <li>View the <a href="">product roadmap</a> to check out what we're working on.</li>
            <li>Request features, report bugs and meet other users in our <a href="https://groups.google.com/forum/#!forum/hypothesis-forum">discussion forums</a>.</li>
            <li>If you need help please don't hesitate to <a href="mailto:support@hypothes.is">get in touch</a>.</li>
            <li>Visit <a href="http://hypothes.is/what-is-it/">our website</a> to learn more about the project.</li>
            <li>Check out the code on <a href="https://github.com/hypothesis/h">GitHub</a>.</li>
          </ul>
        </div>
      </section>
      {% if is_index %}
        <section class="help-page-section">
          <h2 id="contributing" class="help-page-heading">Contributing</h2>
          <div class="styled-text">
            <p>Hypothesis is an open source effort licensed under a 2-Clause <a
                href="https://en.wikipedia.org/wiki/BSD_licenses">BSD License</a>,
              sometimes referred to as the "Simplified BSD License" or the "FreeBSD
              License".</p>
            <p>Development is coordinated through <a
                href="https://github.com/hypothesis">our Github repository</a> utilizing
              the issue tracking and wiki tools provided there. Additionally, we manage a
              mailing list which you can subscribe to by sending an email to <a
                href="&#x6d;&#x61;&#x69;&#x6c;&#116;&#111;&#58;&#100;&#101;&#x76;&#x2b;&#x73;&#x75;&#x62;&#115;&#99;&#114;&#105;&#98;&#x65;&#x40;&#x6c;&#x69;&#x73;&#116;&#46;&#104;&#121;&#112;&#x6f;&#x74;&#x68;&#x65;&#x73;&#46;&#105;&#115;">&#100;&#101;&#x76;&#x2b;&#x73;&#x75;&#x62;&#115;&#99;&#114;&#105;&#98;&#x65;&#x40;&#x6c;&#x69;&#x73;&#116;&#46;&#104;&#121;&#112;&#x6f;&#x74;&#x68;&#x65;&#x73;&#46;&#105;&#115;</a>
              (<a href="http://list.hypothes.is/archive/dev">archive</a>).</p>
            <p>Note the <a href="https://github.com/hypothesis/h/wiki">project
                wiki</a>, including a <a
                href="http://docs.hypothes.is/roadmap/">roadmap</a>, detailed <a
                href="https://github.com/hypothesis/h/wiki/_pages">descriptions</a> and <a
                href="https://github.com/hypothesis/h/wiki/Mockup-index">mockups</a> of
              upcoming features, and <a href="https://github.com/hypothesis/h/issues">current
                issues</a> needing development attention. Additionally, our <a
                href="https://groups.google.com/forum/#!forum/hypothesis-forum"
                target="_blank">forum</a> is a great place to get answers and offer feedback.</p>
              <p>After you're done familiarizing yourself with the project landscape we
              recommend reading our <a
                href="https://github.com/hypothesis/h/blob/develop/CONTRIBUTING.rst">contributor
                guide</a> which details our work-flow, conventions and licensing administrivia.
              Additionally, please feel free to join us in <a
                href="http://webchat.freenode.net/?channels=hypothes.is">#hypothes.is</a> on <a
                href="http://freenode.net/">freenode</a> and subscribe to our mailing list.</p>
              <p>Finally, we also have grant opportunities for projects related to web annotation. You can find out more about them on our <a href="http://anno.fund/">Open Annotation Grant Opportunities page</a>.</p>
          </div>
        </section>
      {% endif %}
    </article>
    <div class="help-page-sidebar">
      <div id="help-1">
        <p>Show and hide the sidebar using the <i class="h-icon-chevron-left"></i> button</p>
      </div>
      <div id="help-2"></div>
    </div>
  </div>
{% endblock %}
