{% set rss_feed_url = base_url + "feed/" %}

{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}Annotate with anyone, anywhere{% endblock %}

{% block meta %}
  {{ super() }}
  <link rel='canonical' href='{{ base_url }}'>
  <link rel="chrome-webstore-item"
        href="{{ chrome_extension_link }}">
  <link href="{{ rss_feed_url }}" rel="alternate" type="application/rss+xml">
{% endblock %}

{% block styles %}
  {% assets "site_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block body_tag %}
<body class="body--white">
{% endblock %}

{% block content %}
  {% include "h:templates/includes/header.html.jinja2" %}

  <div class="home__content">
    <h2 class="home__heading">Annotate with anyone, anywhere</h2>
    <p class="home__section home__tagline">
      We are building a conversation layer over the world's
      knowledge. Use Hypothesis to discuss, collaborate,
      organize your research, or take personal notes.
    </p>

    <div class="home__section installer">
      <a class="install-btn is-hidden js-install-chrome"
          href="{{ chrome_extension_link }}"
          onclick="chrome.webstore.install();return false;"
          data-chromeext-button="">
        <img alt="" class="install-btn__icon"
              src="{{ base_url }}assets/images/browser-chrome-64x64.png">
        Install Chrome extension
      </a>
      <a class="install-btn is-hidden js-install-bookmarklet"
          href="#"
          data-toggle="modal" data-target="#bookmarklet">
        Get Bookmarklet
      </a>

      <em class="installer__alt is-hidden js-install-any">or</em>

      <form
        class="proxy-link-form js-proxy-form"
        action="/via">
        <input id="search" class="proxy-link-form__field" type="text"
                name="url" placeholder="Paste a link to annotate…">
        <button class="proxy-link-form__submit-btn" type="submit"
         title="Annotate this page with Hypothesis"
        >
          Annotate
        </button>
      </form>
    </div>

    <div class="home__intro-container">
      <div class="computer">
        <img class="computer__device-img" src="/assets/images/laptop.png">
        <img class="computer__screen-img" src="/assets/images/screenshots/wasteland.png">
      </div>
      <div class="home__intro-text">
        <p class="home__section home__intro">
          With Hypothesis you can create annotations on top of any document on
          the web. Your annotations can be either made public, private only for you,
          or shared to groups of people that you can control.
        </p>
        <p class="home__section home__intro">
          Get started by either installing our <a href="{{ chrome_ext_link }}">Chrome extension</a>,
          grabbing our <a href="#" data-toggle="modal" data-target="#bookmarklet">bookmarklet</a>,
          installing it <a href="#"  data-toggle="modal" data-target="#addtoyoursite" data-addtosite-button="">on your website</a>,
          or by <a href="https://via.hypothes.is">creating a link</a> to a document with our tool installed.
        </p>
      </div>
    </div>

    <!-- news !-->
    <div class="home__section home__section--news">
      <h2 class="home__heading home__heading--news">Latest news</h2>
      <div class="news-item">
        <div class="news-item__date">December 9, 2015</div>
        <a class="news-item__title" href="/blog/the-lit-anthology-in-the-age-of-web-annotation/">
          The Literary Anthology in the Age of Web Annotation
        </a>
        <p class="news-item__snippet">
          Next Monday (December 14th at 1 PM EST), we will be hosting the first
          in a series of webinars focused on the pedagogy of web annotation.
          There will be a live stream (viewable below at this…
        </p>
      </div>
      <div class="news-item">
        <div class="news-item__date">December 1, 2015</div>
        <a class="news-item__title" href="/blog/a-coalition-of-over-40-scholarly-publishers/">
          A Coalition of over 40 Scholarly Publishers
        </a>
        <p class="news-item__snippet">
          Today we're announcing a coalition of over 40 scholarly publishers,
          platforms, libraries and technology partners that share the goal of
          building an open conversation layer over all knowledge…
        </p>
      </div>
      <div class="news-item">
        <div class="news-item__date">November 30, 2015</div>
        <a class="news-item__title" href="/blog/undergrad-shannon-griffiths-on-using-hypothesis-in-the-classroom/">
          Undergrad Shannon Griffiths on Using Hypothesis in the Classroom
        </a>
        <p class="news-item__snippet">
          This blog was written and published by Shannon Griffiths, an English
          major at Plymouth State University. Her professor, Robin DeRosa, is
          using Hypothesis in several of her classes this term…
        </p>
      </div>
      <a class="news-more-link" href="/blog">See all updates…</a>
    </div>
  </div>

 {% include "h:templates/includes/install_modals.html.jinja2" %}
 {% include "h:templates/includes/footer.html.jinja2" %}

{% endblock %}

{% block scripts %}
  {% assets "site_js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
