{% set rss_feed_url = base_url + "feed/" %}
{% set style_bundle = "front_page_css" %}

{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}Hypothesis | The Internet, peer reviewed.{% endblock %}

{% block meta %}
  {{ super() }}
  <link rel='canonical' href='{{ base_url }}'>
  <link rel="chrome-webstore-item"
        href="{{ request.route_url('chrome-extension') }}">
  <link href="{{ rss_feed_url }}" rel="alternate" type="application/rss+xml">
  <meta property="og:url" content="{{ base_url }}" />
  <meta property="og:title" content="Hypothesis | Annotate the web" />
  <meta property="og:description" content="Use Hypothes.is to take personal notes or have conversations on any page online"/>
  <meta property="og:image" content="{{ base_url }}assets/images/logo_new.png" />
{% endblock %}


{% block header %}
  <header class="banner hiring">
    <div class="container">
      <span>
         We&rsquo;re
        <a href="{{ request.route_url('jobs') }}">hiring!</a>
      </span>
    </div>
  </header>

  <header class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ base_url }}">
          Hypothes<span class="red">.</span>is
        </a>
      </div>
      <nav class="collapse navbar-collapse">
        <div class="menu-main-menu-container">
          <ul id="menu-main-menu" class="nav navbar-nav">
            <li id="menu-item-3607"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3607">
              <a href="{{ request.route_url('about') }}">About</a>
            </li>
            <li id="menu-item-3609"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3609">
              <a href="{{ request.route_url('blog') }}">Blog</a>
            </li>
            <li id="menu-item-3608"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3608">
              <a href="{{ request.route_url('contribute') }}">Contribute</a>
            </li>
            <li id="menu-item-5894"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5894">
              <a href="{{ request.route_url('bioscience') }}">Bioscience</a>
            </li>
            <li id="menu-item-4372"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4372">
              <a href="{{ request.route_url('education') }}">Education</a>
            </li>
            <li id="menu-item-3615"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3615">
              <a href="{{ request.route_url('jobs') }}">Jobs</a>
            </li>
             <li id="menu-item-3615"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3615">
              <a href="{{ request.route_url('help-center') }}" target='_blank'>Help</a>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav pull-right login">
          {% if username %}
            <li><a href="{{ user_account_link }}">{{ username }}</a></li>
            <li><a href="{{ request.route_url("logout") }}">Log out</a></li>
          {% else %}
            <li><a href="{{ request.route_url('login') }}">Log in</a></li>
            <li><a href="{{ request.route_url('signup') }}">Create an account</a></li>
          {% endif %}
        </ul>
      </nav>
      {% include "h:templates/includes/flashbar.html.jinja2" %}
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="wrap container" role="document">
    <div class="content row">
      <main class="main">
        <div class="jumbotron">
          <div class="row">
            <div class="col-sm-6">
              <div id="video"
                    class="embed-responsive embed-responsive-16by9">
                <iframe allowfullscreen class="embed-responsive-item"
                        src="https://www.youtube.com/embed/QCkm0lL-6lc?showinfo=0&autohide=1">
                </iframe>
              </div>
            </div>
            <div class="col-sm-6 call-to-action">

              <h2>Annotate with anyone, anywhere</h2>
              <p>
                <a href="{{ request.route_url('about') }}">Our mission</a> is to
                bring a new layer to the web. Use Hypothesis to discuss,
                collaborate, organize your research, or take personal notes.
              </p>

              <section class="installer">

                <span class="hidden unhide-in-chrome">
                  <a class="btn btn-primary hidden-xs"
                      id="js-chrome-extension-install"
                      href="{{ request.route_url('chrome-extension') }}"
                      data-chromeext-button="">
                    <img alt="" class="installer__browser-logo--chrome"
                          src="{{ base_url }}assets/images/browser-chrome-64x64.png">
                    Install
                  </a>
                </span>
                <span class="hide-in-chrome">
                  <a class="btn btn-primary hidden-xs" href="#"
                      data-toggle="modal" data-target="#bookmarklet">
                    Get Bookmarklet
                  </a>
                </span>

                <em class="or hidden-xs">Or...</em>
                <form class="via" onsubmit="url = document.getElementById('search').value; if (url != '') { window.location.href = 'https://via.hypothes.is/h/' + url; } return false;">
                  <span class="input-group"
                        title="Insert a URL to annotate that page.">
                    <input id="search" class="form-control" type="text"
                            name="search" placeholder="Paste a link...">
                    <span class="input-group-btn" data-via-button="">
                      <button class="btn btn-primary" type="submit">
                        Annotate!
                      </button>
                    </span>
                  </span>
                </form>
              </section>

              <p class="hide-in-chrome installer__section--bookmarklet">
                There's also a
                <a href="{{ request.route_url('chrome-extension') }}">
                  Chrome extension
                </a>
                or you can
                <a href="#" class="" data-toggle="modal" data-target="#addtoyoursite" data-addtosite-button="">
                  add it to your website</a>.
              </p>
              <p class="hidden unhide-in-chrome installer__section--bookmarklet">
                There's also a
                <a href="#" class="" data-toggle="modal" data-target="#bookmarklet">
                  bookmarklet
                </a>
                or you can
                <a href="#" class="" data-toggle="modal" data-target="#addtoyoursite" data-addtosite-button="">
                  add it to your website</a>.
              </p>

              <div class="modal fade" id="bookmarklet" tabindex="-1"
                    role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close"
                              data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Bookmarklet</h4>
                    </div>
                    <div class="modal-body">
                      <div>
                        <a title="Drag me to the bookmarks bar"
                            data-bookmarklet-button=""
                            id="js-bookmarklet-install"
                            class="btn btn-primary btn-lg installer__button--draggable"
                            href="javascript:(function(){window.hypothesisConfig=function(){return{showHighlights:true,appType:'bookmarklet'};};var d=document,s=d.createElement('script');s.setAttribute('src','{{ request.route_url("embed") }}');d.body.appendChild(s)})();">
                            Launch Hypothesis
                        </a>
                        <p><i class="h-icon-move"></i> Drag the button into
                        your bookmarks bar then click it to launch the
                        Hypothesis application.</p>
                        <p>Alternatively, right click and select
                        "bookmark this link." To load Hypothesis on a webpage
                        or PDF, simply click on the bookmarklet in your
                        bookmarks.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="modal fade" id="addtoyoursite" tabindex="-1"
                  role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Add Hypothesis to a web site</h4>
                  </div>
                  <div class="modal-body">
                    <div class="installer__section--addtosite">
                      <p>
                        <input class="form-control" type="text"
                               value="<script async defer src=&quot;{{request.route_url('embed')}}&quot;></script>">
                      </p>
                      <p>Add the above script tag to your web site's HTML to load
                      the Hypothesis sidebar on your site.</p>

                      <p>Alternatively, if you use WordPress, checkout the
                      <a href="{{ request.route_url('wordpress-plugin') }}">
                          Hypothesis WordPress plugin</a>.
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="press-release-banner">
            <p><a href="https://hypothes.is/blog/elife-partners-with-hypothes-is-to-advance-open-scholarly-annotation/">eLife Partners with Hypothesis to Advance Open Scholarly Annotation.</a></p>
        </div>
      </main>
    </div>
  </div>

  <footer class="content-info">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="nav navbar-nav social-media pull-right">
          <a class="social-media-link" href="{{ request.route_url('hypothesis-github') }}">
            <i class="h-icon-github"></i>
          </a>
          <a class="social-media-link" href="{{ request.route_url('hypothesis-twitter') }}">
            <i class="h-icon-twitter"></i>
          </a>
          <a class="social-media-link" href="{{ rss_feed_url }}"><i class="h-icon-feed"></i></a>
        </div>
        <div class="menu-footer-container">
          <ul id="menu-footer" class="nav navbar-nav">
            <li id="menu-item-3613"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3613">
              <a href="{{ request.route_url('contact') }}">Contact</a>
            </li>
            <li id="menu-item-3623"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3623">
              <a href="{{ request.route_url('fund') }}">Grant opportunities</a>
            </li>
            <li id="menu-item-3611"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3611">
              <a href="{{ request.route_url('roadmap') }}">Roadmap</a>
            </li>
            <li id="menu-item-3614"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3614">
              <a href="{{ request.route_url('press') }}">Press</a>
            </li>
            <li id="menu-item-3610"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3610">
              <a href="{{ request.route_url('team') }}">Our team</a>
            </li>
            <li id="menu-item-3612"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3612">
              <a href="{{ request.route_url('terms-of-service') }}">
                Terms of Service
              </a>
            </li>
             <li id="menu-item-3612"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3612">
              <a href="{{ request.route_url('privacy') }}">
                Privacy Policy
              </a>
            </li>
            <li id="menu-item-4123"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4123">
              <a href="{{ request.route_url('for-publishers') }}">
                For Publishers
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </footer>
{% endblock %}

{% block scripts %}
  {% for url in asset_urls("front_page_js") %}
  <script src="{{ url }}"></script>
  {% endfor %}
{% endblock %}
