<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang='en' lang='en'>
<head>
  <meta charset="UTF-8" />
<!--[if IE 6]><![endif]-->
<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  {{#each css}}
  <link rel="stylesheet" href="{{this}}" />
  {{/each}}
</head>
<body>
<div id="wrapper">
  <h1 class="hyp-logo">
    <img height="30px" src="{{logo}}" alt="hypothes.is" />
</div>
</h1>
</div>
</body>
</html>
