<ul class="sliding-panels">
  <!-- Search -->
  <li>
    <ul>
      <li ng-repeat="thread in threads"
        class="stream-list summary">
        <!-- Thread view -->
        <div data-recursive="" class="paper thread">
          <!-- Annotation -->
            <a href=""
               ng-show="ann_info.more_top[thread.message.id]"
               ng-click="clickMoreTop(thread.message.id)">more top...</a>
            <div ng-show="ann_info.shown[thread.message.id]">
            <div class="detail annotation thread"
                 name="annotation"
                 ng-model="$parent.thread.message"
                 mode="search"/>
            </div>
            <a href=""
               ng-show="ann_info.more_bottom[thread.message.id]"
               ng-click="clickMoreBottom(thread.message.id)">more bottom...</a>
          <!-- Replies -->
          <ul>
            <li class="thread"
                ng-hide="collapsed"
                ng-class="collapsed && 'collapsed' || ''"
                ng-repeat="thread in thread.children | orderBy:sortThread:true"
                ng-transclude>
               <a href=""
                  class="threadexp"
                  title="{{collapsed && 'Expand' || 'Collapse'}}"
                  ng-click="collapsed = !collapsed"
                  ng-show="ann_info.shown[thread.message.id]"
               />
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>