<form ng-show="activePanel.name == 'Settings'"
	  ng-submit="">
      <h2>Settings</h2>
      
      <!-- This needs to be set up still. -->
      <div>Use PDF.js in Chrome:
	  	<div class="dropdown pull-right">
	  	   <span role="button"
		         class="dropdown-toggle"
		         data-toggle="dropdown"
		         > Chosen option</span>
    	   <ul class="dropdown-menu pull-right" role="menu">
			  <li ng-disabled value="On">Always</li>
			  <li ng-disabled value="whenActive">Only when active</li>
			  <li ng-disabled value="Off">Never</li>
		  </ul> 
		</div>
	  </div>

	  <br/>

	  <div>Notify me when:
		  <ul>
			<li><input type="checkbox" name="Replies"> Someone replies to an annotation I made.</li>
		    <li><input type="checkbox" name="Replies"> Someone annotates a page I’m watching.</li>
		    <li><input type="checkbox" name="Replies"> Someone subscribes to my stream or page.</li>
		  </ul>
	  </div>

	  <br/>

	  <button class="btn check-icon" ng-click="toggleHideHeatmap()">Save</button>
</form>
