<div class="slideover" ng-class="$parent.settingsPanel && 'shown'">
  <div class="panelcontainer">
    <ul class="nav nav-tabs">
    	<li ng-class="panel.active && 'active'" ng-repeat="panel in panels" ng-click="togglePanel(panel)">
    		<span style="position: relative; top: 2px;">{{ panel.name }}</span>
    	</li>
    	<li ng-click="toggleSettingsPanel()" style="position: absolute; right: 0px; top: 36px;"><span class="x-icon" role="button" title="Close">Close</span></li>
	</ul>
    <div class="panel">

    	<!-- Profile -->
    	<div class="account-profile" ng-show="activePanel.name == 'Profile'"></div>
    	<!-- / Profile -->

    	<!-- Account -->
    	<div class="account-management" ng-show="activePanel.name == 'Account'"></div>
    	<!-- / Account -->

      	<!-- Settings -->
	    <form ng-show="activePanel.name == 'Settings'"
	    	  ng-submit="">
		    <div class="niceforms">
		      <h2>Settings</h2>
		      <ul>
		      <!--
	    	  <li>Heatmap options:
	    	  	<div class="dropdown pull-right">
	    	  	   <span role="button"
				         class="dropdown-toggle"
				         data-toggle="dropdown"
				         > Chosen option</span>
		    	   <ul class="dropdown-menu pull-right" role="menu">
					  <li value="On">On</li>
					  <li value="Hidden">Hidden</li>
					  <li value="Off">Off</li>
				   </ul> 
				</div>
			  </li>
			  -->
			  <li>Use PDF.js in Chrome:
	    	  	<div class="dropdown pull-right">
	    	  	   <span role="button"
				         class="dropdown-toggle"
				         data-toggle="dropdown"
				         > Chosen option</span>
		    	   <ul class="dropdown-menu pull-right" role="menu">
					  <li ng-disabled value="On">Always</li>
					  <li ng-disabled value="whenActive">Only when active</li>
					  <li ng-disabled value="Off">Never</li>
				  </ul> 
				</div>
			  </li>
		      <li>Notify me when:
			  <p><input type="checkbox" name="Replies"> Someone replies to an annotation I made.</p>
			  <p><input type="checkbox" name="Replies"> Someone annotates a page I’m watching.</p>
			  <p><input type="checkbox" name="Replies"> Someone subscribes to my stream or page.</p>
			</li>
		</ul>

			  <button class="btn check-icon" ng-click="toggleHideHeatmap()">Save</button>
			</div>
      	</form>
      	<!-- / Settings -->

    </div>
  </div>
</div>
