      <div class="noise yui3-u-1"
           ng-show="annotations.length">
        <ul class="stream-list">
          <li ng-repeat="annotation in annotations track by annotation.id"
              repeat-anim array="annotations"
              class="paper thread">
            <div class="excerpt"
                 ng-hide="view"
                 ng-click="view=!view">
              <div>
                <div>
                  <div ng-show="annotation.quote.length">
                      <blockquote ng-show="annotation.quoteSource=='document'">
      {{annotation.quote | elide:140}}
          </blockquote>
                      <blockquote ng-hide="annotation.quoteSource=='document'">
                        <markdown ng-model="annotation.quote"
                                  ng-readonly="true"
                                  name="quote" />
          </blockquote>
                  </div>
                  <div class="small domain">
                    <a href="{{annotation.source}}">{{annotation.source_stripped}}</a>
                    |
                    <a href="{{annotation.uri}}">{{annotation.title}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="excerpt"
                 ng-show="view"
                 ng-click="view=!view">
              <div ng-show="annotation.quote.length">
                <blockquote ng-show="annotation.quoteSource=='document'">
                  {{annotation.quote}}
                </blockquote>
                <blockquote ng-hide="annotation.quoteSource=='document'">
                  <markdown ng-model="annotation.quote"
                            ng-readonly="true"
                            name="quote" />
                </blockquote>
              </div>
              <div class="small domain">
                <a href="{{annotation.source}}">{{annotation.source_stripped}}</a>
                |
                <a href="{{annotation.uri}}">{{annotation.title}}</a>
              </div>
            </div>
            <div class="small">
              <div class="annotation detail">
                <div class="magicontrols pull-right">
                  <fuzzytime ng-model="annotation.updated" annotationid="{{annotation.id}}"></fuzzytime>
                  <a class="launch-icon show" ng-href="{{annotation._share_link}}" target="_blank"></a>
                </div>
                <strong>
                  <username data-user="annotation.user"></username>
                </strong>
                <div class="body">
                  <markdown ng-model="annotation.text"
                            ng-readonly="true"
                            class="body"/>
                </div>
                <ul ng-model="annotation.tags"
                    ng-readonly="true"
                    name="tags"
                    class="tags"
                    />
              </div>
            </div>
          </li>
        </ul>
      </div>
