{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}Login{% endblock page_title %}

{% block styles %}
  {% assets "app_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block content %}
  <div class="content paper">
    {% include "h:templates/includes/header.html.jinja2" %}
    <div class="form-vertical">

      <!-- TODO: Create an account tab. -->

      <form class="form" action="{{ form.action }}" method="{{ form.method }}"
            novalidate>
        {{ form['csrf_token'].render() | safe }}

        <div class="form-field{% if form['username'].error %} form-field-error{% endif %}">
          <label class="form-label" for="field-login-username">
            Username or email address:
          </label>
          <input class="form-input" id="field-login-username"
                 type="text" name="username" value="{{ data.username }}" />
          {% if form['username'].error %}
            <ul class="form-error-list">
              {% for err in form['username'].error.asdict().values() %}
                <li class="form-error">{{ err }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div class="form-field{% if form['password'].error %} form-field-error{% endif %}">
          <label class="form-label" for="field-login-password">
            Password:
          </label>
          <input class="form-input" id="field-login-password"
                 type="password" name="password" value="{{ data.password }}" />
          {% if form['password'].error %}
            <ul class="form-error-list">
              {% for err in form['password'].error.asdict().values() %}
                <li class="form-error">{{ err }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        <!-- TODO: Forgot your password link. -->

        <div class="form-actions">
          <div class="form-actions-buttons">
            <button class="btn" type="submit" name="login">Sign in</button>
          </div>
        </div>
      </form>

    </div>
  </div>
{% endblock content %}
