<a href="" class="threadexp"
   title="{{vm.collapsed && 'Expand' || 'Collapse'}}"
   ng-if="vm.container.parent.parent"
   ><span ng-class="{'icon-plus': !!vm.collapsed,
                     'icon-minus': !vm.collapsed}"></span></a>

<article ng-if="vm.container" ng-show="threadFilter.check(vm.container)">
  <!-- Annotation -->
  <div class="annotation"
       name="annotation"
       annotation="vm.container.message"
       annotation-embedded="{{isEmbedded}}"
       ng-if="vm.container.message">
  </div>

  <footer>
    <!-- Share -->
    <div class="share-dialog"
         ng-show="vm.shared"
         ng-click="$event.stopPropagation()">
      <a class="icon-export"
         target="_blank"
         ng-href="{{baseURI}}a/{{vm.container.message.id}}"></a>
      <div>
        <input type="text"
               ng-blur="vm.toggleShared()"
               value="{{baseURI}}a/{{vm.container.message.id}}"
               readonly>
      </div>
    </div>

    <!-- Reply count -->
    <a class="reply-count small"
       href=""
       ng-if="vm.messageCount.all > 1"
       ng-pluralize count="vm.messageCount.all - 1"
       when="{one: '1 reply', other: '{} replies'}" />

    <!-- Bottom control strip -->
    <a class="small magicontrol" href="" title="Reply"
       ng-click="vm.reply(); $event.stopPropagation()"
       ><i class="icon-reply"></i> Reply</a>
    <a class="small magicontrol" href="" title="Share"
       ng-click="vm.toggleShared(); $event.stopPropagation()"
       ><i class="icon-export"></i> Share</a>
  </footer>
</article>

<!-- Replies -->
<ul ng-hide="vm.collapsed">
  <li class="thread"
      ng-if="vm.container && threadFilter.active()"
      ng-show="threadFilter.check(vm.container) || !vm.container.parent.parent">
    <a href=""
       class="load-more small"
       ng-click="threadFilter.active(false); $event.stopPropagation()"
       ng-pluralize count="vm.messageCount.all - vm.messageCount.filter"
       when="{'0': '',
             one: 'Show one other annotation in this conversation.',
             other: 'Show {} other annotations in this conversation.'}"
       ></a>
  </li>
  <li class="thread"
      thread="child" thread-filter
      ng-hide="threadFilter.active() && !vm.messageCount.filter"
      ng-include="'thread.html'"
      ng-repeat="child in vm.container.children
                 | orderBy : 'message.updated'">
  </li>
</ul>
