<a href="" class="threadexp"
   title="{{vm.collapsed && 'Expand' || 'Collapse'}}"
   ng-if="vm.container.parent.message &&
          (!ann_info || ann_info.shown[vm.container.message.id]) &&
          !ann_info.more_top[vm.container.message.id]"
   ><span ng-class="{'icon-plus': !!vm.collapsed,
                     'icon-minus': !vm.collapsed}"></span></a>

<!--"Load more replies" label for the top -->
<a href=""
   class="load-more"
   ng-if="ann_info.more_top[vm.container.message.id] &&
          ann_info.more_top_num[vm.container.message.id] < 2"
   ng-click="clickMoreTop(vm.container.message.id, $event)">
  show one reply above
</a>

<a href=""
   class="load-more"
   ng-if="ann_info.more_top[vm.container.message.id] &&
          ann_info.more_top_num[vm.container.message.id] > 1"
   ng-click="clickMoreTop(vm.container.message.id, $event)">
  show {{ann_info.more_top_num[vm.container.message.id]}} replies above
</a>

<article ng-show="shouldShowAnnotation(vm.container.message.id)">
  <!-- Annotation -->
  <div class="annotation"
       name="annotation"
       annotation="vm.container.message"
       annotation-embedded="{{isEmbedded}}"
       ng-if="vm.container.message">
  </div>

  <div ng-if="!vm.container.message"><em>Annotation unavailable.</em></div>

  <!-- Share -->
  <div class="share-dialog"
       ng-show="vm.shared"
       ng-click="$event.stopPropagation()">
    <a class="icon-export"
       target="_blank"
       ng-href="{{baseURI}}a/{{vm.container.message.id}}"></a>
    <div>
      <input type="text"
             ng-blur="vm.toggleShared()"
             value="{{baseURI}}a/{{vm.container.message.id}}"
             readonly>
    </div>
  </div>

  <!-- Reply count -->
  <a class="reply-count small"
     href=""
     ng-pluralize=""
     ng-if="vm.container.children.length"
     count="vm.container.flattenChildren().length"
     when="{one: '1 reply', other: '{} replies'}" />

  <!-- Bottom control strip -->
  <a class="small magicontrol" href="" title="Reply"
     ng-click="vm.reply(); $event.stopPropagation()"
     ng-if="vm.container.message.id"
     ><i class="icon-reply"></i> Reply</a>
  <a class="small magicontrol" href="" title="Share"
     ng-click="vm.toggleShared(); $event.stopPropagation()"
     ng-if="vm.container.message.id"
     ><i class="icon-export"></i> Share</a>
</article>

<!--"Load more replies" label for the bottom -->
<a href=""
   class="load-more"
   ng-if="ann_info.more_bottom[vm.container.message.id] &&
          ann_info.more_bottom_num[vm.container.message.id] < 2"
   ng-click="clickMoreBottom(vm.container.message.id, $event)">
  show one reply below
</a>

<a href=""
   class="load-more"
   ng-if="ann_info.more_bottom[vm.container.message.id] &&
          ann_info.more_bottom_num[vm.container.message.id] > 1"
   ng-click="clickMoreBottom(vm.container.message.id, $event)">
  show {{ann_info.more_bottom_num[vm.container.message.id]}} replies below
</a>

<!-- Replies -->
<ul>
  <li class="thread"
      thread="child"
      ng-include="'thread.html'"
      ng-repeat="child in vm.container.children
                 | orderBy : 'message.updated' : true"></li>
</ul>
