<a href="" class="threadexp"
   title="{{collapsed && 'Expand' || 'Collapse'}}"
   ng-show="$parent.$parent.thread && (!$parent.ann_info || $parent.ann_info.shown[annotation.id]) && !$parent.ann_info.more_top[annotation.id]"
   ><span ng-class="{'icon-plus': !!collapsed,
                    'icon-minus': !collapsed}"></span></a>
<!-- Excerpts -->
<div class="excerpt" ng-repeat="target in annotation.target">
  <blockquote class="annotation-quote" ng-bind-html="target.quote" ng-hide="target.showDiff" />
  <blockquote class="annotation-quote" ng-bind-html="target.trustedDiffHTML" ng-show="target.showDiff" />
  <div class="small pull-right" ng-show="target.diffHTML">
    <input type="checkbox" ng-model="target.showDiff" ng-click="$event.stopPropagation()"> Show differences</input>
  </div>
</div>

<!--"Load more replies" label for the top -->
<a href=""
   class="load-more"
   ng-show="$parent.ann_info.more_top[annotation.id] && $parent.ann_info.more_top_num[annotation.id] <2"
   ng-click="clickMoreTop(annotation.id, $event)">
  show previous annotation
</a>

<a href=""
   class="load-more"
   ng-show="$parent.ann_info.more_top[annotation.id] && $parent.ann_info.more_top_num[annotation.id] >1"
   ng-click="clickMoreTop(annotation.id, $event)">
  show {{$parent.ann_info.more_top_num[annotation.id]}} preceding annotations
</a>

<!-- Annotation -->
<div class="annotation"
     name="annotation"
     ng-if="annotation"
     ng-model="annotation"
     ng-show="$parent.ann_info.shown[annotation.id] == null || $parent.ann_info.shown[annotation.id]"
     annotation-embedded="{{isEmbedded}}" />

<!--"Load more replies" label for the bottom -->
<a href=""
   class="load-more"
   ng-show="$parent.ann_info.more_bottom[annotation.id] && $parent.ann_info.more_bottom_num[annotation.id]<2"
   ng-click="clickMoreBottom(annotation.id, $event)">
  show one more reply
</a>

<a href=""
   class="load-more"
   ng-show="$parent.ann_info.more_bottom[annotation.id] && $parent.ann_info.more_bottom_num[annotation.id] >1"
   ng-click="clickMoreBottom(annotation.id, $event)">
  show {{$parent.ann_info.more_bottom_num[annotation.id]}} further replies
</a>

<!-- Replies -->
<ul>
  <li class="thread"
      ng-class="{'collapsed': collapsed}"
      ng-click="toggleCollapsed($event)"
      ng-include="'thread.html'"
      ng-repeat="thread in replies track by thread.message.id" />
</ul>
