{% extends "layouts/base.html.jinja2" %}

{% block title %}Unsubscribed{% endblock %}

{% block content %}
  <div class="content paper styled-text page">
    <h1>Your unsubscribe request has been processed.</h1>
    <p>You should no longer receive further notifications of this type.</p>
    <p>
      If you have made a mistake and wish to resubscribe, please see the
      <em>Notifications</em> pane in your account settings after <a
      href="{{request.route_url('login')}}">logging in</a>.
    </p>
  </div>
{% endblock %}
