<ul class="sliding-panels">
  <!-- Summaries -->
  <li data-ng-class="detail && 'squished' || ''"
      class="annotator-outer annotator-viewer">
    <ul class="annotator-listing" data-ng-click="showDetail($event)">
      <li data-ng-model="annotation"
          data-ng-repeat="annotation in annotations"
          class="paper summary annotation" />
    </ul>
  </li>

  <!-- Details -->
  <li data-ng-class="!detail && 'collapsed' || ''"
      class="annotator-outer annotator-viewer collapsed">
    <!-- Excerpt -->
    <div class="paper excerpt">
      <blockquote data-ng-bind="thread.message.annotation.quote" />
    </div>
    <div class="paper">
      <!-- Thread view -->
      <div data-recursive="" class="thread">
        <!-- Annotation -->
        <div data-ng-class="editing && 'writer' || ''"
             data-ng-model="thread.message.annotation"
             class="detail annotation" />

        <!-- Reply count -->
        <span data-ng-show="thread.children.length"
              data-ng-pluralize=""
              count="thread.flattenChildren().length"
              when="{one: '1 reply', other: '{} replies'}"
              class="reply-count" />

        <!-- Replies -->
        <ul class="annotator-listing">
          <li data-ng-repeat="thread in thread.children"
              data-ng-transclude="" />
        </ul>
      </div>
      <div data-ng-show="annotation.quote" class="paper excerpt">
        <blockquote data-ng-bind="annotation.quote" />
      </div>
    </div>
  </li>
</ul>
