<ul class="sliding-panels">
  <li class="annotator-outer annotator-viewer" data-ng-class="detail && 'squished' || ''">
    <!-- Summary -->
     <!-- <div class="annotator-outer annotator-viewer"> -->
      <ul class="annotator-listing">
        <li data-ng-click="showDetail(annotation)"
            data-ng-include="'annotation.html'"
            data-ng-model="annotation"
            data-ng-repeat="annotation in annotations"
            class="paper summary">
        </li>
      </ul>
<!--     </div> -->
  </li>

  <li class="annotator-outer annotator-viewer" data-ng-class="!detail && 'collapsed' || ''">
    <!-- Details -->
<!--     <div class="annotator-outer annotator-viewer"> -->
      <div data-ng-show="annotation.quote" class="paper excerpt">
        <blockquote data-ng-bind="annotation.quote" />
      </div>
      <div data-ng-include="'annotation.html'"
           data-ng-model="annotation"
           class="paper detail" />
<!--     </div> -->
  </li>
</ul>
