@import "css3.less";

// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;

// Accent colors
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #bd1e2d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

// Typography
@baseFontSize:          15px;
@baseFontFamily:        "Gentium Basic", "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseLineHeight:        17px;
@em:                    @baseFontSize / 16 * 1em;

// Links
@linkColor:             @red;
@linkColorHover:        darken(@linkColor, 15%);

// Columns
@column: 48;
@gutter: 24;

.columns(@cols:1) {
	width: (@cols * (@column + @gutter) - @gutter) / @em;
}

/*
  Thanks:

  Frameless               <http://framelessgrid.com/>
  by Joni Korpi           <http://jonikorpi.com/>
  licensed under CC0      <http://creativecommons.org/publicdomain/zero/1.0/>
*/

/*
	Margin, padding, and border resets
	except for form elements
*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}


/*
	Consistency fixes
	adopted from http://necolas.github.com/normalize.css/
*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section, audio, canvas, video {
	display: block;
}

html {
	height: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

body {min-height: 100%; font-size: 100%;}

sub, sup {
	font-size: 75%; 
	line-height: 0; 
	position: relative; 
	vertical-align: baseline;
}

sup {top: -0.5em;}
sub {bottom: -0.25em;}

pre {
	white-space: pre; 
	white-space: pre-wrap; 
	word-wrap: break-word;
}

b, strong {font-weight: bold;}
abbr[title] {border-bottom: 1px dotted;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img, img {
	-ms-interpolation-mode: bicubic;
	border: 0;
}

input, textarea, button, select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;
}
	
textarea {overflow: auto;}

img::selection
img::-moz-selection {
	background: transparent;
}

body {
	-webkit-tap-highlight-color: rgba(255,0,0, 0.62);
}

/*
	Type presets
*/

body {
  font-family: @baseFontFamily;
	font-size: @baseFontSize/@em;
  font-smoothing: antialiased;
	line-height: @baseLineHeight / @em;
}

.small, {
	font-size: 13/@em;
	line-height: 14/13*1em;
}

.normal {
	font-size: 1em;
}

.big {
	font-size: 23/@em;
	line-height: 24/23*1em;
}

.large {
	font-size: 27/@em;
	line-height: 36/27*1em;
}

.huge {
	font-size: 44/@em;
	line-height: 48/44*1em;
}

.enormous {
	font-size: 72/@em;
	line-height: 72/72*1em;
}

.gigantic {
	font-size: 116/@em;
	line-height: 120/116*1em;
}

/* Typography */

article p {
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
			    hyphens: auto;
}

h1 {.large;}
h2 {.big;}

h1, h2, h3 {
	font-weight: 500;
  margin: 0.5em 0 1em;
}

/* Links */
a {
  color: @linkColor;
  text-decoration: none;
  &:hover {
    color: @linkColorHover;
  }
}
