@import "common.less";

body {
  background-color: desaturate(lighten(@red, 40%), 85%);
  color: lighten(@gray-dark, 20%);
}

#content {
  background-color: desaturate(lighten(@yellow, 45%), 95%);
  .box-shadow(@gray 0 0 3em 0);
  margin-bottom: 8em;
}

article {
  padding: 6em 1em;
}

section {
  margin: 4em 0;
  text-align: justify;
}

h1, h2, h3, h4 {
  padding-bottom: 0.25em;
}

h1 {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  border-bottom-style: solid;
  border-color: lighten(@gray-light, 25%);
  border-width: 0.1em;
}

h3:first-letter {
  font-size: 110%;
}

p {
  margin: 1em 0;
}

.required_star {
  color: @red;
}

.red {
  color: @red;
}

#header {
  background-color: desaturate(lighten(@blue, 50%), 95%);
  .border-radius(0 0 0.25em 0.25em ~'/' 0 0 0.5em 0.5em);
  .box-shadow(@gray-light 0 0 1em 0 ~','
              desaturate(lighten(@blue, 25%), 75%) 0 -0.25em 1em -0.5em inset);
  margin-bottom: -0.25em; //pull content under the rounded corners in mobile
  padding: 1em;
  position: relative;
  z-index: 2;
  text-align: center;

  .field_error {
    color: @red;
    display: block;
    margin-top: -0.5em;
    .small;
    text-shadow: @white -0.05em 0.05em 0.01em;
  }

  form {
    display: inline;

    fieldset {
      margin: 0.5em 0;
    }

    /* TODO: remove this legend when JS not present */
    legend {
      color: @gray-light;
      display: inline;
      opacity: 0.5;
      position: absolute;
      z-index: 2;

      label, span {
        cursor: text;
        position: relative;
        top: 1em;
        left: 1em;
        .user-select(none);
      }
    }

    input {
      border: solid lighten(@gray-light, 20%) 0.1em;
      .box-sizing(border-box);
      margin: 0.5em 0;
      padding: 0.5em 1em;
    }

    input[type="submit"] {
      border: 0;
      .border-radius(0.25em);
      .box-shadow(0 0.1em 0.1em 0 desaturate(lighten(@blue, 25%), 50%) inset ~','
                  0 0.05em 0.1em 0 @gray-light);
      color: @gray-lighter;
      font-weight: bold;
      .linear-gradient(top ~','
                       desaturate(lighten(@blue, 20%), 50%) -50% ~','
                       @black 400%);
    }
  }
}

/*
	Mobile layout
	240–479 px
	Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  article { padding-top: 2em; }
  #header input { width: 100%; }
}

/*
	Wide mobile layout 
	480-767 px
	Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  section {
    margin: 6em 1em;
  }

  #header {
    float: right;
    margin: 0 2em 4em;
    text-align: left;

    input[type="submit"] {
      width: auto;
    }
  }
}

/*
	Tablet layout 
	600-911 px
	Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  article {
    padding: 6em 4em;
  }

  section {
    margin: 6em 2em;
  }
}

/*
	Widescreen layout 
	912-1887 px
	Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
  body {
    .columns(12);
    margin: auto;
  }
}

/*
	Huge-screen layout 
	1888-2520 px
	Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
