@import "common.less";

body {
  background-color: desaturate(lighten(@red, 40%), 85%);
  color: lighten(@grayDark, 25%);
}

#content {
  background-color: desaturate(lighten(@yellow, 45%), 95%);
  .box-shadow(@gray 0 0 1em 0);
  margin-bottom: 8em;
}

h1, fieldset {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article {
  padding: 6em 1em;
}

section {
  margin: 4em 0;
  text-align: justify;
}

h1 {
}

h1, h2, h3, h4 {
  line-height: @baseLineHeight / @em * 1.5;
  padding-bottom: 0.25em;
}

h3 {
  border-bottom-style: solid;
  border-color: lighten(@grayLight, 25%);
  border-width: 0.1em;
}

p {
  margin: 1em 0;
}

.required_star {
  color: @red;
}

.red {
  color: @red;
}

#header {
  background-color: desaturate(lighten(@blue, 50%), 95%);
  .border-radius(0 0 1em 1em);
  .box-shadow(@gray 0 0em 0.25em 0 ~','
              desaturate(lighten(@blue, 25%), 75%) 0 -0.25em 1em -0.5em inset);
  margin-bottom: -1em;
  padding: 1em;
  position: relative;
  z-index: 2;
  text-align: center;

  .field_error {
    color: @black;
    display: block;
    text-shadow: @white -0.05em 0.05em 0.01em;
  }

  form {
    display: inline;

    fieldset {
      margin: 0.5em 0;
    }

    /* TODO: remove this legend when JS not present */
    legend {
      color: @grayLight;
      display: inline;
      opacity: 0.5;
      position: absolute;
      z-index: 2;

      label, span {
        cursor: text;
        position: relative;
        top: 1em;
        left: 1.25em;
        .user-select(none);
      }
    }

    input {
      .border-radius(0.25em);
      .box-sizing(border-box);
      margin: 0.5em 0;
      padding: 0.5em 1em;
    }

    input[type="submit"] {
      border: 0;
      .box-shadow(@gray 0 -0.5em 1em 0.1em inset);
      background-color: desaturate(lighten(@blue, 5%), 65%);
      color: @grayLighter;
      font-weight: bold;
      text-shadow: @grayDark 0 -0.1em 0.01em;
    }
  }
}

/*
	Mobile layout
	240–479 px
	Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  article { padding-top: 2em; }
  #header input { width: 100%; }
}

/*
	Wide mobile layout 
	480-767 px
	Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  article { padding-top: 6em; }
  section {
    margin: 6em 0em;
  }

  #header {
    float: right;
    margin: 0 1em 1em 1em;
    text-align: left;

    input[type="submit"] {
      width: auto;
    }
  }
}

/*
	Tablet layout 
	600-911 px
	Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  article {
    padding: 6em 4em;
  }

  #header {
    margin: 0 2em 4em;
  }
}

/*
	Widescreen layout 
	912-1887 px
	Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
  body {
    .columns(12);
    margin: auto;
  }

  section {
    margin: 6em 2em;
  }
}

@media screen and (min-width: 57em) and (max-width: 117.9375em) {
}

/*
	Huge-screen layout 
	1888-2520 px
	Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
