@import "common.less";

article p {
  margin-top: @baseLineHeight/@em;
}

input {
  margin: 0.25em 0 0.5em 0;
}

.required_star {
  color: @red;
}

/*
	Mobile layout 
	240–479 px
	Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  article {
		text-align: justify;
    margin: @baseLineHeight/@em 1em 5em 1em;

  }

	#auth {
    background-color: lighten(@blue, 50%);
    padding: 1em;
    fieldset input {
      width: 100%;
    }
    text-align: center;
	}
}

/*
	Wide mobile layout 
	480-767 px
	Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  #auth {
    float: right;
    margin: 0 0 1em 1em;
    form {
      display: inline;
    }
    input {
      width: auto;
    }
    text-align: left;
    legend {
      text-align: left;
    }
  }
}

/*
	Tablet layout 
	600-911 px
	Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
}


/*
	Widescreen layout 
	912-1887 px
	Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
  #content {
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.05);
    margin: auto;
    .columns(10);
  }
}

@media screen and (min-width: 57em) and (max-width: 117.9375em) {
}

/*
	Huge-screen layout 
	1888-2520 px
	Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
