// Page: Admin area, Feature Flags
// ============================================================================

.admin .container {
  max-width: 100em;
}

.feature-flags {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.feature-flag {
  margin: 0;
}

.feature-flag__settings {
  display: flex;
}

.feature-flags__save-button {
  @include container-inset;

  text-align: center;
}
