// Page: Admin area, Feature Flags
// ============================================================================

.icon-back {
  height: 1.5em;
  margin-right: 0.5em;
  margin-top: -0.25em;
  vertical-align: middle;
  width: auto;
}
