<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create a new private group</title>
    {% for url in asset_urls("new_group_css") %}
    <link rel="stylesheet" href="{{ url }}">
    {% endfor %}
  </head>
  <body>
    <div id="app"></div>

    {% for url in asset_urls("new_group_js") %}
    <script type="module" src="{{ url }}"></script>
    {% endfor %}
  </body>
</html>
