{% extends "h:templates/layouts/group.html.jinja2" %}

{% block page_content %}
  <div id="create-group-form"></div>
  <script type="application/json" class="js-config">
    {
      "styles": {{ asset_urls("group_forms_css")|tojson }},
      "api": {
        "createGroup": {
          "method": "POST",
          "url": "{{ request.route_url("api.groups") }}"
        },
        "updateGroup": {
          "method": "PATCH",
          "url": "{{ request.route_url("api.group", id=group.pubid) }}"
        }
      },
      "components": {
        "CreateEditGroupForm": {
          "mode": "{{ mode }}",
          "group": {
            "pubid": "{{ group.pubid }}",
            "name": "{{ group.name }}",
            "description": "{{ group.description }}",
            "link": "{{ group.link }}"
          }
        }
      }
    }
  </script>
{% endblock %}

{% block scripts %}
  {{ super() }}

  {% for url in asset_urls('group_forms_js') %}
    <script type="module" src="{{ url }}"></script>
  {% endfor %}
{% endblock %}
