{% extends "h:templates/layouts/group.html.jinja2" %}
{% from "h:templates/includes/js_app.html.jinja2" import css_bundle, js_app_container, js_bundle %}

{% block styles %}
  {{ super() }}
  {{ css_bundle('forms_css') }}
{% endblock %}

{% block page_content %}
<div class="form-container form-container--wide">
  {{ js_app_container(js_config) }}
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ js_bundle('group_forms_js') }}
{% endblock %}
