{% extends "h:templates/layouts/group.html.jinja2" %}

{% set page_title = 'Create a new private group' %}

{% block page_content %}
  <div id="create-group-form"></div>
  <script type="application/json" class="js-config">
    {
      "styles": {{ asset_urls("group_forms_css")|tojson }}
    }
  </script>
{% endblock %}

{% block scripts %}
  {{ super() }}

  {% for url in asset_urls('group_forms_js') %}
    <script type="module" src="{{ url }}"></script>
  {% endfor %}
{% endblock %}
