{% extends "h:templates/layouts/group.html.jinja2" %}

{% set page_title = 'Create a new private group' %}

{% block page_content %}
  <h1 class="form-header">Create a new private group</h1>
  {{ form }}

  <footer class="form-footer">
    {# This form has at least one required field. If that changes we should update this footer. #}
    <span class="form-footer__required">
      <span class="form-footer__symbol">
      *
      </span>
      <span class="form-footer__text">
        Required
      </span>
    </span>
  </footer>
{% endblock page_content %}
