{% extends "h:templates/layouts/group.html.jinja2" %}

{% set page_title = 'Edit Group' %}

{% block page_content %}
  <h1 class="form-header">Edit group details</h1>
  {{ form }}

  <footer class="form-footer">
    {% include "h:templates/includes/back_link.html.jinja2" %}
  </footer>
{% endblock page_content %}
