{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}{{ group.name }}{% endblock page_title %}

{% block styles %}
  {% assets "site_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block content %}
  <div class="content content--narrow">
    <div class="group-form is-member-of-group">
      <i class="h-icon-group group-form__heading-icon"></i>
      <div class="group-form__heading--short">{{ group.name }}</div>
      {% if document_links %}
        <a href="{{ request.route_url('stream') }}?q=group:{{ group.pubid }}"
           target="_blank"
           title="Recent annotations in this group">
           View recent group annotations</a>
      {% else %}
        <p class="group-form__nocontent-text">This group has not shared any annotations yet.</p>
      {% endif %}
    </div>
    {% if document_links %}
    <div class="group-document-list">
        <ul class="group-document-list__list">
        <p class="group-document-list__heading">Group documents:</p>
          {% for document_link in document_links %}
            <li>{{ document_link }}</li>
          {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="group-form-footer">
      <div class="group-form-footer__explain-text">
        {% include "about-groups.html.jinja2" %}

        <p class="group-form-footer__heading">You can</p>
        <ol class="group-form-footer__list">
          <li>Annotate any web resource privately within the group.</li>
          <li>Restrict the annotations shown for a web resource to only those
              belonging to the group.</li>
          <li>Invite anyone to join the group using the link below:</li>
        </ol>
        <input class="share-link-field" value="{{ group_url }}">
        <a href="//twitter.com/intent/tweet?url={{ group_url }}"
           target="_blank"
           title="Tweet link"
           class="share-link-icon h-icon-twitter"></a>
        <a href="//www.facebook.com/sharer/sharer.php?u={{ group_url }}"
           target="_blank"
           title="Share on Facebook"
           class="share-link-icon h-icon-facebook"></a>
        <a href="//plus.google.com/share?url={{ group_url }}"
           target="_blank"
           title="Post on Google Plus"
           class="share-link-icon h-icon-google-plus"></a>
        <a href="mailto:?subject=Invite to join the annotation group {{group.name}}&amp;body={{ group_url }}"
           title="Share via email"
            class="share-link-icon h-icon-mail"></a>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
{% assets "site_js" %}
  <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock scripts %}
