{% import "flash_template.jinja2" as flash with context -%}

{% extends "base.jinja2" %}

{% block head %}
{{ super() }}
{{ flash.apex_head() }}
{% endblock %}

{% block content %}
<div id="content">
  <div id="auth">
    <h1>hypothes<span class="red">.</span>is</h1>
    {% if form is not none %}
      {{ form.render() | safe }}
      {% if action != 'register' %}
        or <a href="{{ request.route_url('apex_register') }}">register</a>
      {% else %}
        or <a href="{{ request.route_url('apex_login') }}">sign in</a>
      {% endif %}
    {% else %}
      <a href="{{ request.route_url('apex_logout') }}">Log out</a>
    {% endif %}
  </div>
{% endblock %}
