{% extends "h:templates/layouts/base.html.jinja2" %}

{%- set nav_pages = [
    ('account', 'Account'),
    ('account_profile', 'Edit profile'),
    ('account_notifications', 'Notifications'),
    ('account_developer', 'Developer'),
] -%}

{% block page_title %}{{ page_title }}{% endblock %}

{% block header %}
  {{ panel('navbar') }}
{% endblock %}

{% block content %}
  <div class="content paper">
    <div class="form-container">
      <nav class="tabs">
        <ul>
          {% for route, title in nav_pages %}
            <li class="tabs__item">
                <a href="{{ request.route_url(route) }}"
                   class="tabs__link{% if route == page_route %} is-active{% endif %}">
                  {{ title }}
                </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      {% if request.session.peek_flash('success') -%}
        <div class="form-flash">
          {% for message in request.session.pop_flash('success') %}
            <p>{{ message }}</p>
          {%- endfor %}
        </div>
      {%- endif %}
      {{ self.page_content() }}

      <footer class="form-footer--no-border">
        {{ panel('back_link') }}
      </footer>
    </div>
  </div>
{% endblock content %}

{% block footer %}
  {% include "h:templates/includes/footer.html.jinja2" %}
{% endblock %}
