{% extends "h:templates/layouts/base.html.jinja2" %}

{%- set nav_pages = [
    ('account', 'Account'),
    ('account_profile', 'Edit profile'),
    ('account_notifications', 'Notifications'),
    ('account_developer', 'Developer'),
] -%}

{% block page_title %}{{ page_title }}{% endblock %}

{% block header %}
  {% from "h:templates/includes/navbar.html.jinja2" import navbar with context %}
  {{ navbar() }}
{% endblock %}

{% block content %}
  <div class="content paper">
    <div class="form-container">
      {% block tabs %}
      <nav class="tabs">
        <ul>
          {% for route, title in nav_pages %}
            <li class="tabs__item">
                <a href="{{ request.route_url(route) }}"
                   class="tabs__link{% if route == page_route %} is-active{% endif %}">
                  {{ title }}
                </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      {% endblock tabs %}
      {% include "h:templates/includes/flash-messages.html.jinja2" %}
      {{ self.page_content() }}

      {% with %}
        {% set footer_left %}
          {% block form_footer_left %}{% endblock form_footer_left %}
          {% include "h:templates/includes/back_link.html.jinja2" %}
        {% endset %}

        {% set footer_right %}
          {% block form_footer_right %}{% endblock form_footer_right %}
        {% endset %}

        {% if footer_left|trim or footer_right|trim %}
          <footer class="form-footer">
            {% if footer_left|trim %}
            <div class="form-footer__left">
              {{ footer_left }}
            </div>
            {% endif %}
            {% if footer_right|trim %}
            <div class="form-footer__right">
              {{ footer_right }}
            </div>
            {% endif %}
          </footer>
        {% endif %}
      {% endwith %}
    </div>
  </div>
{% endblock content %}

{% block footer %}
  {% include "h:templates/includes/footer.html.jinja2" %}
{% endblock %}
