{%- set nav_pages = [
    ('index', 'admin.index', 'Home', []),

    ('admins', 'admin.admins', 'Administrators', []),
    ('badge', 'admin.badge', 'Badge', []),
    ('features', 'admin.features', 'Feature flags', [
      ('features', 'admin.features', 'Manage feature flags'),
      ('features_cohorts', 'admin.cohorts', 'Manage cohorts'),
    ]),
    ('groups', 'admin.groups', 'Groups', [
      ('groups', 'admin.groups', 'List Groups'),
      ('groups_create', 'admin.groups_create', 'Create a Group'),
    ]),
    ('mailer', 'admin.mailer', 'Mailer', []),
    ('nipsa', 'admin.nipsa', 'NIPSA', []),
    ('oauth', 'admin.oauthclients', 'OAuth clients', []),
    ('organizations', 'admin.organizations', 'Organizations', [
      ('organizations', 'admin.organizations', 'List organizations'),
      ('organizations_create', 'admin.organizations_create', 'Create an organization'),
    ]),
    ('staff', 'admin.staff', 'Staff', []),
    ('users', 'admin.users', 'Users', []),
] -%}

{%- set page_id = page_id|default('home') -%}
{%- set page_title = page_title|default('Administration pages') -%}
{%- set page_subnav = namespace(tabs=[]) -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>
      Hypothesis: {{ page_title }}
    </title>

  {% for url in asset_urls("admin_css") %}
<link rel="stylesheet" href="{{ url }}">
{% endfor %}

    {% for url in asset_urls("header_js") %}
    <script src="{{ url }}"></script>
    {% endfor %}

    {% include 'h:templates/includes/settings.html.jinja2' %}
  </head>
  <body class="admin">

    <nav class="admin-navbar container">
      <a class="admin-navbar__logo-link" href="{{ request.route_url('admin.index') }}">
        {{ svg_icon('logo', 'admin-navbar__logo') }}
      </a>
      <button class="admin-navbar__menu-toggle button button--outline button--tight button--reverse js-admin-navbar__menu-toggle">Menu</button>
      <ul class="admin-navbar__menu js-admin-navbar__menu">
        {% for id, permission, title, children in nav_pages %}
          {% if children %}
            {% for id, url, title in children %}
              {% if id == page_id %}
                {%- set page_subnav.tabs = children -%}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if request.has_permission(permission) %}
            <li class="admin-navbar__menu-item{% if id == page_id %} is-active{% endif %}">
              <a class="admin-navbar__menu-link" href="{{ request.route_url(permission) }}">{{ title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <main class="container">
      {% include "h:templates/includes/flashbar.html.jinja2" %}
      <h1 class="heading--xlarge">{{ page_title }}</h1>
      {% if page_subnav.tabs %}
        <nav class="tab-bar">
          <ul class="tab-bar__tabs">
            {% for id, permission, title in page_subnav.tabs %}
              <li class="tab-bar__tab{% if id == page_id %} is-active{% endif %}">
                <a class="tab-bar__link"{% if id != page_id %} href="{{ request.route_url(permission) }}"{% endif %}>{{ title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
      {% block content %}{% endblock %}
    </main>

    {% for url in asset_urls("admin_js") %}
    <script src="{{ url }}"></script>
    {% endfor %}
    {% block scripts %}{% endblock %}
  </body>
</html>
