<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    {% block meta %}
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      {% for attrs in meta_attrs -%}
        <meta {% for key, value in attrs.items() %}{{ key }}="{{ value }}" {% endfor %}/>
      {% endfor -%}
    {% endblock %}

    <title>
      {%- block title -%}
        {%- if self.page_title %}{{self.page_title()}} | {% endif -%}
        Hypothesis
      {%- endblock -%}
    </title>

    {% if link_tags %}
      {% for link in link_tags %}
        <link rel="{{ link.rel }}" type="{{ link.type }}"
              href="{{ link.href }}"/>
      {% endfor %}
    {% endif %}

    {% for attrs in link_attrs -%}
      <link {% for key, value in attrs.items() %}{{ key }}="{{ value }}" {% endfor %}/>
    {% endfor -%}
    {% block styles %}{% endblock %}

    <link rel="apple-touch-icon" sizes="152x152"
          href="{{ base_url }}assets/images/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ base_url }}assets/images/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ base_url }}assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ base_url }}assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{{ base_url }}assets/images/favicons/android-chrome-192x192.png">
    <link rel="shortcut icon"
          href="{{ base_url }}assets/images/favicons/favicon.ico">

    {% if ga_tracking_id %}
      <!-- Google Analytics -->
      <script async src='//www.google-analytics.com/analytics.js'></script>
      <script>
       window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
       ga('create', 'UA-{{ga_tracking_id}}', {{ga_create_options|safe}});
       {% block ga_pageview %}
       ga('send', 'pageview');
       {% endblock %}
      </script>
      <!-- End Google Analytics -->
    {% endif %}

    {% block base_tag %}{% endblock %}
  </head>
  {% block body_tag %}<body class="body--default">{% endblock %}
    {% block content %}{% endblock %}
    {% block templates %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
