<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    {% block meta %}
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      {% for attrs in meta_attrs -%}
        <meta {% for key, value in attrs.items() %}{{ key }}="{{ value }}" {% endfor %}/>
      {% endfor -%}
    {% endblock %}

    <title>{% block title %}Hypothesis{% endblock %}</title>

    {% for attrs in link_attrs -%}
      <link {% for key, value in attrs.items() %}{{ key }}="{{ value }}" {% endfor %}/>
    {% endfor -%}
    {% for href in layout.css_links %}
      <link rel="stylesheet" href="{{ href }}" />
    {% endfor %}
    {% if service_url %}
      <link rel="service" type="application/annotatorsvc+json" href="{{ service_url }}" />
    {% endif %}
    {% block styles %}{% endblock %}

    {% if base_url %}
      <base target="_top" href="{{ base_url }}" />
    {% endif %}
  </head>
  {% block body_tag %}<body>{% endblock %}
    {% block content %}{% endblock %}
    {% block templates %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
