{% extends "h:templates/layouts/base.html.jinja2" %}

{% if not feature('activity_pages') %}
{% set style_bundle = 'site_css' %}
{% endif %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
  {% if feature('activity_pages') %}
    {% include "h:templates/includes/logo-header.html.jinja2" %}
  {%- endif %}

  <div class="content paper">
    <div class="form-container">
      {% if request.session.peek_flash('success') -%}
        <div class="form-flash">
          {% for message in request.session.pop_flash('success') %}
            <p>{{ message }}</p>
          {%- endfor %}
        </div>
      {%- endif %}
      {{ self.page_content() }}
    </div>
  </div>
{% endblock content %}
