@import "compass/css3";
@import "compass/css3/user-interface";

@import "common";

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-color-hover;
  }
}

article {
  padding: 6em 1em;
}

body {
  background-color: desaturate(lighten($yellow, 40%), 66%);
  color: $gray;
}

form {
  display: inline-block;

  legend {
    color: $gray-light;
    opacity: .5;
    position: absolute;
    z-index: 2;

    label, span {
      cursor: text;
      position: relative;
      top: .75em;
      left: .5em;
      @include user-select(none);
    }
  }

  input {
    border: solid lighten($gray-light, 25%) .1em;
    @include border-radius(.25em);
    margin: .25em 0;
    padding: .5em;
  }

  input[type="submit"] {
    color: $gray-lighter;
    background-color: desaturate(lighten($blue, 0%), 75%);
  }
}

h1, h2, h3, h4 {
  padding: .25em 0;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  border-bottom-style: solid;
  border-color: $gray-lighter;
  border-width: .1em;
}

p {
  margin: 1em 0;
}

section {
  margin: 4em 0;
}

.red, .required_star, .field_error {
  color: $red;
}

.field_error {
  display: block;
  text-align: right;
  text-shadow: $white -.05em .05em .01em;
}

.outline {

}

#header {
  background-color: desaturate(lighten($blue, 50%), 95%);
  border: .1em lighten($gray-light, 30%) solid;
  @include border-radius(0 0 .25em .25em);
  @include box-shadow(
    $gray-light 0 0 .25em 0,
    desaturate(lighten($blue, 25%), 75%) 0 -.25em 1em -.5em inset
  );
  padding: .5em 1em;
  position: relative;
  text-align: center;
  z-index: 3;
}

#header {
  @include box-sizing(border-box);
  form:first-child { display: inline }
}

#content {
  border: .1em lighten($gray-light, 30%) solid;
  background-color: desaturate(lighten($yellow, 50%), 66%);
  @include box-shadow($gray-light 0 0 .5em 0);
  font-size: ($font-size + 2) / $font-size * 1em;
  margin-bottom: 8em;
}

/*
	Mobile layout
	240–479 px
	Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  article { padding-top: 2em; }
  h1, h2 { text-align: center; }
  #header form {
    margin-bottom: -.25em; //pull content under the rounded corners in mobile
    width: 100%;
    input { width: 100%; }
  }
}

/*
	Wide mobile layout
	480-767 px
	Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  section {
    margin: 2em 1em;
  }

  h1, h2 { text-align: left; }

  #header {
    float: right;
    margin: 0 2em 4em;
    text-align: left;

    form {
      width: auto;
      input[type=submit] { width: auto; }
    }
  }
}

/*
	Tablet layout
	600-911 px
	Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  article {
    padding: 4em;
  }
}

/*
	Widescreen layout
	912-1887 px
	Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
  body {
    @include width(12);
    margin: auto;
  }
}

/*
	Huge-screen layout
	1888-2520 px
	Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
