@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/utilities/color";

@import "common";

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-color-hover;
  }
}

article {
  padding: 1em;
}

body {
  background-color: desaturate(lighten($yellow, 35%), 25%);
  color: $gray;
}

h1, h2, h3, h4 {
  padding: .25em 0;
}

h1, form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  border-bottom-style: solid;
  border-color: $gray-lighter;
  border-width: .1em;
}

input,
textarea {
  @include box-shadow(inset 0 .1em .1em rgba(0, 0, 0, 0.075));
  @include transition(border linear .2s, box-shadow linear .2s);
}

input:focus,
textarea:focus {
  @include box-shadow(inset 0 .25em .25em rgba(0, 0, 0, .075));
  border: $blue solid thin;
  outline: 0;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
   @include box-shadow(none);
}

label {
  font-weight: bold;
}

p {
  margin: 1em 0;
}

section {
  margin: 5em 0;
}

span.error {
  @extend .small;
  text-align: right;
  display: block;
}

.alert-block {
  display: none;
}

.alert-message p:first-child {
  display: none;
}

.deform button,
.deform input,
.deform textarea {
  border: solid lighten($gray-light, 20%) thin;
  @include border-radius(.25em);
  margin: .25em 0;
  padding: .5em;
}

.deform button {
  background-color: desaturate($blue, 25%);
  border-color: desaturate(darken($blue, 10%), 25%);
  color: $gray-lighter;
  @include linear-gradient(
    color-stops(
      desaturate($blue, 25%) -50%,
      $black 400%
    )
  );
  text-shadow: 0 .1em adjust-color(lighten($gray, 10%), $alpha: -.4);
  font-weight: bold;
}

.deform button:hover {
  background-color: desaturate(darken($blue, 5%), 25%);
  @include linear-gradient(
    color-stops(
      desaturate(darken($blue, 5%), 25%) -50%,
      $black 400%
    )
  );
}

.deform .error, .red {
  color: $red;
}

.deform .error {
  text-shadow: $white -.05em .05em .01em;
}

.deform.form-horizontal {
  div, label, legend, fieldset, input, button, select, textarea {
    display: inline-block;
  }
}

.deform.form-vertical {
   legend {
     padding-bottom: 1em;
   }

  .control-group {
    margin-bottom: 1em;
  }
}

.deform .req {
  display: none;
}

#content {
  border: lighten($gray-light, 30%) solid thin;
  background-color: lighten($yellow, 45%);
  @include box-shadow($gray-dark 0 0 1em -.5em);
  font-size: ($font-size + 2) / $font-size * 1em;
}

#header {
  @extend .small;
  background-color: desaturate(lighten($blue, 50%), 95%);
  border: lighten($gray-light, 30%) solid thin;
  @include box-shadow(
    $gray-light 0 0 .5em,
    desaturate(lighten($blue, 25%), 85%) 0 0 6em -3em inset
  );
  padding: 1.5em;
  position: relative;
  z-index: 3;
}

/*
	Mobile layout
	240–479 px
	Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  h1, h2 { text-align: center; }
  #header {
    form {
      button, input, legend { width: 100%; }
    }
  }
}

/*
	Wide mobile layout
	480-767 px
	Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  section {
    margin: 5em 1em;
  }

  h1, h2 { text-align: left; }

  #header {
    float: right;
    margin-bottom: inherit;
    margin-right: 1em;
    text-align: left;

    form {
      button { width: auto; }
    }
  }
}

/*
	Tablet layout
	600-911 px
	Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  article { padding: 2em; }
  #header { margin-right: 2em; }
}

/*
	Widescreen layout
	912-1887 px
	Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
  article { padding: 4em; }
  body {
    @include width(12);
    margin: auto;
  }
  #header { margin-right: 4em; }
}

/*
	Huge-screen layout
	1888-2520 px
	Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
