@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/user-interface";
@import "compass/utilities/color";

@import "reset";
@import "common";

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-color-hover;
  }
}

article {
  padding: 1em;

  p {
    margin: 1em 0;
  }
}

body {
  background-image: url('../images/noise_1.png');
  color: $gray-light;
  font-family: "Georgia", "Gentium Basic", "Times New Roman", serif;
  font-size: $font-size / $em;
  font-smoothing: antialiased;
  line-height: $line-height / $em;

}

h1, h2, h3, h4 {
  color: darken($gray-light, 15%);
  margin: .33em 0;
}

h1, form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  font-weight: bold;
}

section {
  margin: 5em 0;
}

span.error {
  @extend .small;
}

.deform button,
.deform input,
.deform textarea {
  @include border-radius(.25em);
  border: solid lighten($gray-light, 20%) thin;
  padding: .33em .5em;
}

.deform button {
  @include background(
    linear-gradient(
      desaturate($blue, 40%),
      darken(desaturate($blue, 40%), 10%)
    )
  );
  background-color: desaturate($blue, 25%);
  border-color: desaturate(darken($blue, 10%), 25%);
  color: $gray-lighter;
  text-shadow: 0 .1em adjust-color(lighten($gray, 10%), $alpha: -.4);
}

.deform button:hover {
  @include background(
    linear-gradient(
      desaturate(darken($blue, 5%), 40%),
      darken(desaturate(darken($blue, 5%), 40%), 10%)
    )
  );
  background-color: desaturate(darken($blue, 5%), 25%);
}

.deform input,
.deform textarea {
  @include box-shadow(inset 0 .1em .1em rgba(0, 0, 0, 0.075));
  @include transition(border linear .2s, box-shadow linear .2s);
}

.deform input:focus,
.deform textarea:focus {
  @include box-shadow(inset 0 .25em .25em rgba(0, 0, 0, .075));
  border: $blue solid thin;
  outline: 0;
}

.deform input[type="file"]:focus,
.deform input[type="radio"]:focus,
.deform input[type="checkbox"]:focus,
.deform select:focus {
   @include box-shadow(none);
}


.deform .error, .red {
  color: $red;
}

.deform .error {
  text-shadow: $white -.05em .05em .01em;
}

.deform.form-horizontal {
  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
  .error .controls {
    overflow: visible;
  }
}

.deform.form-vertical {
  .alert-message {
    padding: .25em 0;
  }

  .control-group {
    margin: 1em 0;
  }

  .control-group:first-of-type {
    margin-top: 0;
  }
}

.deform div.alert-block,
.deform .alert-message p:first-child,
.deform legend,
.deform .req {
  display: none;
}

#content {
  @include box-shadow(desaturate($yellow, 75%) 0 0 .5em);
  border: lighten($gray-light, 30%) solid thin;
  background-color: lighten($gray-lighter, 3%);
  font-size: ($font-size + 2) / $font-size * 1em;
}

#header {
  padding: 1em;
  position: relative;
  z-index: 2;
}

#toolbar {
  @extend .small;
  @include box-shadow(
    $gray-light 0 0 .5em,
    desaturate(lighten($blue, 25%), 85%) 0 0 6em -3em inset
  );
  background-color: desaturate(lighten($blue, 50%), 95%);
  border: lighten($gray-light, 30%) solid thin;
  padding: 0 1em;
  position: fixed;
  height: 3em;
  width: 100%;
  z-index: 10;
}

/*
    Mobile layout
    240–479 px
    Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .title { text-align: center; }
  #auth {
    button, input {
      width: 100%;
    }
  }
  .toolbar #content { padding-top: 2em; }
}

/*
    Wide mobile layout
    480-767 px
    Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  section {
    margin: 5em 1em;
  }

  .title {
      text-align: left;
      img {
        position: relative;
        top: -1em;
        left: -1em;
        margin-bottom: -2em;
      }
  }

  #auth {
    button { width: auto; }

    .controls, .control-group, .form-actions, fieldset, button, input {
      width: auto;
    }
  }

  #header {
    @include small;
    float: right;
    text-align: left;
    top: inherit;
    margin-top: .25em;
  }
}

/*
    Tablet layout
    600-911 px
    Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  article { padding: 2em; }
  h1, h2 { text-align: left; }
  #header { margin-top: 1.5em; }
}

/*
    Widescreen layout
    912-1887 px
    Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
  article { padding: 4em; }

  .title img {
    float: left;
    position: relative;
    top: -2em;
    left: -2em;
    margin-right: -2em;
  }

  #content {
    @include width(11);
    margin: auto;
  }

  #header {
    margin-right: 2.5em;
    margin-top: 3.25em;
  }
}

/*
    Huge-screen layout
    1888-2520 px
    Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
