<html>
<head>
<title>Authorization completed</title>
<script type="application/json" class="js-hypothesis-settings">
{
  "code": {{ code | to_json }},
  "origin": {{ origin | to_json }},
  "state": {{ state | to_json }}
}
</script>
{% for url in asset_urls('post_auth_js') %}
<script src="{{ url }}"></script>
{% endfor %}
</script>
</head>
</html>
