(function (window, document) {
  s = document.body.appendChild(document.createElement('script'));
  s.language = 'javascript';
  s.src = '{{request.route_url('bookmarklet')}}';
})(this, this.document);
