{% from '../includes/dropdown_menu.html.jinja2' import dropdown_menu %}

{% block content %}

{% if feature('activity_pages') %}

{% macro lozenge(facetName, facetValue) %}
  <div class="lozenge">
    <div class="lozenge__content">
      <span class="lozenge__facet-name">
        {{ facetName }}:
      </span>
      <span class="lozenge__facet-value">
        {{ facetValue }}
      </span>
    </div>
  </div>
{% endmacro %}

<header class="nav-bar">
  <div class="nav-bar__content">
    <a href="/" title="Hypothesis homepage" class="nav-bar__logo-container"><!--
      !--><img alt="Hypothesis logo" class="nav-bar__logo" src="/assets/images/logo.svg"></a>

    <div class="nav-bar__search js-search-bar" data-ref="searchBar">
      <form class="search-bar"
            data-ref="searchBarForm"
            id="search-bar"
            action="{{ search_url }}">
        {{ svg_icon('search', 'search-bar__icon') }}
        <div class="search-bar__lozenges">
          {% if opts['search_username'] %}
            {{ lozenge('user', opts['search_username']) }}
          {% endif %}
          {% if opts['search_groupname'] %}
            {{ lozenge('group', opts['search_groupname']) }}
          {% endif %}
        </div>
        <div class="search-bar__lozenges" data-ref="searchBarLozenges"></div>
        <input class="search-bar__input" data-ref="searchBarInput" name="q" value="{{ q }}" placeholder="Search…" autocomplete="off">

        {#- This seemingly pointless <input> is actually needed to make the
            form work correctly. If you remove this input then when the user
            presses Enter in the search bar input, the browser will act as if
            the user had clicked one of the form's other submit elements
            (e.g. the leave group button). #}
        <input type="submit" class="u-hidden">
      </form>
    </div>

    <div class="u-stretch"></div>

    <div class="nav-bar-links">
      {% if username %}
      <span class="nav-bar-links__item">
        <a class="nav-bar-links__link"
           href="{{ username_url }}">
          {{ username }}
        </a>
      </span>
      <span class="nav-bar-links__item">
      {% call dropdown_menu(groups_menu_items, title='Groups', footer_item=create_group_item) %}
        <a class="nav-bar-links__link" href="">Groups
          <span class="nav-bar-links__dropdown-arrow">▾</span>
        </a>
      {% endcall %}
      </span>
      <span class="nav-bar-links__item">
      {% call dropdown_menu(settings_menu_items, title='Settings', footer_item=signout_item) %}
        <a class="nav-bar-links__link"
           href="{{ request.route_url("account") }}"
           title="Settings">
          {{ svg_icon('settings') }}
          <span class="nav-bar-links__dropdown-arrow" href="">▾</span>
        </a>
      {% endcall %}
      </span>
      {% else %}
      <a class="nav-bar-links__item nav-bar-links__link"
         href="{{ request.route_url('login') }}">Log in</a>
      <a class="nav-bar-links__item nav-bar-links__link"
         href="{{ request.route_url('signup') }}">Sign up</a>
      {% endif %}
    </div>
  </div>
</header>
{% endif %}
{% endblock %}
