@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-untitled, .icon-untitled-2, .icon-untitled-3, .icon-untitled-4, .icon-untitled-5, .icon-untitled-6, .icon-untitled-7, .icon-untitled-8, .icon-untitled-9, .icon-untitled-10, .icon-untitled-11, .icon-untitled-12, .icon-untitled-13, .icon-untitled-14, .icon-untitled-15, .icon-untitled-16, .icon-untitled-17, .icon-untitled-18, .icon-untitled-19, .icon-untitled-20, .icon-untitled-21, .icon-untitled-22, .icon-untitled-23, .icon-untitled-24, .icon-untitled-25, .icon-untitled-26, .icon-untitled-27, .icon-untitled-28, .icon-untitled-29, .icon-untitled-30, .icon-untitled-31, .icon-untitled-32, .icon-untitled-33, .icon-untitled-34, .icon-untitled-35, .icon-untitled-36, .icon-untitled-37, .icon-untitled-38, .icon-untitled-39, .icon-untitled-40, .icon-untitled-41, .icon-untitled-42, .icon-untitled-43, .icon-plus, .icon-menu, .icon-pen-alt-fill {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-untitled:before {
	content: "\22";
}
.icon-untitled-2:before {
	content: "\23";
}
.icon-untitled-3:before {
	content: "\24";
}
.icon-untitled-4:before {
	content: "\25";
}
.icon-untitled-5:before {
	content: "\26";
}
.icon-untitled-6:before {
	content: "\27";
}
.icon-untitled-7:before {
	content: "\28";
}
.icon-untitled-8:before {
	content: "\29";
}
.icon-untitled-9:before {
	content: "\2b";
}
.icon-untitled-10:before {
	content: "\2c";
}
.icon-untitled-11:before {
	content: "\2f";
}
.icon-untitled-12:before {
	content: "\33";
}
.icon-untitled-13:before {
	content: "\34";
}
.icon-untitled-14:before {
	content: "\36";
}
.icon-untitled-15:before {
	content: "\38";
}
.icon-untitled-16:before {
	content: "\39";
}
.icon-untitled-17:before {
	content: "\3a";
}
.icon-untitled-18:before {
	content: "\35";
}
.icon-untitled-19:before {
	content: "\37";
}
.icon-untitled-20:before {
	content: "\2a";
}
.icon-untitled-21:before {
	content: "\3e";
}
.icon-untitled-22:before {
	content: "\3f";
}
.icon-untitled-23:before {
	content: "\3c";
}
.icon-untitled-24:before {
	content: "\e000";
}
.icon-untitled-25:before {
	content: "\e001";
}
.icon-untitled-26:before {
	content: "\e002";
}
.icon-untitled-27:before {
	content: "\e003";
}
.icon-untitled-28:before {
	content: "\e007";
}
.icon-untitled-29:before {
	content: "\e008";
}
.icon-untitled-30:before {
	content: "\e004";
}
.icon-untitled-31:before {
	content: "\e005";
}
.icon-untitled-32:before {
	content: "\e006";
}
.icon-untitled-33:before {
	content: "\e009";
}
.icon-untitled-34:before {
	content: "\e00a";
}
.icon-untitled-35:before {
	content: "\e00b";
}
.icon-untitled-36:before {
	content: "\e00c";
}
.icon-untitled-37:before {
	content: "\e00e";
}
.icon-untitled-38:before {
	content: "\e00d";
}
.icon-untitled-39:before {
	content: "\e00f";
}
.icon-untitled-40:before {
	content: "\e020";
}
.icon-untitled-41:before {
	content: "\e010";
}
.icon-untitled-42:before {
	content: "\e014";
}
.icon-untitled-43:before {
	content: "\f000";
}
.icon-plus:before {
	content: "\e011";
}
.icon-menu:before {
	content: "\e012";
}
.icon-pen-alt-fill:before {
	content: "\e013";
}
