@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cog, .icon-untitled, .icon-untitled-2, .icon-export_icon, .icon-clipboard_copy_icon, .icon-pen_1, .icon-flag, .icon-delete_icon, .icon-heart_empty_icon, .icon-heart_icon, .icon-window, .icon-window-2, .icon-triangle, .icon-copy, .icon-x, .icon-cancel, .icon-checkmark_icon, .icon-checkmark, .icon-cog-2, .icon-checkmark-2, .icon-clock, .icon-export, .icon-checkbox_unchecked_icon, .icon-checkbox_checked_icon, .icon-triangle-2, .icon-unlocked, .icon-locked, .icon-views, .icon-browser, .icon-ddbutton_filled, .icon-ddbutton_empty, .icon-reply, .icon-star_fav_icon, .icon-star_fav_empty_icon, .icon-triright, .icon-trileft, .icon-comment, .icon-comment2, .icon-comment2-2, .icon-comment2-3, .icon-settings, .icon-wrench, .icon-commentflip, .icon-hyp-logo4, .icon-eye-close, .icon-eye-open, .icon-comments, .icon-plus, .icon-plus-sign, .icon-comment2-4, .icon-eye, .icon-magic, .icon-eye-2, .icon-download, .icon-eye-3, .icon-eye-4, .icon-highlighter-nolines, .icon-highlighter-01, .icon-highlighter-blacktip, .icon-highlighter {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-cog:before {
	content: "\22";
}
.icon-untitled:before {
	content: "\23";
}
.icon-untitled-2:before {
	content: "\24";
}
.icon-export_icon:before {
	content: "\25";
}
.icon-clipboard_copy_icon:before {
	content: "\26";
}
.icon-pen_1:before {
	content: "\27";
}
.icon-flag:before {
	content: "\28";
}
.icon-delete_icon:before {
	content: "\29";
}
.icon-heart_empty_icon:before {
	content: "\2b";
}
.icon-heart_icon:before {
	content: "\2c";
}
.icon-window:before {
	content: "\2d";
}
.icon-window-2:before {
	content: "\2e";
}
.icon-triangle:before {
	content: "\2f";
}
.icon-copy:before {
	content: "\33";
}
.icon-x:before {
	content: "\36";
}
.icon-cancel:before {
	content: "\38";
}
.icon-checkmark_icon:before {
	content: "\39";
}
.icon-checkmark:before {
	content: "\3a";
}
.icon-cog-2:before {
	content: "\3d";
}
.icon-checkmark-2:before {
	content: "\35";
}
.icon-clock:before {
	content: "\37";
}
.icon-export:before {
	content: "\2a";
}
.icon-checkbox_unchecked_icon:before {
	content: "\3e";
}
.icon-checkbox_checked_icon:before {
	content: "\3f";
}
.icon-triangle-2:before {
	content: "\3c";
}
.icon-unlocked:before {
	content: "\e000";
}
.icon-locked:before {
	content: "\e001";
}
.icon-views:before {
	content: "\e002";
}
.icon-browser:before {
	content: "\e003";
}
.icon-ddbutton_filled:before {
	content: "\e007";
}
.icon-ddbutton_empty:before {
	content: "\e008";
}
.icon-reply:before {
	content: "\e004";
}
.icon-star_fav_icon:before {
	content: "\e005";
}
.icon-star_fav_empty_icon:before {
	content: "\e006";
}
.icon-triright:before {
	content: "\e009";
}
.icon-trileft:before {
	content: "\e00a";
}
.icon-comment:before {
	content: "\e00b";
}
.icon-comment2:before {
	content: "\e00c";
}
.icon-comment2-2:before {
	content: "\e00e";
}
.icon-comment2-3:before {
	content: "\e00d";
}
.icon-settings:before {
	content: "\e00f";
}
.icon-wrench:before {
	content: "\e020";
}
.icon-commentflip:before {
	content: "\e010";
}
.icon-hyp-logo4:before {
	content: "\e014";
}
.icon-eye-close:before {
	content: "\f070";
}
.icon-eye-open:before {
	content: "\f06e";
}
.icon-comments:before {
	content: "\e011";
}
.icon-plus:before {
	content: "\e012";
}
.icon-plus-sign:before {
	content: "\f0fe";
}
.icon-comment2-4:before {
	content: "\e013";
}
.icon-eye:before {
	content: "\e016";
}
.icon-magic:before {
	content: "\f0d0";
}
.icon-eye-2:before {
	content: "\e017";
}
.icon-download:before {
	content: "\e018";
}
.icon-eye-3:before {
	content: "\e01b";
}
.icon-eye-4:before {
	content: "\e015";
}
.icon-highlighter-nolines:before {
	content: "\e01a";
}
.icon-highlighter-01:before {
	content: "\e019";
}
.icon-highlighter-blacktip:before {
	content: "\e01c";
}
.icon-highlighter:before {
	content: "\e01d";
}
