{% macro annotation_card(annotation, request, incontext_link, group=none) -%}

<li class="annotation-card">
  <header class="annotation-card__header">
    <div class="annotation-card__username-timestamp">
      <a href="{{ request.route_url('activity.user_search', username=annotation.username) }}"
        class="annotation-card__username">
        {{ annotation.username }}
      </a>
      <a href="{{ request.route_url('annotation', id=annotation.id) }}"
        class="annotation-card__timestamp">
        {{ annotation.updated.strftime('%d %b %Y') }}
      </a>
    </div>
    <div class="annotation-card__share-info">
      {% if group %}
        <a href="{{ request.route_url('group_read', pubid=group.pubid, slug=group.slug) }}"
          class="annotation-card__groupname">
            in
            {{ svg_icon('groups', 'annotation-card__groups-icon') }}
            {{ group.name }}
        </a>
      {% endif %}
      {% if not annotation.shared %}
        <span class="annotation-card__is-private">
          {{ svg_icon('lock', 'annotation-card__is-private-icon') }}
          {% if not group %}
            Only me
          {% endif %}
        </span>
      {% endif %}
    </div>
  </header>
  {% if annotation.quote %}
    <section class="annotation-card__quote">
      {{ annotation.quote|safe }}
    </section>
  {% endif %}
  <section class="annotation-card__text">
    {{ annotation.text_rendered|safe }}
  </section>
  <footer class="annotation-card__footer">
    {% if incontext_link %}
      <a href="{{ incontext_link }}" target="_blank" title="{% trans %}Visit annotation in context{% endtrans %}">
        {{ svg_icon('up-right-arrow', 'annotation-card__incontext-link') }}
      </a>
    {% endif %}
  </footer>
</li>
{%- endmacro %}
