  <a class="bookmarklet"
   title="Drag this to your bookmarks"
   onclick="alert('Drag this to your bookmarks bar first');return false"
   href="javascript:{% filter urlencode %}{% include "../bookmarklet.js.jinja2" %}{% endfilter %}"><i class="h-icon-bookmark"></i> Annotate</a>
