{% if request.session.peek_flash('error') %}
  <div class="flashbar">
    {% for message in request.session.pop_flash('error') %}
      <div class="alert alert-danger alert-dismissable" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	{{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
