<footer class="footer">
  <div class="u-align-right social-media">
    <a class="social-media-link" href="https://github.com/hypothesis">
      <i class="h-icon-github"></i>
    </a>
    <a class="social-media-link" href="https://twitter.com/hypothes_is">
      <i class="h-icon-twitter"></i>
    </a>
    <a class="social-media-link" href="{{ rss_feed_url }}"><i class="h-icon-feed"></i></a>
  </div>
</footer>
