<div class="modal fade" id="bookmarklet" tabindex="-1"
      role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Bookmarklet</h4>
      </div>
      <div class="modal-body">
        <div>
          <a title="Drag me to the bookmarks bar"
              data-bookmarklet-button=""
              class="btn btn-primary btn-lg installer__button--draggable"
              href="javascript:(function(){window.hypothesisConfig=function(){return{showHighlights:true};};var d=document,s=d.createElement('script');s.setAttribute('src','{{ request.route_url("embed") }}');d.body.appendChild(s)})();"
              onclick="alert('Drag me to the bookmarks bar');return false;">Launch Hypothesis
          </a>
          <p><i class="h-icon-move"></i> Drag the button into
          your bookmarks bar then click it to launch the
          Hypothesis application.</p>
          <p>Alternatively, right click and select
          "bookmark this link." To load Hypothesis on a webpage
          or PDF, simply click on the bookmarklet in your
          bookmarks.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addtoyoursite" tabindex="-1"
      role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Add Hypothesis to a web site</h4>
      </div>
      <div class="modal-body">
        <div class="installer__section--addtosite">
          <p>
            <input class="form-control" type="text"
                    value='&lt;script async defer src="//hypothes.is/embed.js"&gt;&lt;/script&gt;'>
          </p>
          <p>Add the above script tag to your web site's HTML to load
          the Hypothesis sidebar on your site.</p>

          <p>To show highlights by default, also add:</p>
          <p>
            <input class="form-control" type="text"
                    value='&lt;script&gt;window.hypothesisConfig=function(){return{showHighlights:true};&lt;/script&gt;'>
          </p>

          <p>Alternatively, if you use WordPress, checkout the
          <a href="https://wordpress.org/plugins/hypothesis/">
              Hypothesis WordPress plugin</a>.
        </div>
      </div>
    </div>
  </div>
</div>
