<header class="masthead">
  {% if feature('activity_pages') %}
  <a href="/" title="Hypothesis homepage"><!--
    !-->{{ svg_icon('logo', 'masthead-logo') }}</a>
  {% else %}
  <hgroup>
	<a href="https://hypothes.is" class="masthead-heading">Hypothes<span class="red">.</span>is</a>
  </hgroup>
  {% endif %}
</header>
