<header class="masthead">
  {% if feature('activity_pages') %}
  <a href="/" title="Hypothesis homepage"><!--
    !--><img alt="Hypothesis logo" class="masthead-logo" src="{{ asset_url('images/icons/logo.svg') }}"></a>
  {% else %}
  <hgroup>
	<a href="https://hypothes.is" class="masthead-heading">Hypothes<span class="red">.</span>is</a>
  </hgroup>
  {% endif %}
</header>
