<nav>
  <ul class="pagination">
    {% if page.prev is none %}
      <li class="disabled">
        <span aria-hidden="true">&laquo;</span>
      </li>
    {% else %}
      <li>
        <a href="?page={{ page.prev }}" aria-label="{% trans %}Previous{% endtrans %}">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}
    {% for n in range(1, page.max + 1) %}
      {% if n == page.cur %}
        <li class="active">
          <span>{{ n }} <span class="sr-only">({% trans %}current{% endtrans %})</span></span>
        </li>
      {% else %}
        <li><a href="?page={{ n }}">{{ n }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page.next is none %}
      <li class="disabled">
        <span aria-hidden="true">&raquo;</span>
      </li>
    {% else %}
      <li>
        <a href="?page={{ page.next }}" aria-label="{% trans %}Next{% endtrans %}">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
