<form>
  <input name="q" value="{{ q }}" placeholder="Search query">
  <input type="submit" value="Search">
</form>

{% if total %}
<p>
Total annotations: {{ total }}
</p>
{% endif %}

{% if tags %}
<p>
Tags (first ten):
<ul>
  {% for tag in tags %}
  <li>{{ tag.tag }} ({{ tag.count }})</li>
  {% endfor %}
</ul>
</p>
{% endif %}

{% if users %}
<p>
Users (first ten):
<ul>
  {% for user in users %}
  <li>{{ user.user }} ({{ user.count }})</li>
  {% endfor %}
</ul>
</p>
{% endif %}

<ol>
  {% for timeframe in timeframes %}
    <li>
      <p><strong>{{ timeframe.label }}</strong></p>
      <ol>
        {% for document, results in timeframe.document_buckets.items() %}
          <li>
            <p><strong>{{ document.title }}</strong> ({{ document.id }}), <strong>{{ results|length }}</strong></p>
            <ol>
              {% for result in results %}
                <li>
                  <p>ID: {{ result.annotation.id }}</p>
                  <p>Updated: {{ result.annotation.updated.strftime('%d %b %Y') }}</p>
                  <p>User: {{ result.annotation.userid }}</p>
                  <p>Group: {{ result.group.name }}</p>
                  <p>Shared: {{ result.annotation.shared }}</p>
                  <p>URI: {{ result.annotation.target_uri }}</p>
                  <p>Text: {{ result.annotation.text }}</p>
                  <p>Tags: {{ ','.join(result.annotation.tags) }}</p>
                </li>
              {% endfor %}
            </ol>
          </li>
        {% endfor %}
      </ol>
    </li>
  {% endfor %}
</ol>
