{% extends "h:templates/layouts/base.html.jinja2" %}

{% from '../includes/annotation_card.html.jinja2' import annotation_card %}

{# Card displaying statistics about a bucket of annotations. #}
{% macro search_bucket_stats(bucket) %}
<div class="search-bucket-stats">
  <div class="search-bucket-stats__key">
    Address
  </div>
  <div class="search-bucket-stats__val">
    {{ bucket.uri }}
  </div>
  {% if bucket.tags %}
    <div class="search-bucket-stats__key">
      Tags
    </div>
    <ul class="search-bucket-stats__val">
      {% for tag in bucket.tags %}
        <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="search-bucket-stats__key">
    Annotators
  </div>
  <ul class="search-bucket-stats__val">
    {% for user in bucket.users %}
      <li>{{ user.split(':')[1] }}</li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{#
  A collapsible bucket/group of annotations
#}
{% macro search_result_bucket(bucket) %}
<div class="search-result-bucket">
  <div class="search-result-bucket__domain">
    {{ bucket.domain }}
  </div>
  <div class="search-result-bucket__content">
    <div class="search-result-bucket__header">
      <div class="search-result-bucket__title">{{ bucket.title }}</div>
      <div class="search-result-bucket__annotations-count">
        <div class="search-result-bucket__annotations-count-container">
          {{ bucket.annotations_count }}
        </div>
      </div>
    </div>
    <div class="search-result-bucket__annotation-cards-container">
      <ol class="search-result-bucket__annotation-cards">
        {% for result in bucket.annotations %}
          {{ annotation_card(result.annotation, request) }}
        {% endfor %}
      </ol>
      {{ search_bucket_stats(bucket) }}
    </div>
  </div>
</div>
{% endmacro %}

{% block content %}

  {{ panel('navbar') }}

  <div class="search-result-container">
    <ol class="search-result-list">
      {% for timeframe in timeframes %}
        <li class="search-result__timeframe">
          {{ timeframe.label }}
        </li>
        <li>
          {% for bucket in timeframe.document_buckets.values() %}
            {{ search_result_bucket(bucket) }}
          {% endfor %}
        </li>
      {% endfor %}
    </ol>
  </div>

{% endblock %}
