{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}Create a new group{% endblock page_title %}

{% block styles %}
  {% assets "site_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block content %}
  <div class="content content--narrow">
    <div class="group-form">
      <i class="h-icon-group group-form__heading-icon"></i>
      <div class="group-form__heading">Create a new group</div>
      {{ form | safe }}
    </div>
    <div class="group-form-footer">
      <a href="" class="group-form-footer__explain-link js-group-info-link">Tell me more about groups</a>
      <div class="group-form-footer__explain-text js-group-info-text is-hidden">
        {% include "about-groups.html" %}
        <p class="group-form-footer__heading">How to use groups</p>
        <ol class="group-form-footer__list">
          <li>Choose a name for your group</li>
          <li>We'll give you a link which you can copy and paste</li>
          <li>Send this link to the people you want to annotate with.
              They will be able to create a Hypothes.is account and will
              be able to publish and read annotations in this group.</li>
        </ol>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
{% assets "site_js" %}
  <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock scripts %}
