# Hypothesis packages
h-pyramid-sentry
h-matchers
h-api
pyramid-sanity

# 3rd-party packages
PyJWT
SQLAlchemy >= 1.1.4
alembic
bcrypt
bleach
celery >= 4.3
certifi  # Required to connect to Elasticsearch over SSL.
cffi
click
deform
elasticsearch==6.8.2
elasticsearch-dsl==6.3.1
gevent >= 1.4.0
gunicorn >= 19.9.0
itsdangerous
jsonschema
kombu >= 4.2.1
mistune
newrelic
oauthlib
passlib
psycogreen
psycopg2
pycryptodomex
pyparsing >= 2.1.5
pyramid
pyramid-authsanity >= 1.0.0  # 1.0.0 fixes an IE bug: https://git.io/vH3mi
pyramid-exclog
pyramid-layout
pyramid-jinja2
pyramid-services
pyramid-mailer
pyramid-retry
pyramid-tm
python-dateutil
python-slugify < 5.1.0
supervisor >= 4.0.0
transaction
venusian
wsaccel
ws4py >= 0.4.0
zope.interface
zope.sqlalchemy >= 1.0
