// Admin area
// ============================================================================

// Core
// ----------------------------------------------------------------------------

@import 'core/reset';
@import 'core/variables';
@import 'core/color';
@import 'core/typography';
@import 'core/layout';
@import 'core/icons';
@import 'core/utilities';

// Components
// ----------------------------------------------------------------------------

@import 'components/admin-navbar';
@import 'components/alert';
@import 'components/btn';
@import 'components/button';
@import 'components/card';
@import 'components/form';
@import 'components/form-actions';
@import 'components/form-checkbox';
@import 'components/form-container';
@import 'components/form-input';
@import 'components/list-input';
@import 'components/list';
@import 'components/pager';
@import 'components/search-form';
@import 'components/tab-bar';
@import 'components/tooltip';
@import 'components/warning-box';

// Pages
// ----------------------------------------------------------------------------

@import 'pages/admin-cohorts-edit';
@import 'pages/admin-features';
@import 'pages/admin-groups';
@import 'pages/admin-oauth-clients';
@import 'pages/admin-users';

// Rules
// ----------------------------------------------------------------------------

// To be moved to core/typography
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 87.5%;
  line-height: 1.5;
}

// To be moved to core/typography
@media (min-width: $break-tablet) {
  body {
    font-size: 93.75%;
  }
}

// To be moved to core/typography
@media (min-width: $break-desktop) {
  body {
    font-size: 100%;
  }
}

@media (min-width: $break-desktop) {
  body {
    @include display-grid;

    grid-template-columns: 1fr 4fr;
    max-width: 100em;
  }
}

.admin-form {
  @include content-stack;

  max-width: 42em;
}

.table-auto {
  table-layout: auto;
  width: auto;
}

.users-activate-form {
  display: inline;
}

.pager .pager__item--more {
  border: none;
}

.form-input {
  max-width: 40em;
}

.form-input__error-list {
  list-style-type: none;
}
