@import "mixins/icons";

//ANNOTATION CARD////////////////////////////////

@mixin font-small {
  font-size: $small-font-size;
  line-height: $small-line-height;
}

@mixin font-normal {
  font-size: $normal-font-size;
  line-height: $normal-line-height;
}

// the padding at the left-edge of the annotation card
// and its container
$annotation-card-left-padding: 10px;

.annotation-card {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
  border-radius: 2px;
  padding: $layout-h-margin;
  background: $white;
}

.annotation-card:hover {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;

  .annotation-header__user {
    color: $grey-7;
  }

  .annotation-quote {
    border-left: $highlight 3px solid;
    color: $grey-5;
  }

  .annotation-replies__link {
    color: $grey-6;
    text-decoration: underline;
  }

  .annotation-action-btn {
    color: $grey-6;
  }

  .annotation-header__timestamp {
    color: $grey-5;
  }
}

.annotation {
  display: block;
  font-family: $sans-font-family;
  font-weight: 300;
  position: relative;
}

.annotation-link {
  @include font-small;
  color: $grey-4;
}

.annotation-quote-list,
.annotation-header,
.annotation-footer {
  @include pie-clearfix;
}

.annotation-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.annotation-header__share-info {
  color: $grey-6;
  @include font-normal;
}

.annotation-header__group {
  color: $color-gray;
  font-size: $body1-font-size;
}

.annotation-header__group-name {
  display: inline-block;
  margin-left: 5px;
}

.annotation-text {
  @include font-normal;
  color: $grey-6;
}

// the footer at the bottom of an annotation displaying
// the annotation actions and reply counts
.annotation-footer {
  @include font-normal;
  color: $grey-5;
  margin-bottom: 5px;
  margin-top: 20px;
}

.u-flex-spacer {
  flex-grow: 1;
}

.annotation-quote-list {
  margin-top: $layout-h-margin;
  margin-bottom: $layout-h-margin;
}

.annotation-media-embed {
  width: 369px;
  height: 208px;
}

.annotation-header__user {
  @include font-normal;
  color: $grey-7;
  font-weight: bold;
}

.annotation-replies {
  float: left;
}

.annotation-replies__link {
  @include font-normal;
  color: $grey-5;
}

.annotation-header__timestamp {
  @include font-small;
  color: $grey-4;
}

.annotation-actions {
  float: right;
  margin-top: 0;
}

.annotation-action-btn {
  color: $grey-5;
  font-weight: normal;
  padding: 0;
  margin: 0px 0px 0px 8px;
}

.annotation-action-btn__label {
  margin: 0px 0px 0px 3px;
}

.annotation-quote {
  @include quote;
  @include font-normal;
  color: $grey-4;
  font-family: sans-serif;

  del {
    background:#ffe6e6;
  }
  ins {
    background:#e6ffe6;
  }
}

.annotation-citation-domain {
  color: $gray-light;
  font-size: $body1-font-size;
}

.annotation-license {
  clear: both;
  border-top: #cccccc 1px solid;
  font-size: 0.8em;
  padding-top: 0.583em;

  @include icons {
    font-size: $normal-font-size;
    vertical-align: -2px;
    margin-right: 1px;
  }
}

.annotation-license__link {
  color: $gray-light;
  display: block;
}

.annotation-collapsed-replies {
  display: none;
}

.thread-replies {
  .annotation.collapsed {
    margin-bottom: 0;

    .annotation-header {
      margin: 0;
    }

    .annotation-body, .annotation-footer {
      display: none;
    }

    .annotation-collapsed-replies {
      display: inline;
      margin-left: .25em;
    }
  }
}

.share-dialog-wrapper {
  position: relative;

  &.open .share-dialog--actions {
    display: block;
  }
}

.share-dialog--actions {
  padding: 3px;
  width: inherit;
}

.share-dialog__link {
  padding: 0;
  width: 220px;
  border: none;
  color: $text-color;
}

// the actions for publishing annotations and reverting changes
// at the bottom of an annotation card
.annotation-form-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
