@import "mixins/icons";

//ANNOTATION////////////////////////////////
//This is for everything that is formatted as an annotation.
.annotation {
  font-family: $sans-font-family;
  font-weight: 300;
  position: relative;

  .reply-count {
    color: $gray-light;
    &:focus { outline: 0; }
  }

  &:hover .annotation-timestamp, &:hover .reply-count  {
    color: $link-color;
  }
}

.annotation-timestamp {
  float: right;
  font-size: .8em;
  line-height: 1;
  margin-top: (1 / (1 - .8)) * .1em;  // scale up .1em offset to align baseline
  color: $text-color;
  &:hover { color: $link-color-hover; }
  &:focus { outline: 0; }
}

.annotation-section,
.annotation-header,
.annotation-footer {
  @include pie-clearfix;
  margin: .8em 0;
}

.annotation-header { margin-top: 0 }
.annotation-footer { margin-bottom: 0 }

.annotation-user {
  color: $text-color;
  font-weight: bold;
  font-size: 1.1em;
  &:hover {
    color: $link-color-hover;
    cursor: pointer;
    text-decoration: underline;
  }
}

.annotation-replies {
  float: left;
}

.annotation-actions {
  float: right;
  margin-top: 0;

  button {
    color: $gray-light;
    font-weight: normal;
    margin: 0 .2em;
    padding: 0;

    .annotation:hover & {
      color: $link-color;
    }
  }
}

.annotation-quote {
  @include quote;
  del {
    background:#ffe6e6;
  }
  ins {
    background:#e6ffe6;
  }
}

.annotation-citation-domain {
  color: $gray-light;
  font-size: .923em;
}

.annotation-license {
  clear: both;
  border-top: #cccccc 1px solid;
  font-size: 0.8em;
  padding-top: 0.583em;

  a {
    color: $gray-light;
    display: block;
  }

  @include icons {
    font-size: 13px;
    vertical-align: -2px;
    margin-right: 1px;
  }
}

.show-differences {
  border-left: 3px solid #D3D3D3;
  padding: 0.3em 0.615em;
}


//PRIVACY CONTROL////////////////////////////
privacy {
  position: relative;
  top: 2px;
}

.share-dialog-wrapper {
  position: relative;

  .share-dialog {
    display: none;
  }

  &.open .share-dialog {
    display: block;
  }
}

.share-dialog {
  position: absolute;
  right: 0;
  bottom: 100%;
  padding: 3px;
  z-index: 1;
  display: block;
  background: $white;
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  white-space: nowrap;

  &:after, &:before {
    top: 100%;
    right: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: $white;
    border-width: 5px;
    margin-right: -5px;
  }

  &:before {
    border-color: rgba(211, 211, 211, 0);
    border-top-color: $gray-lighter;
    border-width: 6px;
    margin-right: -6px;
  }

  input {
    padding: 0;
    width: 220px;
    border: none;
    color: $text-color;
  }
}

.annotation-collapsed-replies {
  display: none;
}

.thread-replies {
  .annotation.collapsed {
    margin-bottom: 0;

    .annotation-header {
      margin: 0;
    }

    .annotation-body, .annotation-footer {
      display: none;
    }

    .annotation-collapsed-replies {
      display: inline;
      margin-left: .25em;
    }
  }
}

// the actions for publishing annotations and reverting changes
// at the bottom of an annotation card
.annotation-form-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
