@import "mixins/icons";

//ANNOTATION CARD////////////////////////////////

// the padding at the left-edge of the annotation card
// and its container
$annotation-card-left-padding: 10px;

.annotation-card {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
  border-radius: 2px;
  padding: $layout-h-margin;
  background: $white;
}

.annotation-card:hover {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);

  .annotation-header__user {
    color: $grey-7;
  }

  .annotation-quote {
    border-left: $highlight 3px solid;
    color: $grey-5;
  }
}

// When hovering a top-level annotation, show the footer in a hovered state.
// When hovering a reply (at any level), show the reply's own footer in
// a hovered state and also the footer of the top-level annotation.
.annotation-card:hover > .annotation,
.annotation:hover {
  .annotation-replies__link,
  .annotation-replies__count,
  .annotation-action-btn {
    color: $grey-6;
  }

  .annotation-header__timestamp {
    color: $grey-5;
  }
}

.annotation {
  display: block;
  font-family: $sans-font-family;
  position: relative;
}

.annotation-link {
  @include font-small;
  color: $grey-4;
  // Decrease the margin between the more/less link
  // and the annotation body.
  margin-top: -12px;
}

.annotation-replies:hover {
  .annotation-replies__link {
    text-decoration: underline;
  }
}

.annotation-quote-list,
.annotation-header,
.annotation-footer {
  @include pie-clearfix;
}

.annotation-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  // Margin between top of x-height of username and
  // top of the annotation card should be ~15px
  margin-top: -$layout-h-margin + 10px;
}

.annotation-header__share-info {
  color: $grey-5;
  @include font-normal;
}

.annotation-header__group {
  color: $color-gray;
  font-size: $body1-font-size;
}

.annotation-header__group-name {
  display: inline-block;
  margin-left: 5px;
}

.annotation-body {
  @include font-normal;
  color: $grey-6;
  // Margin between top of ascent of annotation body and
  // bottom of ascent of annotation-quote should be ~15px.
  margin-top: $layout-h-margin - 5px;
  margin-bottom: $layout-h-margin;
  margin-right: 0px;
  margin-left: 0px;
}

// the footer at the bottom of an annotation displaying
// the annotation actions and reply counts
.annotation-footer {
  @include font-normal;
  color: $grey-5;
  // Margin between bottom of ascent of annotation footer labels
  // and bottom of annotation card should be ~20px.
  margin-bottom: $layout-h-margin - 13px;
  margin-top: $layout-h-margin;
}

.u-flex-spacer {
  flex-grow: 1;
}

.annotation-quote-list {
  // Margin between top of ascent of annotation quote and
  // bottom of ascent of username should be ~15px
  margin-top: $layout-h-margin - 5px;
  // Margin between bottom of ascent of annotation quote and
  // top of ascent of annotation-body should be ~15px
  margin-bottom: $layout-h-margin - 3px;
}

.annotation-media-embed {
  width: 369px;
  height: 208px;
}

.annotation-header__user {
  @include font-normal;
  color: $grey-7;
  font-weight: bold;
}

.annotation-replies {
  float: left;
  margin-top: 2px;
}

.annotation-replies__link,
.annotation-replies__count {
  @include font-normal;
  color: $grey-5;
}

.annotation-header__timestamp {
  @include font-small;
  color: $grey-4;
}

.annotation-actions {
  float: right;
  margin-top: 0;
}

.annotation-action-btn {
  color: $grey-5;
  font-weight: normal;
  padding: 0;
  margin: 0px 0px 0px 8px;
}

.annotation-action-btn__label {
  margin: 0px 0px 0px 3px;
}

.annotation-quote {
  @include quote;
  @include font-normal;
  color: $grey-4;
  font-family: sans-serif;
  letter-spacing: 0.1px;
  font-size: 12px;

  del {
    background:#ffe6e6;
  }
  ins {
    background:#e6ffe6;
  }
}

.annotation-citation-domain {
  color: $gray-light;
  font-size: $body1-font-size;
}

.annotation-license {
  clear: both;
  border-top: #cccccc 1px solid;
  font-size: 0.8em;
  padding-top: 0.583em;

  @include icons {
    font-size: $normal-font-size;
    vertical-align: -2px;
    margin-right: 1px;
  }
}

.annotation-license__link {
  color: $gray-light;
  display: block;
}

.annotation-collapsed-replies {
  display: none;
}

.thread-replies {
  .annotation.collapsed {
    margin-bottom: 0;

    .annotation-header {
      margin: 0;
    }

    .annotation-body, .annotation-footer {
      display: none;
    }

    .annotation-collapsed-replies {
      display: inline;
      margin-left: .25em;
    }
  }
}

.share-dialog-wrapper {
  position: relative;

  &.open .share-dialog--actions {
    display: block;
  }
}

.share-dialog--actions {
  padding: 3px;
  width: inherit;
}

.share-dialog__link {
  padding: 0;
  width: 220px;
  border: none;
  color: $text-color;
}

// the actions for publishing annotations and reverting changes
// at the bottom of an annotation card
.annotation-form-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
