//ANNOTATION////////////////////////////////
//This is for everything that is formatted as an annotation.
.annotation {
  font-family: $sans-font-family;
  font-weight: 300;
  position: relative;

  &:hover .annotation-timestamp, &:hover .reply-count {
    color: $link-color;
  }

  .annotation-timestamp {
    line-height: 2;
    color: $text-color;
    &:hover { color: $link-color-hover; }
    &:focus { outline: 0; }
  }

  .annotation-header { margin-bottom: .8em }
  .annotation-section { margin: .8em 0 }
  .annotation-target { margin: .8em 0 }
  .annotation-footer { margin-top: .8em }

  .annotation-user {
    color: $text-color;
    font-weight: bold;
    font-size: 1.1em;
    &:hover {
      color: $link-color-hover;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.annotation-quote {
  @include quote;
}

.annotation-citation-domain {
  color: $gray-light;
  font-size: .923em;
}


//MARKDOWN EDITOR CONTROLS//////////////////////////
[markdown] {
  .preview {
    overflow: auto;
    border: 1px solid $gray-lighter;
    background-color: $gray-lightest;
    min-height: 120px;
    padding-left: 10px;
    resize: vertical;
  }

  .markdown-tools {
    margin-top: 10px;
    border-top: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-radius: 2px 2px 0 0;
    width: 100%;
    margin-bottom: -1px;
    padding: .7em .7em .7em .5em;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &.disable {
      .markdown-tools-button {
        color: $gray-lighter;
        pointer-events: none;
      }
    }

    .markdown-tools-button {padding: 5px;}

    .markdown-tools-button, .markdown-tools-toggle, .icon-markdown {
      color: $gray;

      &:hover {
        color: black;
      }
    }

    .preview-toggle {
      float: right;
    }
  }
}


//PRIVACY CONTROL////////////////////////////
privacy {
  position: relative;
  top: 2px;
}


//MAGICONTROL////////////////////////////////
.magicontrol {
  margin-right: .8em;
  color: $gray-lighter;

  &.dropdown {
    top: 4px;
  }

  .annotation:hover & {
    color: $link-color;
  }
}

.share-dialog {
  a {
    float: left;
    line-height: 1.4;
    margin-right: .5em;
    vertical-align: middle;
  }

  div {
    overflow: hidden;
  }

  input {
    padding: 0;
    width: 100%;
  }
}
