//ANNOTATION////////////////////////////////
//This is for everything that is formatted as an annotation.
.annotation {
  @include pie-clearfix;
  font-family: $sans-font-family;
  position: relative;

  &:hover fuzzytime a, &:hover .reply-count {
    color: $link-color;
  }

  .magicontrol.dropdown {
    top: 4px;
  }

  fuzzytime {
    line-height: 2;

    a {
      color: $text-color;
      &:hover { color: $link-color-hover; }
      &:focus { outline: 0; }
    }
  }

  .reply-count {
    color: $text-color;
    &:hover { color: $link-color-hover; }
    &:focus { outline: 0; }
  }

  .user {
    font-weight: bold;
    font-size: 1.1em;
    &:hover {
      color: $link-color-hover;
      cursor: pointer;
      text-decoration: underline;
    }
  }

// This class applies to the markdown rendered annotation body.
  .styled-text {

    p, h1, h2, h3, h4, h5, h6, ol, ul, img, pre, blockquote {
      margin: 0 0 .25em 0;
    }

    ol {
      list-style-type: decimal;
      list-style-position:inside;
      padding-left: 1.5em;
    }

    ul {
      list-style-type: disc;
      list-style-position:inside;
      padding-left: 1.5em;
    }

    img {
      display: block;
      max-width: 100%;
    }

    textarea {
      min-height: 8em;
      width: 100%;
      resize: vertical;
    }

    code {
      font-family: monospace;
    }

    pre code {
      padding: 5px;
      display: block;
      background-color: $gray-lighter;
      border-radius: .2em;
    }

    blockquote {
      @include quote;
    }
  }

  .buttonbar {
    @include pie-clearfix;
    margin: .25em 0;

    .btn {
      margin-right: .5em;
    }
  }

  .tip {
    @extend .small;
    float: right;
  }

  .quote {
    font-style: italic
  }
}

// Temporary hack until sidebar and displayer are unified
.annotation-displayer {
  .user {
    &:hover {
      color: $link-color-hover;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}


//EXCERPT////////////////////////////////
.excerpt {
  margin-bottom: 1em;
  position: relative;

  .annotation-quote {
    margin-bottom: 0;
  }

  .more, .less {
    font-size: .9em;
    font-family: $sans-font-family;
    display: block;
    text-align: right;
  }
}

.annotation-quote {
  @include quote;
}

//MAGICONTROL////////////////////////////////
.magicontrol {
  @include transition(opacity);
  @include transition-duration(.15s);
  margin: 0 .4em;
  opacity: 0;

  &.open, :hover > & {
    @include transition-duration(.15s);
    opacity: 1;
  }
}

.share-dialog {
  display: none;

  a {
    float: left;
    line-height: 1.4;
    margin-right: .5em;
    vertical-align: middle;
  }

  div {
    overflow: hidden;
  }

  input {
    padding: 0;
    width: 100%;
  }
}

.stream-list {
  & > * {
    margin-bottom: .72em;
  }

  .card-emphasis {
    @include box-shadow(6px 6px 8px -2px $gray-light);
  }
}