@import 'compass';

$base-font-size: 12px;
$base-line-height: 20px;

@import './variables';
@import './reset';
@import './elements';
@import './common';

// components
@import './api-token-input';
@import './excerpt';
@import './primary-action-btn';
@import './dropdown-menu-btn';
@import './publish-annotation-btn';
@import './search-status-bar';
@import './share-link';
@import './sidebar-tutorial';
@import './signin-control';
@import './simple-search';
@import './top-bar';

body {
  $sidebar-h-padding: 9px;

  @extend .noise;
  font-family: $sans-font-family;
  font-weight: 300;
  padding: $sidebar-h-padding;
  padding-top: $sidebar-h-padding + $top-bar-height;
  -webkit-overflow-scrolling: touch;

  @include respond-to(tablets desktops) {
    padding-bottom: 4rem;
  }
}

#{nest("hgroup", "#{headings()}")} {
  margin: 0;
}

.content {
  margin-left: auto;
  margin-right: auto;

  @include respond-to(tablets desktops) {
    margin: auto;
    max-width: $break-tablet;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.create-account-banner {
  background-color: $gray-dark;
  border-radius: 2px;
  color: $color-silver-chalice;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  margin-bottom: .72em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.create-account-banner a {
  color: $white;
}

.sheet {
  border: solid 1px $gray-lighter;
  border-radius: 2px;
  font-family: $sans-font-family;
  font-weight: 300;
  margin-bottom: .72em;
  padding: 1em;
  position: relative;
  background-color: $body-background;

  .nav-tabs {
    border: 1px none $gray-lighter;
    border-bottom-style: solid;
    padding: 0 0 1.1em;
    li a { padding-bottom: .231em }
  }

  .close {
    position: absolute;
    right: 1em;
    top: 1em;
  }
}


.user {
  font-weight: bold;
  font-size: 1.1em;
  &:hover {
    color: $link-color-hover;
    cursor: pointer;
    text-decoration: underline;
  }
}


/* The groups dropdown list. */

$group-list-width: 270px;
$group-list-spacing-below: 50px;

.group-list {
  .dropdown {
    white-space: nowrap;
  }

  .dropdown-menu {
    width: $group-list-width;
    max-height: 500px;  // fallback for browsers lacking support for vh/calc
    max-height: calc(100vh - #{$top-bar-height} - #{$group-list-spacing-below});
    overflow-y: auto;

    .group-name {
      overflow: hidden;
      text-overflow: ellipsis;
      width: $group-list-width - 30px;
    }
  }

  .group-item {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    padding: 10px;
    cursor: pointer;

    &:hover {
      .group-name-link {
        color: $brand-color;
      }
    }

    &.selected {
      .group-name-link {
        font-size: $body2-font-size;
        font-weight: 600;
      }
    }
  }

  .group-icon-container {
    margin-right: 10px;
  }

  .group-cancel-icon-container {
    // the 'Leave group' icon is shifted down slightly
    // so that it lines up vertically with the 'chat heads' icon on the
    // left-hand side of the groups list
    padding-top: 3px;
    margin-right: 2px;
  }

  .group-details {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .new-group-btn {
    background-color: $gray-lightest;

    .group-item {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .h-icon-add {
      font-weight: bold;
    }
  }
}

// the icon indicating the type of group currently selected at
// the top of the groups list
.group-list-label__icon {
  color: $color-gray;
  display: inline-block;
  margin-right: 4px;
  vertical-align: baseline;

  // align the base of the chat-heads icon for groups
  // with the baseline of the group name label
  transform: translateY(1px);
}

// the label showing the currently selected group which opens
// the drop-down list when clicked
.group-list-label__label {
  font-size: $body2-font-size;
  font-weight:bold;
}

// the name of a group in the groups drop-down list
// and 'Post to <Group>' button for saving annotations
.group-name-link {
  white-space: nowrap;
  color: inherit;
}

/* The user account dropdown menu */
.user-picker {
  .avatar {
    border-radius: 2px;
  }

  .dropdown-toggle {
    .provider {
      color: $gray-light;
      display: none;
    }
    &:hover {
      .provider {
        display: inline;
      }
    }
  }

  .dropdown.open .provider {
    display: inline;
  }
}
