@import 'compass';

$base-font-size: 12px;
$base-line-height: 20px;

@import './variables';
@import './reset';
@import './elements';
@import './common';

// Components
// ----------
@import './annotation';
@import './api-token-input';
@import './dropdown-menu-btn';
@import './excerpt';
@import './group-list';
@import './markdown';
@import './primary-action-btn';
@import './publish-annotation-btn';
@import './search-status-bar';
@import './share-link';
@import './sidebar-tutorial';
@import './signin-control';
@import './simple-search';
@import './spinner';
@import './tags-input';
@import './thread';
@import './top-bar';

// Top-level styles
// ----------------
body {
  $sidebar-h-padding: 9px;

  @extend .noise;
  font-family: $sans-font-family;
  font-weight: 300;
  padding: $sidebar-h-padding;
  padding-top: $sidebar-h-padding + $top-bar-height;
  -webkit-overflow-scrolling: touch;

  @include respond-to(tablets desktops) {
    padding-bottom: 4rem;
  }
}

#{nest("hgroup", "#{headings()}")} {
  margin: 0;
}

.content {
  margin-left: auto;
  margin-right: auto;

  @include respond-to(tablets desktops) {
    margin: auto;
    max-width: $break-tablet;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.create-account-banner {
  background-color: $gray-dark;
  border-radius: 2px;
  color: $color-silver-chalice;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  margin-bottom: .72em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.create-account-banner a {
  color: $white;
}

.sheet {
  border: solid 1px $gray-lighter;
  border-radius: 2px;
  font-family: $sans-font-family;
  font-weight: 300;
  margin-bottom: .72em;
  padding: 1em;
  position: relative;
  background-color: $body-background;

  .nav-tabs {
    border: 1px none $gray-lighter;
    border-bottom-style: solid;
    padding: 0 0 1.1em;
    li a { padding-bottom: .231em }
  }

  .close {
    position: absolute;
    right: 1em;
    top: 1em;
  }
}

.user {
  font-weight: bold;
  font-size: 1.1em;
  &:hover {
    color: $link-color-hover;
    cursor: pointer;
    text-decoration: underline;
  }
}
