@import 'compass';

@import 'reset';
@import 'common';


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  @extend .noise;
  font-family: $sans-font-family;
  font-weight: 300;
  word-wrap: break-word;
}

#{nest("hgroup", "#{headings()}")} {
  margin: 0;
}

svg { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

ol {
  list-style-type: decimal;
  padding-left: 3em;
}

.bookmarklet {
  padding: .12em;
  border: 1px dashed $gray;
}

#wrapper {
  padding: .72em;
  text-align: center;

  @include respond-to(tablets desktops) {
    padding-bottom: 4em;
  }
}

#home {
  border-top: none;

  @include respond-to(tablets desktops) {
    padding: 2em 4em 4em;
  }
}

.content {
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  @include respond-to(tablets desktops) {
    margin: auto;
    max-width: $break-tablet;
    padding-left: 4em;
    padding-right: 4em;
  }

  & > header {
    @include respond-to(handhelds) {
      text-align: center;
    }

    @include respond-to(wide-handhelds tablets desktops) {
      @include pie-clearfix;
      text-align: left;
      img { float: left; }
    }

    margin-bottom: 1em;

    hgroup h1 {
      margin-bottom: 0 !important;
    }
  }

  .domain {
    margin: 3px 0 4px;
  }

  .domain .favicon {
    margin: 0 8px;
  }

  .page {
    margin-bottom: 16px;

    a {
      font-weight: bold;
    }
  }
}


.sheet {
  border: solid 1px $gray-lighter;
  border-radius: 2px;
  font-family: $sans-font-family;
  font-weight: 300;
  margin-bottom: .72em;
  padding: 1em;
  position: relative;
  background-color: $body-background;

  .nav-tabs {
    border: 1px none $gray-lighter;
    border-bottom-style: solid;
    padding: 0 0 1.1em;
    li a { padding-bottom: .231em }
  }

  .close {
    position: absolute;
    right: 1em;
    top: 1em;
  }
}


.user {
  font-weight: bold;
  font-size: 1.1em;
  &:hover {
    color: $link-color-hover;
    cursor: pointer;
    text-decoration: underline;
  }
}


.user-picker {
  .avatar {
    border-radius: 2px;
  }

  .dropdown-toggle {
    .provider {
      color: $gray-light;
      display: none;
    }
    &:hover {
      .provider {
        display: inline;
      }
    }
  }

  .dropdown.open .provider {
    display: inline;
  }
}

.masthead {
  .masthead-heading {
    margin: 0;
    padding-top: 4px;
  }

  .masthead-subheading {
    font-size: 1.231em;
    margin: 0;
  }
}
