@import "./variables";
@import "./util";

/* Style input placeholders */
@mixin placeholder {
  &.placeholder { @content; }
  &:placeholder { @content; }
  &::placeholder { @content; }
}

/* Shadow mixins */
@mixin smallshadow($a: 0, $b: 1px, $c: .1) {
  box-shadow: $a $b 1px hsla(0, 0%, 0%, $c);
}

@mixin quote {
  color: $gray;
  font-family: $serif-font-family;
  font-style: italic;
  padding: 0 .615em;
  border-left: 3px solid $gray-lighter;
}

//Provides the grey-background
@mixin grey-background {
  background: $grey-2;
}

.annotator-hide {
  display: none;
  visibility: hidden;
}
