@import "compass/css3";
@import "variables";

/* Style input placeholders */
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

/* Shadow mixins */
@mixin smallshadow($a: 0, $b: 1px, $c: .1) {
  @include box-shadow($a $b 1px hsla(0, 0%, 0%, $c));
}

@mixin quote {
  color: $gray;
  font-family: $serif-font-family;
  font-style: italic;
  padding: 0 .615em;
  border-left: 3px solid $gray-lighter;
}

//NOISE///////////
//Provides the noise background
.noise {
  background: url("../images/noise_1.png");
}

.annotator-hide {
  display: none;
  visibility: hidden;
}

// Icons
[class^="h-icon-"], [class*=" h-icon-"] {
  vertical-align: middle;
  &:before {
    font-size: 130%;
  }
}
