@import 'compass/typography/text/force-wrap';
@import 'compass/layout/stretching';

@import 'reset';
@import 'base';
@import 'forms';
@import 'spinner';
@import 'responsive';
@import 'yui_grid';


$base-font-size: 16px;
$base-line-height: 26px;
$sans-font-family: "Source Sans Pro", $sans-font-family;
$serif-font-family: "Merriweather", $serif-font-family;
$headings-color: $text-color;


//ELEMENT STYLES////////////////////////////////
a {
  color: $link-color;
  &:hover { color: $link-color-hover; }
  text-decoration: none;
}

body {
  background-color: $body-background;
  color: $text-color;
  line-height: 1.4;
}

p {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;

  & + p {
    margin: 2em 0 0;
  }
}

em { font-style: italic; }

html {
  font-size: $base-font-size / 16px * 1em;
  line-height: $base-line-height / 16px * 1em;

  @include yui_grid();

  @include respond-to(handhelds) {
    @include yui_grid('h-');
  }

  @include respond-to(wide-handhelds) {
    @include yui_grid('wh-');
  }

  @include respond-to(tablets) {
    @include yui_grid('t-');
  }

  @include respond-to(desktops) {
    @include yui_grid('d-');
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-font-family;
  color: $headings-color;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .75em 0;
}

h3 {
  font-size: 1.17em;
  margin: .83em 0;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}

//MCRANDOM////////////////////////////////

.alert-block {
  span.errorMsgLbl { @extend .visuallyhidden; }
  span.errorMsg { @extend .visuallyhidden; }
}

.small {
  font-size: .8em;
}

//Candidate for cleanup
.btn-link {
  @include box-shadow(none);
  @include reset-box-model;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: $link-color;
  position: static;

  &:hover, &:focus, &.js-focus, &.js-hover {
    color: $link-color-hover;
  }
}

.red {
  color: $hypothered;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


//CLOSER////////////////////////////////
.close {
  cursor: pointer;
  float: right;
  line-height: 1.4;
  opacity: .6;
  &:active, &:hover {
    opacity: 1;
  }
}



//FORM RELATED////////////////////////////////
.form-horizontal {
  display: inline-block;
  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
  select, textarea, input, button {
    margin: .5em 0;
  }
}

.form-inline .control-group { margin-bottom: 0; }

.form-vertical {
  select, textarea, input, button {
    display: block;
    // margin-top: .75em;
  }
}

.req {
  display: none;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}



//EXCERPT////////////////////////////////
.excerpt {
  margin-bottom: 1em;
  position: relative;
  blockquote {
    margin-bottom: 0;
  }
  .more, .less {
    font-size: .9em;
    font-family: $sans-font-family;
    display: block;
    text-align: right;
  }
}

blockquote {
  color: $gray;
  font-family: $serif-font-family;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0 .8em;

  &:before, &:after {
    color: $gray-lighter;
    font-family: "h";
    position: absolute;
  }

  &:before {
    content: "\23";
    font-size: 6em;
    top: -.36em;
    left: -.31em;
  }

  &:after {
    content: "\24";
    font-size: 5em;
    right: -.31em;
    bottom: -.27em;
  }
}



//DROPDOWNS////////////////////////////////
.dropdown {
  position: relative;
  span {
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

.dropdown-toggle {
  cursor: pointer;

  &:active {
    outline: 0;
  }
}

.dropdown-menu {
  @include rotateX(90deg);
  background: $white;
  border: solid 1px $gray-lighter;
  margin-top: .8em;
  top: 100%;
  float: left;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;

  li:not(.ng-hide) {
    cursor: pointer;
    line-height: 1;
    text-align: left;
    padding: .5em;
    white-space: nowrap;

    &:hover {
      color: black;
    }

    &.selected {
      color: black;
      font-weight: 600;
      line-height: 1;
      &:before {
        font-size: .7em;
      }
    }
    &.inactive {
      font-weight: 400;
      color: $gray-lighter;
      cursor: default;
      &:hover {
        color: $gray-lighter;
      }
      & * {
        cursor: default;
      }
    }

    & + li {
      border-top: dotted 1px $gray-lighter;
    }
  }

  a {
    color: inherit;
  }

  // These psuedo-elements add the speech bubble tail / triangle.
  &:before, &:after {
    // http://www.red-team-design.com/css-diagonal-borders-still-not-rendering-properly-on-firefox
    @include scale(.9999);
    border-color: rgba(0, 0, 0, 0);

    border-style: solid;
    border-width: 0 7px 6px 7px;
    content: '';
    position: absolute;
    height: 0;
    left: 0;
    width: 0;
  }

  &:before {
    border-bottom-color: $gray-lighter;
    top: -7px;
  }

  &:after {
    border-bottom-color: $white;
    top: -6px;
    z-index: 3;
  }

  // Aligns the dropdown menu to right
  &.pull-right {
    right: 0;
    left: auto;
    text-align: right;

    // Align the tail
    &:before, &:after {
      left: auto;
      right: 0;
    }
  }
}

.open {
  & > .dropdown-menu {
    @include smallshadow;
    @include rotateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}



//ICON CLASSES////////////////////////////////
.loading-icon {
  text-align: center
}

//TABS////////////////////////////////
.nav-tabs {
  background-color: $body-background;
  border: 1px none $gray-lighter;
  border-bottom-style: solid;
  padding: 1em;

  & > li {
    display: inline-block;
    line-height: 1;

    a {
      font-family: $sans-font-family;
      font-weight: bold;
      color: $gray-dark;
      cursor: pointer;
    }

    &.active a, &:active a {
      color: $hypothered;
    }

    &:before {
      content: "/";
      margin: 0 1em;
    }

    &:first-child:before {
      content: "";
      margin: 0;
    }
  }
}

.tab-content {
  background: $white;
  line-height: 1.4;
  padding: 1em;

  .tab-pane {
    display: none;
    &.active {
      display: inherit !important;
    }
  }
}


//PAPER////////////////////////////////
//Provides the white background upon which items sit
.paper {
  @include border-radius(2px);
  background: $white;
  border: solid 1px $gray-lighter;
}


//ANNOTATION////////////////////////////////
//This is for everything that is formatted as an annotation.
.annotation {
  @include pie-clearfix;
  font-family: $sans-font-family;
  position: relative;

  &:hover fuzzytime a, &:hover .reply-count {
    color: $link-color;
  }

  fuzzytime {
    margin: 0 .4em;
    a {
      color: $text-color;
      &:hover { color: $link-color-hover; }
      &:focus { outline: 0; }
    }
  }

  .reply-count {
    color: $text-color;
    &:hover { color: $link-color-hover; }
    &:focus { outline: 0; }
  }

  .user {
    font-weight: bold;
    font-size: 1.1em;
    &:hover {
      color: $link-color-hover;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .body {
    div {
      clear: both;
      margin: .25em 0;
      #{elements-of-type(inline)}, #{headings()}, p, li {
        @include force-wrap;
      }

      ol, ul {
        padding-left: 1.25em;
      }

      ol {
        list-style-type: decimal;
      }

      ul {
        list-style-type: disc;
      }
    }

    textarea {
      min-height: 8em;
      width: 100%;
    }
  }

  .buttonbar {
    @include pie-clearfix;
    margin: .25em 0;

    .btn {
      margin-right: .5em;
    }
  }

  .tip {
    @extend .small;
    float: right;
  }

  .quote {
    font-style: italic
  }
}

// Temporary hack until sidebar and displayer are unified
.annotation-displayer {
  .user {
    &:hover {
      color: $link-color-hover;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

//THREADING////////////////////////////////
//Threaded discussion specific
.thread {
  cursor: pointer;
  padding: 1em;
  position: relative;

  & > * {
    @include pie-clearfix;
  }

  & > ul {
    padding-left: $thread-padding + .15em;
    margin-left: -$thread-padding;
  }

  .load-more {
    @include pie-clearfix;
    font-family: $sans-font-family;
    font-weight:bold;
    font-size: .8em;
  }

  .thread {
    border-left: 1px dotted $gray-light;
    height: 100%;
    padding: 0;
    padding-left: $thread-padding;

    &.collapsed {
      & > .annotation {
        fuzzytime {
          float: none;
          font-style: italic;
        }

        header {
          display: inline-block;
        }

        .body {
          display: none;
        }

        .magicontrol {
          display: none;
        }

        .reply-count {
          font-style: italic;
        }
      }
    }
  }

  .threadexp {
    font-size: 1.1em;  // to match the username header
    height: $threadexp-width;
    width: $threadexp-width;
    position: absolute;
    // .7em is 50% of a line-height of 1.4;
    top: .7em - ($threadexp-width / 2);
    left: -($threadexp-width / 2);
    outline: 1px solid #aaa;
    @include icon("minus_1.png");
  }

  .annotation {
    &.squished {
      padding-left: 0;
    }
  }

  &.collapsed {
    display: block !important;

    &:hover {
      background-color: $gray-lightest;
    }

    & > ul {
      max-height: 0;
      overflow: hidden;
    }

    & > .annotation {
      .body * {
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 0;
        margin-bottom: 0;
      }

      .indicators {
        display: run-in;
        margin-right: .25em;
      }
    }

    & > .threadexp {
      background-image: url("../images/plus_1.png");
    }
  }
}

.thread.ng-enter,
.thread.ng-leave,
.thread.ng-move {
  @include transition-duration(.25s);
  @include transition-property(max-height);
  overflow: hidden;

  .threadexp { display: none; }
}

.thread.ng-leave.ng-leave-active,
.thread.ng-enter {
  @include transition-timing-function(cubic-bezier(0, 1, 0, 1));
	max-height: 0;
}

.thread.ng-enter.ng-enter-active,
.thread.ng-leave {
  @include transition-duration(.1s);
  @include transition-timing-function(cubic-bezier(1, 0, 1, 0));
	max-height: 65536px;
}


//MAGICONTROL////////////////////////////////
.magicontrol {
  @include transition(opacity);
  @include transition-duration(.15s);
  margin: 0 .4em;
  opacity: 0;

  &.open, :hover > & {
    @include transition-duration(.15s);
    opacity: 1;
  }
}

.share-dialog {
  display: none;

  a {
    float: left;
    line-height: 1.4;
    margin-right: .5em;
    vertical-align: middle;
  }

  div {
    overflow: hidden;
  }

  input {
    padding: 0;
    width: 100%;
  }
}

.stream-list {
  & > * {
    margin-bottom: .72em;
  }

  .card-emphasis {
    @include box-shadow(6px 6px 8px -2px $gray-light);
  }
}

//SEARCH HIGHLIGHTS////////////////////////////////
.search-hl-active {
  background: $highlight-color;
  box-shadow:3px 3px 4px -1px #999999;
  &::-moz-selection {
    background: $highlight-color;
    box-shadow:3px 3px 4px #999999;
  }
  &::-moz-selection, &::-moz-window-inactive, &::window-inactive {
    background: $highlight-color;
    box-shadow:3px 3px 4px #999999;
  }
  &::selection, &::selection:window-inactive {
    background: $highlight-color;
    box-shadow:3px 3px 4px #999999;
  }
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }

// Tags for the annotations
.tags {
  @include pie-clearfix;
  @include reset-box-model;
  @include reset-font;
  background: none;
  clear: both;
  margin-top: .2em;
  margin-bottom: .2em;

  .tagit-choice {
    border-radius: 2px;
    padding: 0.307em 1.7em 0.307em 0.76em;
  }

  .tagit-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px;
  }

  .tagit-new input[type=text] {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .text-icon { display: none; }

  li {
    cursor: pointer;
    display: block;
    float: left;
    padding: .01em 1.3em .01em .3em;
    position: relative;
    opacity: .8;
    margin-right: 0.4em;

    &:hover { opacity: 1; }
    &.tagit-new { padding: 0; }
  }

  &[readonly] {
    .tagit-new, .tagit-close { display: none; }
    li { 
      padding: .1em .3em; 
      font-size: 12px; 
    }
    li.tagit-choice { margin-top: .1em; }
  }
}

//Visual Search////////////////////////////////
//Override their css here
.VS-search {
  overflow: hidden;

  * {
    @include box-sizing(content-box);
  }

  .search_facet input,
  .search_input input,
  .VS-input-width-tester {
    @include box-shadow(none);
    border: 0;
  }

  .VS-search-box {
    border: 0;
    height: 26px;
    margin: 1px 0;
    min-height: 26px;
  }

  &.VS-search-collapsed .VS-search-box {
    @include box-shadow(none);
    background: inherit;
  }

  .VS-icon-cancel {
    background-image: url(../images/svg/cancel.svg);
    background-size: contain;
    &:hover {
      background-image: url(../images/svg/cancel_black.svg);
      background-position: center 0;
    }
  }

  .VS-icon-search {
    background-image: url(../images/svg/search.svg);
    background-size: contain;
    &:hover {
      background-image: url(../images/svg/search_dark.svg);
      cursor: pointer;
    }
  }
}

// View and Sort tabs ////////////////////
.viewsort {
  @include single-transition(top, .25s);
  @include transition-timing-function(cubic-bezier(0, 1, .55, 1));
  width: 100%;
  text-align: center;
  position: fixed;
  top: 29px;
  right: 0;
  z-index: 4;

  &.ng-hide {
    @include transition-timing-function(cubic-bezier(1, .55, 0, 1));
    top: 0;
    display:block!important;
    overflow: hidden;
  }
}

.viewsort > .dropdown {
  @include smallshadow(0);
  border-bottom-right-radius: 24px 72px;
  border-bottom-left-radius: 24px 72px;
  font-family: $sans-font-family;
  background: $white;
  border: solid 1px $gray-lighter;
  padding: 0 10px;
  margin: 0 3px;
  display: inline-block;

  .dropdown-menu {
    margin-top: 0;

    &:before, &:after {
      display: none;
    }
  }
}

// Panels //////////////////////////////
.panelsnav {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  display: none;

  &.shown {
    display: block;
  }
}

.panel {
  overflow-y: auto;
  overflow-x: hidden;

  &.shown {
    display: block;
  }

  input {
    margin: 5px 0;
  }

  textarea {
    margin: 5px 0;
  }
}

.closepanel {
  @extend .x-icon;
  width: 1em;
  height: 1em;
  opacity: 0.9;
  position: absolute;
  right: 7px;
  top: 7px;
}

.fullwidth {
  width: 100%;
}

.gravatar {
  float: left;
  margin: 0px 10px 10px 0px;
  border:1px solid $gray-lighter;
}

.btn {
  &.danger {
    color: white;
    background-image: -moz-linear-gradient(center top , #BD5862 10%, #BD5862 10%, #BD5862 100%);
    box-shadow: 0px 0.2em 0px rgba(158, 95, 95, 0.2) inset, 0px 0.05em 0.1em rgba(0, 0, 0, 0.08);
    &:disabled {
      color: white;
      background-image: -moz-linear-gradient(center top , rgba(221, 196, 198, 1) 10%, #C6B2B4 10%, #C6B2B4 100%);
      box-shadow: 0px 0.2em 0px rgba(158, 95, 95, 0.2) inset, 0px 0.05em 0.1em rgba(0, 0, 0, 0.08);
    }
  }
}
