@import 'compass/typography/text/force-wrap';
@import 'compass/layout/stretching';
@import 'base';

$base-font-size: 16px;
$base-line-height: 26px;
$sans-font-family: "Source Sans Pro", $sans-font-family;
$serif-font-family: "Merriweather", $serif-font-family;
$headings-color: $text-color;

@import 'annotations';
@import 'forms';
@import 'spinner';
@import 'responsive';
@import 'threads';
@import 'yui_grid';
@import 'styled-text';
@import 'simple-search';
@import 'tags-input';
@import 'page';

//ELEMENT STYLES////////////////////////////////
a {
  color: $link-color;
  &:hover { color: $link-color-hover; }
  text-decoration: none;
}

body {
  background-color: $body-background;
  color: $text-color;
  line-height: 1.4;
}

p {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;

  & + p {
    margin: 1em 0 0;
  }
}

em { font-style: italic; }

html {
  font-size: $base-font-size;
  line-height: $base-line-height;

  @include yui_grid();

  @include respond-to(handhelds) {
    @include yui_grid('h-');
  }

  @include respond-to(wide-handhelds) {
    @include yui_grid('wh-');
  }

  @include respond-to(tablets) {
    @include yui_grid('t-');
  }

  @include respond-to(desktops) {
    @include yui_grid('d-');
  }
}

//PAPER////////////////////////////////
//Provides the white background upon which items sit
.paper {
  background: $white;
  border: solid 1px $gray-lighter;
  border-radius: 2px;
  padding: 1em;
}

//MCRANDOM////////////////////////////////

.alert-block {
  span.errorMsgLbl { @extend .visuallyhidden; }
  span.errorMsg { @extend .visuallyhidden; }
}

.small {
  font-size: .8em;
}

//Candidate for cleanup
.btn-link {
  @include box-shadow(none);
  @include reset-box-model;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: $link-color;
  position: static;

  &:hover, &:focus, &.js-focus, &.js-hover {
    color: $link-color-hover;
  }
}

.red {
  color: $hypothered;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


//CLOSER////////////////////////////////
.close {
  cursor: pointer;
  float: right;
  line-height: 1.4;
  opacity: .6;
  &:active, &:hover {
    opacity: 1;
  }
}



//FORM RELATED////////////////////////////////
.form-horizontal {
  display: inline-block;
  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
  select, textarea, input, button {
    margin: .5em 0;
  }
}

.form-inline .control-group { margin-bottom: 0; }

.form-vertical {
  select, textarea, input, button {
    display: block;
    // margin-top: .75em;
  }
}

.req {
  display: none;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


//DROPDOWNS////////////////////////////////
.dropdown {
  position: relative;
  span {
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

.dropdown-toggle {
  cursor: pointer;

  &:active {
    outline: 0;
  }
}

.dropdown-menu {
  @include rotateX(90deg);
  background: $white;
  border: solid 1px $gray-lighter;
  margin-top: .8em;
  top: 100%;
  float: left;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;

  li:not(.ng-hide) {
    cursor: pointer;
    line-height: 1;
    text-align: left;
    padding: .5em;
    white-space: nowrap;

    &:hover {
      color: black;
    }

    &.selected {
      color: black;
      font-weight: 600;
      line-height: 1;
      &:before {
        font-size: .7em;
      }
    }
    &.inactive {
      font-weight: 400;
      color: $gray-lighter;
      cursor: default;
      &:hover {
        color: $gray-lighter;
      }
      & * {
        cursor: default;
      }
    }

    & + li {
      border-top: dotted 1px $gray-lighter;
    }
  }

  a {
    color: inherit;
  }

  // These psuedo-elements add the speech bubble tail / triangle.
  &:before, &:after {
    // http://www.red-team-design.com/css-diagonal-borders-still-not-rendering-properly-on-firefox
    @include scale(.9999);
    border-color: rgba(0, 0, 0, 0);

    border-style: solid;
    border-width: 0 7px 6px 7px;
    content: '';
    position: absolute;
    height: 0;
    left: 0;
    width: 0;
  }

  &:before {
    border-bottom-color: $gray-lighter;
    top: -7px;
  }

  &:after {
    border-bottom-color: $white;
    top: -6px;
    z-index: 3;
  }

  // Aligns the dropdown menu to right
  &.pull-right {
    right: 0;
    left: auto;
    text-align: right;

    // Align the tail
    &:before, &:after {
      left: auto;
      right: 0;
    }
  }
}

.open {
  & > .dropdown-menu {
    @include smallshadow;
    @include rotateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}

//TABS////////////////////////////////
.nav-tabs {
  margin-bottom: .7em;

  & > li {
    display: inline-block;
    line-height: 1;

    a {
      font-family: $sans-font-family;
      font-weight: bold;
      color: $gray-dark;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      padding-left: .153em;
      padding-right: .153em;
      padding-bottom: .076em;

      &:hover {
        color: $link-color-hover;
      }
    }

    &:active a {
      position: relative;
      top: .076em;
    }


    &.active:active a {
      top: 0;
    }

    &.active a {
      border-color: $gray-lighter;
    }

    &:before {
      content: "/";
      margin: 0 .75em;
    }

    &:first-child:before {
      content: none;
    }
  }
}

.tab-content {
  line-height: 1.4;

  .tab-pane {
    display: none;
    &.active {
      display: inherit !important;
    }
  }
}


//SEARCH HIGHLIGHTS////////////////////////////////
.search-hl-active {
  background: $highlight-color;
  box-shadow:3px 3px 4px -1px #999999;
  &::-moz-selection {
    background: $highlight-color;
    box-shadow:3px 3px 4px #999999;
  }
  &::-moz-selection, &::-moz-window-inactive, &::window-inactive {
    background: $highlight-color;
    box-shadow:3px 3px 4px #999999;
  }
  &::selection, &::selection:window-inactive {
    background: $highlight-color;
    box-shadow:3px 3px 4px #999999;
  }
}


// View and Sort tabs ////////////////////
.viewsort {
  @include single-transition(top, .25s);
  @include transition-timing-function(cubic-bezier(0, 1, .55, 1));
  width: 100%;
  text-align: center;
  position: fixed;
  top: 29px;
  right: 0;
  z-index: 4;

  &.ng-hide {
    @include transition-timing-function(cubic-bezier(1, .55, 0, 1));
    top: 0;
    display:block!important;
    overflow: hidden;
  }
}

.viewsort > .dropdown {
  @include smallshadow(0);
  border-bottom-right-radius: 24px 72px;
  border-bottom-left-radius: 24px 72px;
  font-family: $sans-font-family;
  background: $white;
  border: solid 1px $gray-lighter;
  padding: 0 10px;
  margin: 0 3px;
  display: inline-block;

  .dropdown-menu {
    margin-top: 0;

    &:before, &:after {
      display: none;
    }
  }
}
