// the primary action button for a form
.dropdown-menu-btn {
  $text-color: #f1f1f1;
  $default-background-color: #626262;
  $hover-background-color: #3A3A3A;
  $h-padding: 9px;
  $height: 35px;
  $border-radius: 2px;
  $arrow-indicator-width: 26px;

  background-color: $default-background-color;

  border: 0px;
  border-radius: $border-radius;

  font-size: $body1-font-size;
  font-weight: bold;
  height: $height;
  position: relative;

  user-select: none;

  &__label {
    // the label occupies the entire space of the button and
    // shows a darker state on hover

    width: 100%;
    height: 100%;

    color: $text-color;
    background-color: transparent;
    border-radius: $border-radius;
    border: none;
    line-height: $height;
    padding-left: $h-padding;
    padding-right: $arrow-indicator-width + 8px;

    text-align: left;
    vertical-align: middle;

    &:hover {
      background-color: $hover-background-color;
    }

    &:disabled {
      color: #929292;
    }
  }

  // dropdown arrow which reveals the button's associated menu
  // when clicked
  &__dropdown-arrow {
    position: absolute;
    right: 0px;
    top: 0px;

    height: 100%;
    width: $arrow-indicator-width;
    padding-left: 0px;
    padding-right: $h-padding;
    margin-left: 8px;

    border: none;
    background-color: transparent;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &:hover {
      background-color: #3A3A3A;
    }

    &:hover &-separator {
      // hide the 1px vertical separator when the dropdown arrow
      // is hovered
      background-color: transparent;
    }

    // 1px vertical separator between label and dropdown arrow
    &-separator {
      position: absolute;
      top: 0px;
      bottom: 0px;
      margin-top: auto;
      margin-bottom: auto;

      width: 1px;
      height: 15px;

      background-color: #818181;
    }

    // the ▼ arrow which reveals the dropdown menu when clicked
    &-indicator {
      color: $text-color;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      line-height: $height;
      text-align: center;


      & > div {
        transform: scaleY(0.7);
      }
    }
  }
}
