@at-root {
  .footer {
    @include header-or-footer;

    margin-top: 15px;
    margin-bottom: 45px;
  }

  .social-media-link {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    text-decoration: none;
  }
}
