// Common form styles.
@import "compass/css3/images";
@import "compass/utilities/general/clearfix";

.form-field {
  @include clearfix;
  margin-bottom: 10px;
}

.form-heading {
  position: relative;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;

  span {
    position: relative;
    background: white;
    padding-right: 5px;
    z-index: 1;
  }

  &::after {
    content: "";
    display: block;
    height: 1px;
    background: $gray-lighter;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    z-index: 0;
  }
}

.form-description {
  margin-bottom: 1em;
}

.form-input,
.form-label {
  width: 100%;
  display: block;
}

.form-label {
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}

.form-hint {
  font-size: 12px;
  margin-left: 5px;
  color: $gray-light;
  -webkit-font-smoothing: antialiased;
}

.form-required, .form-required[title] {
  cursor: help;
  color: $gray-light;
  border-bottom: none;
  -webkit-font-smoothing: antialiased;
}

.form-input {
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  padding: 7px 10px;
  font-weight: normal;
  font-size: 15px;
  color: $gray;

  @include placeholder {
    -webkit-font-smoothing: antialiased;
  }

  &:focus, &.js-focus {
    outline: none;
    border-color: $focus-yellow-dark;
    background-color: $focus-yellow;

    @include placeholder {
      color: $focus-yellow-darker;
    }
  }
}

.form-field-error {
  .form-input {
    &, &:focus, &.js-focus {
      color: $error-red;
      border-color: $error-red-light;
      background-color: $error-red-lightest;
    }

    @include placeholder {
      color: $error-red-light;
    }
  }

  .form-error-list {
    display: block;
  }
}

.form-select {
  display: block;
}

.form-error-list {
  position: relative;
  display: none;
  background: $hypothered;
  margin-top: (10 / 13 * 1em);
  padding: (4 / 13 * 1em) (11 / 13 * 1em);
  float: left;
  border-radius: 2px;

  .form-error {
    font-size: 12px;
    color: white;
  }

  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba($hypothered, 0);
    border-bottom-color: $hypothered;
    border-width: 4px;
    margin-left: -4px;
  }
}

.form-error {
  font-size: 13px;
  line-height: 1.5;
  color: $error-red;
}

.form-checkbox-item {
  padding-left: 22px;

  .form-checkbox, [type=checkbox], [type=radio] {
    float: left;
    margin-left: -20px;
    margin-top: 0.3em;
  }

  .form-label {
    display: inline;
  }
}

.form-inline {
  display: flex;

  .form-input {
    flex-grow: 1;
    width: auto;
  }

  .btn {
    margin-left: 0.5em;
  }
}

.form-actions {
  @include pie-clearfix;
  margin-top: 20px;
}

.form-actions-message {
  font-size: 13px;
  float: left;
  margin-top: 7px;
}

.form-actions-buttons {
  @include pie-clearfix;
  float: right;

  > * {
    float: left;
    margin-left: 10px;
  }

  > *:first-child {
    margin-left: 0;
  }
}

// Allows buttons to be positioned explicitly.
.form-actions-left {
  float: left;
}

.form-actions-right {
  float: right;
}

.btn {
  @include background(linear-gradient($button-background-gradient...));
  @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.15));

  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  color: $button-text-color;
  text-shadow: 0 1px 0 #FFF;
  border-radius: 2px;
  border: 1px solid #ACACAC;
  padding: 7px 12px 6px;

  &:focus, &:hover, &:active, &.js-hover, &.js-focus, &.js-active {
    @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.05));
    outline: none;
    color: $button-text-color;
    background: $button-background-start;
    border-color: #bababa;
  }

  &:active, &.js-active {
    @include box-shadow(inset 0 1px 0 rgba(0, 0, 0, 0.1));
    background: $button-background-end;
    color: #424242;
    border-color: #bababa;
  }

  &[disabled], &.js-disabled {
    @include box-shadow(none);
    cursor: default;
    background: #F0F0F0;
    border-color: #CECECE;
    color: $gray-light;
  }
}

.btn-danger {
  @include background(linear-gradient(top, $hypothered, shade($hypothered, 5%)));
  color: white;
  border-color: shade($hypothered, 15%);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);

  &:focus, &:hover, &:active, &.js-hover, &.js-focus, &.js-active {
    @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.05));
    color: white;
    background: #e02b3c;
    border-color: $hypothered;
  }

  &:active, &.js-active {
    @include box-shadow(inset 0 1px 0 rgba(0, 0, 0, 0.3));
    color: white;
    background: shade($hypothered, 10%);
    border-color: shade($hypothered, 30%);
  }
}

.btn-clean {
  &, &:focus, &:hover, &:active, &.js-hover, &.js-focus, &.js-active {
    @include box-shadow(none);
    padding-left: 0;
    padding-right: 0;
    background: none;
    border-color: transparent;
  }

  &:focus, &:hover, &:active, &.js-hover, &.js-focus, &.js-active {
    color: $link-color;
  }

  &:active, &.js-active {
    color: $link-color-hover;
  }
}

// Positions the icon nicely within the button.
.btn-icon {
  position: relative;
  top: 1px;
  right: 3px;
}

// Absolutely positions a message/icon to the left of a button.
.btn-with-message {
  position: relative;
}

.btn-message {
  font-size: 13px;
  font-style: italic;
  color: $gray-light;
  margin-right: 6px;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -9px;
  white-space: nowrap;
}

.btn-message-icon {
  display: inline-block;
  position: relative;
  top: 0px;
  background: $success-green;
  border-radius: 50%;
  color: #FFF;
  font-size: 12px;
  height: 20px;
  line-height: 13px;
  margin-left: 4px;
  padding: 4px;
  width: 20px;
}

// Handles state transitions from "default" -> "loading" -> "success"
[status-button-state] .btn-message {
  top: -999em;
  left: -999em;
  right: auto;
}

[status-button-state=success] .btn-message-success,
[status-button-state=loading] .btn-message-loading {
  top: 50%;
  left: auto;
  right: 100%;
}

[status-button-state] .btn-message-text {
  @include transition(opacity 0.2s 0.6s ease-in);
  opacity: 0;
}

[status-button-state=success] .btn-message-success .btn-message-text {
  opacity: 1;
}

[status-button-state] .btn-message-success .btn-message-icon {
  @include transform(scale(0));
}

[status-button-state=success] .btn-message-success .btn-message-icon {
  @include transition(transform 0.15s 0 cubic-bezier(0, 1.8, 1, 1.8));
  @include transform(scale(1));
}

// TODO: Move into seperate module stylesheet.
.account-form {
  margin-top: 30 / 13 * 1em;
  margin-bottom: 30 / 13 * 1em;
}
