.help-panel {
  @include font-normal;
  background: $grey-3;
  margin-bottom: .72em;
  padding: $layout-h-margin;
  border-radius: 2px;
}

.help-panel-title {
  color: $grey-6;
  font-weight: bold;
  // Margin between top of the dialog and
  // top of x-height of title should be ~15px.
  margin-top: -5px;
}

.help-panel-content {
  // Margin between bottom of ascent of title and
  // top of x-height of content should be 20px.
  margin-top: 11px;
}

.help-panel-content__key {
  width: 100px;
  float: left;
  color: $grey-4;
}

.help-panel-content__val {
  word-wrap: break-word;
  margin-left: 100px;
}

.help-panel-content {
   margin-top: 10px;
   margin-bottom: 15px;
}

.help-panel-content__link {
  color: $grey-6;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}
