@import 'base';
@import 'compass/css3/user-interface';
@import 'compass/layout/stretching';
@import 'compass/reset/utilities';

$base-font-size: 14px;

//ADDER////////////////////////////////
.annotator-adder {
  $border: $gray;
  $hoverborder: $gray-dark;
  @include box-sizing(border-box);
  height: 40px;
  margin-left: -20px;
  margin-top: -50px;
  padding: 0;
  position: absolute;
  border: 4px solid $border;
  border-radius: 8px;
  width: 40px;
  z-index: 999;

  &:before {
    @include rotate(45deg);
    background: #fdfdfd;
    bottom: -8px;
    border-bottom: 4px solid $border;
    border-right: 4px solid $border;
    content: "";
    display: block;
    height: 6px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 6px;
  }

  button, button:first-child {
    @include sweetbutton;
    background-image: url("../images/pen_1.png") !important;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 100%;
    text-indent: -999em;
    width: 100%;
    margin: 0;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &:hover {
    @include box-shadow(1px 1px 6px -2px $gray-light);
    border-color: $hoverborder;

    &:before {
      border-color: $hoverborder;
    }
  }
}


//HEATMAP STUFF////////////////////////////////
.annotator-frame .annotator-heatmap {
  cursor: ew-resize;
  position: absolute;
  overflow: hidden;

  height: 100%;
  width: $heatmap-width + 18px;
  left: -($heatmap-width + 18px);

  svg {
    @include stretch-y;
    background: hsla(0, 0, 0, .1);
    border-left: solid 1px $gray-lighter;
    height: 100%;
    left: 18px;
    width: $heatmap-width;
  }
}

.annotator-frame .heatmap-pointer {
  @include border-radius(2px 4px 4px 2px);
  @include box-sizing(border-box);
  background: $white;
  border: solid 1px $gray-lighter;
  right: 0;
  position: absolute;
  margin-top: -8px;
  height: 16px;
  width: 26px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: center;
  cursor: pointer;

  .label {
    @include reset-box-model;
    @include reset-font;
    background: none;
    color: $text-color;
    font-weight: bold;
    font-family: $sans-font-family;
    font-size: 10px;
    line-height: 14px;
    margin: 0 auto;
  }

  &:before, &:after {
    content: '';
    right: 100%;
    top: 50%;
    position: absolute;
    // NB: use of 'inset' here fixes jagged diagonals in FF
    // https://github.com/zurb/foundation/issues/2230
    border: inset transparent;
    height: 0;
    width: 0;
  }

  &:before {
    border-width: 8px;
    border-right: 5px solid $gray-lighter;
    margin-top: -8px;
  }

  &:after {
    border-width: 7px;
    border-right: 4px solid $white;
    margin-top: -7px;
  }

  &.lower, &.upper {
    &:before, &:after {
      left: 50%;
      bottom: 100%;
      right: auto;
      border-right: solid transparent;
      margin-top: 0;
    }
  }

  &.upper {
    @include border-radius(2px 2px 4px 4px);

    &:before, &:after {
      top: auto;
      bottom: 100%;
    }

    &:before {
      border-width: 13px;
      border-bottom: 6px solid $gray-lighter;
      margin-left: -13px;
    }

    &:after {
      border-width: 12px;
      border-bottom: 5px solid $white;
      margin-left: -12px;
    }
  }

  &.lower {
    @include border-radius(4px 4px 2px 2px);

    &:before, &:after {
      bottom: auto;
      top: 100%;
    }

    &:before {
      border-width: 13px;
      border-top: 6px solid $gray-lighter;
      margin-left: -13px;
    }

    &:after {
      border-width: 12px;
      border-top: 5px solid $white;
      margin-left: -12px;
    }
  }
}


//HIGHLIGHTS////////////////////////////////
.annotator-highlights-always-on .annotator-hl,
.annotator-hl-active, .annotator-hl-temporary, .annotator-hl-focused {
  background: $highlight-color;

  .annotator-hl {
    background-color: $highlight-color-second;
  }

  .annotator-hl .annotator-hl {
    background-color: $highlight-color-third;
  }

  &::-moz-selection {
    background: $highlight-color;
  }
  &::-moz-selection, &::-moz-window-inactive, &::window-inactive {
    background: $highlight-color;
  }
  &::selection, &::selection:window-inactive {
    background: $highlight-color;
  }
}

.annotator-highlights-always-on .annotator-hl {
  background: $highlight-mode-color;

  .annotator-hl {
    background-color: $highlight-mode-color-second;
  }

  .annotator-hl .annotator-hl {
    background-color: $highlight-mode-color-third;
  }
}

.annotator-highlights-always-on .annotator-hl-active,
.annotator-highlights-always-on .annotator-hl-focused {
  background-color: $highlight-mode-active-color;
}

// Sidebar
.annotator-frame {
  @import 'reset';
  @include nested-reset;
  @include reset-box-model;
  @include user-select(none);
  @extend .noise;
  background: none;
  font-size: $base-font-size;
  line-height: $base-line-height;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 10000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.annotator-collapsed {
    margin-left: 0;
  }

  * {
    background: none;
    font-size: 100%;
    height: initial;
    width: initial;
  }

  & > iframe {
    height: 100%;
    width: 100%;
    z-index: 3;
    position: relative;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-family: 'h';
  }
}

.annotator-no-transition {
  @include transition(none !important);
}


//CONTROLBAR STUFF////////////////////////////////
.annotator-frame .annotator-toolbar {
  position: absolute;
  left: -($heatmap-width + 18px - 7px);
  right: 0;
  width: 37px;
  z-index: 2;

  ul {
    height: 100%;
  }

  ul, li {
    @include box-sizing(border-box);
    @include reset-box-model;
    @include reset-list-style;
  }
}

.annotator-frame .annotator-toolbar.annotator-hide {
  display: initial;
  visibility: initial;

  li {
    @include transition-delay(.75s);
    @include transition-timing-function(cubic-bezier(1, .1, .55, 0));
    height: 0;
    left: 34px;
    margin-top: -2px;
    &:first-child, &.pushed {
      @include transition-delay(0);
      left: 3px;
      height: 30px;
    }
    &.pushed {
      margin-top: 5px;
    }
  }
}

.annotator-frame .annotator-toolbar li {
  @include border-radius(4px);
  @include smallshadow;
  @include transition-property(left, height, margin-top);
  @include transition-duration(.25s);
  @include transition-delay(0);
  @include transition-timing-function(cubic-bezier(0, .55, .1, 1));
  background: $white;
  border: solid 1px $gray-lighter;
  left: 0;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  height: 30px;
  width: 30px;

  &:first-child {
    @include border-radius(4px 0 0 4px);
    @include box-shadow(none);
    border-right-style: none;
    margin-top: 0;
    width: 36px;
    z-index: 1;
  }

  &.pushed {
    @include box-shadow(none);
    left: 3px;
    z-index: 1;

    a, a:hover, a:active, a:visited, a:link, a:link:hover {
      color: $link-color;
    }
  }

  a, a:hover, a:active, a:visited, a:link, a:link:hover {
    font-size: 1.3em;
    line-height: 28px;

    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    left: 5px;
    color: rgba(200, 200, 200, .3);

    text-decoration: none;
    text-shadow:
    0 0 2px $gray-lightest,
    0 0 0 $gray;

    &:focus { outline: 0; }
    &:hover { color: $link-color-hover; }

    &.icon-comment {
      text-shadow:
      0 0 2px $gray-lightest,
      0 0 0 $gray;

      &:hover {
        color: fade-out($gray-lightest, .9);
      }
    }
  }
}


/*
  Mobile layout
  240-479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
  .annotator-frame {
    width: 90%;
    margin-left: -90%;
  }
}

/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  .annotator-frame {
    width: 70%;
    margin-left: -70%;
  }
}

/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  .annotator-frame {
    @include single-transition(margin-left, .25s);
    @include transition-timing-function(cubic-bezier(.55, 0, .2, .8));
    width: 428px;
    margin-left: -428px;
  }
}

/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
}

/*
  Huge-screen layout
  1888-2520 px
  Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {
}
