@import 'compass/css3/user-interface';

//MARKDOWN EDITOR //////////////////////////
.markdown-preview {
  overflow: auto;
  border: .1em solid $gray-lighter;
  background-color: $gray-lightest;
  min-height: 120px;
  padding-left: 0.9em;
  resize: vertical;
}

.markdown-tools {
  width: 100%;
  max-height: 1.4em;
  overflow: hidden;
  @include user-select(none);

  &.disable {
    .markdown-tools-button {
      color: $gray-lighter;
      pointer-events: none;
    }
  }

  .markdown-tools-button {
    padding: .4em
  }

  .markdown-preview-toggle {
    float: right;
    margin-right: .4em;
  }

  .markdown-tools-button, .markdown-tools-toggle, .icon-markdown {
    color: $gray;

    &:hover {
      color: black;
    }
  }

}
