@mixin primary-action-btn {
  // note that there is currently some duplication here between
  // the styling for this element and <dropdown-menu-btn>
  color: $color-seashell;
  background-color: $color-dove-gray;
  height: 35px;
  border: none;
  border-radius: 2px;

  font-weight: bold;
  font-size: $body1-font-size;

  padding-left: 12px;
  padding-right: 12px;

  &:disabled {
    color: $gray-light;
  }

  &:hover:enabled {
    background-color: $color-mine-shaft;
  }
}

// A dark grey button used for the primary action
// in a form
.primary-action-btn {
  @include primary-action-btn;
}

.primary-action-btn--short {
  height: 30px;
}

.primary-action-btn__icon {
  color: $color-silver-chalice;
  display: inline-block;
  font-weight: bold;
  margin-left: -3px;
  margin-right: 3px;
  transform: translateY(1px);
}
