.publish-annotation-btn {
  display: flex;

  &__btn {
    width: 250px;
  }

  &__dropdown-menu {
    width: 100%;
  }
}

.publish-annotation-cancel-btn {
  @extend .btn--cancel;

  margin-left: 5px;
  font-weight: normal;

  &__icon {
    margin-right: 3px;
  }
}
