.publish-annotation-btn {
  display: flex;

  &__btn {
    position: relative;
  }

  // a container which wraps the dropdown menu
  // in order to allow it to be positioned
  // relative to its own width
  &__dropdown-container {
    position: absolute;
    left: 100%;
  }

  // the content of the dropdown menu
  &__dropdown-menu {
    // align the ▼ arrow in the dropdown button
    // with the ▲ arrow in the dropdown menu
    position: relative;
    left: calc(-50% - 6px);
  }
}

// .dropdown-menu initially hides the dropdown via
// `visibility`. Show it when the dropdown is open
.open .publish-annotation-btn__dropdown-menu {
  visibility: visible;
}

.publish-annotation-cancel-btn {
  @extend .btn--cancel;

  margin-left: 5px;
  font-weight: normal;

  &__icon {
    margin-right: 3px;
    transform: translateY(10%);
  }
}
