.selection-tabs {
  display: flex;
  flex-direction: row;
  color: $grey-4;
  @include font-normal;
  font-weight: bold;
  margin: 10px 0px;
}

.selection-tabs--selected {
  color: $grey-6;
}

.selection-tabs__type {
  margin-right: 20px;
  cursor: pointer;
}
