// form for sharing links

.share-link-container {
  font-size: $body1-font-size;
  line-height: $body1-line-height;
  margin-top: 1px;
  white-space: normal;
}

.share-link {
  color: $gray-light;
}

.share-link:hover {
  width: 100%;
  color: $gray-dark;
}

.share-dialog-link {
  font-size: $body1-font-size;
  margin: 10px;
  padding: 5px;
  color: $text-color;
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  background: #F2F2F2;
}

.share-dialog-link:hover {
  color: $gray-dark;
}

.share-link-field {
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 12px;
  margin-bottom: 8px;
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  width: 100%;
}

.share-dialog-target {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $gray-lighter;
  font-size: $body1-font-size;
  padding: 10px;
}

.share-dialog-target__label {
  font-weight: bold;
}

.share-dialog-target__icon {
  color: #7A7A7A;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.share-dialog-target__icon:hover {
  color: #202020;
}

.share-link-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.share-link-icon {
  color: $color-dove-gray;
  display: inline-block;
  font-size: 24px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;

  &:hover {
    color: $brand-color;
  }
}
