.signin-text {
  font-size: $body2-font-size;
  padding-left: 6px;
}

/* The user account dropdown menu */
.signin-control-menu {
  .avatar {
    border-radius: 2px;
  }

  .dropdown-toggle {
    .provider {
      color: $gray-light;
      display: none;
    }
    &:hover {
      .provider {
        display: inline;
      }
    }
  }

  .dropdown.open .provider {
    display: inline;
  }
}
