@import "base.scss";
@import "mixins/icons";

.simple-search-form {
  @include clearfix;
  position: relative;
  padding: 0 2em;
  color: $gray-dark;
}

.simple-search-icon {
  position: absolute;
  left: 0;
  top: 0;
}

:not(:focus) ~ .simple-search-icon {
  color: $gray-light;
}

input.simple-search-input {
  outline: none;
  color: $text-color;
  width: 100%;
  border: none;
  padding: 0;

  .simple-search-inactive &:not(:focus) {
    border-color: #f3f3f3;
  }

  &:disabled {
    background: none;
    color: $gray-light;
  }
}
