@import "base.scss";
@import "mixins/icons";

.simple-search-form {
  display: flex;
  flex-flow: row nowrap;

  position: relative;
  color: $gray-dark;
}

.simple-search-icon {
  @include order(0);
}

:not(:focus) ~ .simple-search-icon {
  color: $gray-light;
}

@at-root {
  $expanded-max-width: 150px;

  .simple-search-input {
    flex-grow: 1;
    order: 1;

    color: $text-color;
    border: none;
    outline: none;
    padding: 0;

    max-width: 0px;
    transition: max-width .3s ease-out;

    &:disabled {
      background: none;
      color: $gray-light;
    }

    &:focus,&.is-expanded {
      max-width: $expanded-max-width;
    }
  }
}
