@import 'compass/css3/flexbox';

@import "base.scss";
@import "mixins/icons";

.simple-search-form {
  @include display-flex;
  @include flex-flow(row nowrap);

    /* IE10 support */
  display: -ms-flexbox;
  -ms-flex-flow: row nowrap;

  position: relative;
  color: $gray-dark;
}

.simple-search-icon {
  @include order(0);
}

:not(:focus) ~ .simple-search-icon {
  color: $gray-light;
}

input.simple-search-input {
  @include flex-grow(1);
  @include order(1);

  /* IE10 support */
  -ms-flex: 1;
  -ms-flex-order: 1;

  color: $text-color;
  border: none;
  outline: none;
  padding: 0;

  &:disabled {
    background: none;
    color: $gray-light;
  }
}
