@import "base.scss";
@import "mixins/icons";

.simple-search {
  overflow: hidden;
}

.simple-search-form {
  @include clearfix;
  position: relative;
  padding: 0 1.5385em;
  color: $gray;
}

.simple-search-form * {
  box-sizing: border-box;
}

@include icons {
  &.simple-search-icon {
    float: left;
    display: inline;
    font-size: 1.1em;
    line-height: 2;
    margin-left: -100%;
    position: relative;
    right: 19 / 14 * 1em;
  }
}

:not(:focus) ~ .simple-search-icon {
  color: $gray-lighter;
}

.simple-search-input {
  float: left;
  outline: none;
  color: $text-color;
  width: 100%;
  border: none !important; // Override base input styles.
  padding: .4615em 0 0;

  .simple-search-inactive &:not(:focus) {
    border-color: #f3f3f3 !important;
  }
}

.simple-search-clear {
  @include icons {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    font-size: 0.85em;
  }

  float: left;
  position: relative;
  top: 6 / 13 * 1em;
  margin-right: -1.33em;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  color: $gray;
  width: 1.33em;
  height: 1.33em;
  @include box-shadow(none);

  &:focus, &:hover, &:active:not([disabled]) {
    color: $text-color;
  }
}
