// shared styling used by both the app and the website
@import './base';
@import './reset';
@import './elements';

// shared components
@import './primary-action-btn';
@import './share-link';

// website-specific components
@import './group-form';

body {
  @extend .noise;
  font-family: $sans-font-family;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

.content--narrow {
  width: 450px;
}
