// Core
@import 'core/typography';

@import 'partials/base';
@import 'partials/reset';
@import 'partials/elements';
@import 'partials/util';

// Components
@import 'partials/api-token';
@import 'partials/annotation-card';
@import 'partials/brand';
@import 'partials/btn';
@import 'partials/dropdown-menu';
@import 'partials/footer';
@import 'partials/form-actions';
@import 'partials/form-checkbox';
@import 'partials/form-container';
@import 'partials/form-input';
@import 'partials/form';
@import 'partials/group-invite';
@import 'partials/join-group-form';
@import 'partials/link';
@import 'partials/list-input';
@import 'partials/lozenge';
@import 'partials/masthead';
@import 'partials/nav-bar';
@import 'partials/pager';
@import 'partials/search';
@import 'partials/search-bar';
@import 'partials/search-result-sidebar';
@import 'partials/share-widget';
@import 'partials/svg-icon';
@import 'partials/tooltip';
@import 'partials/tabs';
@import 'partials/text';

.content {
  margin-bottom: 40px;
}
