// Hypothesis Main
// ============================================================================

// Core
// ----------------------------------------------------------------------------

@use 'core/reset';
@use 'core/color';
@use 'core/typography';
@use 'core/layout';
@use 'core/icons';
@use 'core/utilities';

// Components
// ----------------------------------------------------------------------------

@use 'components/api-token';
@use 'components/annotation-card';
@use 'components/brand';
@use 'components/btn';
@use 'components/dropdown-menu';
@use 'components/footer';
@use 'components/form';
@use 'components/form-actions';
@use 'components/form-checkbox';
@use 'components/form-container';
@use 'components/form-input';
@use 'components/group-invite';
@use 'components/join-group-form';
@use 'components/link';
@use 'components/list-input';
@use 'components/lozenge';
@use 'components/masthead';
@use 'components/nav-bar';
@use 'components/pager';
@use 'components/search';
@use 'components/search-bar';
@use 'components/search-result-sidebar';
@use 'components/share-widget';
@use 'components/tooltip';
@use 'components/tabs';

// Rules
// ----------------------------------------------------------------------------

// This rule causes adverse effects in the admin and help pages, so it's
// included here until we can tackle typography generally
body {
  @include typography.font-normal;
  font-family: typography.$sans-font-family;
}

.content {
  margin-bottom: 40px;
}
