@import 'partials-v2/base';
@import 'partials-v2/reset';
@import 'partials-v2/elements';
@import 'partials-v2/util';

// Components
@import 'partials-v2/api-token';
@import 'partials-v2/annotation-card';
@import 'partials-v2/btn';
@import 'partials-v2/dropdown-menu';
@import 'partials-v2/form-actions';
@import 'partials-v2/form-checkbox';
@import 'partials-v2/form-container';
@import 'partials-v2/form-input';
@import 'partials-v2/form';
@import 'partials-v2/join-group-form';
@import 'partials-v2/link';
@import 'partials-v2/lozenge';
@import 'partials-v2/masthead';
@import 'partials-v2/nav-bar';
@import 'partials-v2/pager';
@import 'partials-v2/search';
@import 'partials-v2/search-bar';
@import 'partials-v2/tooltip';
@import 'partials-v2/tabs';

body {
  @include font-normal;

  font-family: $sans-font-family;
}
