// Hypothesis Main
// ============================================================================

// Core
// ----------------------------------------------------------------------------

@import 'core/reset';
@import 'core/color';
@import 'core/typography';
@import 'core/layout';
@import 'core/icons';
@import 'core/utilities';

// Components
// ----------------------------------------------------------------------------

@import 'components/api-token';
@import 'components/annotation-card';
@import 'components/brand';
@import 'components/btn';
@import 'components/dropdown-menu';
@import 'components/footer';
@import 'components/form';
@import 'components/form-actions';
@import 'components/form-checkbox';
@import 'components/form-container';
@import 'components/form-input';
@import 'components/group-invite';
@import 'components/join-group-form';
@import 'components/link';
@import 'components/list-input';
@import 'components/lozenge';
@import 'components/masthead';
@import 'components/nav-bar';
@import 'components/pager';
@import 'components/search';
@import 'components/search-bar';
@import 'components/search-result-sidebar';
@import 'components/share-widget';
@import 'components/tooltip';
@import 'components/tabs';

// Rules
// ----------------------------------------------------------------------------

// This rule causes adverse effects in the admin and help pages, so it's
// included here until we can tackle typography generally
body {
  @include font-normal;
  font-family: $sans-font-family;
}

.content {
  margin-bottom: 40px;
}
