// CSS Spinner modified from http://dabblet.com/gist/7615212
// Works in modern browsers & IE10, IE9 gets stationary spinner.
//
// Examples
//
//   <!-- Three nested spans -->
//   <span class="spinner"><span><span></span></span></span>

@import 'compass/css3/_animation';

$container-width: 1em;
$container-height: $container-width;
$part-width: .1em;
$part-height: 3 * $part-width;

@include keyframes(spin) {
  to { @include transform(rotate(1turn)); }
}

.spinner {
  position: relative;
  display: inline-block;
  width: $container-width;
  height: $container-width;
  text-indent: 999em;
  overflow: hidden;
  @include animation(spin 1.25s infinite steps(12));
}

.spinner:before,
.spinner:after,
.spinner > span:before,
.spinner > span:after,
.spinner > span > span:before,
.spinner > span > span:after {
  content: '';
  position: absolute;
  top: 0;
  left: ($container-width - $part-width) / 2;
  width: $part-width;
  height: $part-height;
  border-radius: 0.1em;
  background: #eee;
  @include box-shadow(0 ($container-height - $part-height) rgba(0, 0, 0, 0.15));
  @include transform-origin(50%, $container-height / 2);
}

.spinner:before {
  background: rgba(0, 0, 0, 0.65);
}

.spinner:after {
  @include transform(rotate(-30deg));
  background: rgba(0, 0, 0, 0.6);
}

.spinner > span:before {
  @include transform(rotate(-60deg));
  background: rgba(0, 0, 0, 0.5);
}

.spinner > span:after {
  @include transform(rotate(-90deg));
  background: rgba(0, 0, 0, 0.4);
}

.spinner > span > span:before {
    @include transform(rotate(-120deg));
    background: rgba(0, 0, 0, 0.3);
}

.spinner > span > span:after {
    @include transform(rotate(-150deg));
    background: rgba(0, 0, 0, 0.2);
}
