// Styles for the ngTagsInput plugin.
// http://mbenford.github.io/ngTagsInput/gettingstarted

@import "mixins/forms";

tags-input {
  .host {
    outline: none;
  }

  .tags {
    @include form-input;
    @include clearfix;

    &.focused {
      @include form-input-focus;
    }

    // Input
    .input {
      float: left;
      margin-top: .1875em;
      padding: .2em 0;
      outline: none;
      border: none !important;
      background: none;
      color: $gray;
    }
  }

  .tag-list {
    margin-top: -.33em; // Absorb the first row of margin-top on the tags.
  }

  .tag-item {
    float: left;
    position: relative;
    padding: .154em 1.307em .154em .538em;
    margin-top: .384em;
    margin-right: .384em;
    font-size: .866em;
    color: $button-text-color;
    border: 1px solid $gray-lighter;
    border-radius: 2px;

    &.selected {
      @include btn-hover;
      @include focus-outline;
    }

    .remove-button {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 16px;
      font-size: 17px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
      color: #585858;
      cursor: pointer;
    }
  }
}

.tags-read-only {

  .tag-list {
    margin: 0.2em 0;
    padding: 0;
    border: 0 none;
    background: none repeat scroll 0% 0% transparent;
    clear: both;
    vertical-align: baseline;

    &:after {
      display: table;
      clear: both;
      content: "";
    }

    li {
      padding: 0 .3em;
      font-size: 11px;
      cursor: pointer;
      display: block;
      float: left;
      padding: 0.01em 1.3em 0.01em 0.3em;
      position: relative;
      margin-right: 0.4em;

      &.tag-item {
        margin-top: 0.1em;
        border: 1px solid #d3d3d3;
        background: rgba(230, 230, 230, 0.5)50% 50% repeat-x;
        font-weight: 400;
        color: $gray;
        padding: 0 .3em;
        border-radius: 2px;
      }

      a {
        color: $gray;
        text-decoration: none;
        
        &:hover {
          color: $link-color-hover;
        }
      }
    }
  }
}

