$thread-padding: $annotation-card-left-padding;

.stream-list {
  & > * {
    margin-bottom: .72em;
  }

  & > li.thread > .threadexp {
    display: none;
  }
}

.annotation-unavailable-message {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-lighter;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
  align-items: center;

  &__label {
    margin-top: 10px;
    max-width: 160px;
    text-align: center;
  }

  &__icon {
    background-image: url(../images/icons/lock.svg);
    background-repeat: no-repeat;
    width: 56px;
    height: 48px;
  }
}

.thread-replies .thread:first-child {
  margin-top: 0.5em;
}

.thread {
  cursor: pointer;
  position: relative;

  & > ul {
    padding-left: $thread-padding + 3px;
    margin-left: -$thread-padding;
  }

  // nested threads for annotation replies
  .thread {
    border-left: 1px dotted $gray-light;
    padding: 0;
    padding-left: $thread-padding;
    margin-top: 10px;
  }

  .threadexp {
    position: absolute;
    left: -.7em;
    width: 1.4em;
    height: 1.4em;
    font-size: 1.1em;

    span {
      background: $white;
      color: $gray-light;
      display: block;
      line-height: inherit;
      text-align: center;
    }
  }
}

.thread-load-more {
  clear: both;
}
