$thread-padding: 1em;
$threadexp-width: 1em;

.stream-list {
  & > * {
    margin-bottom: .72em;
  }

  & > li.thread:hover,
  & > li.thread.js-hover {
    @include focus-outline;
  }

  & > li.thread > .threadexp {
    display: none;
  }
}

.annotation-collapsed-replies {
  display: none;
}

.thread-replies {
  .thread:first-child {
    margin-top: 0.5em;
  }

  .reply-count {
    display: none;
  }

  .thread-message {
    &.collapsed {
      margin-bottom: -2.5em;
    }
  }

  .annotation {
    &.collapsed {
      .annotation-body, .tags, .annotation-actions {
        display: none;
      }

      .annotation-collapsed-replies {
        display: inline;

        .reply-count {
          display: inline;
          margin-left: .4em;
        }
      }
    }
  }
}

.thread {
  @include pie-clearfix;
  cursor: pointer;
  position: relative;

  & > ul {
    padding-left: $thread-padding + .15em;
    margin-left: -$thread-padding;
  }

  @-webkit-keyframes pulse {
    10% { background-color: #ffc; }
  }
  @keyframes pulse {
    10% { background-color: #ffc; }
  }

  &.pulse {
    -webkit-animation: pulse 1200ms ease-in-out;
    animation: pulse 1200ms ease-in-out;
  }

  .thread {
    border-left: 1px dotted $gray-light;
    padding: 0;
    padding-left: $thread-padding;
  }

  .threadexp {
    background: $white;
    color: $gray-light;
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    top: 0;
    left: -.7em;
    font-size: 1.4em;

    span {
      position: absolute;
      left: (1.4 - $threadexp-width) / 2;
      width: $threadexp-width;
      height: $threadexp-width;

      &:before {
        font-size: $threadexp-width;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.thread-message {
  margin-bottom: .5em;
}

.thread-deleted {
  margin: .8em 0;
}

.thread-load-more {
  clear: both;
}
