$thread-padding: $annotation-card-left-padding;

.thread-list {
  & > * {
    margin-bottom: .72em;
  }

  & > li.thread > .threadexp {
    display: none;
  }
}

.thread-list__spacer {
  // This is a hidden element which is used to reserve space for off-screen
  // threads, so it should not occupy any space other than that set via its
  // 'height' inline style property.
  margin: 0;
}

.annotation-unavailable-message {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-lighter;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
  align-items: center;

  &__label {
    max-width: 160px;
    text-align: center;
  }

  &__icon {
    background-image: url(../images/icons/lock.svg);
    background-repeat: no-repeat;
    width: 56px;
    height: 48px;
  }
}

.thread-replies {
  .annotation-action-btn {
    color: $grey-4;
  }

  .annotation-footer {
    // Margin between bottom of ascent of annotation body and
    // top of annotation footer should be ~15px
    margin-top: $layout-h-margin - 8px;
    // Margin between bottom of ascent of annotation footer labels
    // and top of ascent of username should be ~20px
    margin-bottom: $layout-h-margin - 3px;
  }

  .annotation-header {
    // Margin between bottom of ascent of annotation card footer labels
    // and top of ascent of username should be ~20px
    margin-top: $layout-h-margin - 2px;
  }

  .annotation-body {
    // Margin between top of ascent of annotation body and
    // bottom of ascent of username should be ~15px
    margin-top: $layout-h-margin - 8px;
    // Margin between bottom of ascent of annotation body and
    // top of annotation footer labels should be ~15px
    margin-bottom: $layout-h-margin - 3px;
  }
}

.thread {
  cursor: pointer;
  position: relative;

  & > ul {
    padding-left: $thread-padding + 3px;
    padding-right: $thread-padding + 3px;
    margin-left: -$thread-padding;
    margin-right: -$thread-padding;
  }

  // nested threads for annotation replies
  .thread {
    border-left: 1px dotted $grey-3;
    padding: 0;
    padding-left: $thread-padding;

    &:hover {
      & > .threadexp > span {
        color: $grey-7;
      }
    }
  }

  .threadexp {
    position: absolute;
    left: -.7em;
    width: 1.4em;
    height: 1.4em;
    font-size: 1.1em;

    span {
      background: $white;
      color: $grey-4;
      display: block;
      line-height: inherit;
      text-align: center;
    }
  }
}

.thread-load-more {
  clear: both;
}
