$thread-padding: $annotation-card-left-padding;

.stream-list {
  & > * {
    margin-bottom: .72em;
  }

  & > li.thread:hover,
  & > li.thread.js-hover {
    @include focus-outline;
  }

  & > li.thread > .threadexp {
    display: none;
  }
}

.thread-replies .thread:first-child {
  margin-top: 0.5em;
}

.thread {
  cursor: pointer;
  position: relative;

  & > ul {
    padding-left: $thread-padding + 3px;
    margin-left: -$thread-padding;
  }

  // nested threads for annotation replies
  .thread {
    border-left: 1px dotted $gray-light;
    padding: 0;
    padding-left: $thread-padding;
    margin-top: 10px;
  }

  .threadexp {
    position: absolute;
    left: -.7em;
    width: 1.4em;
    height: 1.4em;
    font-size: 1.1em;

    span {
      background: $white;
      color: $gray-light;
      display: block;
      line-height: inherit;
      text-align: center;
    }
  }
}

.thread-load-more {
  clear: both;
}
