@import 'base';

$thread-padding: 1em;
$threadexp-width: .6em;

.thread {
  cursor: pointer;
  position: relative;

  & > * {
    @include pie-clearfix;
  }

  & > ul {
    padding-left: $thread-padding + .15em;
    margin-left: -$thread-padding;
  }

  .load-more {
    @include pie-clearfix;
    font-family: $sans-font-family;
    font-weight:bold;
    font-size: .8em;
  }

  .thread {
    border-left: 1px dotted $gray-light;
    padding: 0;
    padding-left: $thread-padding;

    &.collapsed {
      border-color: transparent;

      & > .annotation {
        .body {
          display: none;
        }

        .magicontrol {
          display: none;
        }

        .reply-count {
          font-style: italic;
        }
      }
    }
  }

  .threadexp {
    background: $white;
    color: $gray-light;
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    top: 0;
    left: -.7em;

    span {
      position: absolute;
      top: (1.4 - $threadexp-width) / 2;
      left: (1.4 - $threadexp-width) / 2;
      width: $threadexp-width;
      height: $threadexp-width;

      &:before {
        font-size: $threadexp-width;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .annotation {
    &.squished {
      padding-left: 0;
    }
  }

  &.collapsed {
    &:hover {
      background-color: $gray-lightest;
    }

    & > ul {
      display: none;
    }

    & > .annotation {
      markdown > div > * {
        display: none;
      }

      markdown > div > *:first-child {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
      }

      .indicators {
        margin-right: .25em;
      }
    }
  }
}

.annotation-citation-domain {
  color: $gray-light;
  font-size: .923em;
}
