@import 'base';
@import 'mixins/responsive';

.top-bar {
  background: $white;
  border-bottom: solid 1px $gray-lighter;
  height: 30px;
  font-size: 15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
}

.top-bar__inner {
  // the edges of the top-bar's contents should be aligned
  // with the edges of annotation cards displayed below
  $h-padding: 9px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  padding-left: $h-padding;
  padding-right: $h-padding;

  height: 28px;
}

.top-bar__inner .simple-search {
  flex-grow: 1;
  margin-right: .75em;
  overflow: hidden;
}

.top-bar__inner .group-list {
  margin-right: .75em;
}

.top-bar .btn {
  color: $gray-light;
  min-width: 28px;
  height: 28px;

  border: 0;
  padding: 0;

  &:active, .js-active {
    @include single-transition(background-color, .25s);
    background-color: $gray-light;
  }

  &:focus, .js-focus, &:hover, .js-hover {
    color: $gray-dark;
  }
}
