@import 'base';
@import 'mixins/responsive';

$top-bar-height: 40px;

.top-bar {
  background: $white;
  border-bottom: solid 1px $gray-lighter;
  height: $top-bar-height;
  font-size: 15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
}

.top-bar__inner {
  // the edges of the top-bar's contents should be aligned
  // with the edges of annotation cards displayed below
  $h-padding: 9px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;

  padding-left: $h-padding;
  padding-right: $h-padding;

  height: 100%;
}

.top-bar__inner .group-list {
  margin-right: .75em;
}

// an expander which adds spacing between the groups list
// and the toolbar icons (in the new top-bar design)
.top-bar__expander {
  flex-grow: 1;
}

// Removes the native styling from a <button> element
@mixin reset-native-btn-styles {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border-style: none;
  outline: none;
}

.top-bar__btn {
  @include reset-native-btn-styles;

  color: $gray-light;
  display: inline-block;
  cursor: pointer;
  padding-left: 6px;

  &:hover {
    color: $gray-dark;
  }
}

.top-bar__dropdown-arrow {
  color: $color-dove-gray;
}
