@import 'base';
@import 'mixins/responsive';

.topbar {
  background: $white;
  border: solid 1px $gray-lighter;
  border-style: solid none;
  height: 30px;
  font-size: 15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
}

.topbar .inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  height: 28px;
}

.topbar .inner .simple-search {
  flex-grow: 1;
  margin-right: .75em;
  overflow: hidden;
}

.topbar .inner .group-list {
  margin-right: .75em;
}

.topbar .btn {
  color: $gray-light;
  min-width: 28px;
  height: 28px;

  border: 0;
  padding: 0;

  &:active, .js-active {
    @include single-transition(background-color, .25s);
    background-color: $gray-light;
  }

  &:focus, .js-focus, &:hover, .js-hover {
    color: $gray-dark;
  }
}
