@import 'base';
@import 'mixins/responsive';

.top-bar {
  background: $white;
  border-bottom: solid 1px $gray-lighter;
  height: 30px;
  font-size: 15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
}

.top-bar__inner {
  // the edges of the top-bar's contents should be aligned
  // with the edges of annotation cards displayed below
  $h-padding: 9px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;

  padding-left: $h-padding;
  padding-right: $h-padding;

  height: 100%;
}

.top-bar__inner .group-list {
  margin-right: .75em;
}

// an expander which adds spacing between the groups list
// and the toolbar icons (in the new top-bar design)
.top-bar__expander {
  flex-grow: 1;
}

.top-bar__btn {
  color: $gray-light;
  display: inline-block;
  min-width: 28px;
  cursor: pointer;

  &:focus, .js-focus, &:hover, .js-hover {
    color: $gray-dark;
  }
}

.top-bar .btn {
  color: $gray-light;
  min-width: 28px;
  height: 28px;

  border: 0;
  padding: 0;

  &:active {
    @include single-transition(background-color, .25s);
    background-color: $gray-light;
  }

  &:focus, &:hover {
    color: $gray-dark;
  }
}
