@import 'base';
@import 'responsive';


body {
  background-color: transparent;
  font-size: .8em;
  height: 100%;
  width: 100%;
  padding-top: 30px;
  position: fixed;
}

#wrapper {
  height: 100%;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.topbar {
  background: $white;
  border: solid 1px $gray-lighter;
  border-style: solid none;
  height: 30px;
  line-height: 28px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;

  .barbutton {
    &:hover {
      @include box-shadow(inset 0 1px 3px hsla(0, 0%, 0%, .1));
    }

    &:active {
      @include box-shadow(inset 0 2px 3px hsla(0, 0%, 0%, .1));
    }
  }

  .inner {
    margin: 0 auto;
    max-width: $break-medium;
    padding-left: 3.6em;
    padding-right: 3.6em;
    position: relative;

    @include respond-to(wide-handhelds handhelds) {
      padding-left: 0;
      padding-right: 0;
    }

    &.pull-right {
      display: inline-block;
      font-family: $sans-font-family;
    }

    & > * { margin: 0 .72em; }
  }
}
