@import 'base';
@import 'mixins/responsive';

.topbar {
  background: $white;
  border: solid 1px $gray-lighter;
  border-style: solid none;
  height: 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;

  .inner {
    * {
      font-size: 14px;
      line-height: 28px;

      .btn-icon {
        font-size: 18px;
      }
    }

    @include respond-to(wide-handhelds handhelds) {
      margin: 0 .72em;
    }
  }
}

.topbar .btn {
  color: $gray-light;
  height: 28px;
  min-width: 28px;

  border: 0;
  padding: 0;

  &:active, .js-active {
    @include single-transition(background-color, .25s);
    background-color: $gray-light;
  }

  &:focus, .js-focus, &:hover, .js-hover {
    color: $gray-dark;
  }
}
