@import 'base';
@import 'mixins/responsive';

.topbar {
  background: $white;
  border: solid 1px $gray-lighter;
  border-style: solid none;
  height: 30px;
  line-height: 28px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;

  .barbutton {
    &:hover {
      @include box-shadow(inset 0 1px 3px hsla(0, 0%, 0%, .1));
    }

    &:active {
      @include box-shadow(inset 0 2px 3px hsla(0, 0%, 0%, .1));
    }
  }

  .inner {
    margin: 0 auto;
    max-width: $break-tablet;
    padding: 0 4em;
    position: relative;

    @include respond-to(wide-handhelds handhelds) {
      padding-left: 0;
      padding-right: 0;
    }

    &.pull-right {
      display: inline-block;
      font-family: $sans-font-family;
    }

    & > *:first-child, & > *:last-child {
      line-height: 28px;
      margin: 0 .72em;
    }
  }
}
