@import 'compass/css3/flexbox';

@import 'base';
@import 'mixins/responsive';

.topbar {
  background: $white;
  border: solid 1px $gray-lighter;
  border-style: solid none;
  height: 30px;
  font-size: 14px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
}

.topbar .inner {
  @include display-flex;
  @include flex-flow(row nowrap);
  @include align-items(center);
  @include justify-content(space-between);

  /* IE10 support */
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-flow: row nowrap;
  -ms-flex-pack: justify;

  height: 28px;

  @include respond-to(wide-handhelds handhelds) {
    margin: 0 .36em;
  }
}

.topbar .inner > * {
  margin-left: .36em;
}

.topbar .inner .simple-search {
  @include flex-grow(1);
  -ms-flex: 1;  /* IE10 support */
}

.topbar .btn {
  color: $gray-light;
  min-width: 28px;

  border: 0;
  padding: 0;

  &:active, .js-active {
    @include single-transition(background-color, .25s);
    background-color: $gray-light;
  }

  &:focus, .js-focus, &:hover, .js-hover {
    color: $gray-dark;
  }
}
