@import 'compass/typography/vertical_rhythm';

@import 'base';
@include establish-baseline;

$sans-font-family: "Source Sans Pro", $sans-font-family;
$serif-font-family: "Merriweather", $serif-font-family;


// Headings

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-font-family;
  color: $headings-color;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .75em 0;
}

h3 {
  font-size: 1.17em;
  margin: .83em 0;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}


// Body text

body {
  font-family: $sans-font-family;
}

p {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;

  & + p {
    margin: 2em 0 0;
  }
}


// Emphasis

em { font-style: italic; }


// Blockquotes
blockquote {
  color: $gray;
  font-family: $serif-font-family;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0 .8em;

  &:before, &:after {
    color: $gray-lighter;
    font-family: "h";
    position: absolute;
  }

  &:before {
    content: "\23";
    font-size: 6em;
    top: .2em;
    left: -.31em;
  }

  &:after {
    content: "\24";
    font-size: 5em;
    right: -.31em;
    bottom: 0;
  }
}
