// Utility classes for layout
.u-stretch {
  flex-grow: 1;
}

.u-layout-row {
  display: flex;
  flex-direction: row;
}

.u-center {
  margin-left: auto;
  margin-right: auto;
}

.u-align-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.u-strong {
  font-weight: bold;
}
