// Colors and shades of gray
// Names courtesy of http://chir.ag/projects/name-that-color

$white: #fff !default;
$black: #000 !default;


// Grays
// ---------------------
$gray: #777 !default;
$gray-darker: #333;
$gray-dark: #585858;
$gray-light: #969696 !default;
$gray-lighter: #d3d3d3 !default;
$gray-lightest: #f9f9f9 !default;

$color-mine-shaft: #3A3A3A;
$color-dove-gray: #626262;
$color-gray: #818181;
$color-silver-chalice: #a6a6a6;
$color-silver: #bbb;
$color-alto: #dedede;
$color-mercury: #e2e2e2;
$color-gallery: #ececec;
$color-seashell: #f1f1f1;
$color-wild-sand: #f5f5f5;


// Colors
// ---------------------
$color-cardinal: #bd1c2b;
$brand-color: #bd1c2b !default;

$button-text-color: $gray-dark !default;
$button-background-start: $white !default;
$button-background-end: #f0f0f0 !default;
$button-background-gradient: top, $button-background-start, $button-background-end !default;

$error-color: #f0480c !default;
$success-color: #1cbd41 !default;

$mask-start-color: rgba($white, 0) !default;
$mask-end-color: $white !default;

@function color-weight($c, $n: 500) {
  @if $n == 50 {
    @return tint($c, 85%);
  } @if $n == 100 {
    @return tint($c, 70%);
  } @if $n == 200 {
    @return tint($c, 50%);
  } @if $n == 300 {
    @return tint($c, 30%);
  } @if $n == 400 {
    @return tint($c, 15%);
  } @if $n == 500 {
    @return $c;
  } @if $n == 600 {
    @return shade($c, 15%);
  } @if $n == 700 {
    @return shade($c, 30%);
  } @if $n == 800 {
    @return shade($c, 50%);
  } @if $n == 900 {
    @return shade($c, 85%);
  }
}


// Scaffolding
// -------------------------
$body-background:        $white !default;
$text-color:             $gray-dark !default;


// Links
// -------------------------
$link-color:             $brand-color !default;
$link-color-hover:       color-weight($brand-color, 700) !default;


// Typography
// -------------------------
$sans-font-family:        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$serif-font-family:       Georgia, "Bitstream Charter", "Times", "Times New Roman", serif !default;
$mono-font-family:        Open Sans Mono, Menlo, DejaVu Sans Mono, monospace !default;

$base-font-size:          16px !default;
$base-font-family:        $sans-font-family !default;
$base-line-height:        20px !default;
$alt-font-family:         $serif-font-family !default;

$headings-font-family:    inherit !default;
$headings-color:          inherit !default;

$body1-font-size:         12px;
$body1-line-height:       1.4em;

$body2-font-size:         14px;
$body2-line-height:       1.4em;

$title-font-size:         20px;
$title-font-weight:       bold;


// Front page typography
// -------------------------
// These are part of the new design at https://trello.com/c/h6kQMQG8/187-new-homepage-design)
// and the styles/sizes across the sidebar, site, frontpage and blog need to be
// made consistent
$font-size-body1: 13px;
$font-size-body2: 15px;
$font-size-heading1: 19px;
$font-family-site-sans: "Source Sans Pro", sans-serif;


// Stance Colors
// -------------------------
$positive: #3aab39;
$negative: #d11c2b;
$neutral: #0171ba;


// Other Variables
// -------------------------
$bucket-bar-width: 22px;
$highlight-color: rgba(255, 255, 60, 0.3);
$highlight-color-second: rgba(206, 206, 60, 0.4);
$highlight-color-third: rgba(192, 192, 49, 0.4);
$highlight-color-focus: rgba(156, 230, 255, 0.5);
$score-width: 40px;
$score-height: $score-width;
$input-border-radius: 2px;
