$white: #fff !default;
$black: #000 !default;

// GRAYS
$gray: #777 !default;
$gray-darker: #333;
$gray-dark: #585858;
$gray-light: #969696 !default;
$gray-lighter: #d3d3d3 !default;
$gray-lightest: #f9f9f9 !default;

//COLORS
$brand-color: #bd1c2b !default;

$button-text-color: $gray-dark !default;
$button-background-start: $white !default;
$button-background-end: #f0f0f0 !default;
$button-background-gradient: top, $button-background-start, $button-background-end !default;

$error-color: #f0480c !default;
$success-color: #1cbd41 !default;

@function color-weight($c, $n: 500) {
  @if $n == 50 {
    @return tint($c, 85%);
  } @if $n == 100 {
    @return tint($c, 70%);
  } @if $n == 200 {
    @return tint($c, 50%);
  } @if $n == 300 {
    @return tint($c, 30%);
  } @if $n == 400 {
    @return tint($c, 15%);
  } @if $n == 500 {
    @return $c;
  } @if $n == 600 {
    @return shade($c, 15%);
  } @if $n == 700 {
    @return shade($c, 30%);
  } @if $n == 800 {
    @return shade($c, 50%);
  } @if $n == 900 {
    @return shade($c, 85%);
  }
}

// Scaffolding
// -------------------------
$body-background:        $white !default;
$text-color:             $gray-dark !default;

//LINKS
$link-color:             $brand-color !default;
$link-color-hover:       color-weight($brand-color, 700) !default;

// Typography
// -------------------------
$sans-font-family:        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$serif-font-family:       Georgia, "Bitstream Charter", "Times", "Times New Roman", serif !default;
$mono-font-family:        Open Sans Mono, Menlo, DejaVu Sans Mono, monospace !default;

$base-font-size:          16px !default;
$base-font-family:        $sans-font-family !default;
$base-line-height:        20px !default;
$alt-font-family:         $serif-font-family !default;

$headings-font-family:    inherit !default;
$headings-color:          inherit !default;

$body1-font-size:         12px;

//STANCE COLORS
$positive: #3aab39;
$negative: #d11c2b;
$neutral: #0171ba;

//OTHER VARIABLES
$bucket-bar-width: 22px;
$highlight-color: rgba(255, 255, 60, 0.3);
$highlight-color-second: rgba(206, 206, 60, 0.4);
$highlight-color-third: rgba(192, 192, 49, 0.4);
$highlight-color-focus: rgba(156, 230, 255, 0.5);
$score-width: 40px;
$score-height: $score-width;
$input-border-radius: 2px;
